# BigData Final Project | Steam
## <font color = 'blue'> Notebook2 | Clean & Join Player_Summaries table </font>
### Team Member: Jim Fang, WooJong Choi, Han Jeon, Tam Nguyen

June 2020
___

### This notebook is dedicated for cleaning Player_Summary data (10 million rows ~ 5Gb)

### <font color ='red'> PROBLEM</font>
When we unzip the .sql file on GCP and exported as a csv format, the file:

> 1.does not have column names,

> 2.all columns are mixing up and not following any specific structure to format (example below):


|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18
|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|
|https://steamcommunity.com/id/caglarbey/|	0	|3	|1	|2012-10-24 12:40:31|	"N,"N	|103582791429521408	|"N,"N	|"N,"N	|"N,"N	|"N,"N	|2013-02-28 14:19:00|	None	| None
|http://media.steampowered.com/steamcommunity/p...|	1	|3	|1|	2013-02-15 11:57:54	|"N,"Alfred"|	103582791429521412|	2003-09-10 05:27:21	|"N,"N	|"N,"N	|US |IL	|"N,"2013-02-28 14:34:05"| None
|2	|	3 |	1|	2013-02-15 11:08:34|	1	|Erik Johnson	|103582791429521412|	2003-09-10 05:14:46	|"N,"N	|"N,"N|	JP|	"N	|2013-02-28 14:19:00 | None
|http://media.steampowered.com/steamcommunity/p...	|0	|3|	1	|2013-02-15 13:19:12	|"N, 103582791429521413,2003-09-10 05:27:13	|146.66.153.116:27055|2360|Dota2 |"N	|US|	WA	|3961|	2013-02-28 14:19:00	

### QUESTION

Does this table contain useful information to keep and clean? Which problem could be solved by this data? Otherwise, just drop it, since: 
> One column can have max 4-5 values: if using normal logic, there should be 4^16 = 10 millions scenarios. There is no way to write a logic or function that can take care such scenarios.

This data would be helpful for building graph knowledge or recommendation systems, plus this is an opportunity to learn and appreciate the value of Big Data Solution and PySpark, we decided to give it a shot.

###  <font color ='green'> SOLUTION</font>

> The only way to solve these puzzles is looking at the maximum number of values contain in each column. Then, based on the outlier of the disitrbution to split the data. Once we deal with the ouliers, the rest will fall into normal distribution

> By this way, we can split the 10 mil rows data to a smaller data with some similar patterns, reducing significantly the if else condition.

By doing so, we created some functions to speed up this mannual task.

### <font color ='blue'> PROCESS </font>

After defining _c11 should be used to split the data, all of the tables cleaning and processing in this notebook will follow the steps below:
- Check split distribution
- Choose the right column to split 
- Add column based on the conditiom: number of Split, run & test
- Format:
    - Drop columns
    - Rename
    - Replace specific symbols
- Save data
- Merge all clean data together

Finally, we drop some of the data on the way as we think its takes time and not really neccessary to for mat, end up with final data: __~9.9 million rows__


|Actual column | drop or keep|
|--|--|--|
|steam_id|keep
|personaname|keep	
|profileurl|keep
|avatar| drop
|avatarmedium| drop
|avatarfull| drop
|personastate|keep
|communityvisibilitystate|keep
|profilestate|keep
|lastlogoff|keep
|commentpermission|keep
|realname|keep
|primaryclanid|keep
|timecreated|keep
| gameid|keep
|gameserverip|keep
|gameextrainfo| keep
|cityid| keep
|loccountrycode| keep
|locstatecode| keep
|loccityid| drop
|dateretrieved| drop

---
## 1. Import Libraries

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql import functions as F
import pyspark.sql.types as t
from pyspark.sql.functions import broadcast
from pyspark.sql.functions import regexp_replace
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import isnan, when, count, col, size
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import length
from pyspark.sql import functions as sf
from functools import reduce

import pandas as pd
import matplotlib.pyplot as plt
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation


import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
spark = SparkSession.builder.enableHiveSupport().appName('CleanData').getOrCreate()
sc = spark.sparkContext

In [3]:
!hdfs dfs -ls /user/tamng/jwht/CleanData

WARNING: log4j.properties is not found. HADOOP_CONF_DIR may be incomplete.
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=512M; support was removed in 8.0
Found 20 items
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:38 /user/tamng/jwht/CleanData/app_id_info.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 22:38 /user/tamng/jwht/CleanData/app_if_info_PosReview.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 13:42 /user/tamng/jwht/CleanData/friends.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 15:10 /user/tamng/jwht/CleanData/game2_df.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 14:12 /user/tamng/jwht/CleanData/game_dgp.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:41 /user/tamng/jwht/CleanData/games_developer.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:47 /user/tamng/jwht/CleanData/games_genres.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:49 /user/tamng/jwht/CleanData/games_publisher.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:55 /user/tamng/jwht/CleanData/groups.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 16:54 /user/tamng/jwht/CleanData/ps_t1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 19:28 /user/tamng/jwht/CleanData/ps_t2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 22:34 /user/tamng/jwht/CleanData/ps_t3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 00:29 /user/tamng/jwht/CleanData/ps_t4_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 01:26 /user/tamng/jwht/CleanData/ps_t4_1_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 22:27 /user/tamng/jwht/CleanData/ps_t4_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 23:25 /user/tamng/jwht/CleanData/ps_t4_3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 11:36 /user/tamng/jwht/CleanData/ps_t4_4.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 16:18 /user/tamng/jwht/CleanData/ps_t5_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-30 11:33 /user/tamng/jwht/CleanData/ps_t5_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-31 00:17 /user/tamng/jwht/CleanData/ps_t6_1.csv

---
## 2. Create Function

_1. Check missing value_

In [4]:
def check_missing(df):
    ''' Check missing value'''
    df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

_2. Rename columns_

In [5]:
def rename_col(df, newColumns):
    ''' Rename all columns        
        Note: newColumns is a list of columns name '''
    oldColumns = df.schema.names
    df = reduce(lambda df, idx: df.withColumnRenamed(oldColumns[idx], newColumns[idx]), range(len(oldColumns)), df)
    return df

_3. Basic description about the data_

In [6]:
def basic_info(df):    
    '''
        Print out the basic ddescription for each table, icluding:
        1. total rows/ observation
        2. Check missing value by columns
        3. Print out the first 3 lines
        4. Basic description
    '''   
    print('TOTAL ROWS:', df.count())
    print('\n')
    print('*-------------'*5)
    print('\n')
    print('MISSING VALUE:')
    check_missing(df)
    print('*-------------'*5)
    print('\n')
    print('PRINT OUT THE 1st 3 LINES:')
    df.show(3, truncate = True)
    print('*-------------'*5)
    print('\n')
    print('TABLE BASIC DESCRIPTION:')
    df.describe().show(10,truncate = True)
    print('*-------------'*5)
    distinct_count = []
    column_name = df.columns
    for i in column_name:
        distinct_count.append(df.select(col(i)).distinct().count())

    print('DISTINCT COUNT BY COLUMN:')
    print('\n')
    print(pd.DataFrame(zip(column_name,distinct_count)).\
      rename(columns={0:'column_name', 1:'distinct_count'}))

_4. Check number of max value can exist in a column, based on ','_

In [7]:
def count_split_column(df, column):
    '''
    Count number of split:
    df: data
    cols_check: list of columns need to be check, example as below:
    cols_check = ['_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']
    '''
    col = df.withColumn(column, F.size(F.split(F.col(column), ','))).sort(column, ascending=False).\
    select(column).limit(1)
    return col

In [8]:
def add_count_split_column(df, column, tagname):
    '''
    cols_check = ['_c1','_c7','_c8']
    tagname = ['nSplit_c1','nSplit_c7','nSplit_c8']
    '''
    df = reduce(lambda df, idx: df.withColumn(tagname[idx],  F.size(F.split(column[idx], ','))),range(len(column)), df)
    return df

_5. Split the columns based on the max number of columns that need to split for each predefined column_

In [9]:
def split_2_column(df, cols, newcols):
    '''
    This function is using for split columns two 2 new columns, based on the  ',' sign.
        df: data
        cols: list of columns need to split
        newcols: list of new columns after splitting based on the provided column
    '''
    df = reduce(lambda df, idx: df.withColumn(newcols[idx],  F.split(cols[idx], ',').getItem(0)), range(len(cols)), df)
    df = reduce(lambda df, idx: df.withColumn(newcols[idx+1],  F.split(cols[idx], ',').getItem(1)), range(len(cols)), df)
    return df

In [10]:
def split_3_column(df, cols, newcols):
    '''
    This function is using for split columns two 3 new columns, based on the  ',' sign.
        df: data
        cols: list of columns need to split
        newcols: list of new columns after splitting based on the provided column
    '''    
    df = reduce(lambda df, idx: df.withColumn(newcols[idx],  F.split(cols[idx], ',').getItem(0)), range(len(cols)), df)
    df = reduce(lambda df, idx: df.withColumn(newcols[idx+1],  F.split(cols[idx], ',').getItem(1)), range(len(cols)), df)
    df = reduce(lambda df, idx: df.withColumn(newcols[idx+2],  F.split(cols[idx], ',').getItem(2)), range(len(cols)), df)
    return df

---
## 3. Import Data

__Need to create the schema as the data imported, using inferSchema will only recognize 17 columns, while it we have 20 columns__

In [7]:
# Create a schema structure

player_summaries_schema = t.StructType([t.StructField('_c0', t.StringType(), False), 
                            t.StructField('_c1', t.StringType(), False),
                            t.StructField('_c2', t.StringType(), False),
                            t.StructField('_c3', t.StringType(), False),
                            t.StructField('_c4', t.StringType(), False),
                            t.StructField('_c5', t.StringType(), False),
                            t.StructField('_c6', t.StringType(), False), 
                            t.StructField('_c7', t.StringType(), False), 
                            t.StructField('_c8', t.StringType(), False), 
                            t.StructField('_c9', t.StringType(), False), 
                            t.StructField('_c10', t.StringType(), False), 
                            t.StructField('_c11', t.StringType(), False), 
                            t.StructField('_c12', t.StringType(), False), 
                            t.StructField('_c13', t.StringType(), False), 
                            t.StructField('_c14', t.StringType(), False), 
                            t.StructField('_c15', t.StringType(), False),
                            t.StructField('_c16', t.StringType(), False), 
                            t.StructField('_c17', t.StringType(), False), 
                            t.StructField('_c18', t.StringType(), False), 
                            t.StructField('_c19', t.StringType(), False)])

In [9]:
# Load 1st dataset: game2
player_summaries = spark.read.option('header', False).schema(player_summaries_schema).csv('/user/tamng/jwht/SteamData/steamData_new/Player_Summaries_10mil.csv')

# Print Schema
player_summaries.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)

In [10]:
# Total rows
player_summaries.count()

10000000

_Take a look at the data_

In [120]:
player_summaries.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197960265729,rich,http://steamcommunity.com/profiles/76561197960...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-10-24 12:40:31,"""N,""N",103582791429521408,"""N,""N","""N,""N","""N,""N","""N,""N",2013-02-28 14:19:00,None,None,None
1,76561197960265730,alfred,http://steamcommunity.com/id/zoe/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,1,2013-02-15 11:57:54,"""N,""Alfred""",103582791429521412,2003-09-10 05:27:21,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:05""",None,None,None
2,76561197960265731,ErikJ,http://steamcommunity.com/id/erikj/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-15 11:08:34,1,Erik Johnson,103582791429521412,2003-09-10 05:14:46,"""N,""N","""N,""N",US,"""N,""N",2013-02-28 14:19:00,None
3,76561197960265732,paulj,http://steamcommunity.com/id/OG2/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2011-07-07 18:09:55,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:05""",None,None,None,None
4,76561197960265733,alfred,http://steamcommunity.com/id/alfredr/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-15 13:19:12,"""N,""N",103582791429521413,2003-09-10 05:27:13,"""N,""N","""N,""N",US,WA,3961,2013-02-28 14:19:00,None

In [12]:
# Drop duplicate rows
player_summaries_drop = player_summaries.dropDuplicates() 
player_summaries_drop.count()

10000000

In [13]:
# Drop unnecssary columns
# player_summaries_drop = player_summaries_drop.drop('_c3', '_c4','_c5')

---
## 4. Check column split distribution to find a  suitable way to split the data, which has similar pattern to clean

---
_Now, add the tag split for later check on column split distribution_

In [13]:
cols_check = ['_c1','_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']

tagname = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11', 'nSplit_c12', 'nSplit_c13', 'nSplit_c14',
           'nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

player_summaries_drop = add_count_split_column(player_summaries_drop, cols_check, tagname)

In [16]:
player_summaries_drop.limit(10).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197980012168,mR.*,http://steamcommunity.com/profiles/76561197980...,0,3,"""N,""2009-03-07 17:31:16""","""N,""N",103582791429521408,2005-12-26 23:15:59,"""N,""N",...,1,1,2,2,2,2,-1,-1,-1,-1
1,76561197980012472,seanmccotter,http://steamcommunity.com/profiles/76561197980...,0,3,"""N,""2013-01-17 17:21:14""","""N,""N",103582791429521408,2005-12-26 23:49:40,"""N,""N",...,1,1,2,2,2,2,-1,-1,-1,-1
2,76561197980012724,caglarbey,http://steamcommunity.com/id/caglarbey/,0,3,1,2013-02-15 01:25:53,"""N,""N",103582791429521408,2005-12-27 00:23:05,...,2,1,1,2,2,2,2,-1,-1,-1
3,76561197980012958,[nightvision]solid_snake,http://steamcommunity.com/profiles/76561197980...,0,3,"""N,""2006-08-04 00:43:37""","""N,""N",103582791429521408,2005-12-27 00:54:45,"""N,""N",...,1,1,2,2,2,2,-1,-1,-1,-1
4,76561197980013392,SHADESNAIL.,http://steamcommunity.com/id/SHADEEEEEEEEE/,0,3,1,2013-02-19 10:43:40,"""N,""=D""",103582791432130165,2005-12-27 01:39:46,...,2,1,1,2,2,1,2,1,-1,-1
5,76561197980015065,sascha.wag,http://steamcommunity.com/profiles/76561197980...,0,3,"""N,""2012-10-03 09:18:03""","""N,""N",103582791429521408,2005-12-28 12:58:59,"""N,""N",...,1,1,2,2,2,2,-1,-1,-1,-1
6,76561197980017138,Bk Come Back,http://steamcommunity.com/id/leplasticien/,0,3,1,2009-04-21 06:03:33,"""N,""Nicolas""",103582791430158228,2005-12-27 05:43:23,...,2,1,1,2,2,1,1,1,1,-1
7,76561197980017357,^4S^0ub-Zero,http://steamcommunity.com/id/88Sub-ZEro/,0,3,1,2013-02-19 13:21:53,1,Alex,103582791429763583,...,1,1,1,1,2,2,2,2,-1,-1
8,76561197980017455,juco,http://steamcommunity.com/profiles/76561197980...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
9,76561197980019720,Hurricane 2012,http://steamcommunity.com/profiles/76561197980...,0,3,1,2012-09-02 14:21:57,"""N,""Kai""",103582791430380703,2005-12-27 07:30:46,...,2,1,1,2,2,1,1,2,-1,-1

---
_Next, check thhe nuber of split distribution for each predefined column_

|Number| Meaning| No of comma
|--|--|
|-1| None| None
| 1|1 value| None
| 2|2 values| 1 comma
|.|...|...
|n| n values| n-1 comma

In [34]:
for i in tagname:
    print('Distinct value for each column:\n')
    print(player_summaries_drop.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|       -1|      1|
|        1|9999606|
|        2|    393|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|3647547|
|        2|6352453|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|3638364|
|        3|     99|
|        2|6361537|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         1|3526806|
|         3|    564|
|         5|      1|
|         2|6472629|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|        -1|     27|
|         1|6266802|
|        13|      1|
|         6|      1|
|         3|  57439|
|         5|      7|
|         4|     16|
|         8|      1|
|         2|3675706|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|        -1|     13|
|         1|3009312|
|         3|     12|
|         2|6990663|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|        -1|      7|
|         1| 133811|
|         3|      9|
|         2|9866173|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|        -1|      7|
|         1|  75348|
|         3|      4|
|         2|9924641|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|        -1|3088346|
|         1|1443981|
|         3|      9|
|         2|5467664|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|6815049|
|         1|1145921|
|         3|      3|
|         2|2039027|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|8463745|
|         1|1224750|
|         3|      1|
|         2| 311504|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|9278880|
|         1| 702232|
|         3|      2|
|         2|  18886|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|9950510|
|         1|  49152|
|         2|    338|
+----------+-------+

None

In [35]:
player_summaries_drop.filter(player_summaries_drop.nSplit_c18 == -1).head(2)

[Row(_c0='76561197984327737', _c1='cmkee19', _c2='http://steamcommunity.com/profiles/76561197984327737/', _c6='0', _c7='3', _c8='"N,"2009-01-16 06:51:23"', _c9='"N,"N', _c10='103582791429521408', _c11='2006-08-16 21:39:48', _c12='"N,"N', _c13='"N,"N', _c14='"N,"N', _c15='"N,"2013-03-11 12:30:23"', _c16=None, _c17=None, _c18=None, _c19=None, nSplit_c7=1, nSplit_c8=2, nSplit_c9=2, nSplit_c10=1, nSplit_c11=1, nSplit_c12=2, nSplit_c13=2, nSplit_c14=2, nSplit_c15=2, nSplit_c16=-1, nSplit_c17=-1, nSplit_c18=-1, nSplit_c19=-1),
 Row(_c0='76561197984328196', _c1='realkilla69420', _c2='http://steamcommunity.com/profiles/76561197984328196/', _c6='0', _c7='3', _c8='"N,"2006-11-02 08:20:37"', _c9='"N,"N', _c10='103582791429521408', _c11='2006-08-13 20:49:59', _c12='"N,"N', _c13='"N,"N', _c14='"N,"N', _c15='"N,"2013-03-02 01:09:34"', _c16=None, _c17=None, _c18=None, _c19=None, nSplit_c7=1, nSplit_c8=2, nSplit_c9=2, nSplit_c10=1, nSplit_c11=1, nSplit_c12=2, nSplit_c13=2, nSplit_c14=2, nSplit_c15=2, nSplit_c16=-1, nSplit_c17=-1, nSplit_c18=-1, nSplit_c19=-1)]

In [36]:
player_summaries_drop.filter(player_summaries_drop.nSplit_c19 == -1).head(2)

[Row(_c0='76561197963206515', _c1='sushy78', _c2='http://steamcommunity.com/profiles/76561197963206515/', _c6='0', _c7='1', _c8='"N,"N', _c9='"N,"N', _c10='"N,"N', _c11='"N,"N', _c12='"N,"N', _c13='"N,"N', _c14='"N,"2013-02-28 14:13:44"', _c15=None, _c16=None, _c17=None, _c18=None, _c19=None, nSplit_c7=1, nSplit_c8=2, nSplit_c9=2, nSplit_c10=2, nSplit_c11=2, nSplit_c12=2, nSplit_c13=2, nSplit_c14=2, nSplit_c15=-1, nSplit_c16=-1, nSplit_c17=-1, nSplit_c18=-1, nSplit_c19=-1),
 Row(_c0='76561197963206693', _c1='jonalam', _c2='http://steamcommunity.com/profiles/76561197963206693/', _c6='0', _c7='3', _c8='"N,"2011-06-05 09:38:35"', _c9='"N,"N', _c10='103582791429521408', _c11='2003-12-05 05:51:59', _c12='"N,"N', _c13='"N,"N', _c14='"N,"N', _c15='"N,"2013-02-28 14:13:44"', _c16=None, _c17=None, _c18=None, _c19=None, nSplit_c7=1, nSplit_c8=2, nSplit_c9=2, nSplit_c10=1, nSplit_c11=1, nSplit_c12=2, nSplit_c13=2, nSplit_c14=2, nSplit_c15=2, nSplit_c16=-1, nSplit_c17=-1, nSplit_c18=-1, nSplit_c19=-1)]

---
## 5. Processing split table based on pattern find out above
> <font color = 'blue'> **_c11 has a wide range of spliting values. If we deal with outliers first, then the rest will fall to nomal distribution, hence, the pattern is more clear and easy to define. Take it as the first point of split in the data** </font>

---
## <font color = 'black'> 5.1 Table 1: nSplit_c11 = 3 & nSplit_c10 = 1 </font>

### 5.1.1 Filter data and check number of Split

In [19]:
ps_t1 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 3) & (player_summaries_drop.nSplit_c10 == 1))
ps_t1.count()

57359

In [21]:
# Since this table has small number of row, turn it to pandas and use in split function below
nSplit_c11_3_c10_1 = ps_t1.toPandas()
nSplit_c11_3_c10_1

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197971533965,{DÛ·D}BlackDeathâ„¢[GEÐ¯],http://steamcommunity.com/profiles/76561197971...,0,3,1,2013-02-17 14:55:08,1,"""N,103582791429525616,""2004-12-05 08:10:48""","""N,""N",...,1,3,2,2,2,2,-1,-1,-1,-1
1,76561197971554822,reaperbait,http://steamcommunity.com/id/barryvanunendooms...,0,3,1,2013-02-17 15:14:32,1,"""N,103582791429524118,""2004-12-06 15:15:51""","""N,""N",...,1,3,2,2,2,2,-1,-1,-1,-1
2,76561197971639930,zolitary,http://steamcommunity.com/id/konni/,0,3,1,2012-09-29 12:04:10,1,"""N,103582791430183561,""2004-12-09 08:51:01""","""N,""N",...,1,3,2,2,1,1,2,-1,-1,-1
3,76561197971660499,sesame,http://steamcommunity.com/id/sesamebee/,0,3,1,2013-02-18 00:19:37,1,"""N,103582791429521408,""2004-12-09 02:31:04""","""N,""N",...,1,3,2,2,2,2,-1,-1,-1,-1
4,76561197971718998,NeK,http://steamcommunity.com/profiles/76561197971...,0,3,1,2012-10-26 06:15:48,1,"""N,103582791429548627,""2004-12-11 11:40:16""","""N,""N",...,1,3,2,2,1,1,1,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57354,76561197964257589,EvilLinux..RAGE,http://steamcommunity.com/id/evillinux/,3,3,1,2013-02-16 08:52:47,2,"""N,103582791429534006,""2004-02-01 16:56:26""","""N,""N",...,1,3,2,2,1,1,1,1,-1,-1
57355,76561197964267999,skybert,http://steamcommunity.com/id/skybert88/,0,3,1,2013-02-12 20:12:35,1,"""N,103582791429521408,""2004-02-02 09:49:08""","""N,""N",...,1,3,2,2,2,2,-1,-1,-1,-1
57356,76561197964282159,Sgt. Cojones,http://steamcommunity.com/profiles/76561197964...,0,3,1,2013-01-23 15:05:17,2,"""N,103582791432740959,""2004-02-03 07:09:08""","""N,""N",...,1,3,2,2,1,1,1,1,-1,-1
57357,76561197964305064,1337,http://steamcommunity.com/id/pal4rzn/,0,3,1,2012-06-28 10:14:21,1,"""N,103582791430660190,""2004-02-05 07:17:37""","""N,""N",...,1,3,2,2,1,1,1,1,-1,-1
57358,76561197964312175,å¥§ç¾©å¾ˆçˆ½,http://steamcommunity.com/profiles/76561197964...,0,3,1,2013-01-22 11:20:01,1,"""N,103582791431072996,""2004-02-05 03:23:34""","""N,""N",...,1,3,2,2,1,1,1,1,-1,-1

In [22]:
# Check number of unique value in split column
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_3_c10_1[i].nunique())

print(pd.DataFrame(zip(check_list,unique_col)))

             0  1
0    nSplit_c7  1
1    nSplit_c8  1
2    nSplit_c9  1
3   nSplit_c12  2
4   nSplit_c13  2
5   nSplit_c14  2
6   nSplit_c15  2
7   nSplit_c16  3
8   nSplit_c17  3
9   nSplit_c18  3
10  nSplit_c19  2

In [23]:
# Prepare column and number of split for each column
col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2','c11_3' ]

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2', 'c16_3']

col_c17 = ['_c17']
newcols_c17 = ['c17_1', 'c17_2', 'c17_3']

col_c18 = ['_c18']
newcols_c18 = ['c18_1', 'c18_2', 'c18_3']

col_c19 = ['_c19']
newcols_c19 = ['c19_1', 'c19_2']

# Add split columns
ps_t1 = split_3_column(ps_t1, col_c11, newcols_c11)
ps_t1 = split_2_column(ps_t1, col_c12, newcols_c12)
ps_t1 = split_2_column(ps_t1, col_c13, newcols_c13)
ps_t1 = split_2_column(ps_t1, col_c14, newcols_c14)
ps_t1 = split_2_column(ps_t1, col_c15, newcols_c15)
ps_t1 = split_3_column(ps_t1, col_c16, newcols_c16)
ps_t1 = split_3_column(ps_t1, col_c17, newcols_c17)
ps_t1 = split_3_column(ps_t1, col_c18, newcols_c18)
ps_t1 = split_2_column(ps_t1, col_c19, newcols_c19)

_Check if the split function works properly_

In [25]:
ps_t1.toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','nSplit_c12','_c13','nSplit_c13','_c14','nSplit_c14','_c15','nSplit_c15','_c16','_c17','_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,nSplit_c12,_c13,nSplit_c13,_c14,nSplit_c14,_c15,nSplit_c15,_c16,_c17,_c18,_c19
0,3,1,2013-02-17 11:05:13,1,"""N,103582791430504459,""2004-11-16 11:26:44""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-02-28 14:37:33""",2,None,None,None,None
1,3,1,2013-02-28 08:24:24,1,"""N,103582791432326615,""2004-11-16 14:50:05""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-03-06 18:09:17""",2,None,None,None,None
2,3,1,2013-02-05 01:05:43,1,"""N,103582791429521408,""2004-11-16 15:33:07""","""N,""N",2,"""N,""N",2,BE,1,06,1,6662,2013-02-28 14:27:17,None,None
3,3,1,2013-02-17 15:53:31,1,"""N,103582791431786684,""2004-11-17 09:38:59""","""N,""N",2,"""N,""N",2,FR,1,A8,1,15767,2013-02-28 14:27:21,None,None
4,3,1,2013-01-31 23:21:49,1,"""N,103582791430768475,""2004-11-17 15:40:09""","""N,""N",2,"""N,""N",2,CH,1,20,1,9391,2013-02-28 14:37:37,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57354,3,1,2013-02-28 22:51:05,1,"""N,103582791429521408,""2006-06-30 06:42:35""","""N,""N",2,"""N,""N",2,CZ,1,52,1,12260,2013-03-01 23:13:57,None,None
57355,3,1,2012-06-27 10:16:51,1,"""N,103582791429521408,""2006-07-01 18:52:20""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-03-01 23:17:52""",2,None,None,None,None
57356,3,1,2013-03-01 21:45:52,2,"""N,103582791433307803,""2006-07-02 12:58:33""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-03-01 23:19:31""",2,None,None,None,None
57357,3,1,2013-03-01 16:29:49,1,"""N,103582791433195577,""2006-07-08 01:31:56""",91310,1,"""N,""Dead Island""",2,"""N,""US""",2,"""N,""N",2,2013-03-01 23:32:53,None,None,None
57358,3,1,2012-12-15 07:00:03,1,"""N,103582791429552888,""2006-07-09 12:34:20""","""N,""N",2,"""N,""N",2,IL,1,05,1,21090,2013-03-01 23:36:57,None,None

---
### 5.1.2 Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns:_
 > - realname
 > - primaryclanid
 > - timecreated

In [26]:
ps_t1 = ps_t1.withColumn('realname',F.when(F.col('_c11').contains('103'), F.col('c11_1')).otherwise(F.col('_c11')))
ps_t1 = ps_t1.withColumn('primaryclanid',F.when(F.col('_c11').contains('103'), F.col('c11_2')).otherwise(F.col('_c12')))
ps_t1 = ps_t1.withColumn('timecreated',F.when(F.col('_c11').contains('103'), F.col('c11_3')).otherwise(F.col('_c13')))

In [27]:
ps_t1.withColumn('realname',F.when(F.col('_c11').contains('103'), F.col('c11_1')).otherwise(F.col('_c11'))).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,c17_2,c17_3,c18_1,c18_2,c18_3,c19_1,c19_2,realname,primaryclanid,timecreated
0,76561197966739103,SAS - DND - NOT FREE FOR MIX,http://steamcommunity.com/id/sas-buc1/,3,3,1,2013-02-16 11:40:10,1,"""N,103582791429522361,""2004-05-28 15:07:03""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429522361,"""2004-05-28 15:07:03"""
1,76561197966931469,Klaus-BÃ¶rje das Obergefreiter,http://steamcommunity.com/id/straff/,0,3,1,2013-02-14 13:58:08,1,"""N,103582791430110941,""2004-06-08 17:14:18""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791430110941,"""2004-06-08 17:14:18"""
2,76561197966955486,dd,http://steamcommunity.com/profiles/76561197966...,0,3,1,2012-12-09 09:34:21,1,"""N,103582791430911377,""2004-06-12 01:50:14""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791430911377,"""2004-06-12 01:50:14"""
3,76561197967006879,L1nk2h,http://steamcommunity.com/id/il1nkk/,0,3,1,2013-02-16 17:34:01,1,"""N,103582791433599146,""2004-06-13 06:58:30""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791433599146,"""2004-06-13 06:58:30"""
4,76561197967144937,Dr. Jerf,http://steamcommunity.com/id/TheJoff/,3,3,1,2013-02-15 19:05:41,1,"""N,103582791433049237,""2004-06-21 15:33:52""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791433049237,"""2004-06-21 15:33:52"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57354,76561197980555631,gashanet,http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-01-17 13:52:36,1,"""N,103582791429521408,""2006-01-24 11:00:58""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429521408,"""2006-01-24 11:00:58"""
57355,76561197980662281,Lom1k,http://steamcommunity.com/id/nazar4ikkk/,0,3,1,2013-02-28 11:07:52,1,"""N,103582791430107095,""2006-01-29 22:43:52""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791430107095,"""2006-01-29 22:43:52"""
57356,76561197980851839,carcinoGeneticist,http://steamcommunity.com/id/SoldiersStashes/,1,3,1,2013-03-01 12:31:21,1,"""N,103582791433689473,""2006-02-09 00:54:57""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791433689473,"""2006-02-09 00:54:57"""
57357,76561197980853652,Stasioooo,http://steamcommunity.com/id/stasiooo/,0,3,1,2013-02-03 18:53:21,1,"""N,103582791429521408,""2006-02-07 08:38:52""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429521408,"""2006-02-07 08:38:52"""
57358,76561197980919874,â€¢Ì€Ìªâ— Â° tÄ§Ä•Å‹Å³Ð¬,http://steamcommunity.com/id/thenub69/,0,3,1,2012-06-24 20:02:20,1,"""N,103582791429676674,""2006-02-10 16:10:31""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429676674,"""2006-02-10 16:10:31"""

In [28]:
ps_t1.toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,c17_2,c17_3,c18_1,c18_2,c18_3,c19_1,c19_2,realname,primaryclanid,timecreated
0,76561197983698967,MEGAA,http://steamcommunity.com/profiles/76561197983...,0,3,1,2012-12-25 07:13:27,2,"""N,103582791430868128,""2006-07-14 16:06:58""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791430868128,"""2006-07-14 16:06:58"""
1,76561197983721471,My Purtty Pony,http://steamcommunity.com/profiles/76561197983...,1,3,1,2013-02-28 22:51:48,1,"""N,103582791433752041,""2006-07-15 21:57:56""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791433752041,"""2006-07-15 21:57:56"""
2,76561197983764489,DAVIDOUKOI-,http://steamcommunity.com/id/gillsen/,0,3,1,2013-03-01 17:08:41,2,"""N,103582791429521408,""2006-07-18 09:33:37""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429521408,"""2006-07-18 09:33:37"""
3,76561197983891637,tiflokileur21,http://steamcommunity.com/profiles/76561197983...,0,3,1,2011-06-25 08:46:53,1,"""N,103582791430910999,""2006-07-25 11:36:11""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791430910999,"""2006-07-25 11:36:11"""
4,76561197984025972,toni,http://steamcommunity.com/id/toni-_-/,1,3,1,2013-03-02 00:20:04,1,"""N,103582791433142277,""2006-07-30 09:36:11""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791433142277,"""2006-07-30 09:36:11"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57354,76561197971705524,Dalaliss,http://steamcommunity.com/profiles/76561197971...,0,3,1,2012-05-07 12:13:19,1,"""N,103582791429570994,""2004-12-11 06:14:36""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429570994,"""2004-12-11 06:14:36"""
57355,76561197971770449,ads.<3 x22ãƒ„,http://steamcommunity.com/profiles/76561197971...,1,3,1,2013-02-17 08:37:32,1,"""N,103582791432474651,""2004-12-12 03:47:35""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791432474651,"""2004-12-12 03:47:35"""
57356,76561197971815878,sledgeham,http://steamcommunity.com/id/sledgeham/,0,3,1,2013-02-17 15:24:32,2,"""N,103582791432125620,""2004-12-14 12:11:44""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791432125620,"""2004-12-14 12:11:44"""
57357,76561197971857330,arisk79,http://steamcommunity.com/id/arisk79/,3,3,1,2013-02-18 03:16:46,1,"""N,103582791431949543,""2004-12-16 00:38:43""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791431949543,"""2004-12-16 00:38:43"""
57358,76561197971876500,Stormtrooper,http://steamcommunity.com/profiles/76561197971...,0,3,1,2013-02-17 15:23:01,1,"""N,103582791429690032,""2004-12-16 14:57:27""","""N,""N",...,None,None,None,None,None,None,None,"""N",103582791429690032,"""2004-12-16 14:57:27"""

_Check if `primaryclanid` and `timecreated` work properly_

In [29]:
ps_t1.filter(F.col('primaryclanid').contains('103')).count()

57359

In [30]:
ps_t1.filter(F.col('timecreated').contains('20')).count()

57359

In [31]:
ps_t1.select('realname').distinct().show(80)

+--------------------+
|            realname|
+--------------------+
|solariS , oKurves...|
|Brian, Benjamin, ...|
|The Drill, aka Bl...|
|Cunt, Emanuel/ Ka...|
|I am serious, do ...|
|San Diego, Califo...|
|h. mc carty, w.h....|
|         "RokÅ¡Ä— ;"|
|  Naw, man, I'm Dave|
|Slightly Sliced, ...|
|Garrett J. Morgan...|
|Gavin, but please...|
|BIG R, daughter L...|
|ÐžÐ¡Ð•ÐÐ¬, Ð›Ð˜Ð...|
|            "Luke ="|
|aka Banjo, Tru, W...|
|Stackar'N^ , Spax...|
|â•”â–º OnE sHoT, ...|
|Delerium, Fevin K...|
|ALIASES:  LIR, La...|
|Padova, Veneto, I...|
|SALIMZZ,-,GU!ZMO ...|
|    Mathias,George,l|
|Brett,Gavin,and T...|
|Steven D.,Kevin D...|
|Claytonious, Rule...|
| Live,Learn,Grow. =]|
|Max BÃ¶hl-Iggelhe...|
| DasK, DaPunZ, Felix|
|Bear, with Ice, s...|
|     "acc recovered"|
|          "/-TaFri-"|
|TUPAC, IMMORTAL T...|
|Servet, Sement, S...|
|Jeremy Willocq ,1...|
|           Me, I, it|
|"Aka: Burger, Toy...|
|Brad, or Bert, or...|
|"f a r s s a ! t ...|
|               .,.,.|
|Massakaschorsch, ...|
|Clevo, m0ller, Ch...|
|            tony,cz,|
|John Samuel Neich...|
|                 "/"|
|Unknown, Funky ch...|
|        tom:vince:,,|
|                  "N|
|ìš°í¬ì„±, ç¦¹ç†™...|
|Skip,   Paul-newb...|
|You would like to...|
|Be Polite, be bol...|
|Sunbro, Boba, Ple...|
|Sysadmin, program...|
|Wizard, Artist, P...|
|         Henrik, 31,|
|Che Guevara,Fidel...|
|Also known as Acu...|
|Sambir, L'vivs'ka...|
|  Daniel, Danny, Dan|
+--------------------+

---
_Add columns:_
 > - gameid (_c14)

In [32]:
ps_t1 = ps_t1.withColumn('gameid',F.when(F.col('_c11').contains('103'), \
                                           F.col('c12_1')).otherwise(F.col('c14_1')))

In [33]:
ps_t1.select('gameid').count()

57359

In [34]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t1.select('gameid').distinct().toPandas()[201:220]

     gameid
201   22120
202   34030
203    3483
204  209690
205   48240
206  218230
207  218130
208   22100
209   17300
210  227300
211   24200
212   42990
213   21910
214   48720
215  219150
216  217750
217  107900
218    4500
219  200210

---
_Add column:_
 > - gameserverip (_c15)

In [35]:
ps_t1 = ps_t1.withColumn('gameserverip',F.when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2), \
                                                F.col('c12_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1), \
                                                F.col('c13_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==2), \
                                                F.col('c14_2')).otherwise(F.col('c15_1')))

In [36]:
ps_t1.select('gameserverip').count()

57359

In [37]:
ps_t1.select('gameserverip').distinct().count()

815

In [38]:
ps_t1.select('gameserverip').distinct().toPandas()[640:660]

             gameserverip
640   146.66.153.97:27034
641   146.66.155.25:27021
642   208.78.165.10:27056
643   146.66.154.39:27079
644  146.66.156.235:27040
645    46.20.120.32:27015
646      46.20.40.20:1111
647    50.115.32.35:27015
648  146.66.153.116:27055
649  173.199.100.175:7707
650   146.66.155.26:27054
651  208.115.218.38:27015
652  67.215.237.204:27015
653   146.66.156.44:27027
654    84.201.1.220:27015
655    46.174.48.21:27279
656   200.58.99.127:27030
657    78.143.29.11:27015
658      91.121.20.7:7707
659  68.114.133.229:27015

---
_Add column:_
 > - gameextrainfo (_c16)

In [39]:
ps_t1 = ps_t1.withColumn('gameextrainfo',F.when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) , \
                                                F.col('c13_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), \
                                                F.col('c13_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), \
                                                F.col('c14_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')).otherwise(F.col('c15_1')))

In [40]:
ps_t1.select('gameextrainfo').distinct().count()

310

In [41]:
ps_t1.select('gameextrainfo').distinct().toPandas()[0:50]

                                        gameextrainfo
0                                              Dota 2
1                                        "Black Mesa"
2                                   "Sniper Elite V2"
3                                       "Dungeonland"
4   "Magic: The Gathering - Duels of the Planeswal...
5                                       Left 4 Dead 2
6                "Dark Souls: Prepare to Die Edition"
7                                         "Anno 2070"
8                                    "Age of Wonders"
9                                     "Left 4 Dead 2"
10                                              "LoL"
11                        "Blood Bowl: Chaos Edition"
12                           "Batman: Arkham Cityâ„¢"
13                                   "Orcs Must Die!"
14                                       "Darksiders"
15                    "Left 4 Dead 2 Authoring Tools"
16                                       "Dishonored"
17                                    "Torchlight II"
18                       "Chivalry: Medieval Warfare"
19                                    "Mount & Blade"
20                                     "Creation Kit"
21                                        "SpaceChem"
22                                     "Don't Starve"
23                             Hidden: Source Beta 4b
24                                           "Arma 2"
25                                         "Terraria"
26                              "Tomb Raider: Legend"
27                              "Eve Online: Inferno"
28           "Counter-Strike: Global Offensive - SDK"
29                                      "Antichamber"
30                                        "Alan Wake"
31             "Age of Conan: Unchained - EU version"
32                                     "lol.launcher"
33                                "Sonic Generations"
34                  "The Elder Scrolls IV: Oblivion "
35                                           "Impire"
36              "Serious Sam HD: The First Encounter"
37                                          "FIFA 13"
38                                        "Vindictus"
39                                     "Fieldrunners"
40                                "Dungeon Defenders"
41                                    "Mass Effect 2"
42                                   "Counter-Strike"
43              "S.T.A.L.K.E.R.: Shadow of Chernobyl"
44                                      "Titan Quest"
45                "Company of Heroes: Tales of Valor"
46                                "Dungeon Siege III"
47                                 "The Walking Dead"
48                          "Red Faction: Guerrilla "
49                             "IL-2 Sturmovik: 1946"

---
_Add column_
 > - cityid (_c17)

In [42]:
ps_t1 = ps_t1.withColumn('cityid',F.when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) ,\
                                                F.col('c13_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & ~(F.col('_c14').contains('000')), \
                                                F.col('c14_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1)& (F.col('nSplit_c14')==2), \
                                                F.col('c14_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), \
                                                F.col('c14_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000'))  & ~(F.col('_c15').contains('000')), \
                                                F.col('c15_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000')) & (F.col('_c15').contains('000')), \
                                                F.col('c16_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).otherwise(F.col('c15_1')))

In [43]:
ps_t1.select('cityid').distinct().count()

1

In [44]:
ps_t1.select('cityid').distinct().toPandas()[0:50]

  cityid
0     "N

---
_Add column_
 > - loccountrycode (_c18)

In [45]:
ps_t1 = ps_t1.withColumn('loccountrycode',F.when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) ,\
                                                F.col('c14_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & ~(F.col('_c14').contains('000')), \
                                                F.col('c14_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1)& (F.col('nSplit_c14')==2), \
                                                F.col('c15_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), \
                                                F.col('c14_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000'))  & ~(F.col('_c15').contains('000')), \
                                                F.col('c15_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000')) & (F.col('_c15').contains('000')), \
                                                F.col('c16_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==1), \
                                                F.col('c17_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).otherwise(F.col('c15_2')))

In [46]:
ps_t1 = ps_t1.withColumn("loccountrycode",regexp_replace("loccountrycode", '"', ""))
ps_t1.select('loccountrycode').distinct().count()

220

In [47]:
ps_t1.select('loccountrycode').distinct().toPandas()[200:250]

    loccountrycode
200             TF
201             YT
202             AR
203             CF
204             PW
205             PR
206             LU
207             NF
208             SZ
209             VN
210             HM
211             EH
212             IS
213             MP
214             AF
215             BB
216             DK
217             TJ
218             AO
219             ST

In [48]:
ps_t1.filter(F.col('loccountrycode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17, cityid]
Index: []

---
_Add column_
 > - locstatecode (_c19)

In [50]:
ps_t1 = ps_t1.withColumn('locstatecode',F.when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2),\
                                                F.col('c14_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1),\
                                                F.col('c15_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & ~(F.col('_c14').contains('000')), \
                                                F.col('c15_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1)& (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1)& (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000'))  & ~(F.col('_c15').contains('000')), \
                                                F.col('c16_1')).when((F.col('_c11').contains('103')) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('_c14').contains('000')) & (F.col('_c15').contains('000')), \
                                                F.col('c17_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c18_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2)& (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2)& (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==1), \
                                                F.col('c19_1')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2)& (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==2), \
                                                F.col('c18_2')).when((F.col('_c12').contains('103')) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1)  & (F.col('nSplit_c16')==2)& (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).otherwise(F.col('c16_1')))

In [51]:
ps_t1.select('locstatecode').distinct().count()

334

In [59]:
ps_t1.select('locstatecode').distinct().toPandas()[300:350]

    locstatecode
300           Y9
301           94
302           Q4
303           91
304           72
305           Q6
306           74
307           E2
308           YT
309           N9
310           AR
311           PW
312           NB
313           OK
314           PR
315           L3
316           G5
317           A3
318           76
319           MP
320           I7
321           80
322           Y5
323           50
324           UT
325           M8
326           57
327          NSW
328           45
329           A1
330           B8
331           H2
332           HI
333           I6

In [57]:
ps_t1.filter(F.col('locstatecode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17, cityid]
Index: []

----
#### Don't need column locityid since we have locstatecode and loccountrycode
#### Also for dateretrieved: all have the same range of  date:  Feb - Mar 2013
---

### 5.1.3 Format, rename columns and save Table1

In [62]:
# Turn first 50 rows to Pandas to have an overview about the table at hand
ps_t1.limit(50).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,c19_2,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,76561197979750598,Entropy-,http://steamcommunity.com/profiles/76561197979...,0,3,1,2013-01-22 14:06:12,1,"""N,103582791431943412,""2005-12-15 12:06:01""","""N,""N",...,None,"""N",103582791431943412,"""2005-12-15 12:06:01""","""N","""N","""N","""N",DK,"""N"
1,76561197979796496,H3chor,http://steamcommunity.com/profiles/76561197979...,0,3,1,2013-02-26 23:18:44,1,"""N,103582791430606952,""2005-12-17 17:38:33""","""N,""N",...,None,"""N",103582791430606952,"""2005-12-17 17:38:33""","""N","""N","""N","""N",N,"""N"
2,76561197979873363,koolaid_sux764,http://steamcommunity.com/id/koolaidsux/,0,3,1,2012-09-23 10:38:59,1,"""N,103582791430274949,""2005-12-23 21:03:42""","""N,""N",...,None,"""N",103582791430274949,"""2005-12-23 21:03:42""","""N","""N","""N","""N",N,"""N"
3,76561197979920078,HODJA#2914,http://steamcommunity.com/profiles/76561197979...,0,3,1,2013-02-28 10:19:52,1,"""N,103582791429678800,""2005-12-24 01:10:32""","""N,""N",...,None,"""N",103582791429678800,"""2005-12-24 01:10:32""","""N","""N","""N","""N",RU,48
4,76561197979938761,Bubba,http://steamcommunity.com/id/neutronstar1/,0,3,1,2013-03-06 19:06:09,1,"""N,103582791429521408,""2005-12-25 21:46:02""","""N,""N",...,None,"""N",103582791429521408,"""2005-12-25 21:46:02""","""N","""N","""N","""N",N,"""N"
5,76561197980001888,Simon the Cat,http://steamcommunity.com/id/mutsie/,0,3,1,2013-03-01 00:24:38,1,"""N,103582791429862347,""2005-12-26 14:19:12""","""N,""N",...,None,"""N",103582791429862347,"""2005-12-26 14:19:12""","""N","""N","""N","""N",US,"""N"
6,76561197980055072,Jacky_Bull_1â„¢(AUT),http://steamcommunity.com/profiles/76561197980...,0,3,1,2012-02-10 05:54:06,1,"""N,103582791429831621,""2005-12-28 11:55:31""","""N,""N",...,None,"""N",103582791429831621,"""2005-12-28 11:55:31""","""N","""N","""N","""N",AT,05
7,76561197980102002,Noor,http://steamcommunity.com/profiles/76561197980...,1,3,1,2013-03-01 11:02:54,1,"""N,103582791433463690,""2005-12-30 10:13:49""",570,...,None,"""N",103582791433463690,"""2005-12-30 10:13:49""",570,146.66.154.94:27017,Dota 2,"""N",N,"""N"
8,76561197980104422,gfghfghfh,http://steamcommunity.com/id/turchenko1337/,0,3,1,2012-09-13 11:49:16,1,"""N,103582791431275365,""2005-12-30 11:49:50""","""N,""N",...,None,"""N",103582791431275365,"""2005-12-30 11:49:50""","""N","""N","""N","""N",RU,65
9,76561197980166498,ROFLJOHNNY,http://steamcommunity.com/profiles/76561197980...,3,3,1,2013-02-28 09:12:16,1,"""N,103582791429878408,""2006-01-02 11:38:46""","""N,""N",...,None,"""N",103582791429878408,"""2006-01-02 11:38:46""","""N","""N","""N","""N",N,"""N"
10,76561197980176072,recalled #7,http://steamcommunity.com/profiles/76561197980...,0,3,1,2012-11-30 22:46:33,1,"""N,103582791431078267,""2006-01-02 20:46:03""","""N,""N",...,None,"""N",103582791431078267,"""2006-01-02 20:46:03""","""N","""N","""N","""N",US,AZ
11,76561197980181747,ÐœÐ¸Ð¶Ð³Ð°Ð½,http://steamcommunity.com/id/mixan/,0,3,1,2013-02-16 10:38:45,1,"""N,103582791430482188,""2006-01-05 05:41:01""","""N,""N",...,None,"""N",103582791430482188,"""2006-01-05 05:41:01""","""N","""N","""N","""N",RU,66
12,76561197980187507,starefly,http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-01-14 12:15:41,1,"""N,103582791429521408,""2006-01-05 10:50:56""","""N,""N",...,None,"""N",103582791429521408,"""2006-01-05 10:50:56""","""N","""N","""N","""N",FR,B3
13,76561197976300736,-eX-|Se[x]Y bItcH Last0n,http://steamcommunity.com/profiles/76561197976...,0,3,1,2013-02-17 10:37:22,1,"""N,103582791430561289,""2005-06-03 09:51:28""","""N,""N",...,None,"""N",103582791430561289,"""2005-06-03 09:51:28""","""N","""N","""N","""N",FR,"""N"
14,76561197976317821,-(ST)-Major Tom,http://steamcommunity.com/id/GIOLL/,0,3,1,2013-03-06 18:52:59,1,"""N,103582791429730315,""2005-06-05 19:15:14""","""N,""N",...,None,"""N",103582791429730315,"""2005-06-05 19:15:14""","""N","""N","""N","""N",US,FL
15,76561197976470043,op.hrvat,http://steamcommunity.com/id/21889/,1,3,1,2013-02-18 06:19:04,1,"""N,103582791430295507,""2005-06-14 23:57:33""","""N,""N",...,None,"""N",103582791430295507,"""2005-06-14 23:57:33""","""N","""N","""N","""N",AU,NSW
16,76561197976605675,Roger,http://steamcommunity.com/profiles/76561197976...,0,3,1,2012-09-08 21:23:00,1,"""N,103582791429639803,""2005-06-23 06:18:59""","""N,""N",...,None,"""N",103582791429639803,"""2005-06-23 06:18:59""","""N","""N","""N","""N",N,"""N"
17,76561197976699814,^^1Guess^^2What? ^^4o_O,http://steamcommunity.com/profiles/76561197976...,1,3,1,2013-03-05 13:35:06,1,"""N,103582791432707304,""2005-06-26 06:59:00""","""N,""N",...,None,"""N",103582791432707304,"""2005-06-26 06:59:00""","""N","""N","""N","""N",DE,"""N"
18,76561197971533965,{DÛ·D}BlackDeathâ„¢[GEÐ¯],http://steamcommunity.com/profiles/76561197971...,0,3,1,2013-02-17 14:55:08,1,"""N,103582791429525616,""2004-12-05 08:10:48""","""N,""N",...,None,"""N",103582791429525616,"""2004-12-05 08:10:48""","""N","""N","""N","""N",N,"""N"
19,76561197971554822,reaperbait,http://steamcommunity.com/id/barryvanunendooms...,0,3,1,2013-02-17 15:14:32,1,"""N,103582791429524118,""2004-12-06 15:15:51""","""N,""N",...,None,"""N",103582791429524118,"""2004-12-06 15:15:51""","""N","""N","""N","""N",N,"""N"
20,76561197971639930,zolitary,http://steamcommunity.com/id/konni/,0,3,1,2012-09-29 12:04:10,1,"""N,103582791430183561,""2004-12-09 08:51:01""","""N,""N",...,None,"""N",103582791430183561,"""2004-12-09 08:51:01""","""N","""N","""N","""N",DE,05
21,76561197971660499,sesame,http://steamcommunity.com/id/sesamebee/,0,3,1,2013-02-18 00:19:37,1,"""N,103582791429521408,""2004-12-09 02:31:04""","""N,""N",...,None,"""N",103582791429521408,"""2004-12-09 02:31:04""","""N","""N","""N","""N",N,"""N"
22,76561197971718998,NeK,http://steamcommunity.com/profiles/76561197971...,0,3,1,2012-10-26 06:15:48,1,"""N,103582791429548627,""2004-12-11 11:40:16""","""N,""N",...,None,"""N",103582791429548627,"""2004-12-11 11:40:16""","""N","""N","""N","""N",RO,19
23,76561197971772561,REPLAY 37,http://steamcommunity.com/profiles/76561197971...,0,3,1,2013-02-16 16:06:59,1,"""N,103582791429521408,""2004-12-12 05:19:19""","""N,""N",...,None,"""N",103582791429521408,"""2004-12-12 05:19:19""","""N","""N","""N","""N",TR,34
24,76561197971952495,thethingexe,http://steamcommunity.com/id/thethingexe/,0,3,1,2013-03-06 18:17:03,1,"""N,103582791429523949,""2004-12-18 00:14:19""","""N,""N",...,None,"""N",103582791429523949,"""2004-12-18 00:14:19""","""N","""N","""N","""N",AU,VIC
25,76561197972027120,crazyshot098,http://steamcommunity.com/id/Crazyshot098/,0,3,1,2013-02-20 19:21:55,1,"""N,103582791429524891,""2004-12-20 17:03:51""","""N,""N",...,None,"""N",103582791429524891,"""2004-12-20 17:03:51""","""N","""N","""N","""N",US,TX
26,76561197969774224,sessions,http://steamcommunity.com/id/sessions/,1,3,1,2013-02-17 09:30:42,1,"""N,103582791430847475,""2004-10-23 02:29:30""",570,...,None,"""N",103582791430847475,"""2004-10-23 02:29:30""",570,208.78.165.10:27042,Dota 2,"""N",CA,AB
27,76561197969930844,WTF!?,http://steamcommunity.com/profiles/76561197969...,0,3,1,2013-02-15 05:45:41,1,"""N,103582791433454257,""2004-10-29 09:03:44""","""N,""N",...,None,"""N",103582791433454257,"""2004-10-29 09:03:44""","""N","""N","""N","""N",UA,"""N"
28,76561197969968377,QashTard,http://steamcommunity.com/profiles/76561197969...,0,3,1,2013-02-13 13:37:24,1,"""N,103582791429524891,""2004-10-29 07:56:45""","""N,""N",...,None,"""N",103582791429524891,"""2004-10-29 07:56:45""","""N","""N","""N","""N",N,"""N"
29,76561197970200393,sy0' # MEMBERSUCHE <3,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-02-17 14:17:57,1,"""N,103582791433989800,""2004-11-09 15:09:48""","""N,""N",...,None,"""N",103582791433989800,"""2004-11-09 15:09:48""","""N","""N","""N","""N",N,"""N"
30,76561197970215538,*VIP* Crazy4ever,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-02-05 13:45:10,1,"""N,103582791431018178,""2004-11-11 13:08:06""","""N,""N",...,None,"""N",103582791431018178,"""2004-11-11 13:08:06""","""N","""N","""N","""N",NL,"""N"
31,76561197970338553,DrNick,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-03-06 06:07:20,1,"""N,103582791429521408,""2004-11-15 17:03:17""","""N,""N",...,None,"""N",103582791429521408,"""2004-11-15 17:03:17""","""N","""N","""N","""N",N,"""N"
32,76561197963292609,Sir John,http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-02-14 06:05:34,2,"""N,103582791431786684,""2003-12-09 16:30:20""","""N,""N",...,None,"""N",103582791431786684,"""2003-12-09 16:30:20""","""N","""N","""N","""N",N,"""N"
33,76561197963352036,Spindizzy,http://steamcommunity.com/id/spindizzy/,2,3,1,2013-02-15 21:25:46,1,"""N,103582791429524514,""2003-12-13 13:43:42""","""N,""N",...,None,"""N",103582791429524514,"""2003-12-13 13:43:42""","""N","""N","""N","""N",N,"""N"
34,76561197963646776,PQMarine,http://steamcommunity.com/id/PQMarine/,0,3,1,2013-02-16 16:27:42,1,"""N,103582791430168284,""2003-12-30 12:55:54""","""N,""N",...,None,"""N",103582791430168284,"""2003-12-30 12:55:54""","""N","""N","""N","""N",DE,"""N"
35,76561197963683024,blitzyuk,http://steamcommunity.com/id/blitzyuk/,1,3,1,2013-02-16 18:51:54,1,"""N,103582791429521900,""2004-01-01 18:57:34""","""N,""N",...,None,"""N",103582791429521900,"""2004-01-01 18:57:34""","""N","""N","""N","""N",GB,43
36,76561197963685077,Kayzer,http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-01-16 07:05:22,1,"""N,103582791432128861,""2004-01-01 14:33:39""","""N,""N",...,None,"""N",103582791432128861,"""2004-01-01 14:33:39""","""N","""N","""N","""N",SE,14
37,76561197961511052,PusseG,http://steamcommunity.com/id/622662/,0,3,1,2013-01-06 09:52:09,2,"""N,103582791433234721,""2003-09-27 19:44:53""","""N,""N",...,None,"""N",103582791433234721,"""2003-09-27 19:44:53""","""N","""N","""N","""N",RU,"""N"
38,76561197961561957,kayokeN,http://steamcommunity.com/id/kayokeN/,0,3,1,2013-02-16 13:58:10,1,"""N,103582791432310059,""2003-09-28 17:54:12""","""N,""N",...,None,"""N",103582791432310059,"""2003-09-28 17:54:12""","""N","""N","""N","""N",N,"""N"
39,76561197961607997,Rugged Man,http://steamcommunity.com/profiles/76561197961...,0,3,1,2013-02-14 07:25:46,1,"""N,103582791430041014,""2003-09-30 02:39:31""","""N,""N",...,None,"""N",103582791430041014,"""2003-09-30 02:39:31""","""N","""N","""N","""N",N,"""N"
40,76561197961626064,MUF,http://steamcommunity.com/profiles/76561197961...,1,3,1,2013-02-16 11:55:42,1,"""N,103582791433331788,""2003-09-30 14:28:02""","""N,""N",...,None,"""N",103582791433331788,"""2003-09-30 14:28:02""","""N","""N","""N","""N",UA,"""N"
41,76561197961629272,Tiririca,http://steamcommunity.com/id/jackcavador/,1,3,1,2013-02-16 08:47:07,1,"""N,103582791432549446,""2003-09-30 16:43:28""",570,...,None,"""N",103582791432549446,"""2003-09-30 16:43:28""",570,209.197.25.36:27022,Dota 2,"""N",BR,06
42,76561197961916868,SpirN,http://steamcommunity.com/id/spirn/,0,3,1,2013-02-16 12:58:14,1,"""N,103582791430077730,""2003-10-10 08:22:36""","""N,""N",...,None,"""N",103582791430077730,"""2003-10-10 08:22:36""","""N","""N","""N","""N",DK,"""N"
43,76561197961926534,MUSAFiR,http://steamcommunity.com/profiles/76561197961...,0,3,1,2012-09-09 00:12:24,1,"""N,103582791432407705,""2003-10-10 15:38:49""","""N,""N",...,None,"""N",103582791432407705,"""2003-10-10 15:38:49""","""N","""N","""N","""N",RU,12
44,76561197961936943,STASYAN,http://steamcommunity.com/profiles/76561197961...,0,3,1,2013-01-09 16:34:13,1,"""N,103582791432310059,""2003-10-10 17:08:02""","""N,""N",...,None,"""N",103582791432310059,"""2003-10-10 17:08:02""","""N","""N","""N","""N",N,"""N"
45,76561197961964181,ziggy,http://steamcommunity.com/id/hmjed/,3,3,1,2013-02-15 18:32:28,1,"""N,103582791429601475,""2003-10-11 13:22:26""","""N,""N",...,None,"""N",103582791429601475,"""2003-10-11 13:22:26""","""N","""N","""N","""N",CA,"""N"
46,76561197962005939,Smoke^Echo,http://steamcommunity.com/id/Echozero/,1,3,1,2013-02-16 02:15:11,1,"""N,103582791429604581,""2003-10-13 01:02:08""","""N,""N",...,None,"""N",103582791429604581,"""2003-10-13 01:02:08""","""N","""N","""N","""N",N,"""N"
47,76561197977543566,suezou211,http://steamcommunity.com/id/suezou211/,3,3,1,2013-03-05 21:29:40,1,"""N,103582791429521408,""2005-08-14 03:25:21""","""N,""N",...,None,"""N",103582791429521408,"""2005-08-14 03:25:21""","""N","""N","""N","""N",JP,"""N"
48,76561197977553957,hakafynyka,http://steamcommunity.com/id/evL_/,0,3,1,2013-02-18 21:54:23,1,"""N,103582791429614883,""2005-08-16 13:49:18""","""N,""N",...,None,"""N",103582791429614883,"""2005-08-16 13:49:18""","""N","""N","""N","""N",N,"""N"
49,76561197977559920,webby317,http://steamcommunity.com/id/webby317/,0,3,1,2013-02-17 16:45:28,1,"""N,103582791430444762,""2005-08-15 01:10:28""","""N,""N",...,None,"""N",103582791430444762,"""2005-08-15 01:10:28""","""N","""N","""N","""N",GB,"""N"

In [63]:
ps_t1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c11_3: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c16_3: string (nullable = true)
 |-- c17_1: string (nullable = true)
 |-- c17_2: string (nullable = true)
 |-- c17_3: string (nullable = true)
 |-- c18_1: string (nullable = true)
 |-- c18_2: string (nullable = true)
 |-- c18_3: string (nullable = true)
 |-- c19_1: string (nullable = true)
 |-- c19_2: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [65]:
# Drop unnecssary columns
ps_t1 = ps_t1.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2', 'c11_3','c12_1','c12_2','c13_1','c13_2','c14_1',\
                    'c14_2','c15_1','c15_2','c16_1','c16_2','c16_3','c17_1','c17_2','c17_3','c18_1',\
                    'c18_2','c18_3','c19_1','c19_2','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19')

In [69]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t1 = rename_col(ps_t1, newColumns)

In [70]:
ps_t1.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [71]:
ps_t1.count()

57359

In [73]:
# Replace " symbols in data
col_list = ['real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t1 = ps_t1.withColumn(i,regexp_replace(i, '"', ""))

In [74]:
ps_t1.limit(50).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197963292609,Sir John,http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-02-14 06:05:34,2,N,103582791431786684,2003-12-09 16:30:20,N,N,N,N,N,N
1,76561197963352036,Spindizzy,http://steamcommunity.com/id/spindizzy/,2,3,1,2013-02-15 21:25:46,1,N,103582791429524514,2003-12-13 13:43:42,N,N,N,N,N,N
2,76561197963646776,PQMarine,http://steamcommunity.com/id/PQMarine/,0,3,1,2013-02-16 16:27:42,1,N,103582791430168284,2003-12-30 12:55:54,N,N,N,N,DE,N
3,76561197963683024,blitzyuk,http://steamcommunity.com/id/blitzyuk/,1,3,1,2013-02-16 18:51:54,1,N,103582791429521900,2004-01-01 18:57:34,N,N,N,N,GB,43
4,76561197963685077,Kayzer,http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-01-16 07:05:22,1,N,103582791432128861,2004-01-01 14:33:39,N,N,N,N,SE,14
5,76561197984967267,L3monT3a,http://steamcommunity.com/id/silvi4/,0,3,1,2012-05-26 08:13:31,2,N,103582791430384313,2006-09-18 03:55:19,N,N,N,N,N,N
6,76561197984973181,lorkhi,http://steamcommunity.com/id/LorkhiGer/,0,3,1,2013-03-01 18:43:36,1,N,103582791430010492,2006-09-18 10:42:32,N,N,N,N,N,N
7,76561197984979925,MechaSavage,http://steamcommunity.com/id/TheYoungLiar/,0,3,1,2013-02-28 18:24:11,1,N,103582791432866998,2006-09-18 19:05:07,N,N,N,N,N,N
8,76561197984989000,xRaven -,http://steamcommunity.com/id/XRAVENXXX/,0,3,1,2011-10-19 06:02:10,1,N,103582791431079627,2006-09-16 03:01:29,N,N,N,N,FR,N
9,76561197985212574,Qooya,http://steamcommunity.com/id/qooya/,0,3,1,2013-03-02 01:01:55,2,N,103582791429521408,2006-09-28 01:48:16,N,N,N,N,N,N
10,76561197985304635,jZ,http://steamcommunity.com/id/jzohyes/,0,3,1,2013-03-01 17:16:00,1,N,103582791432496269,2006-10-05 14:03:30,N,N,N,N,US,CA
11,76561197985349547,âœˆ R.Belo Â®,http://steamcommunity.com/profiles/76561197985...,0,3,1,2012-06-25 09:31:28,1,N,103582791429521408,2006-10-07 15:39:26,N,N,N,N,DE,02
12,76561197985357938,Grace,http://steamcommunity.com/id/cracke/,0,3,1,2013-03-01 16:50:59,1,N,103582791432685879,2006-10-05 08:37:17,N,N,N,N,PL,77
13,76561197985451763,caÑtmaÅ‹,http://steamcommunity.com/profiles/76561197985...,0,3,1,2011-12-13 10:48:34,1,N,103582791429521408,2006-10-13 06:09:01,N,N,N,N,FR,A3
14,76561197985543342,SurfNeuling | BoK3N4F3R | Matze,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-03-01 16:15:26,1,N,103582791430696539,2006-10-14 11:53:07,N,N,N,N,DE,07
15,76561197985546975,LuFa,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-01-18 09:36:07,1,N,103582791429524891,2006-10-17 16:58:30,N,N,N,N,PL,32
16,76561197966739103,SAS - DND - NOT FREE FOR MIX,http://steamcommunity.com/id/sas-buc1/,3,3,1,2013-02-16 11:40:10,1,N,103582791429522361,2004-05-28 15:07:03,N,N,N,N,RO,N
17,76561197966931469,Klaus-BÃ¶rje das Obergefreiter,http://steamcommunity.com/id/straff/,0,3,1,2013-02-14 13:58:08,1,N,103582791430110941,2004-06-08 17:14:18,N,N,N,N,SE,N
18,76561197966955486,dd,http://steamcommunity.com/profiles/76561197966...,0,3,1,2012-12-09 09:34:21,1,N,103582791430911377,2004-06-12 01:50:14,N,N,N,N,KR,11
19,76561197967006879,L1nk2h,http://steamcommunity.com/id/il1nkk/,0,3,1,2013-02-16 17:34:01,1,N,103582791433599146,2004-06-13 06:58:30,N,N,N,N,N,N
20,76561197967144937,Dr. Jerf,http://steamcommunity.com/id/TheJoff/,3,3,1,2013-02-15 19:05:41,1,N,103582791433049237,2004-06-21 15:33:52,N,N,N,N,US,NC
21,76561197967195669,kiRYA,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-01-02 09:50:15,1,N,103582791429521408,2004-06-24 16:15:05,N,N,N,N,N,N
22,76561197967260981,Jafis,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-02-15 19:32:46,1,N,103582791431637235,2004-06-29 01:20:19,N,N,N,N,N,N
23,76561197967289469,Fadeaway*Dog,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-02-16 07:54:22,1,N,103582791431237563,2004-06-30 21:56:18,N,N,N,N,TW,N
24,76561197963772489,Maliw,http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-02-13 10:54:46,1,N,103582791430107095,2004-01-06 15:59:34,N,N,N,N,DE,16
25,76561197963851570,RABINAK,http://steamcommunity.com/id/DCYHFXSYDDSDTCD/,4,3,1,2013-02-15 01:01:19,1,N,103582791429521408,2004-01-11 16:09:50,N,N,N,N,AF,N
26,76561197964009107,Vities,http://steamcommunity.com/profiles/76561197964...,4,3,1,2013-02-13 20:50:15,1,N,103582791430343584,2004-01-20 06:55:08,N,N,N,N,AF,N
27,76561197966001893,i Love NAMAZ (HAMA3),http://steamcommunity.com/profiles/76561197966...,0,3,1,2013-02-16 12:24:07,1,N,103582791433595842,2004-04-20 19:15:50,N,N,N,N,N,N
28,76561197966210562,Jmanrob,http://steamcommunity.com/profiles/76561197966...,0,3,1,2012-06-23 21:48:04,1,N,103582791429777233,2004-05-01 16:04:40,N,N,N,N,US,TX
29,76561197966229055,[SBC]Norrlandsguld,http://steamcommunity.com/id/Norrlands/,0,3,1,2013-01-21 14:13:48,2,N,103582791429556395,2004-05-01 03:12:12,N,N,N,N,SE,21
30,76561197966385862,el Jakata wh..ru [-],http://steamcommunity.com/id/phi-au/,0,3,1,2012-03-19 11:15:42,1,N,103582791429521408,2004-05-10 03:47:30,N,N,N,N,RU,57
31,76561197966466466,Yem,http://steamcommunity.com/id/yemala/,0,3,1,2013-02-16 15:22:22,2,N,103582791432720446,2004-05-14 20:16:16,N,N,N,N,GB,N
32,76561197966476696,eGs | Guzzie VAC,http://steamcommunity.com/id/000123x/,0,3,1,2013-02-10 09:35:02,2,N,103582791433376287,2004-05-15 08:48:06,N,N,N,N,N,N
33,76561197966496040,sev,http://steamcommunity.com/profiles/76561197966...,0,3,1,2013-02-16 14:39:01,1,N,103582791431168892,2004-05-16 07:13:17,N,N,N,N,GB,N
34,76561197966621875,MoD,http://steamcommunity.com/id/disastermaster/,0,3,1,2013-02-09 18:04:37,1,N,103582791429530823,2004-05-22 01:34:46,N,N,N,N,AT,09
35,76561197965195356,Jake,http://steamcommunity.com/profiles/76561197965...,0,3,1,2013-02-15 04:56:57,1,N,103582791429521543,2004-03-21 12:32:17,N,N,N,N,FI,08
36,76561197965253842,Malakriss,http://steamcommunity.com/profiles/76561197965...,0,3,1,2013-02-15 16:22:12,1,N,103582791429521408,2004-03-24 14:49:02,N,N,N,N,N,N
37,76561197965416014,shoGun,http://steamcommunity.com/id/indecent_x/,0,3,1,2013-02-16 09:06:10,2,N,103582791429521408,2004-03-30 16:37:13,N,N,N,N,N,N
38,76561197965535147,Unkoman,http://steamcommunity.com/profiles/76561197965...,0,3,1,2012-07-31 06:01:33,2,N,103582791429521408,2004-04-04 08:05:58,N,N,N,N,N,N
39,76561197965558110,Kaajit [FR],http://steamcommunity.com/id/Kaajit/,0,3,1,2013-02-09 07:36:31,1,N,103582791430659744,2004-04-05 03:44:04,N,N,N,N,FR,B5
40,76561197960611879,Polle,http://steamcommunity.com/id/Pollement/,0,3,1,2013-02-14 15:10:57,2,N,103582791433710534,2003-09-14 08:08:52,N,N,N,N,BE,09
41,76561197960672307,SexY n1zZ,http://steamcommunity.com/profiles/76561197960...,0,3,1,2013-02-11 11:19:02,1,N,103582791430544902,2003-09-14 15:00:29,N,N,N,N,IT,03
42,76561197960730409,FiveDigits,http://steamcommunity.com/id/fivedigits/,3,3,1,2013-02-14 20:07:25,1,N,103582791431900027,2003-09-15 09:07:00,N,N,N,N,GB,N
43,76561197960781148,ALTERNATE MaRsCh,http://steamcommunity.com/id/76561197960781148/,0,3,1,2012-07-20 11:38:27,1,N,103582791429597775,2003-09-15 17:43:25,N,N,N,N,DE,04
44,76561197960795036,Gandhi ;z,http://steamcommunity.com/profiles/76561197960...,0,3,1,2013-03-06 11:39:02,1,N,103582791432310059,2003-09-15 22:59:57,N,N,N,N,N,N
45,76561197960863906,OuTLaWZippo,http://steamcommunity.com/profiles/76561197960...,0,3,1,2013-01-10 03:11:23,1,N,103582791429521408,2003-09-16 17:09:03,N,N,N,N,N,N
46,76561197960883506,Micke Tyson,http://steamcommunity.com/id/mickes/,0,3,1,2012-07-18 12:06:01,1,N,103582791431771738,2003-09-17 00:54:52,N,N,N,N,SE,15
47,76561197960890925,=SoB=[bS]Cyrus|bA,http://steamcommunity.com/profiles/76561197960...,0,3,1,2013-02-10 19:08:07,1,N,103582791429540891,2003-09-17 02:35:58,N,N,N,N,US,NH
48,76561197960972962,æŽæ¼†,http://steamcommunity.com/id/u7-/,1,3,1,2013-02-16 04:47:12,1,N,103582791432408587,2003-09-18 07:37:02,440,112.119.237.163:27017,Team Fortress 2,N,HK,N
49,76561197986171704,sNs,http://steamcommunity.com/profiles/76561197986...,0,3,1,2012-09-11 10:49:48,2,N,103582791430536540,2006-11-15 09:37:48,N,N,N,N,IT,04

In [75]:
# Save TABLE 1
ps_t1.write.csv('/user/tamng/jwht/CleanData/ps_t1.csv', header = True)

---
## <font color = 'black'> 5.2 Table 2: nSplit_c11 = 3 & nSplit_c10 != 1 </font>

_c10 should be split into 2 and 2nd column: realname, and adjust from _c10 but eveything consitent until column _c13

---

### 5.2.1 Filter data and check number of Split

In [76]:
player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 3) & (player_summaries_drop.nSplit_c10 != 1)).count()

80

In [77]:
ps_t2 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 3) & (player_summaries_drop.nSplit_c10 != 1))

In [78]:
nSplit_c11_3_c10_n = ps_t2.toPandas()
nSplit_c11_3_c10_n

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197983433666,zfan350,http://steamcommunity.com/profiles/76561197983...,0,3,1,2012-04-29 09:27:17,"""N,""Ba",""",103582791432926187,""2006-06-28 11:31:34""","""N,""N",...,2,3,2,2,2,2,-1,-1,-1,-1
1,76561197970431714,butz,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-02-14 16:17:29,"""N,""butz bum",""",103582791430787496,""2004-11-16 13:14:29""","""N,""N",...,2,3,2,2,2,2,-1,-1,-1,-1
2,76561197972161391,NarCiuss,http://steamcommunity.com/profiles/76561197972...,0,3,1,2013-01-31 16:45:47,"""N,""Brandon G",""",103582791430699298,""2004-12-22 17:23:33""","""N,""N",...,2,3,2,2,1,1,2,-1,-1,-1
3,76561197970997287,ThTh | Koala,http://steamcommunity.com/id/thommes/,0,3,1,2011-03-09 06:49:23,"""N,""Th",""",103582791429521543,""2004-11-22 09:07:53""","""N,""N",...,2,3,2,2,1,1,2,-1,-1,-1
4,76561197980777799,Tramper (â—£ â—¢),http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-02-09 20:45:46,"""N,""KÃ¥re",""",103582791430380703,""2006-02-05 01:05:22""","""N,""N",...,2,3,2,2,1,2,1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76561197977155078,Sap,http://steamcommunity.com/profiles/76561197977...,0,3,1,2013-02-13 20:49:38,"""N,""Evan K",""",103582791431010006,""2005-07-23 01:26:28""","""N,""N",...,2,3,2,2,1,1,1,1,-1,-1
76,76561197960833489,spec,http://steamcommunity.com/profiles/76561197960...,0,3,1,2009-06-07 20:53:23,"N,",""",103582791429521408,""2003-09-16 10:23:10""","""N,""N",...,2,3,2,2,1,2,1,-1,-1,-1
77,76561197964247514,Frontier Psychiatrist,http://steamcommunity.com/id/siffus/,0,3,1,2013-02-16 00:15:54,"""N,""An assortment of ice creams and sorbets",""",103582791429813574,""2004-02-01 15:16:23""","""N,""N",...,2,3,2,2,1,2,1,-1,-1,-1
78,76561197969606017,PeterToshBuddy_-',http://steamcommunity.com/profiles/76561197969...,0,3,1,2013-01-04 19:57:52,"""N,""Brendon",""",103582791433331103,""2004-10-15 08:06:02""","""N,""N",...,2,3,2,2,1,1,1,1,-1,-1
79,76561197977213025,BamBiii,http://steamcommunity.com/profiles/76561197977...,0,3,1,2008-05-17 11:12:04,"N,",""",103582791429521408,""2005-07-28 07:56:02""","""N,""N",...,2,3,2,2,1,2,1,-1,-1,-1

In [81]:
# All of the observations in _c11 has the primaryclanid >> consistent for all in _c11
ps_t2.filter(F.col('_c11').contains('103')).count()

80

In [80]:
# Check number of unique value in split column
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_3_c10_n[i].nunique())

print(pd.DataFrame(zip(check_list,unique_col)))

             0  1
0    nSplit_c7  1
1    nSplit_c8  1
2    nSplit_c9  1
3   nSplit_c10  1
4   nSplit_c11  1
5   nSplit_c12  2
6   nSplit_c13  1
7   nSplit_c14  2
8   nSplit_c15  2
9   nSplit_c16  3
10  nSplit_c17  2
11  nSplit_c18  1
12  nSplit_c19  1

___
#### Take a look at the number of split to decide whether we should split the column or not

In [82]:
nSplit_c11_3_c10_n.nSplit_c17.unique()

array([-1,  1])

In [83]:
nSplit_c11_3_c10_n.nSplit_c18.unique()

array([-1])

In [84]:
nSplit_c11_3_c10_n.nSplit_c19.unique()

array([-1])

In [104]:
nSplit_c11_3_c10_n[['_c13']]

     _c13
0   "N,"N
1   "N,"N
2   "N,"N
3   "N,"N
4   "N,"N
..    ...
75  "N,"N
76  "N,"N
77  "N,"N
78  "N,"N
79  "N,"N

[80 rows x 1 columns]

In [91]:
# Set new columns need to split for this data
col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2','c11_3' ]

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2', 'c16_3']


# Apply split function
ps_t2 = split_3_column(ps_t2, col_c11, newcols_c11)
ps_t2 = split_2_column(ps_t2, col_c12, newcols_c12)
ps_t2 = split_2_column(ps_t2, col_c13, newcols_c13)
ps_t2 = split_2_column(ps_t2, col_c14, newcols_c14)
ps_t2 = split_2_column(ps_t2, col_c15, newcols_c15)
ps_t2 = split_3_column(ps_t2, col_c16, newcols_c16)

In [95]:
ps_t2.toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','nSplit_c12','_c13','nSplit_c13','_c14','nSplit_c14','_c15','nSplit_c15','_c16','_c17','_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,nSplit_c12,_c13,nSplit_c13,_c14,nSplit_c14,_c15,nSplit_c15,_c16,_c17,_c18,_c19
0,3,1,2012-04-29 09:27:17,"""N,""Ba",""",103582791432926187,""2006-06-28 11:31:34""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-03-01 23:09:54""",2,None,None,None,None
1,3,1,2013-02-14 16:17:29,"""N,""butz bum",""",103582791430787496,""2004-11-16 13:14:29""","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""2013-02-28 14:37:33""",2,None,None,None,None
2,3,1,2013-01-31 16:45:47,"""N,""Brandon G",""",103582791430699298,""2004-12-22 17:23:33""","""N,""N",2,"""N,""N",2,US,1,CO,1,"""N,""2013-02-28 14:28:26""",None,None,None
3,3,1,2011-03-09 06:49:23,"""N,""Th",""",103582791429521543,""2004-11-22 09:07:53""","""N,""N",2,"""N,""N",2,NL,1,05,1,"""N,""2013-02-28 14:27:37""",None,None,None
4,3,1,2013-02-09 20:45:46,"""N,""KÃ¥re",""",103582791430380703,""2006-02-05 01:05:22""","""N,""N",2,"""N,""N",2,DK,1,"""N,""N",2,2013-03-11 12:28:42,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,3,1,2013-02-13 20:49:38,"""N,""Evan K",""",103582791431010006,""2005-07-23 01:26:28""","""N,""N",2,"""N,""N",2,US,1,HI,1,1131,2013-02-28 14:39:44,None,None
76,3,1,2013-02-16 00:15:54,"""N,""An assortment of ice creams and sorbets",""",103582791429813574,""2004-02-01 15:16:23""","""N,""N",2,"""N,""N",2,US,1,"""N,""N",2,2013-02-28 14:35:21,None,None,None
77,3,1,2009-06-07 20:53:23,"N,",""",103582791429521408,""2003-09-16 10:23:10""","""N,""N",2,"""N,""N",2,PT,1,"""N,""N",2,2013-02-28 14:19:23,None,None,None
78,3,1,2013-01-04 19:57:52,"""N,""Brendon",""",103582791433331103,""2004-10-15 08:06:02""","""N,""N",2,"""N,""N",2,BR,1,05,1,7943,2013-02-28 14:26:18,None,None
79,3,1,2008-05-17 11:12:04,"N,",""",103582791429521408,""2005-07-28 07:56:02""","""N,""N",2,"""N,""N",2,DE,1,"""N,""N",2,2013-02-28 14:30:53,None,None,None

---
### 5.2.2 Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns:_
 > - realname
 > - primaryclanid
 > - timecreated

In [97]:
ps_t2.filter(F.col('c11_2').contains('103')).count()

80

In [98]:
ps_t2 = ps_t2.withColumn('realname',F.when(F.col('_c11').contains('103'), F.col('_c10')))
ps_t2 = ps_t2.withColumn('primaryclanid',F.when(F.col('_c11').contains('103'), F.col('c11_2')))
ps_t2 = ps_t2.withColumn('timecreated',F.when(F.col('_c11').contains('103'), F.col('c11_3')))

In [99]:
ps_t2.filter(F.col('timecreated').contains('20')).count()

80

In [110]:
ps_t2.select('timecreated').distinct().show()

+--------------------+
|         timecreated|
+--------------------+
|"2004-07-07 00:08...|
|"2003-10-13 18:54...|
|"2006-02-01 09:16...|
|"2003-09-23 11:28...|
|"2005-10-08 16:56...|
|"2005-06-16 06:08...|
|"2004-10-15 08:06...|
|"2004-11-06 22:38...|
|"2005-07-23 01:26...|
|"2006-06-29 10:33...|
|"2004-01-30 09:44...|
|"2006-11-10 06:08...|
|"2004-12-29 21:48...|
|"2005-02-23 12:22...|
|"2006-05-13 10:11...|
|"2005-07-15 09:16...|
|"2005-02-25 15:25...|
|"2006-08-24 13:10...|
|"2004-07-28 09:00...|
|"2004-12-22 17:23...|
+--------------------+
only showing top 20 rows

---
_Add column_
 > - gameid (_c14)

In [111]:
nSplit_c11_3_c10_n.nSplit_c11.unique()

array([3])

In [100]:
ps_t2 = ps_t2.withColumn('gameid',F.when(F.col('_c11').contains('103'),F.col('c12_1')))

In [101]:
ps_t2.select('gameid').distinct().count()

2

In [103]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('gameid').distinct().toPandas()[:5]

  gameid
0  33930
1     "N

---
Add column
 > - gameserverip (_c15)

In [105]:
nSplit_c11_3_c10_n.nSplit_c12.unique()

array([2, 1])

In [106]:
ps_t2 = ps_t2.withColumn('gameserverip',F.when((F.col('nSplit_c12')==1), \
                                                F.col('c13_1')).when((F.col('nSplit_c12')==2), \
                                                F.col('c12_2')))

In [107]:
ps_t2.select('gameserverip').distinct().count()

1

In [108]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('gameserverip').distinct().toPandas()[:5]

  gameserverip
0           "N

---
_Add column_
 - gameextrainfo (_c16)

In [113]:
nSplit_c11_3_c10_n.nSplit_c13.unique()

array([2])

In [114]:
ps_t2 = ps_t2.withColumn('gameextrainfo',F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), \
                                                F.col('c13_2')).when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), \
                                                F.col('c13_1')))

In [118]:
ps_t2.select('gameextrainfo').distinct().count()

2

In [116]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('gameextrainfo').distinct().toPandas()[:5]

                   gameextrainfo
0  "Arma 2: Operation Arrowhead"
1                             "N

In [ ]:
ps_t2.filter(F.col('gameextrainfo').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

---
_Add column:_
 - cityid (_c17)

In [117]:
nSplit_c11_3_c10_n.nSplit_c14.unique()

array([2, 1])

In [120]:
ps_t2 = ps_t2.withColumn('cityid',F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), \
                                                F.col('c14_1')).when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), \
                                                F.col('c13_2')))

In [121]:
ps_t2.select('cityid').distinct().count()

1

In [122]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('cityid').distinct().toPandas()[:5]

  cityid
0     "N

In [123]:
ps_t2.filter(F.col('cityid').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17, cityid]
Index: []

---
_Add column_
 > - loccountrycode (_c18)

In [124]:
nSplit_c11_3_c10_n.nSplit_c15.unique()

array([2, 1])

In [125]:
ps_t2 = ps_t2.withColumn('loccountrycode',F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1), \
                                                F.col('c15_1')).when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), \
                                                F.col('c14_2')).when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), \
                                                F.col('c14_1')))

In [126]:
ps_t2.select('loccountrycode').distinct().count()

25

In [129]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('loccountrycode').distinct().toPandas()[0:25]

   loccountrycode
0              NL
1              PL
2              RU
3              PT
4              AU
5              CA
6              GB
7              BR
8              DE
9              ES
10             VI
11             KR
12             US
13             AQ
14             FX
15             FR
16           "US"
17             SG
18             SE
19             SK
20             BJ
21             KG
22             "N
23             NO
24             DK

In [128]:
ps_t2.filter(F.col('loccountrycode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17, cityid]
Index: []

---
_Add column_
 > - locstatecode (_c19)

In [130]:
nSplit_c11_3_c10_n.nSplit_c16.unique()

array([-1,  2,  1])

In [135]:
ps_t2 = ps_t2.withColumn('locstatecode',F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')).when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), \
                                                F.col('c15_1')).when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), \
                                                F.col('c14_2')).when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1), \
                                                F.col('c15_1')))

In [136]:
ps_t2.select('locstatecode').distinct().count()

30

In [139]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t2.select('locstatecode').distinct().toPandas()[0:50]

   locstatecode
0            07
1            54
2            LA
3            A8
4            16
5            VA
6            B2
7            KY
8            18
9            MI
10           27
11           17
12           CA
13           09
14           78
15           05
16           08
17           03
18           02
19           06
20           SK
21           TX
22           10
23           "N
24           FL
25           CO
26           14
27           21
28          NSW
29           HI

In [140]:
ps_t2.filter(F.col('locstatecode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17', 'cityid']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17, cityid]
Index: []

---
### 5.2.3 Format, rename columns and save Table2

In [141]:
ps_t2.limit(50).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,c16_3,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,76561197983433666,zfan350,http://steamcommunity.com/profiles/76561197983...,0,3,1,2012-04-29 09:27:17,"""N,""Ba",""",103582791432926187,""2006-06-28 11:31:34""","""N,""N",...,None,"""N,""Ba",103582791432926187,"""2006-06-28 11:31:34""","""N","""N","""N","""N","""N","""N"
1,76561197970431714,butz,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-02-14 16:17:29,"""N,""butz bum",""",103582791430787496,""2004-11-16 13:14:29""","""N,""N",...,None,"""N,""butz bum",103582791430787496,"""2004-11-16 13:14:29""","""N","""N","""N","""N","""N","""N"
2,76561197972161391,NarCiuss,http://steamcommunity.com/profiles/76561197972...,0,3,1,2013-01-31 16:45:47,"""N,""Brandon G",""",103582791430699298,""2004-12-22 17:23:33""","""N,""N",...,None,"""N,""Brandon G",103582791430699298,"""2004-12-22 17:23:33""","""N","""N","""N","""N",US,CO
3,76561197970997287,ThTh | Koala,http://steamcommunity.com/id/thommes/,0,3,1,2011-03-09 06:49:23,"""N,""Th",""",103582791429521543,""2004-11-22 09:07:53""","""N,""N",...,None,"""N,""Th",103582791429521543,"""2004-11-22 09:07:53""","""N","""N","""N","""N",NL,05
4,76561197980777799,Tramper (â—£ â—¢),http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-02-09 20:45:46,"""N,""KÃ¥re",""",103582791430380703,""2006-02-05 01:05:22""","""N,""N",...,None,"""N,""KÃ¥re",103582791430380703,"""2006-02-05 01:05:22""","""N","""N","""N","""N",DK,"""N"
5,76561197980897422,Seth,http://steamcommunity.com/profiles/76561197980...,0,3,1,2009-08-21 10:13:24,"""N,""Steven C",""",103582791430535848,""2006-02-09 14:12:17""","""N,""N",...,None,"""N,""Steven C",103582791430535848,"""2006-02-09 14:12:17""","""N","""N","""N","""N",DK,"""N"
6,76561197985003229,^eLower ãƒ„,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-03-01 09:57:52,"""N,""Marek",""",103582791429814614,""2006-09-20 08:49:00""","""N,""N",...,None,"""N,""Marek",103582791429814614,"""2006-09-20 08:49:00""","""N","""N","""N","""N",SK,05
7,76561197982694259,Entoriel,http://steamcommunity.com/profiles/76561197982...,0,3,1,2010-11-22 10:39:29,"""N,""ok'",""",103582791430068767,""2006-05-21 10:49:19""","""N,""N",...,None,"""N,""ok'",103582791430068767,"""2006-05-21 10:49:19""","""N","""N","""N","""N",BR,21
8,76561197972223670,Flipmode,http://steamcommunity.com/profiles/76561197972...,0,3,1,2008-03-10 13:00:03,"N,",""",103582791429530572,""2004-12-24 10:04:13""","""N,""N",...,None,"N,",103582791429530572,"""2004-12-24 10:04:13""","""N","""N","""N","""N","""N","""N"
9,76561197970139452,Hydrix,http://steamcommunity.com/profiles/76561197970...,0,3,1,2011-11-13 16:31:58,"""N,""N.oÂ°||'~",""",103582791429521408,""2004-11-07 12:09:11""","""N,""N",...,None,"""N,""N.oÂ°||'~",103582791429521408,"""2004-11-07 12:09:11""","""N","""N","""N","""N","""N","""N"
10,76561197974976078,"""kILLEM """"Borderlands"""" p0W""",http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-04-22 02:51:57,"""N,""Call me....Bitches !!",""",103582791429531835,""2005-03-19 07:49:39""","""N,""N",...,None,"""N,""Call me....Bitches !!",103582791429531835,"""2005-03-19 07:49:39""","""N","""N","""N","""N",US,VA
11,76561197982222168,sniper,http://steamcommunity.com/profiles/76561197982...,0,3,1,2011-02-22 14:38:07,"N,",""",103582791429521408,""2006-04-20 14:34:23""","""N,""N",...,None,"N,",103582791429521408,"""2006-04-20 14:34:23""","""N","""N","""N","""N","""N","""N"
12,76561197974484131,Player,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-11-12 11:01:31,"""N,""m",""",103582791429639803,""2005-02-26 08:58:06""","""N,""N",...,None,"""N,""m",103582791429639803,"""2005-02-26 08:58:06""","""N","""N","""N","""N","""N","""N"
13,76561197969073456,Kovolski,http://steamcommunity.com/id/kovolski/,1,3,1,2013-02-17 10:51:10,"""N,""Jonathan",""",103582791429573532,""2004-09-23 13:14:33""","""N,""N",...,None,"""N,""Jonathan",103582791429573532,"""2004-09-23 13:14:33""","""N","""N","""N","""N",FR,A8
14,76561197976985043,SurypaP@co.kr,http://steamcommunity.com/profiles/76561197976...,0,3,1,2011-07-16 09:43:03,"""N,""Jeon dong-jun",""",103582791429521408,""2005-07-15 09:16:12""","""N,""N",...,None,"""N,""Jeon dong-jun",103582791429521408,"""2005-07-15 09:16:12""","""N","""N","""N","""N",KR,14
15,76561197979524364,RedRust,http://steamcommunity.com/id/dedmen/,1,3,1,2013-02-27 04:18:13,"""N,""Hey",""",103582791430099543,""2005-12-02 22:26:04""","""N,""N",...,None,"""N,""Hey",103582791430099543,"""2005-12-02 22:26:04""","""N","""N","""N","""N","""N","""N"
16,76561197967380725,circle,http://steamcommunity.com/id/witide/,1,3,1,2013-02-13 20:49:37,"""N,""Some Fucking Place",""",103582791429796426,""2004-07-07 00:08:31""","""N,""N",...,None,"""N,""Some Fucking Place",103582791429796426,"""2004-07-07 00:08:31""","""N","""N","""N","""N",US,"""N"
17,76561197966481579,Blacktooth Sam,http://steamcommunity.com/id/scotteh_au/,0,3,1,2013-01-23 05:59:16,"""N,""k",""",103582791432111436,""2004-05-14 07:58:56""","""N,""N",...,None,"""N,""k",103582791432111436,"""2004-05-14 07:58:56""","""N","""N","""N","""N",AU,NSW
18,76561197973853809,EatMySax,http://steamcommunity.com/id/eatmysax/,1,3,1,2013-02-16 06:49:25,"""N,""NO",""",103582791431667073,""2005-02-03 08:29:37""","""N,""N",...,None,"""N,""NO",103582791431667073,"""2005-02-03 08:29:37""","""N","""N","""N","""N","""N","""N"
19,76561197981826506,youtube.com/808domi54,http://steamcommunity.com/id/movie12341234/,0,3,1,2011-01-10 22:08:56,"""N,""Dominic C",""",103582791430648905,""2006-03-30 17:42:24""","""N,""N",...,None,"""N,""Dominic C",103582791430648905,"""2006-03-30 17:42:24""","""N","""N","""N","""N","""N","""N"
20,76561197978428434,uberrr noOberrr,http://steamcommunity.com/profiles/76561197978...,0,3,1,2009-06-07 11:49:35,"""N,""Graha",""",103582791429521408,""2005-10-02 06:35:04""","""N,""N",...,None,"""N,""Graha",103582791429521408,"""2005-10-02 06:35:04""","""N","""N","""N","""N","""N","""N"
21,76561197977762380,|<!Ru@,http://steamcommunity.com/profiles/76561197977...,0,3,1,2013-02-28 13:23:45,"""N,""Panaitesco Stefa",""",103582791430191293,""2005-08-26 02:35:53""","""N,""N",...,None,"""N,""Panaitesco Stefa",103582791430191293,"""2005-08-26 02:35:53""","""N","""N","""N","""N",FX,"""N"
22,76561197978050543,`Mini Monkey,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-02-07 12:37:49,"""N,""Shiloh B",""",103582791430634109,""2005-09-13 01:13:01""","""N,""N",...,None,"""N,""Shiloh B",103582791430634109,"""2005-09-13 01:13:01""","""N","""N","""N","""N",US,CA
23,76561197977660845,PornmÃ¶schen aka. mic-one,http://steamcommunity.com/profiles/76561197977...,0,3,1,2012-07-29 02:05:28,"""N,""Sebastian S",""",103582791429524891,""2005-08-22 09:53:39""","""N,""N",...,None,"""N,""Sebastian S",103582791429524891,"""2005-08-22 09:53:39""","""N","""N","""N","""N",DE,14
24,76561197971117059,Kronic,http://steamcommunity.com/id/ohaitsme/,0,3,1,2012-12-20 23:13:47,"""N,""Sir Farts alot",""",103582791431317578,""2004-11-24 20:28:31""","""N,""N",...,None,"""N,""Sir Farts alot",103582791431317578,"""2004-11-24 20:28:31""","""N","""N","""N","""N",US,KY
25,76561197967362081,kimm,http://steamcommunity.com/profiles/76561197967...,0,3,1,2009-03-26 13:01:03,"""N,""kiiiiiiiiiiiiimmm",""",103582791429592387,""2004-07-05 17:04:22""","""N,""N",...,None,"""N,""kiiiiiiiiiiiiimmm",103582791429592387,"""2004-07-05 17:04:22""","""N","""N","""N","""N",ES,"""N"
26,76561197963972710,mAXT0R,http://steamcommunity.com/profiles/76561197963...,0,3,1,2011-04-20 04:34:40,"""N,""YaroooubA'",""",103582791430092321,""2004-01-18 13:26:23""","""N,""N",...,None,"""N,""YaroooubA'",103582791430092321,"""2004-01-18 13:26:23""","""N","""N","""N","""N","""N","""N"
27,76561197974431764,ClassiC Warrior,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-01-06 08:41:53,"""N,""Freddy",""",103582791430318835,""2005-02-23 12:22:12""","""N,""N",...,None,"""N,""Freddy",103582791430318835,"""2005-02-23 12:22:12""","""N","""N","""N","""N",DE,02
28,76561197977021575,LtPjevs,http://steamcommunity.com/profiles/76561197977...,0,3,1,2013-02-17 12:53:09,"""N,""F.O",""",103582791429854809,""2005-07-17 10:54:40""","""N,""N",...,None,"""N,""F.O",103582791429854809,"""2005-07-17 10:54:40""","""N","""N","""N","""N",DK,05
29,76561197981508370,skane ftw! :D,http://steamcommunity.com/profiles/76561197981...,0,3,1,2009-10-03 15:41:30,"""N,""kungen",""",103582791429597450,""2006-03-13 08:12:58""","""N,""N",...,None,"""N,""kungen",103582791429597450,"""2006-03-13 08:12:58""","""N","""N","""N","""N",SE,27
30,76561197964190468,-=Badi=-,http://steamcommunity.com/profiles/76561197964...,0,3,1,2012-12-11 06:14:31,"""N,""mb nmm",""",103582791429521592,""2004-01-30 09:44:06""","""N,""N",...,None,"""N,""mb nmm",103582791429521592,"""2004-01-30 09:44:06""","""N","""N","""N","""N",DE,09
31,76561197974465219,Iron,http://steamcommunity.com/profiles/76561197974...,0,3,1,2011-03-18 17:48:28,"""N,""Ontario",""",103582791429521408,""2005-02-25 15:25:55""","""N,""N",...,None,"""N,""Ontario",103582791429521408,"""2005-02-25 15:25:55""","""N","""N","""N","""N",CA,"""N"
32,76561197970124990,Syn | MarviN,http://steamcommunity.com/id/-MarviN-/,4,3,1,2013-02-13 20:08:55,"""N,""Marvin Van Loon",""",103582791430463789,""2004-11-06 22:38:59""","""N,""N",...,None,"""N,""Marvin Van Loon",103582791430463789,"""2004-11-06 22:38:59""","""N","""N","""N","""N",US,MI
33,76561197978546434,Derp,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-03-01 00:50:24,"""N,""Pawel",""",103582791432912291,""2005-10-08 16:56:23""","""N,""N",...,None,"""N,""Pawel",103582791432912291,"""2005-10-08 16:56:23""","""N","""N","""N","""N",GB,17
34,76561197963928288,|+Blame+|,http://steamcommunity.com/id/theblame/,0,3,1,2009-08-06 07:01:49,"""N,""Jan",""",103582791429601171,""2004-01-16 11:18:21""","""N,""N",...,None,"""N,""Jan",103582791429601171,"""2004-01-16 11:18:21""","""N","""N","""N","""N",DK,06
35,76561197985693459,Para,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-02-28 18:16:26,"""N,""Jasper T",""",103582791431079490,""2006-10-25 08:36:29""","""N,""N",...,None,"""N,""Jasper T",103582791431079490,"""2006-10-25 08:36:29""","""N","""N","""N","""N",NL,10
36,76561197967472006,GhillieDude,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-02-08 23:19:17,"""N,""Name: Mills",""",103582791429571243,""2004-07-14 18:27:11""","""N,""N",...,None,"""N,""Name: Mills",103582791429571243,"""2004-07-14 18:27:11""","""N","""N","""N","""N",US,"""N"
37,76561197961299692,h1Gh,http://steamcommunity.com/id/mbvnmbjmb/,0,3,1,2009-08-26 08:30:21,"""N,""p",""",103582791429521408,""2003-09-23 11:28:21""","""N,""N",...,None,"""N,""p",103582791429521408,"""2003-09-23 11:28:21""","""N","""N","""N","""N",AQ,"""N"
38,76561197968199396,tiger91560,http://steamcommunity.com/profiles/76561197968...,0,3,1,2010-08-27 19:43:06,"""N,""Jo",""",103582791429521408,""2004-08-14 15:54:13""","""N,""N",...,None,"""N,""Jo",103582791429521408,"""2004-08-14 15:54:13""","""N","""N","""N","""N","""N","""N"
39,76561197984665030,Ulquiorra/Gas Mask,http://steamcommunity.com/id/0069007/,0,3,1,2012-09-25 01:21:35,"""N,""Matthew",""",103582791429567837,""2006-08-30 16:39:22""","""N,""N",...,None,"""N,""Matthew",103582791429567837,"""2006-08-30 16:39:22""","""N","""N","""N","""N",CA,SK
40,76561197982382607,r; turra.,http://steamcommunity.com/profiles/76561197982...,0,3,1,2013-03-01 10:14:10,"""N,""r",""",103582791429750353,""2006-05-02 11:47:41""","""N,""N",...,None,"""N,""r",103582791429750353,"""2006-05-02 11:47:41""","""N","""N","""N","""N",BR,"""N"
41,76561197984731408,varhansen[slabbit],http://steamcommunity.com/id/slabbit/,1,3,1,2013-03-02 01:56:00,"""N,""k_e.i-t`h",""",103582791431765235,""2006-09-02 19:25:58""",33930,...,None,"""N,""k_e.i-t`h",103582791431765235,"""2006-09-02 19:25:58""",33930,"""N","""Arma 2: Operation Arrowhead""","""N","""US""",LA
42,76561197962016262,VuDo0,http://steamcommunity.com/id/vudo010/,0,3,1,2009-01-05 01:42:10,"""N,""John",""",103582791429521408,""2003-10-13 18:54:00""","""N,""N",...,None,"""N,""John",103582791429521408,"""2003-10-13 18:54:00""","""N","""N","""N","""N",AU,NSW
43,76561197978768512,Ñ•cÐ½waÐ²// YNWA,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-02-14 18:26:41,"""N,""Thomas aka Schwab ^^",""",103582791429692107,""2005-10-21 06:10:40""","""N,""N",...,None,"""N,""Thomas aka Schwab ^^",103582791429692107,"""2005-10-21 06:10:40""","""N","""N","""N","""N",NO,18
44,76561197967762191,heiftzurdah,http://steamcommunity.com/id/Zurdah/,0,3,1,2013-02-11 10:19:16,"""N,""Arnar",""",103582791429550710,""2004-07-28 09:00:55""","""N,""N",...,None,"""N,""Arnar",103582791429550710,"""2004-07-28 09:00:55""","""N","""N","""N","""N","""N","""N"
45,76561197984594581,joe #sQx,http://steamcommunity.com/profiles/76561197984...,0,3,1,2010-05-07 19:09:49,"""N,""Joe Pardim",""",103582791430266409,""2006-08-30 04:55:18""","""N,""N",...,None,"""N,""Joe Pardim",103582791430266409,"""2006-08-30 04:55:18""","""N","""N","""N","""N",BR,16
46,76561197982558163,JoCa - ES,http://steamcommunity.com/profiles/76561197982...,1,3,1,2013-03-01 14:47:26,"N,",""",103582791429533935,""2006-05-13 10:11:52""","""N,""N",...,None,"N,",103582791429533935,"""2006-05-13 10:11:52""","""N","""N","""N","""N",BR,08
47,76561197965938350,Papa No3l_+,http://steamcommunity.com/profiles/76561197965...,0,3,1,2009-03-03 01:55:01,"""N,""Borys 19 ans",""",103582791429599399,""2004-04-19 10:18:00""","""N,""N",...,None,"""N,""Borys 19 ans",103582791429599399,"""2004-04-19 10:18:00""","""N","""N","""N","""N",FR,A8
48,76561197983450900,Foi sem querer!,http://steamcommunity.com/profiles/76561197983...,0,3,1,2009-10-22 14:37:07,"""N,""tiaago",""",103582791429564709,""2006-06-29 10:33:38""","""N,""N",...,None,"""N,""tiaago",103582791429564709,"""2006-06-29 10:33:38""","""N","""N","""N","""N","""N","""N"
49,76561197972612320,Pumpkin Zone,http://steamcommunity.com/id/andretheaccelerator/,0,3,1,2013-02-18 15:25:19,"""N,""Liberty City",""",103582791431774392,""2004-12-29 21:48:50""","""N,""N",...,None,"""N,""Liberty City",103582791431774392,"""2004-12-29 21:48:50""","""N","""N","""N","""N",US,"""N"

In [142]:
ps_t2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c11_3: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c16_3: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [143]:
# Drop unnecssary columns
ps_t2 = ps_t2.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2', 'c11_3','c12_1','c12_2','c13_1','c13_2','c14_1',\
                    'c14_2','c15_1','c15_2','c16_1','c16_2','c16_3','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19')

In [145]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t2 = rename_col(ps_t2, newColumns)

In [146]:
ps_t2.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [147]:
ps_t2.count()

80

In [150]:
ps_t2 = ps_t2.withColumn('comment_permission',F.split('comment_permission', ',').getItem(0))
ps_t2 = ps_t2.withColumn('real_name',F.split('real_name', ',').getItem(1))

In [156]:
# Replace " symbols in data
col_list = ['comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t2 = ps_t2.withColumn(i,regexp_replace(i, '"', ""))

In [157]:
ps_t2.limit(50).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197983433666,zfan350,http://steamcommunity.com/profiles/76561197983...,0,3,1,2012-04-29 09:27:17,N,Ba,103582791432926187,2006-06-28 11:31:34,N,N,N,N,N,N
1,76561197970431714,butz,http://steamcommunity.com/profiles/76561197970...,0,3,1,2013-02-14 16:17:29,N,butz bum,103582791430787496,2004-11-16 13:14:29,N,N,N,N,N,N
2,76561197972161391,NarCiuss,http://steamcommunity.com/profiles/76561197972...,0,3,1,2013-01-31 16:45:47,N,Brandon G,103582791430699298,2004-12-22 17:23:33,N,N,N,N,US,CO
3,76561197970997287,ThTh | Koala,http://steamcommunity.com/id/thommes/,0,3,1,2011-03-09 06:49:23,N,Th,103582791429521543,2004-11-22 09:07:53,N,N,N,N,NL,05
4,76561197980777799,Tramper (â—£ â—¢),http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-02-09 20:45:46,N,KÃ¥re,103582791430380703,2006-02-05 01:05:22,N,N,N,N,DK,N
5,76561197980897422,Seth,http://steamcommunity.com/profiles/76561197980...,0,3,1,2009-08-21 10:13:24,N,Steven C,103582791430535848,2006-02-09 14:12:17,N,N,N,N,DK,N
6,76561197985003229,^eLower ãƒ„,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-03-01 09:57:52,N,Marek,103582791429814614,2006-09-20 08:49:00,N,N,N,N,SK,05
7,76561197982694259,Entoriel,http://steamcommunity.com/profiles/76561197982...,0,3,1,2010-11-22 10:39:29,N,ok',103582791430068767,2006-05-21 10:49:19,N,N,N,N,BR,21
8,76561197972223670,Flipmode,http://steamcommunity.com/profiles/76561197972...,0,3,1,2008-03-10 13:00:03,N,,103582791429530572,2004-12-24 10:04:13,N,N,N,N,N,N
9,76561197970139452,Hydrix,http://steamcommunity.com/profiles/76561197970...,0,3,1,2011-11-13 16:31:58,N,N.oÂ°||'~,103582791429521408,2004-11-07 12:09:11,N,N,N,N,N,N
10,76561197974976078,"""kILLEM """"Borderlands"""" p0W""",http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-04-22 02:51:57,N,Call me....Bitches !!,103582791429531835,2005-03-19 07:49:39,N,N,N,N,US,VA
11,76561197982222168,sniper,http://steamcommunity.com/profiles/76561197982...,0,3,1,2011-02-22 14:38:07,N,,103582791429521408,2006-04-20 14:34:23,N,N,N,N,N,N
12,76561197974484131,Player,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-11-12 11:01:31,N,m,103582791429639803,2005-02-26 08:58:06,N,N,N,N,N,N
13,76561197969073456,Kovolski,http://steamcommunity.com/id/kovolski/,1,3,1,2013-02-17 10:51:10,N,Jonathan,103582791429573532,2004-09-23 13:14:33,N,N,N,N,FR,A8
14,76561197976985043,SurypaP@co.kr,http://steamcommunity.com/profiles/76561197976...,0,3,1,2011-07-16 09:43:03,N,Jeon dong-jun,103582791429521408,2005-07-15 09:16:12,N,N,N,N,KR,14
15,76561197979524364,RedRust,http://steamcommunity.com/id/dedmen/,1,3,1,2013-02-27 04:18:13,N,Hey,103582791430099543,2005-12-02 22:26:04,N,N,N,N,N,N
16,76561197967380725,circle,http://steamcommunity.com/id/witide/,1,3,1,2013-02-13 20:49:37,N,Some Fucking Place,103582791429796426,2004-07-07 00:08:31,N,N,N,N,US,N
17,76561197966481579,Blacktooth Sam,http://steamcommunity.com/id/scotteh_au/,0,3,1,2013-01-23 05:59:16,N,k,103582791432111436,2004-05-14 07:58:56,N,N,N,N,AU,NSW
18,76561197981826506,youtube.com/808domi54,http://steamcommunity.com/id/movie12341234/,0,3,1,2011-01-10 22:08:56,N,Dominic C,103582791430648905,2006-03-30 17:42:24,N,N,N,N,N,N
19,76561197973853809,EatMySax,http://steamcommunity.com/id/eatmysax/,1,3,1,2013-02-16 06:49:25,N,NO,103582791431667073,2005-02-03 08:29:37,N,N,N,N,N,N
20,76561197978428434,uberrr noOberrr,http://steamcommunity.com/profiles/76561197978...,0,3,1,2009-06-07 11:49:35,N,Graha,103582791429521408,2005-10-02 06:35:04,N,N,N,N,N,N
21,76561197977762380,|<!Ru@,http://steamcommunity.com/profiles/76561197977...,0,3,1,2013-02-28 13:23:45,N,Panaitesco Stefa,103582791430191293,2005-08-26 02:35:53,N,N,N,N,FX,N
22,76561197978050543,`Mini Monkey,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-02-07 12:37:49,N,Shiloh B,103582791430634109,2005-09-13 01:13:01,N,N,N,N,US,CA
23,76561197977660845,PornmÃ¶schen aka. mic-one,http://steamcommunity.com/profiles/76561197977...,0,3,1,2012-07-29 02:05:28,N,Sebastian S,103582791429524891,2005-08-22 09:53:39,N,N,N,N,DE,14
24,76561197971117059,Kronic,http://steamcommunity.com/id/ohaitsme/,0,3,1,2012-12-20 23:13:47,N,Sir Farts alot,103582791431317578,2004-11-24 20:28:31,N,N,N,N,US,KY
25,76561197967362081,kimm,http://steamcommunity.com/profiles/76561197967...,0,3,1,2009-03-26 13:01:03,N,kiiiiiiiiiiiiimmm,103582791429592387,2004-07-05 17:04:22,N,N,N,N,ES,N
26,76561197963972710,mAXT0R,http://steamcommunity.com/profiles/76561197963...,0,3,1,2011-04-20 04:34:40,N,YaroooubA',103582791430092321,2004-01-18 13:26:23,N,N,N,N,N,N
27,76561197981508370,skane ftw! :D,http://steamcommunity.com/profiles/76561197981...,0,3,1,2009-10-03 15:41:30,N,kungen,103582791429597450,2006-03-13 08:12:58,N,N,N,N,SE,27
28,76561197977021575,LtPjevs,http://steamcommunity.com/profiles/76561197977...,0,3,1,2013-02-17 12:53:09,N,F.O,103582791429854809,2005-07-17 10:54:40,N,N,N,N,DK,05
29,76561197974431764,ClassiC Warrior,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-01-06 08:41:53,N,Freddy,103582791430318835,2005-02-23 12:22:12,N,N,N,N,DE,02
30,76561197964190468,-=Badi=-,http://steamcommunity.com/profiles/76561197964...,0,3,1,2012-12-11 06:14:31,N,mb nmm,103582791429521592,2004-01-30 09:44:06,N,N,N,N,DE,09
31,76561197974465219,Iron,http://steamcommunity.com/profiles/76561197974...,0,3,1,2011-03-18 17:48:28,N,Ontario,103582791429521408,2005-02-25 15:25:55,N,N,N,N,CA,N
32,76561197970124990,Syn | MarviN,http://steamcommunity.com/id/-MarviN-/,4,3,1,2013-02-13 20:08:55,N,Marvin Van Loon,103582791430463789,2004-11-06 22:38:59,N,N,N,N,US,MI
33,76561197978546434,Derp,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-03-01 00:50:24,N,Pawel,103582791432912291,2005-10-08 16:56:23,N,N,N,N,GB,17
34,76561197963928288,|+Blame+|,http://steamcommunity.com/id/theblame/,0,3,1,2009-08-06 07:01:49,N,Jan,103582791429601171,2004-01-16 11:18:21,N,N,N,N,DK,06
35,76561197985693459,Para,http://steamcommunity.com/profiles/76561197985...,0,3,1,2013-02-28 18:16:26,N,Jasper T,103582791431079490,2006-10-25 08:36:29,N,N,N,N,NL,10
36,76561197967472006,GhillieDude,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-02-08 23:19:17,N,Name: Mills,103582791429571243,2004-07-14 18:27:11,N,N,N,N,US,N
37,76561197961299692,h1Gh,http://steamcommunity.com/id/mbvnmbjmb/,0,3,1,2009-08-26 08:30:21,N,p,103582791429521408,2003-09-23 11:28:21,N,N,N,N,AQ,N
38,76561197968199396,tiger91560,http://steamcommunity.com/profiles/76561197968...,0,3,1,2010-08-27 19:43:06,N,Jo,103582791429521408,2004-08-14 15:54:13,N,N,N,N,N,N
39,76561197982382607,r; turra.,http://steamcommunity.com/profiles/76561197982...,0,3,1,2013-03-01 10:14:10,N,r,103582791429750353,2006-05-02 11:47:41,N,N,N,N,BR,N
40,76561197984665030,Ulquiorra/Gas Mask,http://steamcommunity.com/id/0069007/,0,3,1,2012-09-25 01:21:35,N,Matthew,103582791429567837,2006-08-30 16:39:22,N,N,N,N,CA,SK
41,76561197984731408,varhansen[slabbit],http://steamcommunity.com/id/slabbit/,1,3,1,2013-03-02 01:56:00,N,k_e.i-t`h,103582791431765235,2006-09-02 19:25:58,33930,N,Arma 2: Operation Arrowhead,N,US,LA
42,76561197962016262,VuDo0,http://steamcommunity.com/id/vudo010/,0,3,1,2009-01-05 01:42:10,N,John,103582791429521408,2003-10-13 18:54:00,N,N,N,N,AU,NSW
43,76561197978768512,Ñ•cÐ½waÐ²// YNWA,http://steamcommunity.com/profiles/76561197978...,0,3,1,2013-02-14 18:26:41,N,Thomas aka Schwab ^^,103582791429692107,2005-10-21 06:10:40,N,N,N,N,NO,18
44,76561197984594581,joe #sQx,http://steamcommunity.com/profiles/76561197984...,0,3,1,2010-05-07 19:09:49,N,Joe Pardim,103582791430266409,2006-08-30 04:55:18,N,N,N,N,BR,16
45,76561197967762191,heiftzurdah,http://steamcommunity.com/id/Zurdah/,0,3,1,2013-02-11 10:19:16,N,Arnar,103582791429550710,2004-07-28 09:00:55,N,N,N,N,N,N
46,76561197982558163,JoCa - ES,http://steamcommunity.com/profiles/76561197982...,1,3,1,2013-03-01 14:47:26,N,,103582791429533935,2006-05-13 10:11:52,N,N,N,N,BR,08
47,76561197965938350,Papa No3l_+,http://steamcommunity.com/profiles/76561197965...,0,3,1,2009-03-03 01:55:01,N,Borys 19 ans,103582791429599399,2004-04-19 10:18:00,N,N,N,N,FR,A8
48,76561197983450900,Foi sem querer!,http://steamcommunity.com/profiles/76561197983...,0,3,1,2009-10-22 14:37:07,N,tiaago,103582791429564709,2006-06-29 10:33:38,N,N,N,N,N,N
49,76561197972612320,Pumpkin Zone,http://steamcommunity.com/id/andretheaccelerator/,0,3,1,2013-02-18 15:25:19,N,Liberty City,103582791431774392,2004-12-29 21:48:50,N,N,N,N,US,N

In [162]:
# Save TABLE 2
ps_t2.write.csv('/user/tamng/jwht/CleanData/ps_t2.csv', header = True)

---
## <font color ='black'> 5.3 Table 3: nSplit_c11 > 3 </font>

<br> </br>

<font color ='blue'> The players have mutiple real_name </font>

- Everything consitent until _c13, dont need to adjust c11,1c2

### 5.3.1 Filter data and check number of Split

In [164]:
ps_t3 = player_summaries_drop.filter(player_summaries_drop.nSplit_c11 > 3)
ps_t3.count()

26

In [172]:
nSplit_c11_n = ps_t3.toPandas()
nSplit_c11_n[['_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18']]

,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18
0,"Tobi, (Twby, Kit, Keksi, KO-NE-KO-CHAN)",103582791429663584,2006-02-09 08:03:05,"""N,""N","""N,""N",DE,"""N,""N",2013-03-01 17:08:03
1,"Hruod Ruhm, Lant Land, Besitz bzw. Nand kÃ¼hn,...",103582791429726636,2005-11-14 13:33:26,"""N,""N","""N,""N",DE,01,12476
2,"Rick, Rich, Dick, Richard",103582791433531922,2006-07-28 22:01:56,"""N,""N","""N,""N",CA,ON,4511
3,",,,,,,,,,,,,",103582791429638424,2004-09-06 17:41:22,"""N,""N","""N,""N",ES,53,15088
4,"Veni, vidi, vici ich kam, ich sah, ich siegte'",103582791431349569,2005-11-03 05:35:02,80,"""N,""Counter-Strike: Condition Zero""","""N,""DE""",07,"""N,""2013-02-28 14:31:42"""
5,",,,",103582791430855102,2005-07-08 13:38:02,"""N,""N","""N,""N",FR,A8,"""N,""2013-02-28 14:30:49"""
6,"A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,2005-01-26 23:18:18,"""N,""N","""N,""N",FI,13,"""N,""2013-02-28 14:29:31"""
7,"Reborn,Cynical,Tumbo,Mero",103582791430065590,2003-09-13 11:41:47,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:12""",None
8,".,!,,",103582791429604273,2004-10-04 23:55:13,"""N,""N","""N,""N",SE,"""N,""N",2013-02-28 14:26:09
9,"--,,,--",103582791432807346,2006-04-10 14:35:32,"""N,""N","""N,""N",DE,07,"""N,""2013-03-11 12:29:00"""
10,"Russell, RZ, Gankin, I go by many aliases.",103582791432600117,2006-07-29 23:15:27,33930,"""N,""Arma 2: Operation Arrowhead""","""N,""US""",TX,3670
11,"Szymon ,,meloN,, Melnik aka wiecej sprzÄ™tu ni...",103582791433527852,2005-01-26 08:43:17,"""N,""N","""N,""N",PL,50,"""N,""2013-02-28 14:38:34"""
12,"[~$W~]$poiledQueenÂ²,Z0mbie<handle>Â²,PandahÂ²...",103582791431942692,2005-10-23 22:26:24,"""N,""N","""N,""N",US,AZ,"""N,""2013-03-06 19:53:40"""
13,"Ken ,,, Kenny",103582791430296699,2004-04-01 13:28:58,"""N,""N","""N,""N",DE,07,12728
14,"ã¯ã¡ã³ãƒ¼,ã¯ã¡ã¹ã‡,OnigiliEngineer,çœ‰æ...",103582791429835494,2006-07-07 23:14:01,"""N,""N","""N,""N",SO,02,44151
15,"[Ð˜â‚£] Â§ÃºÂ¡Â¢Â¡ÃÎž, Ñ‚Ñ’Ñ”Â¦â€¹Â¡Ã, â‚£Ñ...",103582791429726651,2005-08-20 08:00:47,"""N,""N","""N,""N",US,NY,"""N,""2013-02-28 14:39:49"""
16,"Privateâ˜¢Left4Candy,,,,VAULT-TECì›ƒCANDY",103582791431949543,2005-12-06 13:25:42,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 09:33:53""",None
17,"Kaoba, nhodesign, nhostyle, sabbat, Chabal, TÉ...",103582791432923893,2006-05-03 06:22:40,"""N,""N","""N,""N",ES,29,15113
18,"Natural Pyrotechnic, Teamkiller, Ass, and Hate...",103582791431245138,2006-08-25 14:45:33,"""N,""N","""N,""N",US,"""N,""N",2013-03-02 01:41:44
19,"Double Tap 1911, Pendragon, Dire Nova, Marlon ...",103582791430898076,2005-03-22 19:52:50,"""N,""N","""N,""N",US,TX,3577
20,"My name is lik a melody,,,,,,,",103582791429522759,2005-12-22 20:42:45,"""N,""N","""N,""N",US,TX,3667
21,"Adam Andersson, Nicknames : MiniFarkan, SunDra...",103582791433999511,2003-09-30 10:19:49,4000,74.119.216.30:27015,Garry's Mod,"""N,""N","""N,""N"
22,"VAC BAN CS:S, DoD:S,TF2, HL:DM",103582791430156107,2006-04-14 19:05:36,"""N,""N","""N,""N",ID,08,20807
23,"Mark, Tobias, Manuel, Dirk, aber meistens rede...",103582791431361404,2005-11-06 05:04:48,"""N,""N","""N,""N",DE,09,"""N,""2013-03-01 07:57:39"""
24,"Persy Freeman, John Freeman, Gorden Freeman, M...",103582791429535810,2004-12-25 09:14:03,"""N,""N","""N,""N",US,SC,"""N,""2013-02-28 14:38:18"""
25,"SFFA_HAN_CAL-O, 1927, learn2play, aim2pls",103582791429615039,2003-09-12 14:23:59,"""N,""N","""N,""N",US,PA,3299

In [166]:
# All of the observations in _c12 has the primaryclanid >> consistent for all in _c12
ps_t3.filter(F.col('_c12').contains('103')).count()

26

___
#### Take a look at the number of split to decide whether we should split the column or not

In [169]:
# Check number of unique value in split column
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_n[i].unique())

print(pd.DataFrame(zip(check_list,unique_col)))

             0                 1
0    nSplit_c7               [1]
1    nSplit_c8               [1]
2    nSplit_c9               [1]
3   nSplit_c10               [1]
4   nSplit_c11  [5, 4, 13, 6, 8]
5   nSplit_c12               [1]
6   nSplit_c13               [1]
7   nSplit_c14            [2, 1]
8   nSplit_c15            [2, 1]
9   nSplit_c16            [1, 2]
10  nSplit_c17            [2, 1]
11  nSplit_c18        [1, 2, -1]
12  nSplit_c19           [-1, 1]

In [174]:
# Set new columns need to split for this data
col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2']

col_c17 = ['_c17']
newcols_c17 = ['c17_1', 'c17_2']

col_c18 = ['_c18']
newcols_c18 = ['c18_1', 'c18_2']


# Apply split function
ps_t3 = split_2_column(ps_t3, col_c14, newcols_c14)
ps_t3 = split_2_column(ps_t3, col_c15, newcols_c15)
ps_t3 = split_2_column(ps_t3, col_c16, newcols_c16)
ps_t3 = split_2_column(ps_t3, col_c17, newcols_c17)
ps_t3 = split_2_column(ps_t3, col_c18, newcols_c18)

In [175]:
ps_t3.toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','nSplit_c12','_c13','nSplit_c13','_c14','nSplit_c14','_c15','nSplit_c15','_c16','_c17','_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,nSplit_c12,_c13,nSplit_c13,_c14,nSplit_c14,_c15,nSplit_c15,_c16,_c17,_c18,_c19
0,3,1,2013-01-30 09:28:37,1,"Tobi, (Twby, Kit, Keksi, KO-NE-KO-CHAN)",103582791429663584,1,2006-02-09 08:03:05,1,"""N,""N",2,"""N,""N",2,DE,"""N,""N",2013-03-01 17:08:03,None
1,3,1,2013-02-19 09:38:37,1,"Hruod Ruhm, Lant Land, Besitz bzw. Nand kÃ¼hn,...",103582791429726636,1,2005-11-14 13:33:26,1,"""N,""N",2,"""N,""N",2,DE,01,12476,2013-02-28 14:31:45
2,3,1,2013-03-01 01:33:05,1,"Rick, Rich, Dick, Richard",103582791433531922,1,2006-07-28 22:01:56,1,"""N,""N",2,"""N,""N",2,CA,ON,4511,2013-03-14 13:16:31
3,3,1,2013-02-17 17:13:50,1,",,,,,,,,,,,,",103582791429638424,1,2004-09-06 17:41:22,1,"""N,""N",2,"""N,""N",2,ES,53,15088,2013-02-28 14:25:47
4,3,1,2013-02-16 19:55:30,1,"Veni, vidi, vici ich kam, ich sah, ich siegte'",103582791431349569,1,2005-11-03 05:35:02,1,80,1,"""N,""Counter-Strike: Condition Zero""",2,"""N,""DE""",07,"""N,""2013-02-28 14:31:42""",None
5,3,1,2013-02-17 11:36:15,2,",,,",103582791430855102,1,2005-07-08 13:38:02,1,"""N,""N",2,"""N,""N",2,FR,A8,"""N,""2013-02-28 14:30:49""",None
6,3,1,2011-03-08 02:34:07,1,"Reborn,Cynical,Tumbo,Mero",103582791430065590,1,2003-09-13 11:41:47,1,"""N,""N",2,"""N,""N",2,"""N,""N","""N,""2013-02-28 14:19:12""",None,None
7,3,1,2013-02-18 14:05:01,2,"A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,1,2005-01-26 23:18:18,1,"""N,""N",2,"""N,""N",2,FI,13,"""N,""2013-02-28 14:29:31""",None
8,3,1,2013-02-17 14:41:21,2,".,!,,",103582791429604273,1,2004-10-04 23:55:13,1,"""N,""N",2,"""N,""N",2,SE,"""N,""N",2013-02-28 14:26:09,None
9,3,1,2013-03-01 14:28:26,1,"--,,,--",103582791432807346,1,2006-04-10 14:35:32,1,"""N,""N",2,"""N,""N",2,DE,07,"""N,""2013-03-11 12:29:00""",None
10,3,1,2013-03-02 00:06:10,1,"Russell, RZ, Gankin, I go by many aliases.",103582791432600117,1,2006-07-29 23:15:27,1,33930,1,"""N,""Arma 2: Operation Arrowhead""",2,"""N,""US""",TX,3670,2013-03-02 00:27:25
11,3,1,2013-02-18 17:48:22,2,"Szymon ,,meloN,, Melnik aka wiecej sprzÄ™tu ni...",103582791433527852,1,2005-01-26 08:43:17,1,"""N,""N",2,"""N,""N",2,PL,50,"""N,""2013-02-28 14:38:34""",None
12,3,1,2013-03-04 09:02:13,1,"[~$W~]$poiledQueenÂ²,Z0mbie<handle>Â²,PandahÂ²...",103582791431942692,1,2005-10-23 22:26:24,1,"""N,""N",2,"""N,""N",2,US,AZ,"""N,""2013-03-06 19:53:40""",None
13,3,1,2010-07-05 17:06:32,1,"Ken ,,, Kenny",103582791430296699,1,2004-04-01 13:28:58,1,"""N,""N",2,"""N,""N",2,DE,07,12728,2013-02-28 14:23:06
14,3,1,2013-02-23 15:09:40,1,"ã¯ã¡ã³ãƒ¼,ã¯ã¡ã¹ã‡,OnigiliEngineer,çœ‰æ...",103582791429835494,1,2006-07-07 23:14:01,1,"""N,""N",2,"""N,""N",2,SO,02,44151,2013-03-01 23:32:44
15,3,1,2013-02-20 03:03:53,2,"[Ð˜â‚£] Â§ÃºÂ¡Â¢Â¡ÃÎž, Ñ‚Ñ’Ñ”Â¦â€¹Â¡Ã, â‚£Ñ...",103582791429726651,1,2005-08-20 08:00:47,1,"""N,""N",2,"""N,""N",2,US,NY,"""N,""2013-02-28 14:39:49""",None
16,3,1,2013-02-23 07:30:29,1,"Privateâ˜¢Left4Candy,,,,VAULT-TECì›ƒCANDY",103582791431949543,1,2005-12-06 13:25:42,1,"""N,""N",2,"""N,""N",2,"""N,""N","""N,""2013-03-01 09:33:53""",None,None
17,3,1,2013-02-28 16:19:26,1,"Kaoba, nhodesign, nhostyle, sabbat, Chabal, TÉ...",103582791432923893,1,2006-05-03 06:22:40,1,"""N,""N",2,"""N,""N",2,ES,29,15113,2013-03-01 21:00:38
18,3,1,2013-03-01 23:15:18,1,"Natural Pyrotechnic, Teamkiller, Ass, and Hate...",103582791431245138,1,2006-08-25 14:45:33,1,"""N,""N",2,"""N,""N",2,US,"""N,""N",2013-03-02 01:41:44,None
19,3,1,2013-02-13 20:49:41,1,"Double Tap 1911, Pendragon, Dire Nova, Marlon ...",103582791430898076,1,2005-03-22 19:52:50,1,"""N,""N",2,"""N,""N",2,US,TX,3577,2013-02-28 14:29:59
20,3,1,2010-02-27 23:06:47,1,"My name is lik a melody,,,,,,,",103582791429522759,1,2005-12-22 20:42:45,1,"""N,""N",2,"""N,""N",2,US,TX,3667,2013-03-06 20:11:45
21,3,1,2013-02-16 08:54:10,1,"Adam Andersson, Nicknames : MiniFarkan, SunDra...",103582791433999511,1,2003-09-30 10:19:49,1,4000,1,74.119.216.30:27015,1,Garry's Mod,"""N,""N","""N,""N",2013-02-28 14:34:24
22,3,1,2013-02-26 08:40:00,1,"VAC BAN CS:S, DoD:S,TF2, HL:DM",103582791430156107,1,2006-04-14 19:05:36,1,"""N,""N",2,"""N,""N",2,ID,08,20807,2013-03-11 12:29:01
23,3,1,2012-08-15 03:02:57,1,"Mark, Tobias, Manuel, Dirk, aber meistens rede...",103582791431361404,1,2005-11-06 05:04:48,1,"""N,""N",2,"""N,""N",2,DE,09,"""N,""2013-03-01 07:57:39""",None
24,3,1,2013-02-17 12:59:29,1,"Persy Freeman, John Freeman, Gorden Freeman, M...",103582791429535810,1,2004-12-25 09:14:03,1,"""N,""N",2,"""N,""N",2,US,SC,"""N,""2013-02-28 14:38:18""",None
25,3,1,2013-02-15 14:19:49,1,"SFFA_HAN_CAL-O, 1927, learn2play, aim2pls",103582791429615039,1,2003-09-12 14:23:59,1,"""N,""N",2,"""N,""N",2,US,PA,3299,2013-02-28 14:34:07

---
### 5.3.2 Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns:_
 > - realname
 > - primaryclanid
 > - timecreated

In [176]:
ps_t3 = ps_t3.withColumn('realname', F.col('_c11'))
ps_t3 = ps_t3.withColumn('primaryclanid', F.col('_c12'))
ps_t3 = ps_t3.withColumn('timecreated', F.col('_c13'))

In [177]:
ps_t3.filter(F.col('timecreated').contains('20')).count()

26

In [ ]:
#ps_t3.select('timecreated').distinct().count()

In [178]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('timecreated').distinct().toPandas()[0:50]

            timecreated
0   2006-07-29 23:15:27
1   2004-04-01 13:28:58
2   2003-09-12 14:23:59
3   2005-01-26 23:18:18
4   2005-07-08 13:38:02
5   2006-07-28 22:01:56
6   2006-02-09 08:03:05
7   2003-09-30 10:19:49
8   2005-01-26 08:43:17
9   2005-11-03 05:35:02
10  2005-11-06 05:04:48
11  2006-08-25 14:45:33
12  2003-09-13 11:41:47
13  2005-12-22 20:42:45
14  2004-10-04 23:55:13
15  2006-05-03 06:22:40
16  2006-04-14 19:05:36
17  2006-07-07 23:14:01
18  2005-10-23 22:26:24
19  2004-09-06 17:41:22
20  2004-12-25 09:14:03
21  2005-03-22 19:52:50
22  2005-11-14 13:33:26
23  2005-08-20 08:00:47
24  2005-12-06 13:25:42
25  2006-04-10 14:35:32

---
_Add column_
 > - gameid (_c14)

In [179]:
ps_t3 = ps_t3.withColumn('gameid',F.col('c14_1'))

In [180]:
ps_t3.select('gameid').distinct().count()

4

In [181]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('gameid').distinct().toPandas()[0:50]

  gameid
0  33930
1   4000
2     "N
3     80

In [183]:
ps_t3.filter(F.col('gameid').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
_Add column_
 > - gameserverip (_c15)

In [184]:
ps_t3 = ps_t3.withColumn('gameserverip',F.when((F.col('nSplit_c14')==1), \
                                                F.col('c15_1')).when((F.col('nSplit_c14')==2), \
                                                F.col('c14_2')))

In [185]:
ps_t3.select('gameserverip').distinct().count()

2

In [186]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('gameserverip').distinct().toPandas()[0:50]

          gameserverip
0  74.119.216.30:27015
1                   "N

In [187]:
ps_t3.filter(F.col('gameserverip').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
_Add column_
 > - gameextrainfo (_c16)

In [188]:
nSplit_c11_n.nSplit_c15.unique()

array([2, 1])

In [189]:
ps_t3 = ps_t3.withColumn('gameextrainfo',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('nSplit_c14')==2), \
                                                F.col('c15_1')))

In [190]:
ps_t3.select('gameextrainfo').distinct().count()

4

In [191]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('gameextrainfo').distinct().toPandas()[0:50]

                      gameextrainfo
0     "Arma 2: Operation Arrowhead"
1                       Garry's Mod
2                                "N
3  "Counter-Strike: Condition Zero"

In [192]:
ps_t3.filter(F.col('gameextrainfo').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
_Add column_
 - cityid (_c17)

In [193]:
nSplit_c11_n.nSplit_c16.unique()

array([1, 2])

In [195]:
ps_t3 = ps_t3.withColumn('cityid',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')))

In [196]:
ps_t3.select('cityid').distinct().count()

1

In [197]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('cityid').distinct().toPandas()[0:50]

  cityid
0     "N

In [198]:
ps_t3.filter(F.col('cityid').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
_Add column_
 > - loccountrycode (_c18)

In [199]:
nSplit_c11_n.nSplit_c17.unique()

array([2, 1])

In [200]:
ps_t3 = ps_t3.withColumn('loccountrycode',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')))

In [201]:
ps_t3.select('loccountrycode').distinct().count()

13

In [202]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('loccountrycode').distinct().toPandas()[0:50]

   loccountrycode
0              FI
1              PL
2            "DE"
3              SO
4              ID
5              CA
6              DE
7              ES
8              US
9              FR
10           "US"
11             SE
12             "N

In [203]:
ps_t3.filter(F.col('loccountrycode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
_Add column_
 > - locstatecode (_c19)

In [204]:
nSplit_c11_n.nSplit_c18.unique()

array([ 1,  2, -1])

In [206]:
ps_t3 = ps_t3.withColumn('locstatecode',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==1), \
                                                F.col('_c19')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==2), \
                                                F.col('c18_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')))

In [207]:
ps_t3.select('locstatecode').distinct().count()

17

In [208]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t3.select('locstatecode').distinct().toPandas()[0:50]

   locstatecode
0            07
1            SC
2            AZ
3            29
4            01
5            A8
6            09
7            08
8            02
9            53
10           PA
11           NY
12           ON
13           TX
14           "N
15           13
16           50

In [209]:
ps_t3.filter(F.col('locstatecode').isNull()).toPandas()[['_c12','_c13','_c14','_c15','_c16','_c17']]

Empty DataFrame
Columns: [_c12, _c13, _c14, _c15, _c16, _c17]
Index: []

---
### 5.3.3 Format, rename columns and save Table3

In [210]:
# Turn first 50 rows to Pandas to have an overview about the table at hand
ps_t3.limit(50).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,c18_2,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,76561197980890406,Tensai-Baka,http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-01-30 09:28:37,1,"Tobi, (Twby, Kit, Keksi, KO-NE-KO-CHAN)",103582791429663584,...,None,"Tobi, (Twby, Kit, Keksi, KO-NE-KO-CHAN)",103582791429663584,2006-02-09 08:03:05,"""N","""N","""N","""N",DE,"""N"
1,76561197979195177,sixfeetunder,http://steamcommunity.com/profiles/76561197979...,0,3,1,2013-02-19 09:38:37,1,"Hruod Ruhm, Lant Land, Besitz bzw. Nand kÃ¼hn,...",103582791429726636,...,None,"Hruod Ruhm, Lant Land, Besitz bzw. Nand kÃ¼hn,...",103582791429726636,2005-11-14 13:33:26,"""N","""N","""N","""N",DE,01
2,76561197983953627,rIKKaNDRSN,http://steamcommunity.com/id/rikkandrsn/,1,3,1,2013-03-01 01:33:05,1,"Rick, Rich, Dick, Richard",103582791433531922,...,None,"Rick, Rich, Dick, Richard",103582791433531922,2006-07-28 22:01:56,"""N","""N","""N","""N",CA,ON
3,76561197968812523,Java,http://steamcommunity.com/profiles/76561197968...,0,3,1,2013-02-17 17:13:50,1,",,,,,,,,,,,,",103582791429638424,...,None,",,,,,,,,,,,,",103582791429638424,2004-09-06 17:41:22,"""N","""N","""N","""N",ES,53
4,76561197978986309,eXtreme PerformanÂ¢e GmbH,http://steamcommunity.com/profiles/76561197978...,1,3,1,2013-02-16 19:55:30,1,"Veni, vidi, vici ich kam, ich sah, ich siegte'",103582791431349569,...,"""2013-02-28 14:31:42""","Veni, vidi, vici ich kam, ich sah, ich siegte'",103582791431349569,2005-11-03 05:35:02,80,"""N","""Counter-Strike: Condition Zero""","""N","""DE""",07
5,76561197976870049,Lsd.K.....le net c'est chouette,http://steamcommunity.com/id/le_sadik/,0,3,1,2013-02-17 11:36:15,2,",,,",103582791430855102,...,"""2013-02-28 14:30:49""",",,,",103582791430855102,2005-07-08 13:38:02,"""N","""N","""N","""N",FR,A8
6,76561197960518379,KrumPZ,http://steamcommunity.com/profiles/76561197960...,0,3,1,2011-03-08 02:34:07,1,"Reborn,Cynical,Tumbo,Mero",103582791430065590,...,None,"Reborn,Cynical,Tumbo,Mero",103582791430065590,2003-09-13 11:41:47,"""N","""N","""N","""N","""N","""N"
7,76561197973640033,Doble Es,http://steamcommunity.com/id/empresario7/,0,3,1,2013-02-18 14:05:01,2,"A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,...,"""2013-02-28 14:29:31""","A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,2005-01-26 23:18:18,"""N","""N","""N","""N",FI,13
8,76561197969346811,Padde,http://steamcommunity.com/profiles/76561197969...,0,3,1,2013-02-17 14:41:21,2,".,!,,",103582791429604273,...,None,".,!,,",103582791429604273,2004-10-04 23:55:13,"""N","""N","""N","""N",SE,"""N"
9,76561197981996985,|1st| Salt,http://steamcommunity.com/id/ZE_Echelon/,0,3,1,2013-03-01 14:28:26,1,"--,,,--",103582791432807346,...,"""2013-03-11 12:29:00""","--,,,--",103582791432807346,2006-04-10 14:35:32,"""N","""N","""N","""N",DE,07
10,76561197984018498,Ru$$ Money,http://steamcommunity.com/id/arezee/,1,3,1,2013-03-02 00:06:10,1,"Russell, RZ, Gankin, I go by many aliases.",103582791432600117,...,None,"Russell, RZ, Gankin, I go by many aliases.",103582791432600117,2006-07-29 23:15:27,33930,"""N","""Arma 2: Operation Arrowhead""","""N","""US""",TX
11,76561197973601134,melon zagram,http://steamcommunity.com/profiles/76561197973...,0,3,1,2013-02-18 17:48:22,2,"Szymon ,,meloN,, Melnik aka wiecej sprzÄ™tu ni...",103582791433527852,...,"""2013-02-28 14:38:34""","Szymon ,,meloN,, Melnik aka wiecej sprzÄ™tu ni...",103582791433527852,2005-01-26 08:43:17,"""N","""N","""N","""N",PL,50
12,76561197978800615,$QÂ²,http://steamcommunity.com/id/SWqueen/,0,3,1,2013-03-04 09:02:13,1,"[~$W~]$poiledQueenÂ²,Z0mbie<handle>Â²,PandahÂ²...",103582791431942692,...,"""2013-03-06 19:53:40""","[~$W~]$poiledQueenÂ²,Z0mbie<handle>Â²,PandahÂ²...",103582791431942692,2005-10-23 22:26:24,"""N","""N","""N","""N",US,AZ
13,76561197965459157,[SP1]_à¹–ÛœÛ£Ä¤Ç¿Ä»Å·@LsD(â—Ìªâ€¢),http://steamcommunity.com/profiles/76561197965...,0,3,1,2010-07-05 17:06:32,1,"Ken ,,, Kenny",103582791430296699,...,None,"Ken ,,, Kenny",103582791430296699,2004-04-01 13:28:58,"""N","""N","""N","""N",DE,07
14,76561197983611912,Hachi-bee,http://steamcommunity.com/id/mayuge_inu/,0,3,1,2013-02-23 15:09:40,1,"ã¯ã¡ã³ãƒ¼,ã¯ã¡ã¹ã‡,OnigiliEngineer,çœ‰æ...",103582791429835494,...,None,"ã¯ã¡ã³ãƒ¼,ã¯ã¡ã¹ã‡,OnigiliEngineer,çœ‰æ...",103582791429835494,2006-07-07 23:14:01,"""N","""N","""N","""N",SO,02
15,76561197977654316,SÃºÂ¡Â¢Â¡ÃÎž,http://steamcommunity.com/id/thekid/,0,3,1,2013-02-20 03:03:53,2,"[Ð˜â‚£] Â§ÃºÂ¡Â¢Â¡ÃÎž, Ñ‚Ñ’Ñ”Â¦â€¹Â¡Ã, â‚£Ñ...",103582791429726651,...,"""2013-02-28 14:39:49""","[Ð˜â‚£] Â§ÃºÂ¡Â¢Â¡ÃÎž, Ñ‚Ñ’Ñ”Â¦â€¹Â¡Ã, â‚£Ñ...",103582791429726651,2005-08-20 08:00:47,"""N","""N","""N","""N",US,NY
16,76561197979593078,â˜¬Privateâ˜¢Left4Candyâ˜¬,http://steamcommunity.com/id/Zarzock/,0,3,1,2013-02-23 07:30:29,1,"Privateâ˜¢Left4Candy,,,,VAULT-TECì›ƒCANDY",103582791431949543,...,None,"Privateâ˜¢Left4Candy,,,,VAULT-TECì›ƒCANDY",103582791431949543,2005-12-06 13:25:42,"""N","""N","""N","""N","""N","""N"
17,76561197982434980,One : Kaoba,http://steamcommunity.com/id/nhodesign/,1,3,1,2013-02-28 16:19:26,1,"Kaoba, nhodesign, nhostyle, sabbat, Chabal, TÉ...",103582791432923893,...,None,"Kaoba, nhodesign, nhostyle, sabbat, Chabal, TÉ...",103582791432923893,2006-05-03 06:22:40,"""N","""N","""N","""N",ES,29
18,76561197984560754,Francis,http://steamcommunity.com/id/ihatestairs/,0,3,1,2013-03-01 23:15:18,1,"Natural Pyrotechnic, Teamkiller, Ass, and Hate...",103582791431245138,...,None,"Natural Pyrotechnic, Teamkiller, Ass, and Hate...",103582791431245138,2006-08-25 14:45:33,"""N","""N","""N","""N",US,"""N"
19,76561197975019087,Double Tap,http://steamcommunity.com/id/DT1911/,1,3,1,2013-02-13 20:49:41,1,"Double Tap 1911, Pendragon, Dire Nova, Marlon ...",103582791430898076,...,None,"Double Tap 1911, Pendragon, Dire Nova, Marlon ...",103582791430898076,2005-03-22 19:52:50,"""N","""N","""N","""N",US,TX
20,76561197979849977,' ;EROD; ',http://steamcommunity.com/profiles/76561197979...,0,3,1,2010-02-27 23:06:47,1,"My name is lik a melody,,,,,,,",103582791429522759,...,None,"My name is lik a melody,,,,,,,",103582791429522759,2005-12-22 20:42:45,"""N","""N","""N","""N",US,TX
21,76561197961618616,SunDragon,http://steamcommunity.com/id/PGFGB/,1,3,1,2013-02-16 08:54:10,1,"Adam Andersson, Nicknames : MiniFarkan, SunDra...",103582791433999511,...,"""N","Adam Andersson, Nicknames : MiniFarkan, SunDra...",103582791433999511,2003-09-30 10:19:49,4000,74.119.216.30:27015,Garry's Mod,"""N","""N","""N"
22,76561197982074393,YOLOLOFULLOFSWAGINYOURFACE,http://steamcommunity.com/id/Police_911/,0,3,1,2013-02-26 08:40:00,1,"VAC BAN CS:S, DoD:S,TF2, HL:DM",103582791430156107,...,None,"VAC BAN CS:S, DoD:S,TF2, HL:DM",103582791430156107,2006-04-14 19:05:36,"""N","""N","""N","""N",ID,08
23,76561197979069688,teilzeitjunk,http://steamcommunity.com/profiles/76561197979...,0,3,1,2012-08-15 03:02:57,1,"Mark, Tobias, Manuel, Dirk, aber meistens rede...",103582791431361404,...,"""2013-03-01 07:57:39""","Mark, Tobias, Manuel, Dirk, aber meistens rede...",103582791431361404,2005-11-06 05:04:48,"""N","""N","""N","""N",DE,09
24,76561197972314320,NÎ»ZÎ©,http://steamcommunity.com/id/gamedan/,0,3,1,2013-02-17 12:59:29,1,"Persy Freeman, John Freeman, Gorden Freeman, M...",103582791429535810,...,"""2013-02-28 14:38:18""","Persy Freeman, John Freeman, Gorden Freeman, M...",103582791429535810,2004-12-25 09:14:03,"""N","""N","""N","""N",US,SC
25,76561197960414866,Nineteen,http://steamcommunity.com/profiles/76561197960...,1,3,1,2013-02-15 14:19:49,1,"SFFA_HAN_CAL-O, 1927, learn2play, aim2pls",103582791429615039,...,None,"SFFA_HAN_CAL-O, 1927, learn2play, aim2pls",103582791429615039,2003-09-12 14:23:59,"""N","""N","""N","""N",US,PA

In [211]:
ps_t3.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c17_1: string (nullable = true)
 |-- c17_2: string (nullable = true)
 |-- c18_1: string (nullable = true)
 |-- c18_2: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [212]:
# Drop unnecssary columns
ps_t3 = ps_t3.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c14_1','c14_2','c15_1','c15_2','c16_1','c16_2',\
                    'c17_1','c17_2','c18_1','c18_2','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19')

In [214]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t3 = rename_col(ps_t3, newColumns)

In [215]:
ps_t3.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [216]:
# Replace " symbols in data
col_list = ['comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t3 = ps_t3.withColumn(i,regexp_replace(i, '"', ""))

In [217]:
ps_t3.limit(50).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197980890406,Tensai-Baka,http://steamcommunity.com/profiles/76561197980...,0,3,1,2013-01-30 09:28:37,1,"Tobi, (Twby, Kit, Keksi, KO-NE-KO-CHAN)",103582791429663584,2006-02-09 08:03:05,N,N,N,N,DE,N
1,76561197979195177,sixfeetunder,http://steamcommunity.com/profiles/76561197979...,0,3,1,2013-02-19 09:38:37,1,"Hruod Ruhm, Lant Land, Besitz bzw. Nand kÃ¼hn,...",103582791429726636,2005-11-14 13:33:26,N,N,N,N,DE,01
2,76561197983953627,rIKKaNDRSN,http://steamcommunity.com/id/rikkandrsn/,1,3,1,2013-03-01 01:33:05,1,"Rick, Rich, Dick, Richard",103582791433531922,2006-07-28 22:01:56,N,N,N,N,CA,ON
3,76561197968812523,Java,http://steamcommunity.com/profiles/76561197968...,0,3,1,2013-02-17 17:13:50,1,",,,,,,,,,,,,",103582791429638424,2004-09-06 17:41:22,N,N,N,N,ES,53
4,76561197978986309,eXtreme PerformanÂ¢e GmbH,http://steamcommunity.com/profiles/76561197978...,1,3,1,2013-02-16 19:55:30,1,"Veni, vidi, vici ich kam, ich sah, ich siegte'",103582791431349569,2005-11-03 05:35:02,80,N,Counter-Strike: Condition Zero,N,DE,07
5,76561197976870049,Lsd.K.....le net c'est chouette,http://steamcommunity.com/id/le_sadik/,0,3,1,2013-02-17 11:36:15,2,",,,",103582791430855102,2005-07-08 13:38:02,N,N,N,N,FR,A8
6,76561197973640033,Doble Es,http://steamcommunity.com/id/empresario7/,0,3,1,2013-02-18 14:05:01,2,"A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,2005-01-26 23:18:18,N,N,N,N,FI,13
7,76561197960518379,KrumPZ,http://steamcommunity.com/profiles/76561197960...,0,3,1,2011-03-08 02:34:07,1,"Reborn,Cynical,Tumbo,Mero",103582791430065590,2003-09-13 11:41:47,N,N,N,N,N,N
8,76561197969346811,Padde,http://steamcommunity.com/profiles/76561197969...,0,3,1,2013-02-17 14:41:21,2,".,!,,",103582791429604273,2004-10-04 23:55:13,N,N,N,N,SE,N
9,76561197981996985,|1st| Salt,http://steamcommunity.com/id/ZE_Echelon/,0,3,1,2013-03-01 14:28:26,1,"--,,,--",103582791432807346,2006-04-10 14:35:32,N,N,N,N,DE,07
10,76561197984018498,Ru$$ Money,http://steamcommunity.com/id/arezee/,1,3,1,2013-03-02 00:06:10,1,"Russell, RZ, Gankin, I go by many aliases.",103582791432600117,2006-07-29 23:15:27,33930,N,Arma 2: Operation Arrowhead,N,US,TX
11,76561197973601134,melon zagram,http://steamcommunity.com/profiles/76561197973...,0,3,1,2013-02-18 17:48:22,2,"Szymon ,,meloN,, Melnik aka wiecej sprzÄ™tu ni...",103582791433527852,2005-01-26 08:43:17,N,N,N,N,PL,50
12,76561197978800615,$QÂ²,http://steamcommunity.com/id/SWqueen/,0,3,1,2013-03-04 09:02:13,1,"[~$W~]$poiledQueenÂ²,Z0mbie<handle>Â²,PandahÂ²...",103582791431942692,2005-10-23 22:26:24,N,N,N,N,US,AZ
13,76561197965459157,[SP1]_à¹–ÛœÛ£Ä¤Ç¿Ä»Å·@LsD(â—Ìªâ€¢),http://steamcommunity.com/profiles/76561197965...,0,3,1,2010-07-05 17:06:32,1,"Ken ,,, Kenny",103582791430296699,2004-04-01 13:28:58,N,N,N,N,DE,07
14,76561197983611912,Hachi-bee,http://steamcommunity.com/id/mayuge_inu/,0,3,1,2013-02-23 15:09:40,1,"ã¯ã¡ã³ãƒ¼,ã¯ã¡ã¹ã‡,OnigiliEngineer,çœ‰æ...",103582791429835494,2006-07-07 23:14:01,N,N,N,N,SO,02
15,76561197977654316,SÃºÂ¡Â¢Â¡ÃÎž,http://steamcommunity.com/id/thekid/,0,3,1,2013-02-20 03:03:53,2,"[Ð˜â‚£] Â§ÃºÂ¡Â¢Â¡ÃÎž, Ñ‚Ñ’Ñ”Â¦â€¹Â¡Ã, â‚£Ñ...",103582791429726651,2005-08-20 08:00:47,N,N,N,N,US,NY
16,76561197979593078,â˜¬Privateâ˜¢Left4Candyâ˜¬,http://steamcommunity.com/id/Zarzock/,0,3,1,2013-02-23 07:30:29,1,"Privateâ˜¢Left4Candy,,,,VAULT-TECì›ƒCANDY",103582791431949543,2005-12-06 13:25:42,N,N,N,N,N,N
17,76561197982434980,One : Kaoba,http://steamcommunity.com/id/nhodesign/,1,3,1,2013-02-28 16:19:26,1,"Kaoba, nhodesign, nhostyle, sabbat, Chabal, TÉ...",103582791432923893,2006-05-03 06:22:40,N,N,N,N,ES,29
18,76561197984560754,Francis,http://steamcommunity.com/id/ihatestairs/,0,3,1,2013-03-01 23:15:18,1,"Natural Pyrotechnic, Teamkiller, Ass, and Hate...",103582791431245138,2006-08-25 14:45:33,N,N,N,N,US,N
19,76561197975019087,Double Tap,http://steamcommunity.com/id/DT1911/,1,3,1,2013-02-13 20:49:41,1,"Double Tap 1911, Pendragon, Dire Nova, Marlon ...",103582791430898076,2005-03-22 19:52:50,N,N,N,N,US,TX
20,76561197979849977,' ;EROD; ',http://steamcommunity.com/profiles/76561197979...,0,3,1,2010-02-27 23:06:47,1,"My name is lik a melody,,,,,,,",103582791429522759,2005-12-22 20:42:45,N,N,N,N,US,TX
21,76561197961618616,SunDragon,http://steamcommunity.com/id/PGFGB/,1,3,1,2013-02-16 08:54:10,1,"Adam Andersson, Nicknames : MiniFarkan, SunDra...",103582791433999511,2003-09-30 10:19:49,4000,74.119.216.30:27015,Garry's Mod,N,N,N
22,76561197982074393,YOLOLOFULLOFSWAGINYOURFACE,http://steamcommunity.com/id/Police_911/,0,3,1,2013-02-26 08:40:00,1,"VAC BAN CS:S, DoD:S,TF2, HL:DM",103582791430156107,2006-04-14 19:05:36,N,N,N,N,ID,08
23,76561197979069688,teilzeitjunk,http://steamcommunity.com/profiles/76561197979...,0,3,1,2012-08-15 03:02:57,1,"Mark, Tobias, Manuel, Dirk, aber meistens rede...",103582791431361404,2005-11-06 05:04:48,N,N,N,N,DE,09
24,76561197972314320,NÎ»ZÎ©,http://steamcommunity.com/id/gamedan/,0,3,1,2013-02-17 12:59:29,1,"Persy Freeman, John Freeman, Gorden Freeman, M...",103582791429535810,2004-12-25 09:14:03,N,N,N,N,US,SC
25,76561197960414866,Nineteen,http://steamcommunity.com/profiles/76561197960...,1,3,1,2013-02-15 14:19:49,1,"SFFA_HAN_CAL-O, 1927, learn2play, aim2pls",103582791429615039,2003-09-12 14:23:59,N,N,N,N,US,PA

In [218]:
# Save TABLE 3
ps_t3.write.csv('/user/tamng/jwht/CleanData/ps_t3.csv', header = True)

---
## <font color = 'black'> 5.4 Table 4: nSplit_c11 == 2 & nSplit_c10 == 1 </font>

### 5.4.1 Filter data and check number of Split

In [19]:
ps_t4 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 2) & (player_summaries_drop.nSplit_c10 == 1))
ps_t4.count()

121673

In [221]:
nSplit_c11_2_c10_1 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 2) & (player_summaries_drop.nSplit_c10 == 1)).toPandas()
nSplit_c11_2_c10_1.head(50)

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197976084252,PedoBear ^_^,http://steamcommunity.com/profiles/76561197976...,0,1,1,2012-12-15 13:12:03,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
1,76561197976148316,PEDAL' v POL!,http://steamcommunity.com/profiles/76561197976...,0,1,1,2011-05-02 01:46:41,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
2,76561197976152449,mieserTrollchummer,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-17 11:19:56,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
3,76561197976200426,AVROR,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-04 03:15:52,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
4,76561197976202587,Xong,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-14 16:47:22,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
5,76561197976293451,Schnapsi - Schatz,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-07 10:28:30,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
6,76561197976340921,United Satans of Arbitrary Inc.,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-03-06 17:43:15,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
7,76561197976364502,shrapnel,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-01-14 22:33:09,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
8,76561197976378009,furioN~,http://steamcommunity.com/profiles/76561197976...,0,1,1,2012-12-29 05:00:17,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
9,76561197976402125,Mr.slendy,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-16 18:28:15,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
10,76561197976461797,r1sk.dll,http://steamcommunity.com/id/r1sk/,0,1,1,2013-01-31 00:47:15,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
11,76561197976576700,blaster,http://steamcommunity.com/id/T06/,0,1,1,2013-02-19 13:01:49,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
12,76561197976596474,Instinct_Basic [cpl],http://steamcommunity.com/profiles/76561197976...,0,1,1,2012-09-02 18:45:45,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
13,76561197976627688,Gepeto,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-18 17:34:44,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
14,76561197976660930,5c0mentZ,http://steamcommunity.com/id/razone/,0,1,1,2013-02-03 10:55:36,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
15,76561197976764101,Yadrin,http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-14 21:01:59,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
16,76561197976771912,*****,http://steamcommunity.com/id/UncleGazpacho/,0,1,1,2013-01-20 14:21:20,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
17,76561197968121960,"""[Long Shanks] /"",""http://steamcommunity.com/...",http://media.steampowered.com/steamcommunity/p...,3,"""N,""2007-06-19 19:57:00""","""N,""N",103582791429521408,2004-08-11 13:31:08,"""N,""N","""N,""N",...,1,2,2,2,2,-1,-1,-1,-1,-1
18,76561197968127028,kor,http://steamcommunity.com/profiles/76561197968...,0,1,1,2012-08-18 06:53:40,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
19,76561197968191488,=(e)=â„¢ -Major Lost-,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-08 22:38:04,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
20,76561197968193701,.:â€ Ð¯Ã˜Ä¿Ä»:.ÄŒÃ–ÄŠá»šÄÅ”Ä®Ä½Î˜,http://steamcommunity.com/profiles/76561197968...,0,1,1,2012-12-28 15:02:16,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
21,76561197968248569,S o J u*,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 05:29:36,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
22,76561197968256593,tAloR~,http://steamcommunity.com/profiles/76561197968...,0,1,1,2010-01-07 15:18:44,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
23,76561197968271069,R~,http://steamcommunity.com/profiles/76561197968...,0,1,1,2012-12-17 02:28:33,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
24,76561197968366086,ahahah!!!!tro comik!!!!,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-01-26 13:03:53,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
25,76561197968370694,Jerome,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-01-19 11:22:38,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
26,76561197968371510,Kobra NUCA KIR .DE SERVER?,http://steamcommunity.com/profiles/76561197968...,0,1,1,2012-06-28 02:08:42,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
27,76561197968385432,HulluDille,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 11:55:46,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
28,76561197968405123,Cleaveland,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-01-31 09:42:21,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
29,76561197968472329,kocou`_c_kocou`,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 07:30:11,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
30,76561197968492524,enzO,http://steamcommunity.com/profiles/76561197968...,0,1,1,2012-01-21 22:09:32,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
31,76561197968514410,kyra,http://steamcommunity.com/id/kli366/,0,1,1,2012-09-20 12:31:16,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
32,76561197968536504,Mogry,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 12:00:05,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
33,76561197968547541,Kambing,http://steamcommunity.com/id/kambing/,0,1,1,2013-02-15 03:41:02,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
34,76561197968550141,.â€¢kOJlÑŽ4Ð¸Ð™ Ð)!(â€¢.,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-03-06 14:39:51,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
35,76561197968583411,bohr,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-10 18:27:35,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
36,76561197968646885,akl71,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-04 01:26:04,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
37,76561197968702683,BUba,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 16:36:39,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
38,76561197968729265,Sigthemark,http://steamcommunity.com/id/ngbreadtruck/,0,1,1,2012-12-02 17:12:57,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
39,76561197974769167,}//endif,http://steamcommunity.com/profiles/76561197974...,0,1,1,2013-02-17 22:08:19,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
40,76561197974784229,Bull Simple,http://steamcommunity.com/id/bullsimple/,0,1,1,2010-11-30 12:44:24,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
41,76561197974789360,[A]NoName,http://steamcommunity.com/profiles/76561197974...,0,1,1,2013-02-08 11:06:21,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
42,76561197974844996,Cyberbitch,http://steamcommunity.com/profiles/76561197974...,0,1,1,2013-01-08 17:05:58,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
43,76561197975015408,xetoN,http://steamcommunity.com/id/xetoN/,0,1,1,2013-02-17 06:11:56,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
44,76561197975060323,MASiNA,http://steamcommunity.com/id/MASiNA1337/,0,1,1,2013-01-29 23:00:49,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
45,76561197975169524,my-XoG | Don Camillo,http://steamcommunity.com/profiles/76561197975...,0,1,1,2013-02-18 15:02:23,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
46,76561197975243452,Blue Gummy,http://steamcommunity.com/profiles/76561197975...,0,1,1,2013-02-18 20:56:44,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
47,76561197975251382,REV-ONE EL AUTENTICO,http://steamcommunity.com/id/fhgdfh/,0,1,1,2012-11-30 16:16:28,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
48,76561197975255551,[FURP]The Blind Dragoneer,http://steamcommunity.com/profiles/76561197975...,0,1,1,2013-01-30 00:03:49,1,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1
49,76561197975347192,MichaÅ‚ Andrzej SZAÅ PAÅ!!!,http://steamcommunity.com/id/n6/,0,1,1,2013-02-18 13:34:50,2,"""N,""N","""N,""N",...,1,2,2,2,2,2,1,-1,-1,-1

In [224]:
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_2_c10_1[i].unique())

pd.DataFrame(zip(check_list,unique_col))

             0           1
0    nSplit_c7      [1, 2]
1    nSplit_c8      [1, 2]
2    nSplit_c9      [1, 2]
3   nSplit_c10         [1]
4   nSplit_c11         [2]
5   nSplit_c12      [2, 1]
6   nSplit_c13      [2, 1]
7   nSplit_c14      [2, 1]
8   nSplit_c15  [2, -1, 1]
9   nSplit_c16  [1, -1, 2]
10  nSplit_c17  [-1, 2, 1]
11  nSplit_c18  [-1, 1, 2]
12  nSplit_c19     [-1, 1]

---
### 4 scenarios:
- _c9 contains `date`: 121175
- _c9 contains `primaryclanid` (start with 103...): 391
- _c9 contains `N` ('"N,N'): 57 
- _c9 contains value (1): 50

In [230]:
ps_t4.limit(50).toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','nSplit_c12','_c13','nSplit_c13','_c14','nSplit_c14','_c15','nSplit_c15','_c16','_c17','_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,nSplit_c12,_c13,nSplit_c13,_c14,nSplit_c14,_c15,nSplit_c15,_c16,_c17,_c18,_c19
0,1,1,2013-03-06 00:37:20,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 14:00:47,None,None,None
1,1,1,2013-02-17 15:41:52,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:09,None,None,None
2,1,1,2013-02-15 13:20:00,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 17:49:10,None,None,None
3,1,1,2013-02-17 16:45:06,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:26:25,None,None,None
4,1,1,2009-04-27 09:44:39,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:26:26,None,None,None
5,1,1,2012-12-22 05:37:40,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 17:58:01,None,None,None
6,1,1,2013-02-16 23:07:24,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:13,None,None,None
7,1,1,2013-02-15 16:47:37,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:13,None,None,None
8,1,1,2013-02-16 03:31:03,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:26:32,None,None,None
9,1,1,2012-11-20 12:18:34,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:13,None,None,None
10,1,1,2013-02-17 06:10:48,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:14,None,None,None
11,1,1,2012-07-24 07:03:39,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:14,None,None,None
12,1,1,2013-03-05 22:13:34,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 14:04:40,None,None,None
13,1,1,2013-02-18 18:15:04,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:31:53,None,None,None
14,1,1,2013-03-01 10:52:12,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-01 11:03:56,None,None,None
15,"""N,""2006-11-02 12:52:19""","""N,""N",103582791429521408,2006-01-02 12:44:31,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""2013-02-28 14:31:54""",2,None,-1,None,None,None,None
16,1,1,2012-05-17 08:57:54,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:31:54,None,None,None
17,1,1,2013-02-10 03:16:29,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 20:21:59,None,None,None
18,1,1,2013-01-30 13:11:33,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:31:56,None,None,None
19,1,1,2013-02-16 12:17:03,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:31:56,None,None,None
20,1,1,2012-09-29 11:19:48,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:32:15,None,None,None
21,1,1,2013-01-22 14:39:25,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-01 11:49:16,None,None,None
22,"""N,""2012-11-30 11:18:48""","""N,""N",103582791429521408,2006-01-12 18:47:06,"""N,""N","""N,""N",2,US,1,MI,1,2008,1,2013-03-01 11:49:51,None,None,None
23,1,1,2013-02-11 06:15:54,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:32:16,None,None,None
24,1,1,2013-02-15 11:04:09,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:05,None,None,None
25,1,1,2013-01-08 19:21:26,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:05,None,None,None
26,1,1,2013-02-15 03:31:37,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:02,None,None,None
27,1,1,2013-02-15 08:49:17,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:06,None,None,None
28,1,1,2012-09-25 00:48:34,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:06,None,None,None
29,1,1,2011-07-25 12:22:05,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:06,None,None,None
30,1,1,2012-09-20 11:44:10,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:04,None,None,None
31,1,1,2013-02-15 10:43:40,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:04,None,None,None
32,1,1,2013-02-12 18:40:51,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:04,None,None,None
33,1,1,2013-02-13 13:52:39,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:06,None,None,None
34,1,1,2013-02-14 11:07:46,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:04,None,None,None
35,1,1,2012-07-30 06:19:01,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:04,None,None,None
36,1,1,2013-02-10 10:50:51,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:06,None,None,None
37,1,1,2012-11-16 15:10:10,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:07,None,None,None
38,1,1,2013-02-13 14:26:12,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:07,None,None,None
39,1,1,2011-12-10 16:25:56,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:07,None,None,None
40,1,1,2012-09-09 05:28:42,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:08,None,None,None
41,1,1,2011-06-10 08:53:04,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:09,None,None,None
42,1,1,2013-02-14 19:02:06,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:08,None,None,None
43,1,1,2011-12-10 22:23:18,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:08,None,None,None
44,1,1,2013-01-24 14:58:32,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:09,None,None,None
45,1,1,2013-02-15 06:51:06,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:09,None,None,None
46,1,1,2010-07-31 02:12:29,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:08,None,None,None
47,1,1,2013-02-14 03:14:32,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:08,None,None,None
48,1,1,2010-10-27 18:31:24,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 16:20:05,None,None,None
49,1,1,2013-02-10 09:31:09,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:13,None,None,None

---
### Table 4_1: _c9 contains date

### 5.4.1a Filter data and check number of Split

In [270]:
ps_t4_1 = ps_t4.filter(F.col('_c9').contains('20'))
ps_t4_1.count()

121175

In [233]:
nSplit_c11_2_c10_1_c9_d = ps_t4_1.toPandas()

In [234]:
# Check number of unique value in split column
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_2_c10_1_c9_d[i].nunique())

print(pd.DataFrame(zip(check_list,unique_col)))

             0  1
0    nSplit_c7  1
1    nSplit_c8  1
2    nSplit_c9  1
3   nSplit_c10  1
4   nSplit_c11  1
5   nSplit_c12  2
6   nSplit_c13  2
7   nSplit_c14  2
8   nSplit_c15  2
9   nSplit_c16  2
10  nSplit_c17  3
11  nSplit_c18  3
12  nSplit_c19  2

In [235]:
# Check number of unique value in split column
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_2_c10_1_c9_d[i].unique())

print(pd.DataFrame(zip(check_list,unique_col)))

             0           1
0    nSplit_c7         [1]
1    nSplit_c8         [1]
2    nSplit_c9         [1]
3   nSplit_c10         [1]
4   nSplit_c11         [2]
5   nSplit_c12      [2, 1]
6   nSplit_c13      [2, 1]
7   nSplit_c14      [2, 1]
8   nSplit_c15      [2, 1]
9   nSplit_c16      [1, 2]
10  nSplit_c17  [-1, 2, 1]
11  nSplit_c18  [-1, 1, 2]
12  nSplit_c19     [-1, 1]

In [241]:
ps_t4_1.limit(100).toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','nSplit_c12','_c13','nSplit_c13','_c14','nSplit_c14','_c15','nSplit_c15','_c16','_c17','_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,nSplit_c12,_c13,nSplit_c13,_c14,nSplit_c14,_c15,nSplit_c15,_c16,_c17,_c18,_c19
0,1,1,2013-03-03 10:20:23,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 16:33:47,None,None,None
1,1,1,2011-11-01 13:44:07,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-03-06 12:37:03,None,None,None
2,1,1,2010-03-20 19:14:17,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:17,None,None,None
3,1,1,2011-04-10 05:35:22,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:19:33,None,None,None
4,1,1,2013-02-10 04:22:25,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:34:17,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,1,2013-02-17 15:08:14,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:27:07,None,None,None
96,1,1,2012-06-19 14:27:55,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:27:08,None,None,None
97,1,1,2013-02-17 15:38:24,1,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:32,None,None,None
98,1,1,2011-04-10 03:23:18,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:27:09,None,None,None
99,1,1,2013-02-17 17:34:01,2,"""N,""N","""N,""N",2,"""N,""N",2,"""N,""N",2,"""N,""N",2,2013-02-28 14:37:33,None,None,None

In [258]:
nSplit_c11_2_c10_1_c9_d.nSplit_c11.unique()

array([2])

In [263]:
ps_t4_1.filter(F.col('_c11').contains('"N,')).toPandas()[['_c11','_c12','_c13','_c14','_c15','_c16','_c17']]

         _c11   _c12   _c13   _c14   _c15                 _c16  _c17
0       "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-03-11 12:30:24  None
1       "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-03-02 01:21:43  None
2       "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-03-11 12:30:25  None
3       "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-03-02 01:22:05  None
4       "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-03-11 12:30:25  None
...       ...    ...    ...    ...    ...                  ...   ...
120865  "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-02-28 14:37:38  None
120866  "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-02-28 14:27:25  None
120867  "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-02-28 14:27:25  None
120868  "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-02-28 14:27:26  None
120869  "N,"N  "N,"N  "N,"N  "N,"N  "N,"N  2013-02-28 14:27:26  None

[120870 rows x 7 columns]

In [271]:
ps_t4_1_1 = ps_t4_1.filter(F.col('_c11').contains('"N,'))

In [272]:
nSplit_c11_n = ps_t4_1.filter(F.col('_c11').contains('"N,')).toPandas()

In [ ]:
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_n[i].unique())

pd.DataFrame(zip(check_list,unique_col))

In [274]:
# Set new columns need to split for this data

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']


# Apply split function
ps_t4_1_1 = split_2_column(ps_t4_1_1, col_c11, newcols_c11)
ps_t4_1_1 = split_2_column(ps_t4_1_1, col_c12, newcols_c12)
ps_t4_1_1 = split_2_column(ps_t4_1_1, col_c13, newcols_c13)
ps_t4_1_1 = split_2_column(ps_t4_1_1, col_c14, newcols_c14)
ps_t4_1_1 = split_2_column(ps_t4_1_1, col_c15, newcols_c15)

---
### 5.4.2a Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [276]:
ps_t4_1_1 = ps_t4_1_1.withColumn('realname',F.col('c11_1'))
ps_t4_1_1 = ps_t4_1_1.withColumn('primaryclanid', F.col('c11_2'))
ps_t4_1_1 = ps_t4_1_1.withColumn('timecreated', F.col('c12_1'))
ps_t4_1_1 = ps_t4_1_1.withColumn('gameid', F.col('c12_2'))
ps_t4_1_1 = ps_t4_1_1.withColumn('gameserverip', F.col('c13_1'))
ps_t4_1_1 = ps_t4_1_1.withColumn('gameextrainfo', F.col('c13_2'))
ps_t4_1_1 = ps_t4_1_1.withColumn('cityid', F.col('c14_1'))
ps_t4_1_1 = ps_t4_1_1.withColumn('loccountrycode', F.col('c14_2'))
ps_t4_1_1 = ps_t4_1_1.withColumn('locstatecode', F.col('c15_1'))

In [277]:
check_missing(ps_t4_1_1.select('realname','primaryclanid','timecreated','gameid',\
                               'gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode'))

+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|realname|primaryclanid|timecreated|gameid|gameserverip|gameextrainfo|cityid|loccountrycode|locstatecode|
+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|       0|            0|          0|     0|           0|            0|     0|             0|           0|
+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+

---
### 5.4.3a Format, rename columns and save Table

In [278]:
ps_t4_1_1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [279]:
# Drop unnecssary columns
ps_t4_1_1 = ps_t4_1_1.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c12_1','c12_2','c13_1','c13_2',\
                    'c14_1','c14_2','c15_1','c15_2','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19')

In [283]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t4_1_1 = rename_col(ps_t4_1_1, newColumns)

In [284]:
ps_t4_1_1.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [285]:
# Replace " symbols in data
col_list = ['comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t4_1_1 = ps_t4_1_1.withColumn(i,regexp_replace(i, '"', ""))

In [286]:
ps_t4_1_1.limit(20).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197963341583,piteR,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-02-16 17:36:08,1,N,N,N,N,N,N,N,N,N
1,76561197963392875,thePyun,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-02-12 22:00:59,2,N,N,N,N,N,N,N,N,N
2,76561197963403209,Rocket,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-02-15 19:46:20,2,N,N,N,N,N,N,N,N,N
3,76561197963404757,King_McGEEzzy,http://steamcommunity.com/id/King_McGEEzzy/,0,1,1,2013-02-16 18:04:23,2,N,N,N,N,N,N,N,N,N
4,76561197963413078,iniesta,http://steamcommunity.com/profiles/76561197963...,0,1,1,2011-02-06 13:37:39,2,N,N,N,N,N,N,N,N,N
5,76561197963459764,WayneLyon,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-01-12 08:20:35,2,N,N,N,N,N,N,N,N,N
6,76561197963552074,afan,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-02-04 20:06:14,2,N,N,N,N,N,N,N,N,N
7,76561197963702074,Acceso,http://steamcommunity.com/profiles/76561197963...,0,1,1,2013-02-16 15:18:13,2,N,N,N,N,N,N,N,N,N
8,76561197984369705,cupcake:),http://steamcommunity.com/id/ladynotorious/,0,1,1,2013-01-13 21:59:52,1,N,N,N,N,N,N,N,N,N
9,76561197984414574,Poopâ„¢â˜‚,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-03-01 16:20:22,2,N,N,N,N,N,N,N,N,N
10,76561197984414925,Ultra Killa,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-24 14:51:58,2,N,N,N,N,N,N,N,N,N
11,76561197984417354,maybE â™¥ :Ãž ^ yayy,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-24 11:24:27,2,N,N,N,N,N,N,N,N,N
12,76561197984428113,Deckard,http://steamcommunity.com/id/1682848962/,0,1,1,2013-03-01 03:05:42,2,N,N,N,N,N,N,N,N,N
13,76561197984497387,gundamwing01323,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-24 21:25:30,1,N,N,N,N,N,N,N,N,N
14,76561197984592789,RABAGH,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-03-01 18:57:19,2,N,N,N,N,N,N,N,N,N
15,76561197984613718,Hollywood,http://steamcommunity.com/profiles/76561197984...,0,1,1,2011-05-23 11:12:30,2,N,N,N,N,N,N,N,N,N
16,76561197984638934,Martin,http://steamcommunity.com/profiles/76561197984...,0,1,1,2010-11-06 11:34:50,2,N,N,N,N,N,N,N,N,N
17,76561197984654708,Munich,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-25 17:01:00,2,N,N,N,N,N,N,N,N,N
18,76561197984679949,Hn3x`#,http://steamcommunity.com/id/Hnex/,0,1,1,2013-03-01 12:11:17,1,N,N,N,N,N,N,N,N,N
19,76561197984716808,ï±Ÿï±¢ï±¢ GreiFï±¢ï±Ÿï±¢,http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-12 08:25:25,2,N,N,N,N,N,N,N,N,N

In [287]:
# Save TABLE 4_1_1
ps_t4_1_1.write.csv('/user/tamng/jwht/CleanData/ps_t4_1_1.csv', header = True)

___
### Table 4_1_2: F.col('_c11').contains('"N,')

### 5.4.1b Filter data and check number of Split

In [322]:
ps_t4_1_2 = ps_t4_1.filter(~F.col('_c11').contains('"N,'))
ps_t4_1_2.count()

305

In [289]:
nSplit_c11_v = ps_t4_1_2.toPandas()

In [323]:
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_v[i].unique())

pd.DataFrame(zip(check_list,unique_col))

             0           1
0    nSplit_c7         [1]
1    nSplit_c8         [1]
2    nSplit_c9         [1]
3   nSplit_c10         [1]
4   nSplit_c11         [2]
5   nSplit_c12         [1]
6   nSplit_c13         [1]
7   nSplit_c14      [2, 1]
8   nSplit_c15      [2, 1]
9   nSplit_c16      [1, 2]
10  nSplit_c17      [2, 1]
11  nSplit_c18  [1, -1, 2]
12  nSplit_c19     [-1, 1]

In [ ]:
# Set new columns need to split for this data

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2']

col_c17 = ['_c17']
newcols_c17 = ['c17_1', 'c17_2']

col_c18 = ['_c18']
newcols_c18 = ['c18_1', 'c18_2']


# Apply split function
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c11, newcols_c11)
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c14, newcols_c14)
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c15, newcols_c15)
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c16, newcols_c16)
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c17, newcols_c17)
ps_t4_1_2 = split_2_column(ps_t4_1_2, col_c18, newcols_c18)

In [292]:
ps_t4_1_2.toPandas()[['_c11','_c12','_c13','_c14','_c15','_c16','_c17']]

,_c11,_c12,_c13,_c14,_c15,_c16,_c17
0,"Don't get ripped, by the riptide",103582791431889810,2005-08-02 09:32:59,"""N,""N","""N,""N",GB,"""N,""N"
1,"Santus Dee Lupinus, Esq.",103582791432212622,2005-12-03 13:52:37,440,208.78.165.61:27019,Team Fortress 2,"""N,""US"""
2,"nick graber, tenyson graber",103582791429562546,2006-08-24 23:11:09,"""N,""N","""N,""N",US,OH
3,"J. James Huffington, Esq.",103582791429521408,2003-11-10 09:00:21,"""N,""N","""N,""N",SH,01
4,"Sorry Steam, but that shit's private.",103582791429776287,2005-09-17 15:55:42,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 05:34:16"""
...,...,...,...,...,...,...,...
300,"Josh, 19",103582791431053192,2006-07-14 08:19:46,"""N,""N","""N,""N",AU,QLD
301,"Brandon, My last name is of no consequence to ...",103582791433430435,2003-11-24 13:49:30,"""N,""N","""N,""N",US,CA
302,"Jakub, PiÅ‚a",103582791430678167,2004-01-09 12:12:39,"""N,""N","""N,""N",PL,86
303,"^(o,O)^",103582791430038775,2006-08-19 02:35:55,"""N,""N","""N,""N",SV,10
304,"Kyle, 21",103582791432266163,2004-01-04 14:34:28,440,50.88.38.3:27015,Team Fortress 2,"""N,""US"""

---
### 5.4.2b Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns:_
 > - realname
 > - primaryclanid
 > - timecreated

In [326]:
ps_t4_1_2 = ps_t4_1_2.withColumn('realname',F.col('_c11'))
ps_t4_1_2 = ps_t4_1_2.withColumn('primaryclanid', F.col('_c12'))
ps_t4_1_2 = ps_t4_1_2.withColumn('timecreated', F.col('_c13'))

In [327]:
check_missing(ps_t4_1_2.select('realname','primaryclanid','timecreated'))

+--------+-------------+-----------+
|realname|primaryclanid|timecreated|
+--------+-------------+-----------+
|       0|            0|          0|
+--------+-------------+-----------+

---
_Add column_
 > - gameid (_c14)

In [328]:
nSplit_c11_v.nSplit_c14.unique()

array([2, 1])

In [329]:
ps_t4_1_2 = ps_t4_1_2.withColumn('gameid', F.col('c14_1'))

In [330]:
ps_t4_1_2.select('gameid').distinct().count()

14

In [331]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('gameid').distinct().toPandas()[0:50]

      gameid
0      33220
1       8500
2        570
3        440
4   16777286
5      33930
6      48700
7       4000
8     208480
9   33554432
10    225320
11       240
12    218230
13        "N

In [332]:
check_missing(ps_t4_1_2.select('gameid'))

+------+
|gameid|
+------+
|     0|
+------+

---
_Add column_
 > - gameserverip (_c15)

In [333]:
nSplit_c11_v.nSplit_c15.unique()

array([2, 1])

In [337]:
ps_t4_1_2 = ps_t4_1_2.withColumn('gameserverip',F.when((F.col('nSplit_c14')==1), \
                                                F.col('c15_1')).when((F.col('nSplit_c14')==2), \
                                                F.col('c14_2')))

In [338]:
ps_t4_1_2.select('gameserverip').distinct().count()

6

In [339]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('gameserverip').distinct().toPandas()[0:50]

          gameserverip
0  208.78.165.61:27019
1  68.232.176.48:27015
2     50.88.38.3:27015
3  146.66.156.67:27051
4  83.170.71.174:27015
5                   "N

In [345]:
check_missing(ps_t4_1_2.select('gameserverip'))

+------------+
|gameserverip|
+------------+
|           0|
+------------+

---
_Add column_
 >- gameextrainfo (_c16)

In [341]:
nSplit_c11_v.nSplit_c16.unique()

array([1, 2])

In [343]:
ps_t4_1_2 = ps_t4_1_2.withColumn('gameextrainfo',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('nSplit_c14')==2), \
                                                F.col('c15_1')))

In [344]:
ps_t4_1_2.select('gameextrainfo').distinct().count()

14

In [346]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('gameextrainfo').distinct().toPandas()[0:50]

                                  gameextrainfo
0                                        Dota 2
1                         "Eve Online: Inferno"
2                             Natural Selection
3                 "Arma 2: Operation Arrowhead"
4                      "Mount & Blade: Warband"
5   "Tomb Raider III: Adventures of Lara Croft"
6      "Tom Clancy's Splinter Cell: Conviction"
7                                "PlanetSide 2"
8                           "League of Legends"
9                        Counter-Strike: Source
10                   "Assassinâ€™s CreedÂ® III"
11                                           "N
12                                "Garry's Mod"
13                              Team Fortress 2

In [347]:
check_missing(ps_t4_1_2.select('gameextrainfo'))

+-------------+
|gameextrainfo|
+-------------+
|            0|
+-------------+

---
_Add column_
 > - cityid (_c17)

In [349]:
nSplit_c11_v.nSplit_c17.unique()

array([2, 1])

In [350]:
ps_t4_1_2 = ps_t4_1_2.withColumn('cityid',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c15_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), \
                                                F.col('c16_1')))

In [351]:
ps_t4_1_2.select('cityid').distinct().count()

1

In [352]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('cityid').distinct().toPandas()[0:50]

  cityid
0     "N

In [353]:
check_missing(ps_t4_1_2.select('cityid'))

+------+
|cityid|
+------+
|     0|
+------+

---
_Add column_
 > - loccountrycode (_c18)

In [355]:
nSplit_c11_v.nSplit_c18.unique()

array([ 1, -1,  2])

In [356]:
ps_t4_1_2 = ps_t4_1_2.withColumn('loccountrycode',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), \
                                                F.col('c16_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')))

In [357]:
ps_t4_1_2.select('loccountrycode').distinct().count()

52

In [361]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('loccountrycode').distinct().toPandas()[0:20]

   loccountrycode
0              AZ
1              FI
2              RO
3              NL
4              PL
5              AM
6              MX
7            "YE"
8              UM
9              AT
10             RU
11           "DE"
12             SV
13             CZ
14             PT
15             CX
16             GH
17             HK
18             TW
19             PK

In [359]:
check_missing(ps_t4_1_2.select('loccountrycode'))

+--------------+
|loccountrycode|
+--------------+
|             0|
+--------------+

---
_Add column_
 > - locstatecode (_c19)

In [360]:
ps_t4_1_2 = ps_t4_1_2.withColumn('locstatecode',F.when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==1), \
                                                F.col('_c19')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==2), \
                                                F.col('c18_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')).when((F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), \
                                                F.col('c16_2')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), \
                                                F.col('c17_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), \
                                                F.col('c18_1')).when((F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), \
                                                F.col('c17_2')))

In [362]:
ps_t4_1_2.select('locstatecode').distinct().count()

76

In [364]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_1_2.select('locstatecode').distinct().toPandas()[50:80]

   locstatecode
50           06
51           48
52           NY
53           ON
54          QLD
55           AB
56           67
57           79
58           TX
59           10
60           GA
61           MA
62           62
63           04
64           "N
65           13
66           FL
67           CO
68          VIC
69           14
70           21
71           66
72           AK
73           72
74           E2
75          NSW

In [365]:
check_missing(ps_t4_1_2.select('locstatecode'))

+------------+
|locstatecode|
+------------+
|           0|
+------------+

---
### 5.4.3b Format, rename columns and save Table

In [366]:
ps_t4_1_2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c18_1: string (nullable = true)
 |-- c18_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c17_1: string (nullable = true)
 |-- c17_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [367]:
# Drop unnecssary columns
ps_t4_1_2 = ps_t4_1_2.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c18_1','c18_2','c16_1','c16_2',\
                    'c14_1','c14_2','c15_1','c15_2','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19','c17_1','c17_2')

In [369]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t4_1_2 = rename_col(ps_t4_1_2, newColumns)

In [370]:
ps_t4_1_2.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [371]:
# Replace " symbols in data
col_list = ['comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t4_1_2 = ps_t4_1_2.withColumn(i,regexp_replace(i, '"', ""))

In [372]:
ps_t4_1_2.limit(20).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197977303947,[TANG] Merple,http://steamcommunity.com/id/merple/,0,3,1,2013-02-18 19:56:53,1,"Don't get ripped, by the riptide",103582791431889810,2005-08-02 09:32:59,N,N,N,N,GB,N
1,76561197979540016,Santus Dee Lupinus,http://steamcommunity.com/profiles/76561197979...,1,3,1,2013-02-28 21:46:02,1,"Santus Dee Lupinus, Esq.",103582791432212622,2005-12-03 13:52:37,440,208.78.165.61:27019,Team Fortress 2,N,US,MD
2,76561197984489349,b0o-b0o,http://steamcommunity.com/profiles/76561197984...,0,3,1,2013-03-02 00:24:30,1,"nick graber, tenyson graber",103582791429562546,2006-08-24 23:11:09,N,N,N,N,US,OH
3,76561197962672069,JeeZeus,http://steamcommunity.com/id/jjhuffington/,0,3,1,2013-02-02 18:21:13,1,"J. James Huffington, Esq.",103582791429521408,2003-11-10 09:00:21,N,N,N,N,SH,01
4,76561197978163284,Brother Biscuit,http://steamcommunity.com/id/brotherbiscuit/,0,3,1,2013-02-28 23:53:35,2,"Sorry Steam, but that shit's private.",103582791429776287,2005-09-17 15:55:42,N,N,N,N,N,N
5,76561197969060456,John 'xli0z' Calma,http://steamcommunity.com/id/xlyfag/,0,3,1,2010-09-11 10:28:46,1,"thats me, i look like a urangutan huh?? LOL ye...",103582791429534759,2004-09-22 22:17:55,N,N,N,N,US,CA
6,76561197984554357,FLoppix,http://steamcommunity.com/profiles/76561197984...,0,3,1,2013-03-01 09:20:30,1,"No information given, yo.",103582791432689134,2006-08-28 04:15:33,N,N,N,N,DE,N
7,76561197964830530,fps_salem,http://steamcommunity.com/id/fpssalem/,0,3,1,2013-02-10 08:12:04,1,"Taked baby. Meet at later bar, night or day so...",103582791430628857,2004-03-05 08:53:28,N,N,N,N,N,N
8,76561197963354819,GOVNOED,http://steamcommunity.com/id/evptvtvtv/,0,3,1,2012-04-01 01:10:33,1,"If you spray , you are GOD!",103582791432405845,2003-12-13 12:14:01,N,N,N,N,RU,66
9,76561197970683704,suechtlers.toxi,http://steamcommunity.com/id/sue_toxiii/,0,3,1,2013-02-14 09:41:06,1,"Luca A,",103582791432581039,2004-11-18 10:12:56,N,N,N,N,DE,N
10,76561197973620042,Dewkin,http://steamcommunity.com/profiles/76561197973...,3,3,1,2013-02-17 08:21:31,1,"Dragonborn, Dovakhin",103582791430010773,2005-01-26 23:26:46,N,N,N,N,US,N
11,76561197967353517,HÃ¥kon,http://steamcommunity.com/profiles/76561197967...,0,3,1,2013-02-17 09:29:42,1,"HÃ¥kon Multikill.,.",103582791429568725,2004-07-05 05:48:07,N,N,N,N,NO,N
12,76561197977943667,Commie Wolf,http://steamcommunity.com/id/Commie_Wolf/,0,3,1,2013-02-18 20:42:38,1,"DiFuccia, Nick",103582791430188759,2005-09-06 18:42:47,N,N,N,N,US,IL
13,76561197970817350,Barry Braverman,http://steamcommunity.com/id/Purple_Tentacle/,3,3,1,2013-02-17 05:38:04,1,"Braverman, Barry",103582791430358518,2004-11-19 23:55:41,N,N,N,N,AU,VIC
14,76561197961089126,BossXXL,http://steamcommunity.com/id/BossXXL/,1,3,1,2013-02-16 02:02:40,1,"Stay Thristy, My Friends",103582791429535303,2003-09-19 17:11:09,N,N,N,N,US,IA
15,76561197973197822,Otebis',http://steamcommunity.com/profiles/76561197973...,3,3,1,2013-02-18 08:06:03,1,"Aaron, yo.",103582791429607977,2005-01-15 04:33:19,N,N,N,N,AU,WA
16,76561197978401954,Scorpi :3,http://steamcommunity.com/id/Majinscorpion/,0,3,1,2013-02-28 15:59:12,1,"Scorpion, Majin",103582791429532133,2005-10-01 03:36:01,N,N,N,N,JP,34
17,76561197982949038,The Anteater DJ,http://steamcommunity.com/id/MynameisLegend/,3,3,1,2013-02-28 07:53:05,1,"Lancer, Kain",103582791431492107,2006-06-02 16:51:28,N,N,N,N,N,N
18,76561197973936516,Tyven,http://steamcommunity.com/id/ConexXx/,0,3,1,2013-02-17 11:54:32,1,"Tyven, Espen",103582791429668240,2005-02-05 08:46:51,N,N,N,N,NO,18
19,76561197965594041,*TeMuK*(159rus),http://steamcommunity.com/id/76561197965594041/,0,3,1,2013-02-16 19:03:22,1,"Ð¢Ñ‘Ð¼Ð¸Ðº, Ð¶Ð¸ :*",103582791433341052,2004-04-06 09:53:03,N,N,N,N,RU,06

In [373]:
ps_t4_1_2.count()

305

In [374]:
# Save TABLE 4_1_2
ps_t4_1_2.write.csv('/user/tamng/jwht/CleanData/ps_t4_1_2.csv', header = True)

---
### Table 4.2: F.col('_c9').contains('103')

### 5.4.1c Filter data and check number of Split

In [18]:
ps_t4_2 = player_summaries.filter(F.col('_c9').contains('103'))
ps_t4_2.count()

391

In [19]:
ps_t4_2.limit(50).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197960294170,"""^6i|-|\//\//\//"",""http://steamcommunity.com/p...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-09-09 10:28:45""","""N,""N",103582791431922407,2003-09-12 03:40:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:05""",None,None,None,None,None
1,76561197960306346,"""Lassssssi"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-12-16 12:07:24""","""N,""N",103582791429521408,2003-09-12 04:45:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:06""",None,None,None,None,None
2,76561197960310409,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-07-13 01:17:27""","""N,""N",103582791429521408,2003-09-12 05:08:40,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:03""",None,None,None,None,None
3,76561197960318323,"""kore"",""http://steamcommunity.com/profiles/765...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-07-02 09:20:48""","""N,""N",103582791429521408,2003-09-12 05:48:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:03""",None,None,None,None,None
4,76561197960337332,"""lewz"",""http://steamcommunity.com/profiles/765...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-01-27 10:08:59""","""N,""N",103582791429521408,2003-09-12 07:08:48,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:06""",None,None,None,None,None
5,76561197960458711,"""Felipe :"",""http://steamcommunity.com/profiles...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-24 14:34:39""","""N,""N",103582791429521408,2003-09-12 21:04:14,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:09""",None,None,None,None,None
6,76561197960582631,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-08-28 14:00:14""","""N,""N",103582791429521408,2003-09-14 03:46:41,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:14""",None,None,None,None,None
7,76561197960594684,""""",""http://steamcommunity.com/profiles/7656119...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-28 04:14:02""","""N,""N",103582791429521408,2003-09-14 06:09:29,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:10""",None,None,None,None,None
8,76561197960720659,""""",""http://steamcommunity.com/profiles/7656119...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-01 09:23:43""","""N,""N",103582791429521408,2003-09-15 07:34:35,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:19""",None,None,None,None,None
9,76561197960746171,"""reed"",""http://steamcommunity.com/profiles/765...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-10-29 15:07:14""","""N,""N",103582791429521408,2003-09-15 11:05:39,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:20""",None,None,None,None,None
10,76561197960780369,""""",""http://steamcommunity.com/profiles/7656119...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-21 02:56:12""","""N,""N",103582791429521408,2003-09-15 16:20:25,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:22""",None,None,None,None,None
11,76561197960857243,"""Minder"",""http://steamcommunity.com/profiles/7...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-03-10 12:27:52""","""N,""N",103582791429521408,2003-09-16 14:18:30,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:24""",None,None,None,None,None
12,76561197960939597,"""jefffffffffff"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-20 23:54:20""","""N,""N",103582791429521408,2003-09-17 14:29:21,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:27""",None,None,None,None,None
13,76561197961041616,"""lucAsMamao"",""http://steamcommunity.com/profil...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-03-25 20:48:26""","""N,""N",103582791429521408,2003-09-19 03:14:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:16""",None,None,None,None,None
14,76561197961042596,"""ViliNeto "",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-05-26 12:56:18""","""N,""N",103582791429521408,2003-09-19 03:43:06,"""N,""N","""N,""N",BR,"""N,""N",2013-02-28 14:34:16,None,None,None,None
15,76561197961099643,""":P"",""http://steamcommunity.com/profiles/76561...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-06 11:53:29""","""N,""N",103582791429521408,2003-09-19 20:55:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:33""",None,None,None,None,None
16,76561197961104700,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-01-29 09:26:35""","""N,""N",103582791429521408,2003-09-19 23:50:23,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:37:19""",None,None,None,None,None
17,76561197961218878,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-07-22 13:34:05""","""N,""N",103582791429521408,2003-09-21 17:54:56,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:18""",None,None,None,None,None
18,76561197961404546,"""GuH "",""http://steamcommunity.com/profiles/765...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-26 00:21:01""","""N,""N",103582791429521408,2003-09-25 18:26:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:21""",None,None,None,None,None
19,76561197961439542,"""ANM"",""http://steamcommunity.com/profiles/7656...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-11-18 15:34:51""","""N,""N",103582791429521408,2003-09-26 14:23:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None,None
20,76561197961654078,"""S M A S H ~ "",""http://steamcommunity.com/prof...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-07 18:47:48""","""N,""N",103582791429521408,2003-10-01 10:57:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:24""",None,None,None,None,None
21,76561197961696318,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-12 17:24:46""","""N,""N",103582791429521408,2003-10-02 18:02:54,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:25""",None,None,None,None,None
22,76561197961810897,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-08-03 23:48:08""","""N,""N",103582791429521408,2003-10-05 21:20:37,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:20:03""",None,None,None,None,None
23,76561197961972944,"""vKd | Chronicv bbvbbjihhb7u ,dskX ks 3"",""h...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 03:05:35""","""N,""N",103582791429521408,2003-10-12 04:44:19,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:29""",None,None,None,None,None
24,76561197962373631,"""\som3thing"",""http://steamcommunity.com/profil...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-19 06:09:36""","""N,""N",103582791429521408,2003-10-28 01:09:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:05""",None,None,None,None,None
25,76561197962733000,"""ZimmersoN"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-04-06 04:26:05""","""N,""N",103582791429521408,2003-11-13 06:23:18,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:01""",None,None,None,None,None
26,76561197962859260,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-10-16 22:35:21""","""N,""N",103582791429521408,2003-11-18 07:53:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:02""",None,None,None,None,None
27,76561197962916625,"""fatk1d :"",""http://steamcommunity.com/profiles...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-12-16 10:32:23""","""N,""N",103582791429521408,2003-11-21 04:23:05,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:31""",None,None,None,None,None
28,76561197962983162,"""LOLED"",""http://steamcommunity.com/profiles/76...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-12-24 16:23:58""","""N,""N",103582791429521408,2003-11-23 23:20:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:04""",None,None,None,None,None
29,76561197962984037,"""ktoitunet"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-05-27 06:50:40""","""N,""N",103582791429521408,2003-11-23 23:26:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:34""",None,None,None,None,None
30,76561197962985584,"""lool"",""http://steamcommunity.com/profiles/765...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-11-04 05:57:39""","""N,""N",103582791429521408,2003-11-24 04:19:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:04""",None,None,None,None,None
31,76561197962986523,"""FRIENDLIST"",""http://steamcommunity.com/profil...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-14 07:33:14""","""N,""N",103582791429521408,2003-11-24 04:16:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:34""",None,None,None,None,None
32,76561197962986533,"""NORAJPOTO"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-11-04 05:57:04""","""N,""N",103582791429521408,2003-11-24 04:17:37,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:34""",None,None,None,None,None
33,76561197962986553,"""yyy"",""http://steamcommunity.com/profiles/7656...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-14 07:34:13""","""N,""N",103582791429521408,2003-11-24 04:19:23,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:34""",None,None,None,None,None
34,76561197963001001,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-02-17 20:39:39""","""N,""N",103582791429521408,2003-11-24 21:12:53,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:35""",None,None,None,None,None
35,76561197963015059,"""eldorado"",""http://steamcommunity.com/profiles...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-16 04:01:15""","""N,""N",103582791429521408,2003-11-25 15:58:29,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:35""",None,None,None,None,None
36,76561197963025799,"""/* I.S - Tsunammis *"",""http://steamcommunity....",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 15:06:58""","""N,""N",103582791429521408,2003-11-26 07:20:19,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:36""",None,None,None,None,None
37,76561197963071189,"""P/-\L[-]/-"",""http://steamcommunity.com/profil...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-02-25 15:02:44""","""N,""N",103582791429521408,2003-11-28 11:18:55,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:38""",None,None,None,None,None
38,76561197963087944,"""kukkuu"",""http://steamcommunity.com/profiles/7...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-14 20:22:24""","""N,""N",103582791429521408,2003-11-29 05:16:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:05""",None,None,None,None,None
39,76561197963139651,""""",""http://steamcommunity.com/profiles/7656119...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-14 17:35:03""","""N,""N",103582791429521408,2003-12-01 12:35:10,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:41""",None,None,None,None,None
40,76561197963218917,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-08 16:41:11""","""N,""N",103582791429521408,2003-12-05 16:53:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:45""",None,None,None,None,None
41,76561197963235791,"""MIKE : \o"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-11-16 08:30:53""","""N,""N",103582791429521408,2003-12-06 12:01:31,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:46""",None,None,None,None,None
42,76561197963311262,"""iil"",""http://steamcommunity.com/profiles/7656...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-06-04 16:09:34""","""N,""N",103582791429521408,2003-12-11 04:48:31,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:08""",None,None,None,None,None
43,76561197963459966,"""teh_flame"",""http://steamcommunity.com/profile...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-01-26 02:20:39""","""N,""N",103582791429521408,2003-12-20 05:11:30,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:10""",None,None,None,None,None
44,76561197963489147,"""shade"",""http://steamcommunity.com/profiles/76...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-03 12:37:37""","""N,""N",103582791429521408,2003-12-21 09:15:18,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:57""",None,None,None,None,None
45,76561197963530379,"""kingleo"",""http://steamcommunity.com/profiles/...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-26 04:30:42""","""N,""N",103582791429521408,2003-12-23 13:55:16,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:59""",None,None,None,None,None
46,76561197963560876,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-06 09:52:27""","""N,""N",103582791429521408,2003-12-25 17:22:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:12""",None,None,None,None,None
47,76561197963625633,"""d('.')b"",""http://steamcommunity.com/profiles/...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-12-18 13:37:41""","""N,""N",103582791429521408,2003-12-29 02:00:53,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:14:03""",None,None,None,None,None
48,76561197963690436,"""/`ah mina v2Â´"",""http://steamcommunity.com/pr...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-09-17 08:11:58""","""N,""N",103582791429521408,2004-01-02 06:54:26,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:14""",None,None,None,None,None
49,76561197963702470,"""DanWallaCe.pL"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-03-06 10:04:33""","""N,""N",103582791429521408,2004-01-02 20:06:45,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:14""",None,None,None,None,None

__Add number of split for each column in the data__

In [20]:
cols_check = ['_c1','_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']

tagname = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11', 'nSplit_c12', 'nSplit_c13', 'nSplit_c14',
           'nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

ps_t4_2 = add_count_split_column(ps_t4_2, cols_check, tagname)

__Check number of unique split in each tag__

In [21]:
nSplit_c1_c9 = ps_t4_2.toPandas()

check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c1_c9[i].unique())

pd.DataFrame(zip(check_list,unique_col))

             0             1
0    nSplit_c1  [2, 3, 1, 6]
1    nSplit_c7        [2, 1]
2    nSplit_c8           [2]
3    nSplit_c9           [1]
4   nSplit_c10           [1]
5   nSplit_c11           [2]
6   nSplit_c12           [2]
7   nSplit_c13        [2, 1]
8   nSplit_c14        [2, 1]
9   nSplit_c15    [-1, 1, 2]
10  nSplit_c16       [-1, 1]
11  nSplit_c17          [-1]
12  nSplit_c18          [-1]
13  nSplit_c19          [-1]

In [22]:
ps_t4_2.filter(F.col('nSplit_c1')>2).toPandas()[['_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9']]

,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9
0,"""vKd | Chronicv bbvbbjihhb7u ,dskX ks 3"",""h...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 03:05:35""","""N,""N",103582791429521408
1,""",paiN-digiTaLl.CÃ³BrÃ¥/!"",""http://steamcommun...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-06-14 08:49:08""","""N,""N",103582791429521408
2,"""/^,,|*Freakynator*|,,^"",""http://steamcommunit...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-11-19 13:33:09""","""N,""N",103582791429521408

In [23]:
ps_t4_2.filter(F.col('nSplit_c7')==1).toPandas()[['_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9']]

,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9
0,"""<><{/""""\}jumper{/""""\}><>""http://steamcommunit...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-04-07 01:41:53,"""N,""N",103582791430346408

In [28]:
# Set new columns need to split for this data

col_c1 = ['_c1']
newcols_c1 = ['c1_1', 'c1_2']

col_c7 = ['_c7']
newcols_c7 = ['c7_1', 'c7_2']

col_c8 = ['_c8']
newcols_c8 = ['c8_1', 'c8_2']

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']


# Apply split function
ps_t4_2 = split_2_column(ps_t4_2, col_c1, newcols_c1)
ps_t4_2 = split_2_column(ps_t4_2, col_c7, newcols_c7)
ps_t4_2 = split_2_column(ps_t4_2, col_c8, newcols_c8)
ps_t4_2 = split_2_column(ps_t4_2, col_c11, newcols_c11)
ps_t4_2 = split_2_column(ps_t4_2, col_c12, newcols_c12)
ps_t4_2 = split_2_column(ps_t4_2, col_c13, newcols_c13)
ps_t4_2 = split_2_column(ps_t4_2, col_c14, newcols_c14)
ps_t4_2 = split_2_column(ps_t4_2, col_c15, newcols_c15)

---
### 5.4.2c Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [29]:
ps_t4_2 = ps_t4_2.withColumn('_c1',F.col('c1_1'))
ps_t4_2 = ps_t4_2.withColumn('personastate', F.when((F.col('nSplit_c7')==2),F.col('_c5')).otherwise(F.col('_c4')))
ps_t4_2 = ps_t4_2.withColumn('communityvisibilitystate', F.when((F.col('nSplit_c7')==2),F.col('_c6')).otherwise(F.col('_c5')))
ps_t4_2 = ps_t4_2.withColumn('profilestate', F.when((F.col('nSplit_c7')==2),F.col('c7_1')).otherwise(F.col('_c6')))
ps_t4_2 = ps_t4_2.withColumn('lastlogoff', F.when((F.col('nSplit_c7')==2),F.col('c7_2')).otherwise(F.col('_c7')))
ps_t4_2 = ps_t4_2.withColumn('commentpermission', F.col('c8_1'))
ps_t4_2 = ps_t4_2.withColumn('realname', F.col('c8_2'))
ps_t4_2 = ps_t4_2.withColumn('primaryclanid', F.col('_c9'))
ps_t4_2 = ps_t4_2.withColumn('timecreated', F.col('_c10'))
ps_t4_2 = ps_t4_2.withColumn('gameid', F.col('c11_1'))
ps_t4_2 = ps_t4_2.withColumn('gameserverip', F.col('c11_2'))
ps_t4_2 = ps_t4_2.withColumn('gameextrainfo', F.col('c12_1'))
ps_t4_2 = ps_t4_2.withColumn('cityid', F.col('c12_2'))
ps_t4_2 = ps_t4_2.withColumn('loccountrycode', F.col('c13_1'))
ps_t4_2 = ps_t4_2.withColumn('locstatecode', F.when((F.col('nSplit_c13')==1),F.col('c14_1')).otherwise(F.col('c13_2')))

In [30]:
check_missing(ps_t4_2.select('_c1','personastate', 'communityvisibilitystate', 'profilestate', 'lastlogoff','commentpermission',\
                             'realname','primaryclanid','timecreated','gameid','gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode'))

+---+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|_c1|personastate|communityvisibilitystate|profilestate|lastlogoff|commentpermission|realname|primaryclanid|timecreated|gameid|gameserverip|gameextrainfo|cityid|loccountrycode|locstatecode|
+---+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|  0|           0|                       0|           0|         0|                0|       0|            0|          0|     0|           0|            0|     0|             0|           0|
+---+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+

In [31]:
ps_t4_2.toPandas()[['_c1','personastate', 'communityvisibilitystate', 'profilestate', 'lastlogoff','commentpermission',
                             'realname','primaryclanid','timecreated','gameid','gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode']]

,_c1,personastate,communityvisibilitystate,profilestate,lastlogoff,commentpermission,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,"""^6i|-|\//\//\//""",0,3,"""N","""2012-09-09 10:28:45""","""N","""N",103582791431922407,2003-09-12 03:40:04,"""N","""N","""N","""N","""N","""N"
1,"""Lassssssi""",0,3,"""N","""2012-12-16 12:07:24""","""N","""N",103582791429521408,2003-09-12 04:45:04,"""N","""N","""N","""N","""N","""N"
2,"""\missing-name""",0,3,"""N","""2011-07-13 01:17:27""","""N","""N",103582791429521408,2003-09-12 05:08:40,"""N","""N","""N","""N","""N","""N"
3,"""kore""",0,3,"""N","""2008-07-02 09:20:48""","""N","""N",103582791429521408,2003-09-12 05:48:20,"""N","""N","""N","""N","""N","""N"
4,"""lewz""",0,3,"""N","""2008-01-27 10:08:59""","""N","""N",103582791429521408,2003-09-12 07:08:48,"""N","""N","""N","""N","""N","""N"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,"""Scar[F]ace et M3 peu last /!""",0,3,"""N","""2007-05-26 12:00:50""","""N","""N",103582791429521408,2006-10-27 09:48:29,"""N","""N","""N","""N","""N","""N"
387,"""/'*(~Lambo~)*'""",0,3,"""N","""2010-11-14 09:44:35""","""N","""N",103582791429521408,2006-11-03 12:26:20,"""N","""N","""N","""N","""N","""N"
388,"""K ill""",0,3,"""N","""2009-12-09 16:58:07""","""N","""N",103582791429521408,2006-11-02 03:04:59,"""N","""N","""N","""N","""N","""N"
389,"""/-\un g@rs du 4o/-""",0,3,"""N","""2008-09-19 16:01:58""","""N","""N",103582791429521408,2006-11-02 10:58:58,"""N","""N","""N","""N",FR,97
390,"""///////Thanatos\\\""",0,3,"""N","""2007-06-10 05:49:10""","""N","""N",103582791429521408,2006-11-16 08:09:34,"""N","""N","""N","""N","""N","""N"

---
### 5.4.3c Format, rename columns and save Table

In [32]:
ps_t4_2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c1: integer (nullable = false)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c1_1: string (nullable = true)
 |-- c1_2: string (nullable = true)
 |-- c7_1: string (nullable = true)
 |-- c7_2: string (nullable = true)
 |-- c8_1: string (nullable = true)
 |-- c8_2: string (nullable = true)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- personastate: string (nullable = true)
 |-- communityvisibilitystate: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [39]:
# Drop unnecssary columns
ps_t4_2 = ps_t4_2.drop('nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c1_1','c1_2','c7_1','c7_2','c8_1','c8_2','c11_1','c11_2',\
                    'c12_1','c12_2','c13_1','c13_2','c14_1','c14_2','c15_1','c15_2','_c6','_c7','_c10',\
                    '_c8','_c9','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19','_c3','_c4','_c5')

In [41]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t4_2 = rename_col(ps_t4_2, newColumns)

In [42]:
ps_t4_2.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [44]:
# Replace " symbols in data
col_list = ['person_name','profile_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_url','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t4_2 = ps_t4_2.withColumn(i,regexp_replace(i, '"', ""))

In [45]:
ps_t4_2.limit(20).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197960294170,^6i|-|\//\//\//,http://media.steampowered.com/steamcommunity/p...,0,3,N,2012-09-09 10:28:45,N,N,103582791431922407,2003-09-12 03:40:04,N,N,N,N,N,N
1,76561197960306346,Lassssssi,http://media.steampowered.com/steamcommunity/p...,0,3,N,2012-12-16 12:07:24,N,N,103582791429521408,2003-09-12 04:45:04,N,N,N,N,N,N
2,76561197960310409,\missing-name,http://media.steampowered.com/steamcommunity/p...,0,3,N,2011-07-13 01:17:27,N,N,103582791429521408,2003-09-12 05:08:40,N,N,N,N,N,N
3,76561197960318323,kore,http://media.steampowered.com/steamcommunity/p...,0,3,N,2008-07-02 09:20:48,N,N,103582791429521408,2003-09-12 05:48:20,N,N,N,N,N,N
4,76561197960337332,lewz,http://media.steampowered.com/steamcommunity/p...,0,3,N,2008-01-27 10:08:59,N,N,103582791429521408,2003-09-12 07:08:48,N,N,N,N,N,N
5,76561197960458711,Felipe :,http://media.steampowered.com/steamcommunity/p...,0,3,N,2007-07-24 14:34:39,N,N,103582791429521408,2003-09-12 21:04:14,N,N,N,N,N,N
6,76561197960582631,\missing-name,http://media.steampowered.com/steamcommunity/p...,0,3,N,2006-08-28 14:00:14,N,N,103582791429521408,2003-09-14 03:46:41,N,N,N,N,N,N
7,76561197960594684,,http://media.steampowered.com/steamcommunity/p...,0,3,N,2007-10-28 04:14:02,N,N,103582791429521408,2003-09-14 06:09:29,N,N,N,N,N,N
8,76561197960720659,,http://media.steampowered.com/steamcommunity/p...,0,3,N,2006-11-01 09:23:43,N,N,103582791429521408,2003-09-15 07:34:35,N,N,N,N,N,N
9,76561197960746171,reed,http://media.steampowered.com/steamcommunity/p...,0,3,N,2008-10-29 15:07:14,N,N,103582791429521408,2003-09-15 11:05:39,N,N,N,N,N,N
10,76561197960780369,,http://media.steampowered.com/steamcommunity/p...,0,3,N,2006-10-21 02:56:12,N,N,103582791429521408,2003-09-15 16:20:25,N,N,N,N,N,N
11,76561197960857243,Minder,http://media.steampowered.com/steamcommunity/p...,0,3,N,2011-03-10 12:27:52,N,N,103582791429521408,2003-09-16 14:18:30,N,N,N,N,N,N
12,76561197960939597,jefffffffffff,http://media.steampowered.com/steamcommunity/p...,0,3,N,2007-10-20 23:54:20,N,N,103582791429521408,2003-09-17 14:29:21,N,N,N,N,N,N
13,76561197961041616,lucAsMamao,http://media.steampowered.com/steamcommunity/p...,0,3,N,2008-03-25 20:48:26,N,N,103582791429521408,2003-09-19 03:14:24,N,N,N,N,N,N
14,76561197961042596,ViliNeto,http://media.steampowered.com/steamcommunity/p...,0,3,N,2010-05-26 12:56:18,N,N,103582791429521408,2003-09-19 03:43:06,N,N,N,N,BR,N
15,76561197961099643,:P,http://media.steampowered.com/steamcommunity/p...,0,3,N,2007-10-06 11:53:29,N,N,103582791429521408,2003-09-19 20:55:44,N,N,N,N,N,N
16,76561197961104700,\missing-name,http://media.steampowered.com/steamcommunity/p...,0,3,N,2008-01-29 09:26:35,N,N,103582791429521408,2003-09-19 23:50:23,N,N,N,N,N,N
17,76561197961218878,\missing-name,http://media.steampowered.com/steamcommunity/p...,0,3,N,2012-07-22 13:34:05,N,N,103582791429521408,2003-09-21 17:54:56,N,N,N,N,N,N
18,76561197961404546,GuH,http://media.steampowered.com/steamcommunity/p...,0,3,N,2007-07-26 00:21:01,N,N,103582791429521408,2003-09-25 18:26:44,N,N,N,N,N,N
19,76561197961439542,ANM,http://media.steampowered.com/steamcommunity/p...,0,3,N,2009-11-18 15:34:51,N,N,103582791429521408,2003-09-26 14:23:27,N,N,N,N,N,N

In [46]:
ps_t4_2.count()

391

In [47]:
# Save TABLE 4_2
ps_t4_2.write.csv('/user/tamng/jwht/CleanData/ps_t4_2.csv', header = True)

---
### Table 4.3:

### 5.4.1d Filter data and check number of Split

In [24]:
ps_t4_3 = ps_t4.filter(F.col('_c9').contains('N'))
ps_t4_3.limit(10).toPandas()

,_c0,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197985764946,FN#25499218,http://steamcommunity.com/profiles/76561197985...,0,3,"""N,""2009-03-11 18:38:38""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
1,76561197978765238,FN#18499510,http://steamcommunity.com/profiles/76561197978...,0,3,"""N,""2009-05-10 18:59:20""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
2,76561197982892481,FN#22626753,http://steamcommunity.com/profiles/76561197982...,0,3,"""N,""2009-03-14 13:54:56""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
3,76561197983105185,FN#22839457,http://steamcommunity.com/profiles/76561197983...,0,3,"""N,""2009-05-03 13:36:33""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
4,76561197979038568,FN#18772840,http://steamcommunity.com/profiles/76561197979...,0,3,"""N,""2009-04-19 05:05:49""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
5,76561197960485742,FN#220014,http://steamcommunity.com/profiles/76561197960...,0,3,"""N,""2010-10-13 12:57:27""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
6,76561197980213913,FN#19948185,http://steamcommunity.com/profiles/76561197980...,0,3,"""N,""2009-05-03 09:29:17""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
7,76561197982601760,FN#22336032,http://steamcommunity.com/profiles/76561197982...,0,3,"""N,""2009-05-31 02:18:40""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
8,76561197984644524,FN#24378796,http://steamcommunity.com/profiles/76561197984...,0,3,"""N,""2009-03-11 17:31:07""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1
9,76561197984813531,FN#24547803,http://steamcommunity.com/profiles/76561197984...,0,3,"""N,""2009-03-14 22:40:43""","""N,""N",103582791429521408,"""N,""N","""N,""N",...,1,2,2,2,2,1,-1,-1,-1,-1

In [27]:
ps_t4_3.count()

57

In [25]:
nSplit_c11_2_c10_1_c9n = ps_t4.filter(F.col('_c9').contains('N')).toPandas()

In [26]:
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_2_c10_1_c9n[i].unique())

pd.DataFrame(zip(check_list,unique_col))

             0     1
0    nSplit_c7   [1]
1    nSplit_c8   [2]
2    nSplit_c9   [2]
3   nSplit_c10   [1]
4   nSplit_c11   [2]
5   nSplit_c12   [2]
6   nSplit_c13   [2]
7   nSplit_c14   [2]
8   nSplit_c15   [1]
9   nSplit_c16  [-1]
10  nSplit_c17  [-1]
11  nSplit_c18  [-1]
12  nSplit_c19  [-1]

In [28]:
# Set new columns need to split for this data

col_c8 = ['_c8']
newcols_c8 = ['c8_1', 'c8_2']

col_c9 = ['_c9']
newcols_c9 = ['c9_1', 'c9_2']

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']


# Apply split function
ps_t4_3 = split_2_column(ps_t4_3, col_c8, newcols_c8)
ps_t4_3 = split_2_column(ps_t4_3, col_c9, newcols_c9)
ps_t4_3 = split_2_column(ps_t4_3, col_c11, newcols_c11)
ps_t4_3 = split_2_column(ps_t4_3, col_c12, newcols_c12)
ps_t4_3 = split_2_column(ps_t4_3, col_c13, newcols_c13)
ps_t4_3 = split_2_column(ps_t4_3, col_c14, newcols_c14)

---
### 5.4.2d Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [29]:
ps_t4_3 = ps_t4_3.withColumn('profilestate', F.col('c8_1'))
ps_t4_3 = ps_t4_3.withColumn('lastlogoff', F.col('c8_2'))
ps_t4_3 = ps_t4_3.withColumn('commentpermission', F.col('c9_1'))
ps_t4_3 = ps_t4_3.withColumn('realname', F.col('c9_2'))
ps_t4_3 = ps_t4_3.withColumn('primaryclanid', F.col('_c10'))
ps_t4_3 = ps_t4_3.withColumn('timecreated', F.col('c11_1'))
ps_t4_3 = ps_t4_3.withColumn('gameid', F.col('c11_2'))
ps_t4_3 = ps_t4_3.withColumn('gameserverip', F.col('c12_1'))
ps_t4_3 = ps_t4_3.withColumn('gameextrainfo', F.col('c12_2'))
ps_t4_3 = ps_t4_3.withColumn('cityid', F.col('c13_1'))
ps_t4_3 = ps_t4_3.withColumn('loccountrycode', F.col('c13_2'))
ps_t4_3 = ps_t4_3.withColumn('locstatecode', F.col('c14_1'))

In [30]:
check_missing(ps_t4_3.select('profilestate', 'lastlogoff','commentpermission','realname','primaryclanid',\
                             'timecreated','gameid','gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode'))

+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|profilestate|lastlogoff|commentpermission|realname|primaryclanid|timecreated|gameid|gameserverip|gameextrainfo|cityid|loccountrycode|locstatecode|
+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|           0|         0|                0|       0|            0|          0|     0|           0|            0|     0|             0|           0|
+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+

In [31]:
ps_t4_3.limit(20).toPandas()[['profilestate', 'lastlogoff','commentpermission','realname','primaryclanid',\
                             'timecreated','gameid','gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode']]

,profilestate,lastlogoff,commentpermission,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,"""N","""2009-03-11 18:38:38""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
1,"""N","""2009-03-14 13:54:56""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
2,"""N","""2009-05-10 18:59:20""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
3,"""N","""2009-05-03 13:36:33""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
4,"""N","""2010-10-13 12:57:27""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
5,"""N","""2009-04-19 05:05:49""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
6,"""N","""2009-05-03 09:29:17""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
7,"""N","""2009-05-31 02:18:40""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
8,"""N","""2009-03-11 17:31:07""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
9,"""N","""2009-03-14 22:40:43""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
10,"""N","""2007-11-11 04:50:22""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
11,"""N","""2009-03-25 02:50:41""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
12,"""N","""2009-03-07 13:56:51""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
13,"""N","""2009-03-25 17:46:07""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
14,"""N","""2009-06-01 10:38:16""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
15,"""N","""2009-05-17 10:25:12""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
16,"""N","""2009-03-12 07:27:55""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
17,"""N","""2009-04-18 21:02:13""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
18,"""N","""2009-05-12 12:39:00""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"
19,"""N","""2008-04-01 08:56:20""","""N","""N",103582791429521408,"""N","""N","""N","""N","""N","""N","""N"

---
### 5.4.3d Format, rename columns and save Table

In [32]:
ps_t4_3.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c8_1: string (nullable = true)
 |-- c8_2: string (nullable = true)
 |-- c9_1: string (nullable = true)
 |-- c9_2: string (nullable = true)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [39]:
# Drop unnecssary columns
ps_t4_3 = ps_t4_3.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19','c8_1','c8_2','c9_1','c9_2','c11_1','c11_2',\
                    'c12_1','c12_2','c13_1','c13_2','c14_1','c14_2','_c10',\
                    '_c8','_c9','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19')

In [41]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t4_3 = rename_col(ps_t4_3, newColumns)

In [42]:
ps_t4_3.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [43]:
# Replace " symbols in data
col_list = ['person_name','profile_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_url','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t4_3 = ps_t4_3.withColumn(i,regexp_replace(i, '"', ""))

In [44]:
ps_t4_3.limit(10).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197985764946,FN#25499218,http://steamcommunity.com/profiles/76561197985...,0,3,N,2009-03-11 18:38:38,N,N,103582791429521408,N,N,N,N,N,N,N
1,76561197982892481,FN#22626753,http://steamcommunity.com/profiles/76561197982...,0,3,N,2009-03-14 13:54:56,N,N,103582791429521408,N,N,N,N,N,N,N
2,76561197978765238,FN#18499510,http://steamcommunity.com/profiles/76561197978...,0,3,N,2009-05-10 18:59:20,N,N,103582791429521408,N,N,N,N,N,N,N
3,76561197983105185,FN#22839457,http://steamcommunity.com/profiles/76561197983...,0,3,N,2009-05-03 13:36:33,N,N,103582791429521408,N,N,N,N,N,N,N
4,76561197979038568,FN#18772840,http://steamcommunity.com/profiles/76561197979...,0,3,N,2009-04-19 05:05:49,N,N,103582791429521408,N,N,N,N,N,N,N
5,76561197960485742,FN#220014,http://steamcommunity.com/profiles/76561197960...,0,3,N,2010-10-13 12:57:27,N,N,103582791429521408,N,N,N,N,N,N,N
6,76561197980213913,FN#19948185,http://steamcommunity.com/profiles/76561197980...,0,3,N,2009-05-03 09:29:17,N,N,103582791429521408,N,N,N,N,N,N,N
7,76561197982601760,FN#22336032,http://steamcommunity.com/profiles/76561197982...,0,3,N,2009-05-31 02:18:40,N,N,103582791429521408,N,N,N,N,N,N,N
8,76561197984644524,FN#24378796,http://steamcommunity.com/profiles/76561197984...,0,3,N,2009-03-11 17:31:07,N,N,103582791429521408,N,N,N,N,N,N,N
9,76561197984813531,FN#24547803,http://steamcommunity.com/profiles/76561197984...,0,3,N,2009-03-14 22:40:43,N,N,103582791429521408,N,N,N,N,N,N,N

In [45]:
# Save TABLE 4_3
ps_t4_3.write.csv('/user/tamng/jwht/CleanData/ps_t4_3.csv', header = True)

---
### Table 4.4: ['len_c9']==1

### 5.3.1e Filter data and check number of Split

In [46]:
nSplit_c11_2_c10_1['len_c9'] = nSplit_c11_2_c10_1._c9.str.len()
nSplit_c11_2_c10_1['len_c9'].unique()

array([19, 18,  1,  5])

In [53]:
nSplit_c11_2_c10_1_c91 = nSplit_c11_2_c10_1[nSplit_c11_2_c10_1['len_c9']==1]

# Create a column captured the length of _c9
ps_t4 = ps_t4.withColumn('len_c9', length(ps_t4._c9))

In [52]:
ps_t4_4 = ps_t4.filter(F.col('len_c9')<2)
ps_t4_4.count()

50

In [51]:
ps_t4.filter(F.col('len_c9')<2).toPandas()[['_c1','_c2','_c6','_c7','_c8','_c9','_c10','_c11','_c12','len_c9']]

,_c1,_c2,_c6,_c7,_c8,_c9,_c10,_c11,_c12,len_c9
0,"frodo c""",")""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-16 14:59:00,"""N,""N","""N,""N",1
1,"c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-12-14 13:26:58,"""N,""t0mppade""",103582791429521408,1
2,"""""""DUCHER","aragon e + alguÃ©m""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-06-06 05:16:34,"""N,""TÃ¡ no B.I.""",103582791429591926,1
3,"""<php? Echo """"h1","iam php user"""";>""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-01-05 16:02:03,"""N,""N",103582791429521543,1
4,"""_,.-'""""Â¯""""Xobu""""Â¯'""""-.","_""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-07 02:00:56,"""N,""N",103582791433560172,1
5,"""""""manuelSFC""""agregadme","nueva cuen""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2011-03-24 14:13:43,"""N,""N","""N,""N",1
6,"JeaNakiS c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-11-26 13:23:43,"""N,""N",103582791429572341,1
7,"""sQeAk""""off","@rL <hf & gl>""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-12-20 18:38:04,"""N,""N",103582791429521408,1
8,"""Alphamale """"U know it","u feel it""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-03-25 13:08:49,"""N,""Niclas""",103582791430111996,1
9,"""""""#","Jaranko i 1 leming.""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-02-10 07:00:29,"""N,""Krzysztof Rozenberger""",103582791430584492,1
10,"JEPPEDARBAK c """,")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-06-23 13:58:12,"""N,""N",103582791429576183,1
11,"Leon c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-12-15 06:40:13,"""N,""Stig""",103582791429524331,1
12,"""NikiTaPGG <,\ """" /",">""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-06 12:20:41,"""N,""N",103582791429521408,1
13,"""""""Don Casimir","der 21.""""""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2012-06-10 08:49:02,"""N,""N","""N,""N",1
14,"xiGeroNi c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-12 14:15:07,"""N,""Steffen Z""",103582791429559556,1
15,"Majorpayne - c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 15:02:31,"""N,""N",103582791429639803,1
16,"""""""Shadow'","-.-'""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-01 12:51:06,"""N,""~>$Î®Ã¥Ä‘Ã¸Ïˆ '","-.-'""",1
17,"-= AndersP=- c""",")""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2009-09-24 13:42:52,"""N,""N","""N,""N",1
18,"""""""â˜…á¸€Ã…â˜… maRcUs` (""""",") <3 RagE.""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-09-10 03:04:30,"""N,""maRcUs""",103582791430006861,1
19,"""""""Giant Robot","kill!""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-10-20 23:45:51,"""N,""N",103582791429521408,1
20,"Alpha(""",")Force""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-13 21:19:51,"""N,""N",103582791432731736,1
21,"""/!\ï®–Î£Ð¯ÄÎ›ÅïºÐ¹Ó©Ç¾ """"recrut","venez/!\""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-02-03 14:58:10,"""N,""N",103582791429714285,1
22,"""JoÃ£o """"Portugal","ws"""" SimÃµes""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-13 13:48:41,"""N,""N","""N,""N",1
23,"Mole c""",")â„¢""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-07-28 16:27:00,"""N,""AndrÃ¨""",103582791429628701,1
24,"powah (""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-02-23 14:44:06,"""N,""Johnii""",103582791429521408,1
25,"""","??=+??...!""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-05-30 02:12:28,"""N,""Miguel""",103582791429847644,1
26,"Snor Snor' c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-10-13 05:38:49,"""N,""N",103582791429790411,1
27,"""Load""""$""""","8""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-12-28 14:01:49,"""N,""N",103582791429521408,1
28,"""""""Nobody is perfect","I'm nobody.""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 17:24:25,"""N,""N",103582791429521408,1
29,"c""",")""",http://media.steampowered.com/steamcommunity/p...,4,3,1,2013-02-14 22:34:28,"""N,""N",103582791429639803,1
30,""""""" 'KinG","""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-08-09 16:37:05,"""N,""N",103582791429521408,1
31,"""""""th!ng (>",""""")>""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-07-07 10:14:15,"""N,""N",103582791429521408,1
32,"SÃ¸ren<3 YggdraZill c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-12-25 11:01:08,"""N,""N",103582791429642388,1
33,"""Tomas """"Splifish","oak"""" ek""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-04-28 01:24:57,"""N,""edggqa""",103582791429521408,1
34,"""""""hey god its me","barney.""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-08-16 15:13:09,"""N,""N",103582791429760268,1
35,"TeeX c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-01 04:00:40,"""N,""N",103582791429524891,1
36,"""elektrikz,"""" kTz-""""","Rudz""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-02-15 13:57:08,"""N,""STEAM_0:0:51208""",103582791429761393,1
37,"""""""Tas Fodido","TÃ¡s TÃ£o Fodido""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-01-30 16:42:31,"""N,""Luis Santos""",103582791429613865,1
38,"pgz / turtle """,^,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 13:29:25,"""N,""N",103582791430432770,1
39,"""--=W011E=--aLiAS->""""Yes","We Can!""""""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-07-08 13:33:51,"""N,""N",103582791429521408,1
40,"Bokaj c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-07-14 13:45:29,"""N,""N",103582791429521408,1
41,""""""" Durka Durka","Mohamed Jihad """"""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 15:28:44,"""N,""muchmat hum""",103582791431545648,1
42,""",.:""""{-SKULL_RIBEN-}"""":.","{187}""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-08-29 20:33:32,"""N,""Adrian""",103582791429618095,1
43,"""""""Lass' mich Arzt","ich bin durch""",http://media.steampowered.com/steamcommunity/p...,2,3,1,2013-02-17 19:33:08,"""N,""Pierre KÃ¶hler""",103582791431176995,1
44,"""TED """"THEODORE"""" LOGAN","VINTAGE""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-12-27 00:21:48,"""N,""Theodore""",103582791430616380,1
45,"×›Ð½Ð·Ð¼ÑÑ“ ï»¯Ñ‚ÑÑ—Ò›Ñ”| c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-08-23 12:39:08,"""N,""chemer""",103582791429553273,1
46,"Devil_BOY \(""",") â™¥ [TH]""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-05 05:53:43,"""N,""N","""N,""N",1
47,"JUSTBLAZE c""",")""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-09-25 04:16:58,"""N,""Rune""",103582791429970905,1
48,"""""""Hustler for death","No heaven f""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-12-22 11:48:22,"""N,""N",103582791429521408,1
49,"""LOAD""""$""""","8""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-15 01:01:36,"""N,""N","""N,""N",1

In [54]:
check_list = ['nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

unique_col = []
for i in check_list:
    unique_col.append(nSplit_c11_2_c10_1_c91[i].unique())

pd.DataFrame(zip(check_list,unique_col))

             0           1
0    nSplit_c7         [1]
1    nSplit_c8         [1]
2    nSplit_c9         [1]
3   nSplit_c10         [1]
4   nSplit_c11         [2]
5   nSplit_c12      [2, 1]
6   nSplit_c13      [2, 1]
7   nSplit_c14      [2, 1]
8   nSplit_c15         [2]
9   nSplit_c16      [2, 1]
10  nSplit_c17  [-1, 2, 1]
11  nSplit_c18  [-1, 1, 2]
12  nSplit_c19     [-1, 1]

In [56]:
# Set new columns need to split for this data

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2']

col_c17 = ['_c17']
newcols_c17 = ['c17_1', 'c17_2']

col_c18 = ['_c18']
newcols_c18 = ['c18_1', 'c18_2']

# Apply split function
ps_t4_4 = split_2_column(ps_t4_4, col_c11, newcols_c11)
ps_t4_4 = split_2_column(ps_t4_4, col_c12, newcols_c12)
ps_t4_4 = split_2_column(ps_t4_4, col_c13, newcols_c13)
ps_t4_4 = split_2_column(ps_t4_4, col_c14, newcols_c14)
ps_t4_4 = split_2_column(ps_t4_4, col_c15, newcols_c15)
ps_t4_4 = split_2_column(ps_t4_4, col_c16, newcols_c16)
ps_t4_4 = split_2_column(ps_t4_4, col_c17, newcols_c17)
ps_t4_4 = split_2_column(ps_t4_4, col_c18, newcols_c18)

---
### 5.4.2e Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [81]:
ps_t4_4 = ps_t4_4.withColumn('personastate', F.col('_c7'))
ps_t4_4 = ps_t4_4.withColumn('communityvisibilitystate', F.col('_c8'))
ps_t4_4 = ps_t4_4.withColumn('profilestate', F.col('_c9'))
ps_t4_4 = ps_t4_4.withColumn('lastlogoff', F.col('_c10'))
ps_t4_4 = ps_t4_4.withColumn('commentpermission', F.col('c11_1'))
ps_t4_4 = ps_t4_4.withColumn('realname', F.col('c11_2'))
ps_t4_4 = ps_t4_4.withColumn('primaryclanid', F.when((F.col('_c12').contains('-.-')),F.col('_c13')).otherwise(F.col('c12_1')))

In [82]:
ps_t4_4.limit(10).toPandas()[['personastate','communityvisibilitystate','profilestate','lastlogoff','commentpermission','realname','primaryclanid']]

,personastate,communityvisibilitystate,profilestate,lastlogoff,commentpermission,realname,primaryclanid
0,0,1,1,2013-02-16 14:59:00,"""N","""N","""N"
1,0,3,1,2009-12-14 13:26:58,"""N","""t0mppade""",103582791429521408
2,0,3,1,2009-06-06 05:16:34,"""N","""TÃ¡ no B.I.""",103582791429591926
3,0,3,1,2013-01-05 16:02:03,"""N","""N",103582791429521543
4,0,3,1,2013-02-07 02:00:56,"""N","""N",103582791433560172
5,0,1,1,2011-03-24 14:13:43,"""N","""N","""N"
6,0,3,1,2012-11-26 13:23:43,"""N","""N",103582791429572341
7,0,3,1,2009-12-20 18:38:04,"""N","""N",103582791429521408
8,0,3,1,2011-03-25 13:08:49,"""N","""Niclas""",103582791430111996
9,0,3,1,2012-02-10 07:00:29,"""N","""Krzysztof Rozenberger""",103582791430584492

In [83]:
ps_t4_4 = ps_t4_4.withColumn('timecreated', F.when((F.col('nSplit_c12')==1) & (F.col('_c12').contains('-.-')), F.col('_c14')).\
                             when((F.col('nSplit_c12')==1) &(~F.col('_c12').contains('-.-')),F.col('c13_1')).otherwise(F.col('c12_2')))

In [84]:
ps_t4_4.select('timecreated').distinct().count()

44

In [85]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('timecreated').distinct().toPandas()[35:50]

            timecreated
35  2004-07-12 08:33:27
36  2004-06-04 04:54:30
37  2006-08-08 12:11:56
38                   "N
39  2005-10-18 18:47:48
40  2004-12-08 14:11:07
41  2004-05-29 21:43:13
42  2006-07-04 06:23:30
43  2006-10-04 03:23:05

In [86]:
check_missing(ps_t4_4.select('timecreated'))

+-----------+
|timecreated|
+-----------+
|          0|
+-----------+

---
_Add column_
 > - gameid (_c14)

In [90]:
ps_t4_4 = ps_t4_4.withColumn('gameid', F.when((F.col('nSplit_c12')==1) & (F.col('_c12').contains('-.-')), F.col('c15_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) &(~F.col('_c12').contains('-.-')),F.col('c14_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) &(~F.col('_c12').contains('-.-')),F.col('c13_2')).\
                             when((F.col('nSplit_c12')==2) &(~F.col('_c12').contains('-.-')),F.col('c14_1')))

In [91]:
ps_t4_4.filter(F.col('gameid').contains('2006')).toPandas()[['_c1','_c2','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14']]

Empty DataFrame
Columns: [_c1, _c2, _c6, _c7, _c8, _c9, _c10, _c11, _c12, _c13, _c14]
Index: []

In [92]:
ps_t4_4.select('gameid').distinct().count()

1

In [93]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('gameid').distinct().toPandas()[0:50]

  gameid
0     "N

In [94]:
check_missing(ps_t4_4.select('gameid'))

+------+
|gameid|
+------+
|     0|
+------+

---
_Add column_
 > - gameserverip (_c15)

In [88]:
nSplit_c11_2_c10_1_c91.nSplit_c15.unique()

array([2])

In [100]:
ps_t4_4 = ps_t4_4.withColumn('gameserverip', F.when((F.col('nSplit_c12')==1) & (F.col('_c12').contains('-.-')), F.col('c15_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) &(~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) &(~F.col('_c12').contains('-.-')),F.col('c14_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) &(~F.col('_c12').contains('-.-')),F.col('c14_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (~F.col('_c12').contains('-.-')),F.col('c14_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (~F.col('_c12').contains('-.-')),F.col('c14_2')))

In [101]:
ps_t4_4.select('gameserverip').distinct().count()

1

In [102]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('gameserverip').distinct().toPandas()[0:50]

  gameserverip
0           "N

In [103]:
check_missing(ps_t4_4.select('gameserverip'))

+------------+
|gameserverip|
+------------+
|           0|
+------------+

---
_Add column_
 > - gameextrainfo (_c16)

In [99]:
nSplit_c11_2_c10_1_c91.nSplit_c16.unique()

array([2, 1])

In [104]:
ps_t4_4 = ps_t4_4.withColumn('gameextrainfo', F.when((F.col('nSplit_c12')==1) & (F.col('_c12').contains('-.-')), F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) &(~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) &(~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) &(~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) &(~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) &(~F.col('_c12').contains('-.-')),F.col('c14_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c1x2')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (~F.col('_c12').contains('-.-')),F.col('c14_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_1')))

In [105]:
ps_t4_4.select('gameextrainfo').distinct().count()

1

In [106]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('gameextrainfo').distinct().toPandas()[0:50]

  gameextrainfo
0            "N

In [107]:
check_missing(ps_t4_4.select('gameextrainfo'))

+-------------+
|gameextrainfo|
+-------------+
|            0|
+-------------+

---
_Add column_
 > - cityid (_c17)

In [108]:
nSplit_c11_2_c10_1_c91.nSplit_c17.unique()

array([-1,  2,  1])

In [121]:
ps_t4_4 = ps_t4_4.withColumn('cityid', F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 2) & (F.col('_c12').contains('-.-')), F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('_c12').contains('-.-')), F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (~F.col('_c12').contains('-.-')),F.col('c15_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (~F.col('_c12').contains('-.-')),F.col('c14_2')))

In [122]:
ps_t4_4.select('cityid').distinct().count()

1

In [123]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('cityid').distinct().toPandas()[0:50]

  cityid
0     "N

In [124]:
check_missing(ps_t4_4.select('cityid'))

+------+
|cityid|
+------+
|     0|
+------+

---
_Add column_
 > - loccountrycode (_c18)

In [126]:
nSplit_c11_2_c10_1_c91.nSplit_c18.unique()

array([-1,  1,  2])

In [134]:
ps_t4_4 = ps_t4_4.withColumn('loccountrycode', F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 2) & (F.col('_c12').contains('-.-')), F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('nSplit_c17')== 1) & (F.col('_c12').contains('-.-')), F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('nSplit_c17')== 2) & (F.col('_c12').contains('-.-')), F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')== 1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')== 2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_1')))

In [135]:
ps_t4_4.select('loccountrycode').distinct().count()

14

In [136]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('loccountrycode').distinct().toPandas()[0:50]

   loccountrycode
0              PL
1              RU
2              PT
3              DE
4              ES
5              TR
6              US
7              FR
8              SG
9              SE
10             BE
11             "N
12             NO
13             DK

In [137]:
check_missing(ps_t4_4.select('loccountrycode'))

+--------------+
|loccountrycode|
+--------------+
|             0|
+--------------+

---
_Add column_
 > - locstatecode (_c19)

In [138]:
nSplit_c11_2_c10_1_c91.nSplit_c19.unique()

array([-1,  1])

In [142]:
ps_t4_4 = ps_t4_4.withColumn('locstatecode', F.when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 2) & (F.col('nSplit_c17')== 1) & (F.col('_c12').contains('-.-')), F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 2) & (F.col('nSplit_c17')== 2) & (F.col('_c12').contains('-.-')), F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('nSplit_c17')== 1) & (F.col('nSplit_c18')== 1) & (F.col('_c12').contains('-.-')), F.col('_c19')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('nSplit_c17')== 1) & (F.col('nSplit_c18')== 2) & (F.col('_c12').contains('-.-')), F.col('c18_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c16')== 1) & (F.col('nSplit_c17')== 2) & (F.col('_c12').contains('-.-')), F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')== 1) & (F.col('nSplit_c18')== 1) & (~F.col('_c12').contains('-.-')),F.col('_c19')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')== 1) & (F.col('nSplit_c18')== 2) & (~F.col('_c12').contains('-.-')),F.col('_c19')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')== 2) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (~F.col('_c12').contains('-.-')),F.col('c18_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (~F.col('_c12').contains('-.-')),F.col('c17_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_2')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (~F.col('_c12').contains('-.-')),F.col('c16_1')).\
                             when((F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (~F.col('_c12').contains('-.-')),F.col('c15_2')))

In [143]:
ps_t4_4.select('locstatecode').distinct().count()

16

In [144]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t4_4.select('locstatecode').distinct().toPandas()[0:50]

   locstatecode
0            07
1            01
2            47
3            27
4            02
5            B9
6            58
7            56
8            C1
9            10
10           GA
11           12
12           04
13           "N
14           14
15           76

In [145]:
check_missing(ps_t4_4.select('locstatecode'))

+------------+
|locstatecode|
+------------+
|           0|
+------------+

---
### 5.4.3e Format, rename columns and save Table

In [146]:
ps_t4_4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- len_c9: integer (nullable = true)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c18_1: string (nullable = true)
 |-- c18_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c17_1: string (nullable = true)
 |-- c17_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- personastate: string (nullable = true)
 |-- communityvisibilitystate: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [152]:
# Drop unnecssary columns
ps_t4_4 = ps_t4_4.drop('nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','len_c9',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c12_1','c12_2','c13_1','c13_2',\
                    'c18_1','c18_2','c14_1','c14_2','c15_1','c15_2','c16_1','c16_2','c17_1','c17_2',\
                    '_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19')

In [154]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t4_4 = rename_col(ps_t4_4, newColumns)

In [155]:
ps_t4_4.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [156]:
# Replace " symbols in data
col_list = ['profile_state','community_visibility_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_state','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t4_4 = ps_t4_4.withColumn(i,regexp_replace(i, '"', ""))

In [158]:
ps_t4_4.toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197979717326,"c""",")""",0,3,1,2009-12-14 13:26:58,N,t0mppade,103582791429521408,2005-12-13 11:15:41,N,N,N,N,N,N
1,76561197962613920,"frodo c""",")""",0,1,1,2013-02-16 14:59:00,N,N,N,N,N,N,N,N,N,N
2,76561197978705527,"""""""DUCHER","aragon e + alguÃ©m""""""",0,3,1,2009-06-06 05:16:34,N,TÃ¡ no B.I.,103582791429591926,2005-10-18 18:47:48,N,N,N,N,PT,10
3,76561197984123334,"""<php? Echo """"h1","iam php user"""";>""",0,3,1,2013-01-05 16:02:03,N,N,103582791429521543,2006-08-04 04:20:12,N,N,N,N,RU,N
4,76561197966762701,"""_,.-'""""Â¯""""Xobu""""Â¯'""""-.","_""",0,3,1,2013-02-07 02:00:56,N,N,103582791433560172,2004-05-29 21:43:13,N,N,N,N,N,N
5,76561197983503638,"""""""manuelSFC""""agregadme","nueva cuen""",0,1,1,2011-03-24 14:13:43,N,N,N,N,N,N,N,N,N,N
6,76561197983008066,"JeaNakiS c""",")""",0,3,1,2012-11-26 13:23:43,N,N,103582791429572341,2006-06-05 14:55:29,N,N,N,N,N,N
7,76561197967429954,"""sQeAk""""off","@rL <hf & gl>""",0,3,1,2009-12-20 18:38:04,N,N,103582791429521408,2004-07-12 08:33:27,N,N,N,N,DE,N
8,76561197960986678,"""Alphamale """"U know it","u feel it""",0,3,1,2011-03-25 13:08:49,N,Niclas,103582791430111996,2003-09-18 10:34:12,N,N,N,N,SE,N
9,76561197960897998,"""""""#","Jaranko i 1 leming.""""""",0,3,1,2012-02-10 07:00:29,N,Krzysztof Rozenberger,103582791430584492,2003-09-17 06:58:25,N,N,N,N,PL,76
10,76561197972806101,"JEPPEDARBAK c """,")""",0,3,1,2011-06-23 13:58:12,N,N,103582791429576183,2005-01-03 07:45:41,N,N,N,N,N,N
11,76561197975116575,"Leon c""",")""",0,3,1,2012-12-15 06:40:13,N,Stig,103582791429524331,2005-03-27 11:21:41,N,N,N,N,NO,07
12,76561197962024067,"""NikiTaPGG <,\ """" /",">""",0,3,1,2013-03-06 12:20:41,N,N,103582791429521408,2003-10-13 18:18:45,N,N,N,N,N,N
13,76561197985127080,"""""""Don Casimir","der 21.""""""",0,1,1,2012-06-10 08:49:02,N,N,N,N,N,N,N,N,N,N
14,76561197963349080,"xiGeroNi c""",")""",0,3,1,2013-02-12 14:15:07,N,Steffen Z,103582791429559556,2003-12-13 10:52:54,N,N,N,N,RU,47
15,76561197962682764,"Majorpayne - c""",")""",0,3,1,2013-02-16 15:02:31,N,N,103582791429639803,2003-11-11 06:24:38,N,N,N,N,N,N
16,76561197982388586,"""""""Shadow'","-.-'""",0,3,1,2013-03-01 12:51:06,N,~>$Î®Ã¥Ä‘Ã¸Ïˆ ',103582791429521408,2006-04-30 08:46:06,N,N,N,N,DE,02
17,76561197982226271,"-= AndersP=- c""",")""",0,1,1,2009-09-24 13:42:52,N,N,N,N,N,N,N,N,N,N
18,76561197965151118,"""""""â˜…á¸€Ã…â˜… maRcUs` (""""",") <3 RagE.""",0,3,1,2010-09-10 03:04:30,N,maRcUs,103582791430006861,2004-03-19 12:25:24,N,N,N,N,SG,N
19,76561197972509652,"""""""Giant Robot","kill!""""""",0,3,1,2012-10-20 23:45:51,N,N,103582791429521408,2004-12-27 22:11:52,N,N,N,N,N,N
20,76561197961033447,"Alpha(""",")Force""",0,3,1,2013-02-13 21:19:51,N,N,103582791432731736,2003-09-18 22:51:58,N,N,N,N,N,N
21,76561197969412423,"""/!\ï®–Î£Ð¯ÄÎ›ÅïºÐ¹Ó©Ç¾ """"recrut","venez/!\""",0,3,1,2010-02-03 14:58:10,N,N,103582791429714285,2004-10-08 08:13:51,N,N,N,N,TR,58
22,76561197963583659,"""JoÃ£o """"Portugal","ws"""" SimÃµes""",0,1,1,2013-02-13 13:48:41,N,N,N,N,N,N,N,N,N,N
23,76561197975671336,"Mole c""",")â„¢""",0,3,1,2012-07-28 16:27:00,N,AndrÃ¨,103582791429628701,2005-04-25 02:59:49,N,N,N,N,NO,12
24,76561197983499395,"powah (""",")""",0,3,1,2010-02-23 14:44:06,N,Johnii,103582791429521408,2006-07-04 06:23:30,N,N,N,N,ES,56
25,76561197976037447,"""","??=+??...!""",0,3,1,2010-05-30 02:12:28,N,Miguel,103582791429847644,2005-05-20 11:27:50,N,N,N,N,FR,C1
26,76561197965924803,"Snor Snor' c""",")""",0,3,1,2012-10-13 05:38:49,N,N,103582791429790411,2004-04-17 08:43:09,N,N,N,N,N,N
27,76561197964436463,"""Load""""$""""","8""",0,3,1,2012-12-28 14:01:49,N,N,103582791429521408,2004-02-12 08:33:31,N,N,N,N,DE,N
28,76561197961441002,"c""",")""",4,3,1,2013-02-14 22:34:28,N,N,103582791429639803,2003-09-26 14:59:50,N,N,N,N,N,N
29,76561197966451481,"""""""Nobody is perfect","I'm nobody.""",0,3,1,2013-02-16 17:24:25,N,N,103582791429521408,2004-05-12 09:33:24,N,N,N,N,N,N
30,76561197972810005,""""""" 'KinG","""""""",0,3,1,2010-08-09 16:37:05,N,N,103582791429521408,2005-01-03 09:25:25,N,N,N,N,N,N
31,76561197967804149,"""""""th!ng (>",""""")>""",0,3,1,2012-07-07 10:14:15,N,N,103582791429521408,2004-07-30 07:56:19,N,N,N,N,N,N
32,76561197984858633,"SÃ¸ren<3 YggdraZill c""",")""",0,3,1,2012-12-25 11:01:08,N,N,103582791429642388,2006-09-12 08:32:14,N,N,N,N,N,N
33,76561197985335962,"""Tomas """"Splifish","oak"""" ek""",0,3,1,2008-04-28 01:24:57,N,edggqa,103582791429521408,2006-10-04 03:23:05,N,N,N,N,N,N
34,76561197978010556,"""""""hey god its me","barney.""""""",0,3,1,2011-08-16 15:13:09,N,N,103582791429760268,2005-09-09 05:55:31,N,N,N,N,N,N
35,76561197982749596,"TeeX c""",")""",0,3,1,2013-03-01 04:00:40,N,N,103582791429524891,2006-05-22 08:05:06,N,N,N,N,N,N
36,76561197960368144,"""elektrikz,"""" kTz-""""","Rudz""",0,3,1,2012-02-15 13:57:08,N,STEAM_0:0:51208,103582791429761393,2003-09-12 09:18:09,N,N,N,N,BE,04
37,76561197971648877,"""""""Tas Fodido","TÃ¡s TÃ£o Fodido""""""",0,3,1,2013-01-30 16:42:31,N,Luis Santos,103582791429613865,2004-12-08 14:11:07,N,N,N,N,PT,14
38,76561197963397952,"pgz / turtle """,^,0,3,1,2013-02-16 13:29:25,N,N,103582791430432770,2003-12-16 11:04:08,N,N,N,N,FR,B9
39,76561197979288327,"""--=W011E=--aLiAS->""""Yes","We Can!""""""",0,3,1,2009-07-08 13:33:51,N,N,103582791429521408,2005-11-20 07:28:12,N,N,N,N,N,N
40,76561197976710457,"Bokaj c""",")""",0,3,1,2010-07-14 13:45:29,N,N,103582791429521408,2005-06-29 11:01:49,N,N,N,N,DK,N
41,76561197966825496,""""""" Durka Durka","Mohamed Jihad """"""",0,3,1,2013-02-16 15:28:44,N,muchmat hum,103582791431545648,2004-06-04 04:54:30,N,N,N,N,N,N
42,76561197968596933,""",.:""""{-SKULL_RIBEN-}"""":.","{187}""",0,3,1,2012-08-29 20:33:32,N,Adrian,103582791429618095,2004-08-28 18:06:31,N,N,N,N,US,GA
43,76561197971268894,"""""""Lass' mich Arzt","ich bin durch""",2,3,1,2013-02-17 19:33:08,N,Pierre KÃ¶hler,103582791431176995,2004-11-29 03:39:21,N,N,N,N,DE,01
44,76561197985228551,"""TED """"THEODORE"""" LOGAN","VINTAGE""",0,3,1,2012-12-27 00:21:48,N,Theodore,103582791430616380,2006-10-01 13:19:48,N,N,N,N,US,N
45,76561197981765908,"×›Ð½Ð·Ð¼ÑÑ“ ï»¯Ñ‚ÑÑ—Ò›Ñ”| c""",")""",0,3,1,2008-08-23 12:39:08,N,chemer,103582791429553273,2006-03-27 03:30:26,N,N,N,N,SE,27
46,76561197984209353,"Devil_BOY \(""",") â™¥ [TH]""",0,1,1,2013-02-05 05:53:43,N,N,N,N,N,N,N,N,N,N
47,76561197979391706,"JUSTBLAZE c""",")""",0,3,1,2010-09-25 04:16:58,N,Rune,103582791429970905,2005-11-25 08:41:01,N,N,N,N,N,N
48,76561197984163979,"""""""Hustler for death","No heaven f""",0,3,1,2011-12-22 11:48:22,N,N,103582791429521408,2006-08-08 12:11:56,N,N,N,N,N,N
49,76561197960688353,"""LOAD""""$""""","8""",0,1,1,2013-02-15 01:01:36,N,N,N,N,N,N,N,N,N,N

In [165]:
ps_t4_4 = ps_t4_4.withColumn('profile_url', sf.concat(sf.lit('http://steamcommunity.com/profiles/'), sf.col('steam_id')))

In [166]:
ps_t4_4.limit(10).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197979717326,"c""",http://steamcommunity.com/profiles/76561197979...,0,3,1,2009-12-14 13:26:58,N,t0mppade,103582791429521408,2005-12-13 11:15:41,N,N,N,N,N,N
1,76561197962613920,"frodo c""",http://steamcommunity.com/profiles/76561197962...,0,1,1,2013-02-16 14:59:00,N,N,N,N,N,N,N,N,N,N
2,76561197978705527,"""""""DUCHER",http://steamcommunity.com/profiles/76561197978...,0,3,1,2009-06-06 05:16:34,N,TÃ¡ no B.I.,103582791429591926,2005-10-18 18:47:48,N,N,N,N,PT,10
3,76561197984123334,"""<php? Echo """"h1",http://steamcommunity.com/profiles/76561197984...,0,3,1,2013-01-05 16:02:03,N,N,103582791429521543,2006-08-04 04:20:12,N,N,N,N,RU,N
4,76561197966762701,"""_,.-'""""Â¯""""Xobu""""Â¯'""""-.",http://steamcommunity.com/profiles/76561197966...,0,3,1,2013-02-07 02:00:56,N,N,103582791433560172,2004-05-29 21:43:13,N,N,N,N,N,N
5,76561197983503638,"""""""manuelSFC""""agregadme",http://steamcommunity.com/profiles/76561197983...,0,1,1,2011-03-24 14:13:43,N,N,N,N,N,N,N,N,N,N
6,76561197983008066,"JeaNakiS c""",http://steamcommunity.com/profiles/76561197983...,0,3,1,2012-11-26 13:23:43,N,N,103582791429572341,2006-06-05 14:55:29,N,N,N,N,N,N
7,76561197967429954,"""sQeAk""""off",http://steamcommunity.com/profiles/76561197967...,0,3,1,2009-12-20 18:38:04,N,N,103582791429521408,2004-07-12 08:33:27,N,N,N,N,DE,N
8,76561197960986678,"""Alphamale """"U know it",http://steamcommunity.com/profiles/76561197960...,0,3,1,2011-03-25 13:08:49,N,Niclas,103582791430111996,2003-09-18 10:34:12,N,N,N,N,SE,N
9,76561197960897998,"""""""#",http://steamcommunity.com/profiles/76561197960...,0,3,1,2012-02-10 07:00:29,N,Krzysztof Rozenberger,103582791430584492,2003-09-17 06:58:25,N,N,N,N,PL,76

In [167]:
ps_t4_4.count()

50

In [168]:
# Save TABLE 4_4
ps_t4_4.write.csv('/user/tamng/jwht/CleanData/ps_t4_4.csv', header = True)

__Check total number of rows that belong to BIG TABLE 4 condition__

In [169]:
# ps_t4_1_1, ps_t4_1_2, ps_t4_2, ps_t4_3, ps_t4_4
120870 + 305 + 391 + 57 + 50

121673

__Check total number of rows of TABLE(1+2+3+4)__

In [170]:
57359 + 80 +26 + 121673

179138

---
## <font color = 'black'> TABLE 5:  nSplit_c11 == 2 & nSplit_c10 != 1 </font>

### 5.5.1 Filter data and check number of Split

In [24]:
cols_check = ['_c1','_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']
tagname = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11', 'nSplit_c12', 'nSplit_c13', 'nSplit_c14',
           'nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']
def add_count_split_column(df, column, tagname):
    df = reduce(lambda df, idx: df.withColumn(tagname[idx],  F.size(F.split(column[idx], ','))),range(len(column)), df)
    return df

In [25]:
player_summaries_drop = add_count_split_column(player_summaries_drop, cols_check, tagname)

In [19]:
ps_t5 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 2) &(player_summaries_drop.nSplit_c10 != 1))
ps_t5.count()

3554033

In [20]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t5.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|       -1|     54|
|        1|3552870|
|       13|      1|
|        3|     87|
|        5|     19|
|        9|      1|
|        4|     13|
|        8|      2|
|        7|      4|
|       11|      1|
|        2|    981|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|3554030|
|        2|      3|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1| 464463|
|        2|3089570|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1| 455546|
|        3|     23|
|        2|3098464|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         3|    561|
|         2|3553472|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         2|3554033|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         1|      3|
|         2|3554030|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|    142|
|         2|3553891|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|        -1|      3|
|         1|     80|
|         2|3553950|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|        -1|3087961|
|         1|  12746|
|         2| 453326|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|3553970|
|         1|     60|
|         2|      3|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|3554030|
|         2|      3|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|3554033|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|3554033|
+----------+-------+

None

In [21]:
ps_t5.filter(F.col('nSplit_c7')==2).limit(20).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197973476315,"""Ecxpzo0"",""http://steamcommunity.com/profiles/...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2011-09-22 14:51:12""","""N,""N","""N,""N",...,2,2,2,2,-1,-1,-1,-1,-1,-1
1,76561197966788690,"""T1shk0*|__Ð¯/<"",""http://steamcommunity.com/pr...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2013-01-22 06:08:26""","""N,""N","""N,""N",...,2,2,2,2,-1,-1,-1,-1,-1,-1
2,76561197983363035,"""ec/\u_Tbl_men9_ybi/\_Tbl_vaFe/"",""http://steam...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2012-12-10 06:42:50""","""N,""N","""N,""N",...,2,2,2,2,-1,-1,-1,-1,-1,-1

---
_If nSplitc7 =1, is there any different values in thhis column? Lets check_

In [22]:
ps_t5.filter(F.col('nSplit_c7')==1).select('_c7').distinct().count()

3

In [23]:
ps_t5.filter(F.col('nSplit_c7')==1).select('_c7').distinct().show()

+--------------------+
|                 _c7|
+--------------------+
|                   3|
|http://media.stea...|
|                   1|
+--------------------+

In [24]:
ps_t5.filter((F.col('nSplit_c7')==1) & (F.col('_c7').contains('http'))).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197981841669,"""- ."""". '",None,".""",http://steamcommunity.com/profiles/76561197981...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,...,2,2,1,1,2,2,2,2,-1,-1
1,76561197980060437,"""""""The",None,"Maniac...""",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,...,2,2,1,1,2,2,2,2,-1,-1
2,76561197967614772,""""""" <3 chun",None,"*å‚»å‚»åˆ†buæ¸…æ¥š""",http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,...,2,2,1,1,2,2,2,2,-1,-1

In [25]:
ps_t5.filter((F.col('nSplit_c7')==1) & (~F.col('_c7').contains('http'))).limit(20).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197967277772,vinvel,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
1,76561197967278962,matrix12,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
2,76561197967279045,alex,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
3,76561197967280352,gunman,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
4,76561197967281070,red_748,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
5,76561197967281426,hmaitree,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
6,76561197967284540,takenotemusic,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
7,76561197967286379,xclide20063,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
8,76561197967290061,blah,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
9,76561197967291144,bart_ss,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,""N",...,2,2,2,2,2,1,-1,-1,-1,-1
10,76561197967292574,justwild90,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
11,76561197967292624,hello,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
12,76561197967292860,bonezz_bmz,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
13,76561197967294088,smithsd6,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
14,76561197967294393,kojoones,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
15,76561197967294496,joetrimboli,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
16,76561197967295458,lorenzn,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
17,76561197967295495,murray.conor,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
18,76561197967297386,harm,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2011-12-25 01:32:02""","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
19,76561197967300364,cybersp00,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2012-12-17 14:44:05""","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1

---
__Create two new data, filtered by nsplit = 1 or !=1__

In [36]:
# Create two new data, filtered by nsplit = 1 or !=1
ps_t5_1_1 = ps_t5_1.filter((F.col('nSplit_c1')>1))
ps_t5_1_2 = ps_t5_1.filter((F.col('nSplit_c1')==1))

### Table 5_1: (F.col('nSplit_c1')>1)
### 5.5.1a Filter data and check number of Split

In [37]:
for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t5_1_1.groupBy(i).count().show())

Distinct value for each column:

+---------+-----+
|nSplit_c1|count|
+---------+-----+
|       13|    1|
|        3|   87|
|        5|   19|
|        9|    1|
|        4|   13|
|        8|    2|
|        7|    4|
|       11|    1|
|        2|  978|
+---------+-----+

None
Distinct value for each column:

+---------+-----+
|nSplit_c7|count|
+---------+-----+
|        1| 1106|
+---------+-----+

None
Distinct value for each column:

+---------+-----+
|nSplit_c8|count|
+---------+-----+
|        1| 1075|
|        2|   31|
+---------+-----+

None
Distinct value for each column:

+---------+-----+
|nSplit_c9|count|
+---------+-----+
|        1|  980|
|        2|  126|
+---------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c10|count|
+----------+-----+
|         3|   21|
|         2| 1085|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c11|count|
+----------+-----+
|         2| 1106|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c12|count|
+----------+-----+
|         2| 1106|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c13|count|
+----------+-----+
|         1|   11|
|         2| 1095|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c14|count|
+----------+-----+
|         1|    7|
|         2| 1099|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c15|count|
+----------+-----+
|        -1|  136|
|         1|   54|
|         2|  916|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c16|count|
+----------+-----+
|        -1| 1101|
|         1|    5|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c17|count|
+----------+-----+
|        -1| 1106|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c18|count|
+----------+-----+
|        -1| 1106|
+----------+-----+

None
Distinct value for each column:

+----------+-----+
|nSplit_c19|count|
+----------+-----+
|        -1| 1106|
+----------+-----+

None

In [42]:
# Set new columns need to split for this data

col_c1 = ['_c1']
newcols_c1 = ['c1_1', 'c1_2']

col_c8 = ['_c8']
newcols_c8 = ['c8_1', 'c8_2']

col_c9 = ['_c9']
newcols_c9 = ['c9_1', 'c9_2']

col_c10 = ['_c10']
newcols_c10 = ['c10_1', 'c10_2', 'c10_3']

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

# Apply split function
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c1, newcols_c1)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c8, newcols_c8)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c9, newcols_c9)
ps_t5_1_1 = split_3_column(ps_t5_1_1, col_c10, newcols_c10)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c11, newcols_c11)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c12, newcols_c12)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c13, newcols_c13)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c14, newcols_c14)
ps_t5_1_1 = split_2_column(ps_t5_1_1, col_c15, newcols_c15)

---
### 5.5.2a Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [44]:
ps_t5_1_1 = ps_t5_1_1.withColumn('personaname', F.when((~F.col('_c1').contains('http')), F.col('_c1')).\
                                 when((F.col('_c1').contains('http')), F.col('c1_1')))

In [45]:
ps_t5_1_1 = ps_t5_1_1.withColumn('profileurl', F.col('_c2'))
ps_t5_1_1 = ps_t5_1_1.withColumn('personastate', F.when((~F.col('_c1').contains('http')), F.col('_c6')).\
                                 when((F.col('_c1').contains('http')), F.col('_c5')))

In [46]:
ps_t5_1_1 = ps_t5_1_1.withColumn('communityvisibilitystate', F.when((~F.col('_c1').contains('http')), F.col('_c7')).\
                                 when((F.col('_c1').contains('http')), F.col('_c6')))

In [47]:
ps_t5_1_1 = ps_t5_1_1.withColumn('profilestate', F.when((~F.col('_c1').contains('http')), F.col('c8_1')).\
                                 when((F.col('_c1').contains('http')), F.col('_c7')))

In [48]:
check_missing(ps_t5_1_1.select('personaname','personastate', 'communityvisibilitystate', 'profilestate'))

+-----------+------------+------------------------+------------+
|personaname|personastate|communityvisibilitystate|profilestate|
+-----------+------------+------------------------+------------+
|          0|           0|                       0|           0|
+-----------+------------+------------------------+------------+

In [49]:
ps_t5_1_1.select('personastate').distinct().count()

3

In [50]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('personastate').distinct().toPandas()[0:50]

  personastate
0            3
1            0
2            1

In [51]:
ps_t5_1_1.select('communityvisibilitystate').distinct().count()

2

In [52]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('communityvisibilitystate').distinct().toPandas()[0:50]

  communityvisibilitystate
0                        3
1                        1

In [53]:
ps_t5_1_1.select('profilestate').distinct().count()

2

In [54]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('profilestate').distinct().toPandas()[0:50]

  profilestate
0            1
1           "N

---
_Add column_
> - lastlogoff

In [60]:
ps_t5_1_1 = ps_t5_1_1.withColumn('lastlogoff', F.when((~F.col('_c1').contains('http')), F.col('c9_1')).\
                                 when((F.col('_c1').contains('http')), F.col('c8_1')))

In [61]:
ps_t5_1_1.select('lastlogoff').distinct().count()

1078

In [68]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('lastlogoff').distinct().toPandas()[1050:1078]

               lastlogoff
1050  2013-02-16 16:13:18
1051  2007-09-18 09:35:08
1052  2012-11-15 23:50:40
1053  2008-10-11 16:38:04
1054  2011-09-03 17:25:23
1055  2013-02-14 09:50:41
1056  2013-02-18 17:07:03
1057  2012-07-18 09:26:16
1058  2013-02-18 09:55:32
1059  2011-08-25 11:51:28
1060  2013-03-03 15:30:39
1061  2012-10-21 01:45:30
1062  2013-02-17 08:37:07
1063  2013-02-14 20:58:22
1064  2013-02-14 03:31:15
1065  2012-12-24 22:34:40
1066  2012-03-25 11:24:43
1067  2013-01-07 09:48:49
1068  2013-02-22 00:15:25
1069  2011-10-09 01:00:59
1070  2012-04-30 14:24:21
1071  2013-02-16 09:56:37
1072  2013-01-03 04:10:29
1073  2009-04-19 09:40:28
1074  2012-11-22 18:57:31
1075  2013-02-28 22:49:41
1076  2013-01-08 19:46:34
1077  2013-02-14 19:31:58

In [67]:
check_missing(ps_t5_1_1.select('lastlogoff'))

+----------+
|lastlogoff|
+----------+
|         0|
+----------+

---
_Add column_
> - commentpermission

In [69]:
ps_t5_1_1 = ps_t5_1_1.withColumn('commentpermission', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1), F.col('c10_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2), F.col('c9_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1), F.col('c9_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2), F.col('c8_2')))

In [70]:
ps_t5_1_1.select('commentpermission').distinct().count()

3

In [71]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('commentpermission').distinct().toPandas()[0:50]

  commentpermission
0                 1
1                "N
2                 2

In [72]:
check_missing(ps_t5_1_1.select('commentpermission'))

+-----------------+
|commentpermission|
+-----------------+
|                0|
+-----------------+

---
_Add column_
> - realname

In [73]:
ps_t5_1_1 = ps_t5_1_1.withColumn('realname', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1), F.col('c11_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c10_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2), F.col('c10_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1), F.col('c10_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2), F.col('c9_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2), F.col('c9_1')))

In [74]:
ps_t5_1_1.select('realname').distinct().count()

1

In [75]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('realname').distinct().toPandas()[0:50]

  realname
0       "N

In [76]:
check_missing(ps_t5_1_1.select('realname'))

+--------+
|realname|
+--------+
|       0|
+--------+

---
_Add column_
> - primaryclanid

In [85]:
ps_t5_1_1 = ps_t5_1_1.withColumn('primaryclanid', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c11_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3), F.col('c10_3')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1), F.col('c11_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2), F.col('c10_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c10_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3), F.col('c10_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2), F.col('c10_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1), F.col('c10_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2), F.col('c9_2')))

In [86]:
ps_t5_1_1.select('primaryclanid').distinct().count()

20

In [87]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('primaryclanid').distinct().toPandas()[0:50]

         primaryclanid
0   103582791432583665
1   103582791433621205
2   103582791429554297
3   103582791432774642
4   103582791429622516
5   103582791430077014
6   103582791432817724
7   103582791432160547
8   103582791429521408
9   103582791432044304
10  103582791429931643
11  103582791429554530
12  103582791431460489
13  103582791429521648
14  103582791429826908
15  103582791432542440
16  103582791432316558
17  103582791431793112
18                  "N
19  103582791430041014

In [88]:
check_missing(ps_t5_1_1.select('primaryclanid'))

+-------------+
|primaryclanid|
+-------------+
|            0|
+-------------+

---
_Add column_
> - timecreated

In [89]:
ps_t5_1_1 = ps_t5_1_1.withColumn('timecreated', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3), F.col('c11_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2), F.col('c11_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3), F.col('c10_3')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3), F.col('c10_3')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2), F.col('c10_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c10_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2), F.col('c10_1')))

In [91]:
ps_t5_1_1.select('timecreated').distinct().count()

22

In [92]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('timecreated').distinct().toPandas()[0:50]

              timecreated
0   "2005-12-07 15:21:29"
1   "2004-12-10 04:25:41"
2   "2004-04-19 17:47:32"
3   "2003-11-25 20:23:38"
4   "2003-12-13 07:31:25"
5   "2003-09-13 13:39:58"
6   "2006-04-27 13:11:12"
7   "2003-09-16 09:27:39"
8   "2003-09-15 05:27:34"
9   "2004-12-18 07:27:12"
10  "2005-03-20 14:59:53"
11  "2003-12-02 10:32:35"
12  "2003-12-01 15:14:08"
13  "2004-08-14 09:13:53"
14  "2003-10-03 16:03:29"
15  "2003-12-03 00:33:18"
16  "2004-10-29 23:16:31"
17                     "N
18  "2005-02-12 17:55:03"
19  "2003-10-07 10:52:11"
20  "2004-08-22 07:17:59"
21  "2006-02-03 17:13:16"

In [93]:
check_missing(ps_t5_1_1.select('timecreated'))

+-----------+
|timecreated|
+-----------+
|          0|
+-----------+

---
_Add column_
> - gameid

In [94]:
ps_t5_1_1 = ps_t5_1_1.withColumn('gameid', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2), F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) , F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')!=1) , F.col('c10_2')))

In [95]:
ps_t5_1_1.select('gameid').distinct().count()

1

In [96]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('gameid').distinct().toPandas()[0:50]

  gameid
0     "N

In [97]:
check_missing(ps_t5_1_1.select('gameid'))

+------+
|gameid|
+------+
|     0|
+------+

---
_Add column_
> - gameserverip

In [98]:
ps_t5_1_1 = ps_t5_1_1.withColumn('gameserverip', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) , F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) , F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) , F.col('c11_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) , F.col('c10_3')))

In [99]:
ps_t5_1_1.select('gameserverip').distinct().count()

1

In [100]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('gameserverip').distinct().toPandas()[0:50]

  gameserverip
0           "N

In [101]:
check_missing(ps_t5_1_1.select('gameserverip'))

+------------+
|gameserverip|
+------------+
|           0|
+------------+

---
_Add column_
> - gameextrainfo

In [103]:
ps_t5_1_1 = ps_t5_1_1.withColumn('gameextrainfo', F.when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), F.col('_c16')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), F.col('c15_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)  & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((~F.col('_c1').contains('http')) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c13')==1), F.col('c15_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c13')==2), F.col('c14_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1)& (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==3) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==1) & (F.col('nSplit_c13')==2), F.col('c13_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==2), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) & (F.col('nSplit_c12')==1), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==1), F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1)& (F.col('nSplit_c12')==2), F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2), F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1) , F.col('c13_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2) , F.col('c12_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2) , F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1) , F.col('c12_1')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2) , F.col('c11_2')).\
                                 when((F.col('_c1').contains('http')) & (F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==3) , F.col('c11_1')))

In [104]:
ps_t5_1_1.select('gameextrainfo').distinct().count()

1

In [105]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('gameextrainfo').distinct().toPandas()[0:50]

  gameextrainfo
0            "N

In [106]:
check_missing(ps_t5_1_1.select('gameextrainfo'))

+-------------+
|gameextrainfo|
+-------------+
|            0|
+-------------+

---
_Add column_
> - cityid

In [108]:
ps_t5_1_1 = ps_t5_1_1.withColumn('cityid', F.lit('N'))

In [109]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('cityid').distinct().toPandas()[0:50]

  cityid
0      N

In [110]:
ps_t5_1_1.count()

1106

---
_Check pattern of _c16, _c17,_c18. If they all None, than the rest of the columns can be filled with Null_

In [116]:
ps_t5_1_1.toPandas()[['_c13','_c14','_c15','_c16', '_c17', '_c18','_c19']]

       _c13   _c14                      _c15  _c16  _c17  _c18  _c19
0     "N,"N  "N,"N  "N,"2013-03-06 17:32:16"  None  None  None  None
1     "N,"N  "N,"N  "N,"2013-02-28 14:34:16"  None  None  None  None
2     "N,"N  "N,"N  "N,"2013-02-28 14:34:18"  None  None  None  None
3     "N,"N  "N,"N  "N,"2013-02-28 14:31:53"  None  None  None  None
4     "N,"N  "N,"N  "N,"2013-02-28 14:31:54"  None  None  None  None
...     ...    ...                       ...   ...   ...   ...   ...
1101  "N,"N  "N,"N  "N,"2013-03-02 02:20:04"  None  None  None  None
1102  "N,"N  "N,"N  "N,"2013-03-14 13:16:10"  None  None  None  None
1103  "N,"N  "N,"N  "N,"2013-02-28 14:26:30"  None  None  None  None
1104  "N,"N  "N,"N  "N,"2013-02-28 14:26:12"  None  None  None  None
1105  "N,"N  "N,"N       2013-03-01 08:02:46  None  None  None  None

[1106 rows x 7 columns]

In [117]:
ps_t5_1_1 = ps_t5_1_1.withColumn('loccountrycode',F.lit('N'))
ps_t5_1_1 = ps_t5_1_1.withColumn('locstatecode',F.lit('N'))

In [118]:
ps_t5_1_1.select('loccountrycode').distinct().count()

1

In [119]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_1_1.select('loccountrycode').distinct().toPandas()[0:50]

  loccountrycode
0              N

---
### 5.5.3a Format, rename columns and save Table

In [120]:
ps_t5_1_1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c1: integer (nullable = false)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c1_1: string (nullable = true)
 |-- c1_2: string (nullable = true)
 |-- c8_1: string (nullable = true)
 |-- c8_2: string (nullable = true)
 |-- c9_1: string (nullable = true)
 |-- c9_2: string (nullable = true)
 |-- c10_1: string (nullable = true)
 |-- c10_2: string (nullable = true)
 |-- c10_3: string (nullable = true)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- personaname: string (nullable = true)
 |-- profileurl: string (nullable = true)
 |-- personastate: string (nullable = true)
 |-- communityvisibilitystate: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = false)
 |-- loccountrycode: string (nullable = false)
 |-- locstatecode: string (nullable = false)

In [125]:
# Drop unnecssary columns
ps_t5_1_1 = ps_t5_1_1.drop('nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','len_c9',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c12_1','c12_2','c13_1','c13_2','_c4','_c5',\
                    'c1_1','c1_2','c14_1','c14_2','c15_1','c15_2','c8_1','c8_2','c9_1','c9_2','_c1','_c2','_c3',\
                    'c10_1','c10_2','c10_3','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19')

In [127]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t5_1_1 = rename_col(ps_t5_1_1, newColumns)

In [128]:
ps_t5_1_1.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = false)
 |-- country_code: string (nullable = false)
 |-- state_code: string (nullable = false)

In [129]:
# Replace " symbols in data
col_list = ['profile_state','community_visibility_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_state','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t5_1_1 = ps_t5_1_1.withColumn(i,regexp_replace(i, '"', ""))

In [130]:
ps_t5_1_1.limit(50).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197961041872,"tHe New Era' MacBook Pro 3,6GHz",http://steamcommunity.com/profiles/76561197961...,0,1,1,2013-01-24 17:27:53,N,N,N,N,N,N,N,N,N,N
1,76561197961165168,"å†·è”µåº« `_^d3f (,;,;,)",http://steamcommunity.com/profiles/76561197961...,0,1,1,2013-02-14 03:31:15,N,N,N,N,N,N,N,N,N,N
2,76561197969633313,"Mom, I grow bandits ...",http://steamcommunity.com/profiles/76561197969...,0,1,1,2013-02-16 00:32:32,N,N,N,N,N,N,N,N,N,N
3,76561197980045879,"Lock, Fuck Life!",http://steamcommunity.com/id/Mnstrcat/,0,1,1,2013-02-19 03:36:45,N,N,N,N,N,N,N,N,N,N
4,76561197976133631,"69Â°N-28Â°E .`,",http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-02-18 09:13:35,N,N,N,N,N,N,N,N,N,N
5,76561197976434449,"DEVIL>_<,.",http://steamcommunity.com/profiles/76561197976...,0,1,1,2010-09-25 11:38:49,N,N,N,N,N,N,N,N,N,N
6,76561197980707823,"Mami,s Kleiner Nuttenwurm",http://steamcommunity.com/profiles/76561197980...,0,1,1,2013-03-01 08:55:14,N,N,N,N,N,N,N,N,N,N
7,76561197980172071,"Bram,, |BRamBoNL|",http://steamcommunity.com/id/brambo90/,0,1,1,2012-09-14 14:22:14,N,N,N,N,N,N,N,N,N,N
8,76561197980194293,",@,e",http://steamcommunity.com/profiles/76561197980...,0,1,1,2013-03-05 23:32:35,N,N,N,N,N,N,N,N,N,N
9,76561197962799333,"Sleepa, Creepa",http://steamcommunity.com/profiles/76561197962...,0,1,1,2013-03-06 15:57:30,N,N,N,N,N,N,N,N,N,N
10,76561197984281371,"""h2ZO<^_^>O /â˜¢""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-14 04:11:06,1,N,N,N,N,N,N,N,N,N
11,76561197977410115,"Camilla, jeg elsker deg!!",http://steamcommunity.com/id/2414211/,0,1,1,2012-05-31 05:54:31,N,N,N,N,N,N,N,N,N,N
12,76561197973172514,""".Wraith""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-01-08 13:44:24,N,N,N,N,N,N,N,N,N,N
13,76561197985343644,"""dy""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-03-01 21:09:47,N,N,N,N,N,N,N,N,N,N
14,76561197968268561,"General my fault, Sorry!!!",http://steamcommunity.com/id/Beta-whore/,0,1,1,2013-02-14 17:15:15,N,N,N,N,N,N,N,N,N,N
15,76561197981241207,"Best Aim of Russia,True player",http://steamcommunity.com/profiles/76561197981...,0,1,1,2012-06-12 16:25:15,N,N,N,N,N,N,N,N,N,N
16,76561197983275602,"Ð¼Ð½Ðµ Ð¿Ð¾Ñ…ÑƒÐ¹,ÑÐ—Ð’Ð•Ð—Ð”A",http://steamcommunity.com/profiles/76561197983...,0,1,1,2013-02-13 15:21:10,N,N,N,N,N,N,N,N,N,N
17,76561197962734104,"ready to die, nigga?",http://steamcommunity.com/id/hartpro/,0,1,1,2013-02-16 10:45:30,N,N,N,N,N,N,N,N,N,N
18,76561197960358755,"STFU PLS, KTHX!",http://steamcommunity.com/profiles/76561197960...,0,1,1,2013-01-29 14:20:51,N,N,N,N,N,N,N,N,N,N
19,76561197985221517,"..,-",http://steamcommunity.com/profiles/76561197985...,0,1,1,2012-02-10 09:44:36,N,N,N,N,N,N,N,N,N,N
20,76561197976274737,",,",http://steamcommunity.com/id/m1ha8/,0,1,1,2013-03-06 17:50:27,N,N,N,N,N,N,N,N,N,N
21,76561197961124143,"(>,<)",http://steamcommunity.com/profiles/76561197961...,0,1,1,2013-02-03 17:50:14,N,N,N,N,N,N,N,N,N,N
22,76561197963346433,".x Samantha,, <3",http://steamcommunity.com/profiles/76561197963...,0,1,1,2012-09-20 05:07:22,N,N,N,N,N,N,N,N,N,N
23,76561197973283478,"Pietrucha|_,([])|_,",http://steamcommunity.com/profiles/76561197973...,0,1,1,2013-02-18 09:55:32,N,N,N,N,N,N,N,N,N,N
24,76561197973595331,"Pufik, only Pufik",http://steamcommunity.com/id/probadly/,0,1,1,2013-01-22 11:11:28,N,N,N,N,N,N,N,N,N,N
25,76561197973665038,"kee,",http://steamcommunity.com/profiles/76561197973...,0,1,1,2012-09-01 12:52:51,N,N,N,N,N,N,N,N,N,N
26,76561197979173067,"DER, DER ALLES FICKT!",http://steamcommunity.com/profiles/76561197979...,0,1,1,2010-01-22 10:34:16,N,N,N,N,N,N,N,N,N,N
27,76561197963768136,"NimuÅ› (>,'')>",http://steamcommunity.com/id/nimu1337/,0,1,1,2013-02-14 12:10:49,N,N,N,N,N,N,N,N,N,N
28,76561197985321015,"Dr, Brule",http://steamcommunity.com/profiles/76561197985...,0,1,1,2013-03-01 23:00:05,N,N,N,N,N,N,N,N,N,N
29,76561197977871129,"[Regicide] Johnny, O Bebado",http://steamcommunity.com/id/dJohnny/,0,1,1,2013-02-15 17:03:27,N,N,N,N,N,N,N,N,N,N
30,76561197973029518,"Dr. Jones, Rockman",http://steamcommunity.com/id/arc_impulse127/,0,1,1,2013-02-06 09:14:48,N,N,N,N,N,N,N,N,N,N
31,76561197963403404,"by kLaYd^ aim,wh!?",http://steamcommunity.com/id/klaydsticker/,0,1,1,2013-03-05 11:06:20,N,N,N,N,N,N,N,N,N,N
32,76561197962551679,"nevermind,",http://steamcommunity.com/profiles/76561197962...,0,1,1,2013-03-05 17:34:04,N,N,N,N,N,N,N,N,N,N
33,76561197960332720,"DOOMiNAT[9]RRR \o_,,",http://steamcommunity.com/profiles/76561197960...,0,1,1,2008-12-25 05:51:13,N,N,N,N,N,N,N,N,N,N
34,76561197974347260,"Phoenix, Right?",http://steamcommunity.com/profiles/76561197974...,0,1,1,2013-02-18 00:10:07,N,N,N,N,N,N,N,N,N,N
35,76561197980297487,"""}|{e|{/-""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-03 00:26:40,N,N,N,N,N,N,N,N,N,N
36,76561197967335483,"{/}{x}IDORI {,}",http://steamcommunity.com/profiles/76561197967...,0,1,1,2013-02-15 07:17:27,N,N,N,N,N,N,N,N,N,N
37,76561197965656160,"""Crovis""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-13 09:58:10,N,N,N,N,N,N,N,N,N,N
38,76561197969412385,"Hi, I'm Peanut!",http://steamcommunity.com/profiles/76561197969...,0,1,1,2013-01-30 15:44:49,N,N,N,N,N,N,N,N,N,N
39,76561197960529689,"""virtous""",http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-15 11:53:14,1,N,103582791430041014,2003-09-13 13:39:58,N,N,N,N,N,N
40,76561197960568190,""":D""",http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-15 00:49:51,N,N,N,N,N,N,N,N,N,N
41,76561197970263429,"King, Mmm oreos.",http://steamcommunity.com/profiles/76561197970...,0,1,1,2013-02-17 19:16:08,N,N,N,N,N,N,N,N,N,N
42,76561197962052721,"brysuk* skillz, lets go!",http://steamcommunity.com/profiles/76561197962...,0,1,1,2013-02-16 11:31:18,N,N,N,N,N,N,N,N,N,N
43,76561197963414794,"inz, huj wje",http://steamcommunity.com/id/rxzxclusive/,0,1,1,2013-02-15 19:02:23,N,N,N,N,N,N,N,N,N,N
44,76561197976999099,"Fetzi, die lustige Landmine",http://steamcommunity.com/profiles/76561197976...,0,1,1,2013-01-09 16:56:53,N,N,N,N,N,N,N,N,N,N
45,76561197964509596,"Tom, age 5",http://steamcommunity.com/id/therealknox/,0,1,1,2013-02-15 20:49:57,N,N,N,N,N,N,N,N,N,N
46,76561197984523775,"kryptoN. `,",http://steamcommunity.com/profiles/76561197984...,0,1,1,2012-07-13 14:37:39,N,N,N,N,N,N,N,N,N,N
47,76561197984728687,"Ted, bara Freddie.",http://steamcommunity.com/profiles/76561197984...,0,1,1,2013-02-28 13:59:16,N,N,N,N,N,N,N,N,N,N
48,76561197981634892,"Æ’(mâˆ‘,yÃ¸u)=â€¦=mâˆ‘",http://steamcommunity.com/profiles/76561197981...,0,1,1,2013-02-01 10:13:16,N,N,N,N,N,N,N,N,N,N
49,76561197981793250,"Papsmear, Bane of the Innocent",http://steamcommunity.com/id/viking70/,0,1,1,2013-03-01 03:24:18,N,N,N,N,N,N,N,N,N,N

In [131]:
# Save TABLE 5_1_1
ps_t5_1_1.write.csv('/user/tamng/jwht/CleanData/ps_t5_1_1.csv', header = True)

---
### TABLE 5_1_2

ps_t5_1_2 = ps_t5_1.filter((F.col('nSplit_c1')==1)

### 5.5.1b Filter data and check number of Split

In [132]:
ps_t5_1_2.count()

3552867

In [133]:
ps_t5_1_2.limit(20).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197970619367,iangel,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
1,76561197970619889,CrazyIvan75,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-07 15:27:57,...,2,2,2,2,2,2,-1,-1,-1,-1
2,76561197970620385,usdsk8er2003,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
3,76561197970620458,fireintiger,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
4,76561197970620685,vampire_of_dusseldorf,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
5,76561197970621298,webgap,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
6,76561197970621362,timobeni,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
7,76561197970621876,Xyster,http://steamcommunity.com/id/xystro/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-08 19:53:53,...,2,2,2,2,2,2,-1,-1,-1,-1
8,76561197970622727,graphics,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
9,76561197970622903,*><* DaNiJeL *><*,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-02 09:25:35,...,2,2,2,2,2,2,-1,-1,-1,-1
10,76561197970623186,yuupy,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
11,76561197970623667,george,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
12,76561197970624534,ollyd,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
13,76561197970625738,wonder,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
14,76561197970626571,noah,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
15,76561197970626760,mikejane,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
16,76561197970627301,h.pult,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
17,76561197970627616,[aaR] punishrs,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-17 18:31:17,...,2,2,2,2,2,2,-1,-1,-1,-1
18,76561197970630941,Baphomet,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-01-25 12:36:17,...,2,2,2,2,2,2,-1,-1,-1,-1
19,76561197970631884,PohakuHoku,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-14 20:29:31,...,2,2,2,2,2,2,-1,-1,-1,-1

In [134]:
for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t5_1_2.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|        1|3552867|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|3552867|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1| 463385|
|        2|3089482|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1| 454563|
|        3|     23|
|        2|3098281|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         3|    540|
|         2|3552327|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         2|3552867|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         2|3552867|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|    128|
|         2|3552739|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|         1|     73|
|         2|3552794|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|        -1|3087768|
|         1|  12692|
|         2| 452407|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|3552812|
|         1|     55|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|3552867|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|3552867|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|3552867|
+----------+-------+

None

In [135]:
ps_t5_1_2.filter(F.col('nSplit_c9')==3).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,nSplit_c10,nSplit_c11,nSplit_c12,nSplit_c13,nSplit_c14,nSplit_c15,nSplit_c16,nSplit_c17,nSplit_c18,nSplit_c19
0,76561197973080426,shN dno iz dna iz css,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
1,76561197970971266,quoc.hoang,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
2,76561197966052466,bram,http://steamcommunity.com/profiles/76561197966...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,1,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
3,76561197964008436,personne,http://steamcommunity.com/profiles/76561197964...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
4,76561197976070247,Fraktsiya,http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
5,76561197965174845,mman71,http://steamcommunity.com/profiles/76561197965...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
6,76561197967599201,IV THA POVERTY,http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,1,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
7,76561197974026086,forssi,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
8,76561197972799272,eigler,http://steamcommunity.com/profiles/76561197972...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
9,76561197983055084,keberk0,http://steamcommunity.com/profiles/76561197983...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,1,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
10,76561197984175212,disconnected,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
11,76561197971014501,frelew,http://steamcommunity.com/profiles/76561197971...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
12,76561197979865940,d_a_r_e_d_e_v_i_l,http://steamcommunity.com/profiles/76561197979...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
13,76561197970662251,jason.a.harley,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
14,76561197967720233,giant1989,http://steamcommunity.com/id/giant1989/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
15,76561197971059908,dusseldorfs,http://steamcommunity.com/id/dusseldorfs/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,1,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
16,76561197973131720,Best,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
17,76561197969350550,olaf881,http://steamcommunity.com/profiles/76561197969...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
18,76561197977870851,spider2000,http://steamcommunity.com/profiles/76561197977...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,1,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
19,76561197976430196,Kenny99,http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
20,76561197973150118,BlackIceSix,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
21,76561197969891524,Kelkel_for_CNN,http://steamcommunity.com/profiles/76561197969...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1
22,76561197971144455,fred1340,http://steamcommunity.com/profiles/76561197971...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,"""N,2,""N",...,2,2,2,2,2,-1,-1,-1,-1,-1

In [137]:
ps_t5_1_2.filter(F.col('nSplit_c10')==3).toPandas()[['_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16', '_c17', '_c18','_c19']]

,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,3,1,"""N,""N","""N,103582791429521408,""2004-06-12 06:29:06""","""N,""N","""N,""N",DZ,"""N,""N",2013-02-28 14:36:28,None,None,None,None
1,3,1,"""N,""N","""N,103582791429521408,""2003-09-19 20:11:52""","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:17""",None,None,None,None,None
2,3,"""N,""2013-02-12 11:51:09""",1,"""N,103582791429521408,""2004-06-07 02:50:15""","""N,""N","""N,""N",US,"""N,""N",2013-02-28 14:36:27,None,None,None,None
3,3,1,"""N,""N","""N,103582791429521408,""2005-01-23 04:19:41""","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:30""",None,None,None,None,None
4,3,"""N,""2013-01-07 20:19:40""",1,"""N,103582791429521408,""2003-09-25 23:07:15""","""N,""N","""N,""N",US,TX,3620,2013-02-28 14:19:47,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,3,1,"""N,""N","""N,103582791429521408,""2005-01-25 13:40:03""","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:31""",None,None,None,None,None
536,3,"""N,""2011-06-27 22:29:25""",1,"""N,103582791429521408,""2006-09-10 06:42:18""","""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:31""",None,None,None,None,None
537,3,"""N,""2011-08-28 18:21:54""",1,"""N,103582791429521408,""2005-12-25 21:38:23""","""N,""N","""N,""N",CA,"""N,""N",2013-03-01 10:52:31,None,None,None,None
538,3,1,"""N,""N","""N,103582791429521408,""2003-10-18 14:50:04""","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:32""",None,None,None,None,None
539,3,1,"""N,""N","""N,103582791429521408,""2004-01-09 07:57:44""","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:15""",None,None,None,None,None

In [229]:
ps_t5_2 = ps_t5_1_2.filter((F.col('nSplit_c9')!=3) & (F.col('nSplit_c10')!=3))
ps_t5_2.count()

3552304

In [145]:
for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t5_2.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|        1|3552304|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|3552304|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1| 463139|
|        2|3089165|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1| 454223|
|        2|3098081|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         2|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         2|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         2|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         2|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|         2|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|        -1|3087333|
|         1|  12582|
|         2| 452389|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|3552304|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|3552304|
+----------+-------+

None

In [230]:
# Set new columns need to split for this data

col_c8 = ['_c8']
newcols_c8 = ['c8_1', 'c8_2']

col_c9 = ['_c9']
newcols_c9 = ['c9_1', 'c9_2']

col_c10 = ['_c10']
newcols_c10 = ['c10_1', 'c10_2', 'c10_3']

col_c11 = ['_c11']
newcols_c11 = ['c11_1', 'c11_2']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

# Apply split function
ps_t5_2 = split_2_column(ps_t5_2, col_c8, newcols_c8)
ps_t5_2 = split_2_column(ps_t5_2, col_c9, newcols_c9)
ps_t5_2 = split_3_column(ps_t5_2, col_c10, newcols_c10)
ps_t5_2 = split_2_column(ps_t5_2, col_c11, newcols_c11)
ps_t5_2 = split_2_column(ps_t5_2, col_c12, newcols_c12)
ps_t5_2 = split_2_column(ps_t5_2, col_c13, newcols_c13)
ps_t5_2 = split_2_column(ps_t5_2, col_c14, newcols_c14)
ps_t5_2 = split_2_column(ps_t5_2, col_c15, newcols_c15)

In [147]:
ps_t5_2.limit(20).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,c11_1,c11_2,c12_1,c12_2,c13_1,c13_2,c14_1,c14_2,c15_1,c15_2
0,76561197961495942,sortelli,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
1,76561197961496043,knollo111,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50""",None,None
2,76561197961496053,great_sim,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50""",None,None
3,76561197961496921,kellerdaughter,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50""",None,None
4,76561197961497573,wildgus,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50""",None,None
5,76561197961497817,nikkibroda,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50""",None,None
6,76561197961502157,w3x1n,http://steamcommunity.com/id/w3x1n/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2012-01-30 21:24:10,...,"""N","""N","""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:50"""
7,76561197961507338,david_c21,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
8,76561197961511362,kamasutra0878,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
9,76561197961520021,l_brigham00,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:51""",None,None
10,76561197961520196,kevinâ„¢,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-16 10:39:17,...,"""N","""N","""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23"""
11,76561197961520478,kdkd,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
12,76561197961521032,dnd,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-03-06 12:48:53""",None,None
13,76561197961521306,rewind_again,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
14,76561197961522598,btursi,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
15,76561197961522808,milcan,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
16,76561197961522815,jacaguezinho,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:19:51""",None,None
17,76561197961523288,johnny1879,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
18,76561197961523534,fallenbelow,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None
19,76561197961523576,kayfaric,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N",...,"""N","""N","""N","""N","""N","""N","""N","""2013-02-28 14:34:23""",None,None

In [190]:
ps_t5_2.limit(50).toPandas()[['_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16']]

,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16
0,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
1,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
2,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""2013-02-18 17:50:47""","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
3,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
4,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
5,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
6,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
7,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
8,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-03-06 14:39:18""",None,None
9,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
10,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
11,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
12,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
13,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
14,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
15,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
16,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:38""",None,None
17,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-02 22:04:27,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None
18,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
19,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
20,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:42""",None,None
21,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
22,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
23,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
24,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
25,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
26,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
27,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
28,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
29,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-03-06 19:03:51""",None,None
30,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
31,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
32,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-17 13:00:01,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None
33,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
34,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
35,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
36,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
37,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
38,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
39,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-16 12:45:04,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None
40,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
41,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
42,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
43,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
44,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
45,http://media.steampowered.com/steamcommunity/p...,0,1,1,2013-02-13 12:17:46,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None
46,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:39""",None,None
47,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
48,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None
49,http://media.steampowered.com/steamcommunity/p...,0,1,"""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:43""",None,None

---
### 5.5.2b Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [231]:
ps_t5_2 = ps_t5_2.withColumn('profilestate', F.col('c8_1'))


ps_t5_2 = ps_t5_2.withColumn('lastlogoff', F.when((F.col('nSplit_c8')==1),F.col('c9_1')).\
                             when((F.col('nSplit_c8')==2),F.col('c8_2')))


ps_t5_2 = ps_t5_2.withColumn('commentpermission', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1),F.col('c10_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2),F.col('c9_2')).\
                             when((F.col('nSplit_c8')==2) , F.col('c9_1')))

In [232]:
ps_t5_2 = ps_t5_2.filter((~F.col('c8_1').contains('20')))
ps_t5_2.count()

3552302

In [203]:
check_missing(ps_t5_2.select('profilestate'))

+------------+
|profilestate|
+------------+
|           0|
+------------+

In [204]:
ps_t5_2.select('profilestate').distinct().count()

5

In [205]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('profilestate').distinct().toPandas()[0:50]

  profilestate
0            3
1            1
2            4
3           "N
4            2

In [206]:
ps_t5_2.select('lastlogoff').distinct().count()

486696

In [207]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('lastlogoff').distinct().toPandas()[0:50]

               lastlogoff
0     2013-02-02 14:45:11
1   "2011-08-16 18:58:09"
2     2013-02-26 00:09:48
3     2013-02-28 21:33:53
4     2013-02-18 19:06:40
5     2013-02-12 06:32:45
6     2011-06-26 03:57:35
7     2013-02-13 16:35:03
8     2013-01-23 06:01:03
9   "2013-02-17 12:15:15"
10  "2013-02-15 12:09:24"
11    2013-02-18 14:20:13
12    2013-02-10 09:52:54
13    2013-02-18 23:14:57
14    2013-01-27 12:36:47
15    2013-02-17 15:54:38
16    2013-02-17 22:34:56
17    2013-02-28 13:30:50
18    2011-07-02 17:14:04
19    2010-01-07 04:02:14
20    2013-03-06 17:50:22
21    2011-05-22 18:34:57
22    2013-01-25 22:37:36
23    2009-08-12 12:47:55
24    2011-10-17 01:48:01
25    2012-08-22 15:37:19
26    2013-01-31 20:18:15
27    2013-02-16 16:26:50
28    2010-06-28 01:04:29
29    2013-02-17 09:17:53
30    2013-02-17 15:58:05
31    2013-02-17 06:04:27
32    2013-02-17 00:07:24
33  "2011-08-22 21:49:01"
34    2013-02-06 19:26:40
35    2012-09-09 04:50:35
36  "2013-02-17 05:48:32"
37    2013-02-16 06:28:34
38    2013-01-30 13:27:14
39  "2012-09-30 00:52:30"
40    2013-02-18 15:44:04
41    2013-02-16 07:35:12
42    2012-07-10 15:19:09
43  "2013-03-06 16:43:46"
44    2013-01-07 13:49:46
45  "2012-02-20 10:37:09"
46    2012-10-07 23:27:47
47    2013-02-17 15:20:09
48    2012-09-14 16:09:17
49  "2012-12-15 16:50:01"

---
_Add column_
> - commentpermission

In [208]:
ps_t5_2.select('commentpermission').distinct().count()

3

In [209]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('commentpermission').distinct().toPandas()[0:50]

  commentpermission
0                 1
1                "N
2                 2

---
_Add column_
> - realname

In [233]:
ps_t5_2 = ps_t5_2.withColumn('realname', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2),F.col('c10_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2),F.col('c10_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1),F.col('c10_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2),F.col('c9_2')))

In [211]:
ps_t5_2.select('realname').distinct().count()

1

In [212]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('realname').distinct().toPandas()[0:50]

  realname
0       "N

---
_Add column_
> - primaryclanid

In [234]:
ps_t5_2 = ps_t5_2.withColumn('primaryclanid', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1),F.col('c12_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2),F.col('c11_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2),F.col('c10_2')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2),F.col('c10_2')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2),F.col('c10_1')))

In [214]:
ps_t5_2.select('primaryclanid').distinct().count()

1

In [215]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('primaryclanid').distinct().toPandas()[0:50]

  primaryclanid
0            "N

In [216]:
check_missing(ps_t5_2.select('primaryclanid'))

+-------------+
|primaryclanid|
+-------------+
|            0|
+-------------+

---
_Add column_
> - timecreated

In [235]:
ps_t5_2 = ps_t5_2.withColumn('timecreated', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==1),F.col('c13_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1) & (F.col('nSplit_c12')==2),F.col('c12_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2),F.col('c12_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==1),F.col('c12_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2) & (F.col('nSplit_c11')==2),F.col('c11_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1),F.col('c12_1')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2),F.col('c11_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==1),F.col('c12_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==1) & (F.col('nSplit_c11')==2),F.col('c11_2')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==1) & (F.col('nSplit_c10')==2),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==1),F.col('c11_1')).\
                             when((F.col('nSplit_c8')==2) & (F.col('nSplit_c9')==2) & (F.col('nSplit_c10')==2),F.col('c10_2')))

In [218]:
ps_t5_2.select('timecreated').distinct().count()

1

In [219]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t5_2.select('timecreated').distinct().toPandas()[0:50]

  timecreated
0          "N

In [220]:
check_missing(ps_t5_2.select('timecreated'))

+-----------+
|timecreated|
+-----------+
|          0|
+-----------+

---
_Add column_
> - gameid
> - gameserverip
> - gameextrainfo
> - cityid
> - loccountrycode
> - locstatecode

In [236]:
ps_t5_2 = ps_t5_2.withColumn('gameid',F.lit('N'))
ps_t5_2 = ps_t5_2.withColumn('gameserverip',F.lit('N'))
ps_t5_2 = ps_t5_2.withColumn('gameextrainfo',F.lit('N'))
ps_t5_2 = ps_t5_2.withColumn('cityid',F.lit('N'))
ps_t5_2 = ps_t5_2.withColumn('loccountrycode',F.lit('N'))
ps_t5_2 = ps_t5_2.withColumn('locstatecode',F.lit('N'))

---
### 5.5.3b Format, rename columns and save Table

In [237]:
ps_t5_2.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c1: integer (nullable = false)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c8_1: string (nullable = true)
 |-- c8_2: string (nullable = true)
 |-- c9_1: string (nullable = true)
 |-- c9_2: string (nullable = true)
 |-- c10_1: string (nullable = true)
 |-- c10_2: string (nullable = true)
 |-- c10_3: string (nullable = true)
 |-- c11_1: string (nullable = true)
 |-- c11_2: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = false)
 |-- gameserverip: string (nullable = false)
 |-- gameextrainfo: string (nullable = false)
 |-- cityid: string (nullable = false)
 |-- loccountrycode: string (nullable = false)
 |-- locstatecode: string (nullable = false)

In [238]:
# Drop unnecssary columns
ps_t5_2 = ps_t5_2.drop('nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','len_c9',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c12_1','c12_2','c13_1','c13_2','_c4','_c5',\
                    'c14_1','c14_2','c15_1','c15_2','c8_1','c8_2','c9_1','c9_2','_c3',\
                    'c10_1','c10_2','c10_3','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19')

In [240]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t5_2 = rename_col(ps_t5_2, newColumns)

In [241]:
ps_t5_2.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = false)
 |-- gameserver_ip: string (nullable = false)
 |-- game_extrainfo: string (nullable = false)
 |-- city_id: string (nullable = false)
 |-- country_code: string (nullable = false)
 |-- state_code: string (nullable = false)

In [243]:
# Replace " symbols in data
col_list = ['profile_state','community_visibility_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_state','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t5_2 = ps_t5_2.withColumn(i,regexp_replace(i, '"', ""))

In [244]:
ps_t5_2.limit(10).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197979722532,markkanitz,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
1,76561197979725205,acererack,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
2,76561197979726384,bss5552003,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
3,76561197979729455,silenthill2,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
4,76561197979730227,ouchmyknee,http://steamcommunity.com/profiles/76561197979...,0,1,N,2013-02-19 00:57:12,N,N,N,N,N,N,N,N,N,N
5,76561197979731226,suominen.hannu,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
6,76561197979731796,papuecas,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
7,76561197979732779,trailwalkers,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
8,76561197979732980,bender03,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
9,76561197979740173,dancehouse1,http://steamcommunity.com/profiles/76561197979...,0,1,N,N,N,N,N,N,N,N,N,N,N,N

In [246]:
ps_t5_2.count()

3552302

In [245]:
# Save TABLE 5_2
ps_t5_2.write.csv('/user/tamng/jwht/CleanData/ps_t5_2.csv', header = True)

---
## <font color = 'black'> TABLE 6: nSplit_c11 =1 & nSplit_c10 =1 <font>
<br> </br>
nSplit_c11 =1 & nSplit_c10 =1

### 5.6.1 Filter data and check number of Split

In [30]:
ps_t6 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 1) & (player_summaries_drop.nSplit_c10 == 1))
ps_t6.count()

3347748

In [31]:
cols_check = ['_c1','_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']

tagname = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11', 'nSplit_c12', 'nSplit_c13', 'nSplit_c14',
           'nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

ps_t6 = add_count_split_column(ps_t6, cols_check, tagname)

In [32]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t6.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|       26|      1|
|       12|      3|
|        1|3344328|
|        6|      9|
|       16|      1|
|        3|    366|
|        5|     72|
|       15|      1|
|        9|     30|
|       17|      2|
|        4|     58|
|        8|      7|
|        7|     27|
|       10|      5|
|       45|      1|
|       11|      4|
|        2|   2833|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|       -1|      1|
|        1|3347747|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|  85316|
|        2|3262432|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|  84690|
|        3|     76|
|        2|3262982|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         1|3347748|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|3347748|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         1|  88017|
|         2|3259731|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|  84912|
|         2|3262836|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|         1|  24910|
|         2|3322838|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         1|  12613|
|         2|3335135|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|3238529|
|         1|  93968|
|         2|  15251|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|3255281|
|         1|  66460|
|         3|      1|
|         2|  26006|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|3272264|
|         1|  59114|
|         2|  16370|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|3303708|
|         1|  43794|
|         2|    246|
+----------+-------+

None

In [35]:
ps_t6.filter(F.col('nSplit_c1')==1).limit(50).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197973059911,KoS,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 16:48:27""","""N,""N",103582791429521408,2005-01-10 05:57:00,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:18""",None,None,None,None
1,76561197973060336,ehydrean,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-11-17 14:59:47""","""N,""N",103582791429521408,2005-01-10 17:35:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
2,76561197973062097,mafiak2,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 15:13:13""","""N,""N",103582791429521408,2005-01-10 07:30:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:18""",None,None,None,None
3,76561197973063896,Krystal,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-10-21 01:12:29""","""N,""N",103582791429521408,2005-01-10 20:48:17,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
4,76561197973065286,martin,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-06 22:40:28""","""N,""N",103582791429521408,2005-01-10 22:18:39,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 14:32:14""",None,None,None,None
5,76561197973065436,hivegaming14,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-06 17:36:05""","""N,""N",103582791429521408,2005-01-10 22:29:13,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
6,76561197973066647,mugri,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-06-03 11:51:29""","""N,""N",103582791429521408,2005-01-10 10:05:22,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
7,76561197973069313,mark,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-27 12:33:13""","""N,""N",103582791429521408,2005-01-10 11:22:25,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
8,76561197973075516,jeffrey.bron,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-11-15 14:36:24""","""N,""N",103582791429521408,2005-01-11 09:03:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
9,76561197973076304,rooobsn,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-06-18 03:56:56""","""N,""N",103582791429521408,2005-01-11 09:27:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
10,76561197973077447,benny1980,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-01 16:24:37""","""N,""N",103582791429521408,2005-01-10 15:43:21,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
11,76561197973077625,zein55,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-12-11 16:36:53""","""N,""N",103582791429521408,2005-01-10 15:50:11,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
12,76561197973081469,velkommen,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-15 11:29:41""","""N,""N",103582791429521408,2005-01-10 19:11:37,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
13,76561197973082148,chodges15,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,4,3,"""N,""2013-02-13 20:49:26""","""N,""N",103582791429521408,2005-01-11 12:22:52,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
14,76561197973082599,rafael_zumbi,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-07-12 14:23:08""","""N,""N",103582791429521408,2005-01-10 20:18:21,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
15,76561197973084275,killerofthericky,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-05-09 13:42:33""","""N,""N",103582791429521408,2005-01-10 22:08:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
16,76561197973084894,raasken,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-28 07:58:07""","""N,""N",103582791429521408,2005-01-11 13:50:29,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
17,76561197973085599,Sam,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-04-11 21:37:36""","""N,""N",103582791429521408,2005-01-10 23:58:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:19""",None,None,None,None
18,76561197973087605,playa_05,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2005-12-08 20:58:21""","""N,""N",103582791429521408,2005-01-11 03:15:55,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
19,76561197973091328,Substancer,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-17 18:52:03""","""N,""N",103582791429521408,2005-01-11 18:32:59,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
20,76561197973091584,jdm,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-02-26 18:18:56""","""N,""N",103582791429521408,2005-01-11 18:48:47,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
21,76561197973091649,www.andrea.carlotti,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-04-05 12:10:59""","""N,""N",103582791429521408,2005-01-11 07:13:52,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
22,76561197973091860,crightonvineyard,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-24 05:22:55""","""N,""N",103582791429521408,2005-01-11 19:03:01,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
23,76561197973092788,Vierna,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-09-04 18:35:06""","""N,""N",103582791429521408,2005-01-11 20:01:26,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
24,76561197973093795,halouf91,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-08-31 14:16:44""","""N,""N",103582791429521408,2005-01-11 08:33:09,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
25,76561197973096434,ktibbits,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-05-08 15:52:28""","""N,""N",103582791429521408,2005-01-12 00:52:40,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
26,76561197973097132,-[C.A.T]-NN,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-08-16 04:21:22""","""N,""N",103582791429521408,2005-01-12 02:00:14,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:28""",None,None,None,None
27,76561197973100723,Newbie NO. 1,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-03-17 15:59:43""","""N,""N",103582791429521408,2005-01-11 12:07:18,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
28,76561197973100817,FuCq NhA!!!,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-12 11:41:12""","""N,""N",103582791429521408,2005-01-11 12:10:19,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
29,76561197973102263,coLa,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-12-06 10:21:56""","""N,""N",103582791429521408,2005-01-11 12:54:28,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
30,76561197973105127,pracedes,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-09-27 02:02:18""","""N,""N",103582791429521408,2005-01-11 14:25:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
31,76561197973107447,gcbr,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-08 15:05:21""","""N,""N",103582791429521408,2005-01-11 15:56:42,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
32,76561197973107501,frozen_yakman,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,"""N,""2013-02-17 23:18:35""","""N,""N",103582791429521408,2005-01-11 15:58:17,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:20""",None,None,None,None
33,76561197973112244,jean-pierre-arsene,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-12-15 15:56:41""","""N,""N",103582791429521408,2005-01-12 12:10:52,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None
34,76561197973114505,dotso78,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-08-22 23:30:11""","""N,""N",103582791429521408,2005-01-11 22:50:19,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
35,76561197973115599,fritzw,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-01-07 14:17:33""","""N,""N",103582791429521408,2005-01-12 00:34:51,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
36,76561197973117945,Neckbreaker,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-13 15:07:35""","""N,""N",103582791429521408,2005-01-12 04:14:32,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
37,76561197973119613,webmaster,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-16 17:07:17""","""N,""N",103582791429521408,2005-01-12 05:51:19,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
38,76561197973122212,blnk182tony,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-09-26 23:02:18""","""N,""N",103582791429521408,2005-01-12 19:00:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None
39,76561197973124032,dhk062887,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-09-20 03:04:12""","""N,""N",103582791429521408,2005-01-12 20:55:09,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None
40,76561197973125567,fantasy10,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-12-17 09:06:23""","""N,""N",103582791429521408,2005-01-12 09:20:41,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
41,76561197973126547,yusuk_br,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-04-23 21:15:46""","""N,""N",103582791429521408,2005-01-12 09:49:51,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
42,76561197973127963,piru,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-07-24 23:58:24""","""N,""N",103582791429521408,2005-01-12 10:33:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
43,76561197973128441,wallass7,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-24 21:16:21""","""N,""N",103582791429521408,2005-01-12 10:46:49,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 18:54:05""",None,None,None,None
44,76561197973131197,jump,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-05-29 02:11:21""","""N,""N",103582791429521408,2005-01-12 12:06:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:21""",None,None,None,None
45,76561197973134986,rthayer5570,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-01-06 16:53:49""","""N,""N",103582791429521408,2005-01-13 08:52:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None
46,76561197973138491,a_heighway,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-06-12 15:43:36""","""N,""N",103582791429521408,2005-01-12 16:28:31,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:22""",None,None,None,None
47,76561197973142432,DOUYniktarace,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-10-06 16:57:00""","""N,""N",103582791429521408,2005-01-13 12:44:34,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 14:32:40""",None,None,None,None
48,76561197973143670,hillstrig,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-06-17 11:42:37""","""N,""N",103582791429521408,2005-01-13 13:24:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None
49,76561197973144226,tresoods,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 13:22:19""","""N,""N",103582791429521408,2005-01-13 13:42:23,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:29""",None,None,None,None

---
### TABLE 6_1

nSplit_c1 ==1 & nSplit_c16 != 1

Total rows: 3235784

### 5.6.1a Filter data and check number of Split

In [43]:
ps_t6_1 = ps_t6.filter((F.col('nSplit_c1')==1) & (F.col('nSplit_c16')==-1))
ps_t6_1.count()

3235784

In [44]:
ps_t6_1.limit(50).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197961459420,manjamerda,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-01-18 04:38:36""","""N,""N",103582791429521408,2003-09-26 23:41:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
1,76561197961462225,bhannie,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-05-05 20:12:31""","""N,""N",103582791429521408,2003-09-26 22:57:47,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:49""",None,None,None,None
2,76561197961465178,PCB|lehrbua,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-27 23:39:45""","""N,""N",103582791429521408,2003-09-27 03:24:06,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
3,76561197961466888,falcon,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-06-09 12:57:03""","""N,""N",103582791429521408,2003-09-27 04:20:34,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
4,76561197961469540,enossavior,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-29 13:35:15""","""N,""N",103582791429521408,2003-09-27 05:41:59,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:47:27""",None,None,None,None
5,76561197961470177,felipevmc,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-01 10:27:31""","""N,""N",103582791429521408,2003-09-27 03:55:42,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:49""",None,None,None,None
6,76561197961473372,Bitchmove0815,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-10-24 05:55:40""","""N,""N",103582791429521408,2003-09-27 07:33:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
7,76561197961475070,cleansheet32,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-05 06:16:06""","""N,""N",103582791429521408,2003-09-27 08:14:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
8,76561197961475659,-{BdS}- Papps,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-03-12 01:25:47""","""N,""N",103582791429521408,2003-09-27 06:33:57,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:49""",None,None,None,None
9,76561197961476241,vastavoima1,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-03-16 07:10:12""","""N,""N",103582791429521408,2003-09-27 06:52:00,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:49""",None,None,None,None
10,76561197961476735,blacksheep,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,3,3,"""N,""2013-02-15 01:02:10""","""N,""N",103582791429521408,2003-09-27 07:06:22,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:50""",None,None,None,None
11,76561197961478868,UnDead,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-09-25 04:32:09""","""N,""N",103582791429521408,2003-09-27 09:56:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
12,76561197961479502,the_hybrid218,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-09 23:48:24""","""N,""N",103582791429521408,2003-09-27 10:11:34,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
13,76561197961480753,deathpunk,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-03-29 10:03:48""","""N,""N",103582791429521408,2003-09-27 08:48:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:50""",None,None,None,None
14,76561197961481514,owned!,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-01-21 07:02:12""","""N,""N",103582791429521408,2003-09-27 11:04:02,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
15,76561197961481723,banke,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-05-09 18:06:54""","""N,""N",103582791429521408,2003-09-27 09:11:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:50""",None,None,None,None
16,76561197961487858,gorazgo,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-18 09:28:46""","""N,""N",103582791429521408,2003-09-27 13:09:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
17,76561197961488650,Maxi pad,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-08-05 22:41:52""","""N,""N",103582791429521408,2003-09-27 13:30:53,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None,None,None,None
18,76561197961491510,fkuramoto,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-06-06 23:09:07""","""N,""N",103582791429521408,2003-09-27 14:48:26,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:48:03""",None,None,None,None
19,76561197961493181,r0fLc0pTeR,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-12-07 05:21:39""","""N,""N",103582791429521408,2003-09-27 12:58:34,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:50""",None,None,None,None
20,76561197961496176,noone_0,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-25 16:22:11""","""N,""N",103582791429521408,2003-09-27 17:16:51,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
21,76561197961500131,kbonney,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-03-05 17:33:02""","""N,""N",103582791429521408,2003-09-27 16:24:56,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:50""",None,None,None,None
22,76561197961525333,the_FuRy,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-23 12:27:10""","""N,""N",103582791429521408,2003-09-28 01:07:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:51""",None,None,None,None
23,76561197961526140,dhc3185,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-08-17 15:02:25""","""N,""N",103582791429521408,2003-09-28 01:40:01,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:48:54""",None,None,None,None
24,76561197961527677,TRAFICCSS,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-07-31 19:01:44""","""N,""N",103582791429521408,2003-09-28 02:35:17,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:51""",None,None,None,None
25,76561197961527689,natalie.koehl,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-08 01:28:45""","""N,""N",103582791429521408,2003-09-28 02:36:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:51""",None,None,None,None
26,76561197961531521,ivanseah84,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-08-23 02:16:35""","""N,""N",103582791429521408,2003-09-28 04:33:05,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:51""",None,None,None,None
27,76561197961531797,dvx,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-08-08 17:05:48""","""N,""N",103582791429521408,2003-09-28 04:40:47,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:51""",None,None,None,None
28,76561197961535323,chen_wenke,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-17 03:41:07""","""N,""N",103582791429521408,2003-09-28 06:22:56,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
29,76561197961539333,Dadsoox,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-05-12 11:09:55""","""N,""N",103582791429521408,2003-09-28 08:08:36,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
30,76561197961541564,errode,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-22 09:20:21""","""N,""N",103582791429521408,2003-09-28 09:12:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
31,76561197961542136,giovannirt,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-10-06 08:57:12""","""N,""N",103582791429521408,2003-09-28 09:27:04,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:49:26""",None,None,None,None
32,76561197961542418,dave.pigott,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-05-18 09:52:53""","""N,""N",103582791429521408,2003-09-28 09:33:56,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
33,76561197961543014,maxboost_50psi,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-10-03 08:42:15""","""N,""N",103582791429521408,2003-09-28 09:48:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
34,76561197961543847,zuhaushoch,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-08-12 17:02:59""","""N,""N",103582791429521408,2003-09-28 09:58:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
35,76561197961544221,n0sound,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-01-30 16:54:22""","""N,""N",103582791429521408,2003-09-28 10:08:22,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
36,76561197961545852,McInen,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,"""N,""2013-03-05 14:08:34""","""N,""N",103582791429521408,2003-09-28 10:56:08,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 12:49:35""",None,None,None,None
37,76561197961547649,gauzi,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-03-20 06:17:19""","""N,""N",103582791429521408,2003-09-28 11:28:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
38,76561197961549196,midcity,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-09 20:12:43""","""N,""N",103582791429521408,2003-09-28 12:16:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
39,76561197961549380,darklink9805,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-06-14 22:38:09""","""N,""N",103582791429521408,2003-09-28 12:21:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
40,76561197961552461,fundamentalz85,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-04-03 18:40:38""","""N,""N",103582791429521408,2003-09-28 13:30:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
41,76561197961552474,jjk3h,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-13 22:26:51""","""N,""N",103582791429521408,2003-09-28 13:48:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
42,76561197961553941,midcity,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-28 17:53:31""","""N,""N",103582791429521408,2003-09-28 13:59:09,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:52""",None,None,None,None
43,76561197961558018,pkiki38,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-03-21 13:02:33""","""N,""N",103582791429521408,2003-09-28 16:13:31,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
44,76561197961559554,jake63088,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-09-13 09:18:21""","""N,""N",103582791429521408,2003-09-28 17:05:48,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
45,76561197961563518,iz0mbi3,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-02-03 18:17:10""","""N,""N",103582791429521408,2003-09-28 19:45:42,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
46,76561197961566514,lala1234,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-02-02 21:11:39""","""N,""N",103582791429521408,2003-09-28 21:56:25,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
47,76561197961566687,mcunning12,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-03-03 20:55:34""","""N,""N",103582791429521408,2003-09-28 21:05:05,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:53""",None,None,None,None
48,76561197961568792,Hood,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-12 21:14:53""","""N,""N",103582791429521408,2003-09-28 23:47:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:23""",None,None,None,None
49,76561197961573877,t.decoster,http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-26 04:20:08""","""N,""N",103582791429521408,2003-09-29 03:21:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:53""",None,None,None,None

In [45]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t6_1.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|        1|3235784|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|3235784|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|     79|
|        2|3235705|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        3|     73|
|        2|3235711|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         1|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         2|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         2|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|         2|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         2|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|3235784|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|3235784|
+----------+-------+

None

__ Check to see what is the difference between nSplit_c9 = 3 vs. the rest__

In [46]:
ps_t6_1.filter(F.col('nSplit_c9')==3).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197976977789,psykerer,http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2005-07-14 21:46:42,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:30:50""",None,None,None,None
1,76561197972169545,ccd_882,http://steamcommunity.com/profiles/76561197972...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2004-12-22 21:51:01,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:28:27""",None,None,None,None
2,76561197977188742,allen,http://steamcommunity.com/profiles/76561197977...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,2,""N",103582791429521408,2005-07-24 20:30:45,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:44""",None,None,None,None
3,76561197979037870,minggao1,http://steamcommunity.com/profiles/76561197979...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2005-11-04 15:20:55,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 07:51:37""",None,None,None,None
4,76561197960405077,wolf,http://steamcommunity.com/profiles/76561197960...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2003-09-12 13:06:42,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:07""",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,76561197972367471,dkaradean,http://steamcommunity.com/profiles/76561197972...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,2,""N",103582791429521408,2004-12-25 13:23:37,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 18:42:55""",None,None,None,None
69,76561197966311947,FULLGAMERZ,http://steamcommunity.com/profiles/76561197966...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,2,""N",103582791429521408,2004-05-05 06:18:58,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:23:54""",None,None,None,None
70,76561197973216731,l_eventreur,http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2005-01-15 04:12:37,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:26""",None,None,None,None
71,76561197976553231,souza003,http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2005-06-19 19:54:32,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:30:46""",None,None,None,None
72,76561197974377188,samourai_4,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,"""N,1,""N",103582791429521408,2005-02-21 10:56:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:56""",None,None,None,None

In [50]:
# Set new columns need to split for this data

col_c8 = ['_c8']
newcols_c8 = ['c8_1', 'c8_2']


col_c9 = ['_c9']
newcols_c9 = ['c9_1', 'c9_2', 'c9_3']

col_c12 = ['_c12']
newcols_c12 = ['c12_1', 'c12_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']


# Apply split function
ps_t6_1 = split_2_column(ps_t6_1, col_c8, newcols_c8)
ps_t6_1 = split_3_column(ps_t6_1, col_c9, newcols_c9)
ps_t6_1 = split_2_column(ps_t6_1, col_c12, newcols_c12)
ps_t6_1 = split_2_column(ps_t6_1, col_c13, newcols_c13)
ps_t6_1 = split_2_column(ps_t6_1, col_c14, newcols_c14)
ps_t6_1 = split_2_column(ps_t6_1, col_c15, newcols_c15)

---
### 5.6.2a Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [62]:
ps_t6_1 = ps_t6_1.withColumn('personastate', F.when((F.col('_c1').contains('http')), F.col('_c5')).otherwise(F.col('_c6')))
ps_t6_1 = ps_t6_1.withColumn('communityvisibilitystate',F.when((F.col('_c1').contains('http')), F.col('_c6')).otherwise(F.col('_c7')))
ps_t6_1 = ps_t6_1.withColumn('profilestate', F.when((F.col('_c1').contains('http')), F.col('_c7')).otherwise(F.col('c8_1')))
ps_t6_1 = ps_t6_1.withColumn('lastlogoff', F.when((F.col('_c1').contains('http')), F.col('_c8')).\
                             when((F.col('nSplit_c8')==1),F.col('c9_1')).\
                             when((F.col('nSplit_c8')==2),F.col('c8_2')))
ps_t6_1 = ps_t6_1.withColumn('commentpermission', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==3),F.col('c9_2')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2),F.col('c9_1')).\
                             when((F.col('nSplit_c8')==2) , F.col('c9_1')))
ps_t6_1 = ps_t6_1.withColumn('realname', F.when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==3),F.col('c9_3')).\
                             when((F.col('nSplit_c8')==1) & (F.col('nSplit_c9')==2),F.col('c9_2')).\
                             when((F.col('nSplit_c8')==2) , F.col('c9_2')))
ps_t6_1 = ps_t6_1.withColumn('primaryclanid',F.col('_c10'))
ps_t6_1 = ps_t6_1.withColumn('timecreated',F.col('_c11'))
ps_t6_1 = ps_t6_1.withColumn('gameid',F.col('c12_1'))
ps_t6_1 = ps_t6_1.withColumn('gameserverip',F.col('c12_2'))
ps_t6_1 = ps_t6_1.withColumn('gameextrainfo',F.col('c13_1'))
ps_t6_1 = ps_t6_1.withColumn('cityid',F.col('c13_2'))
ps_t6_1 = ps_t6_1.withColumn('loccountrycode',F.col('c14_1'))
ps_t6_1 = ps_t6_1.withColumn('locstatecode',F.col('c14_2'))

In [63]:
check_missing(ps_t6_1.select('personastate','communityvisibilitystate','profilestate','lastlogoff',\
                             'commentpermission','realname','primaryclanid','timecreated','gameid',\
                             'gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode'))

+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|personastate|communityvisibilitystate|profilestate|lastlogoff|commentpermission|realname|primaryclanid|timecreated|gameid|gameserverip|gameextrainfo|cityid|loccountrycode|locstatecode|
+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+
|           0|                       0|           0|         0|                0|       0|            0|          0|     0|           0|            0|     0|             0|           0|
+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+------------+-------------+------+--------------+------------+

In [64]:
ps_t6_1.limit(50).toPandas()[['personastate','communityvisibilitystate','profilestate','lastlogoff',\
                             'commentpermission','realname','primaryclanid','timecreated','gameid',\
                             'gameserverip','gameextrainfo','cityid','loccountrycode','locstatecode']]

,personastate,communityvisibilitystate,profilestate,lastlogoff,commentpermission,realname,primaryclanid,timecreated,gameid,gameserverip,gameextrainfo,cityid,loccountrycode,locstatecode
0,0,3,"""N","""2010-02-04 18:34:23""","""N","""N",103582791429521408,2004-03-28 11:41:21,"""N","""N","""N","""N","""N","""N"
1,0,3,"""N","""2012-10-26 13:04:09""","""N","""N",103582791429521408,2004-03-28 14:13:44,"""N","""N","""N","""N","""N","""N"
2,0,3,"""N","""2007-02-16 13:07:54""","""N","""N",103582791429521408,2004-03-28 21:42:25,"""N","""N","""N","""N","""N","""N"
3,0,3,"""N","""2007-11-17 03:08:17""","""N","""N",103582791429521408,2004-03-29 04:10:10,"""N","""N","""N","""N","""N","""N"
4,0,3,"""N","""2007-10-24 14:06:27""","""N","""N",103582791429521408,2004-03-29 08:32:50,"""N","""N","""N","""N","""N","""N"
5,0,3,"""N","""2009-02-10 15:17:53""","""N","""N",103582791429521408,2004-03-29 07:24:01,"""N","""N","""N","""N","""N","""N"
6,0,3,"""N","""2009-09-06 05:40:20""","""N","""N",103582791429521408,2004-03-29 09:00:22,"""N","""N","""N","""N","""N","""N"
7,0,3,"""N","""2012-05-24 15:32:14""","""N","""N",103582791429521408,2004-03-29 10:47:12,"""N","""N","""N","""N","""N","""N"
8,0,3,"""N","""2013-02-01 22:25:24""","""N","""N",103582791429521408,2004-03-29 11:00:54,"""N","""N","""N","""N","""N","""N"
9,0,3,"""N","""2007-03-10 11:22:18""","""N","""N",103582791429521408,2004-03-29 12:33:09,"""N","""N","""N","""N","""N","""N"
10,0,3,"""N","""2007-01-01 10:38:45""","""N","""N",103582791429521408,2004-03-29 13:27:19,"""N","""N","""N","""N","""N","""N"
11,0,3,"""N","""2008-12-26 15:34:08""","""N","""N",103582791429521408,2004-03-29 21:24:17,"""N","""N","""N","""N","""N","""N"
12,0,3,"""N","""2013-01-25 06:56:12""","""N","""N",103582791429521408,2004-03-30 00:49:02,"""N","""N","""N","""N","""N","""N"
13,0,3,"""N","""2011-12-20 17:53:31""","""N","""N",103582791429521408,2004-03-30 05:51:00,"""N","""N","""N","""N","""N","""N"
14,0,3,"""N","""2013-02-15 15:26:52""","""N","""N",103582791429521408,2004-03-30 08:30:30,"""N","""N","""N","""N","""N","""N"
15,0,3,"""N","""2012-03-04 14:11:14""","""N","""N",103582791429521408,2004-03-30 08:39:37,"""N","""N","""N","""N","""N","""N"
16,0,3,"""N","""2006-10-31 17:12:56""","""N","""N",103582791429521408,2004-03-30 13:54:54,"""N","""N","""N","""N","""N","""N"
17,0,3,"""N","""2013-02-15 11:29:03""","""N","""N",103582791429521408,2004-03-30 18:47:41,"""N","""N","""N","""N","""N","""N"
18,0,3,"""N","""2007-01-24 12:52:55""","""N","""N",103582791429521408,2004-03-30 20:49:58,"""N","""N","""N","""N","""N","""N"
19,0,3,"""N","""2007-08-17 06:44:03""","""N","""N",103582791429521408,2004-03-30 21:35:08,"""N","""N","""N","""N","""N","""N"
20,0,3,"""N","""2009-10-05 14:10:46""","""N","""N",103582791429521408,2004-03-31 01:35:08,"""N","""N","""N","""N","""N","""N"
21,0,3,"""N","""2008-04-24 09:08:05""","""N","""N",103582791429521408,2004-03-30 23:46:29,"""N","""N","""N","""N","""N","""N"
22,0,3,"""N","""2012-08-19 11:59:03""","""N","""N",103582791429521408,2004-03-31 03:32:56,"""N","""N","""N","""N","""N","""N"
23,0,3,"""N","""2007-11-06 21:34:36""","""N","""N",103582791429521408,2004-03-31 04:47:22,"""N","""N","""N","""N","""N","""N"
24,0,3,"""N","""2009-12-28 03:11:28""","""N","""N",103582791429521408,2004-03-31 04:34:27,"""N","""N","""N","""N","""N","""N"
25,0,3,"""N","""2008-08-07 06:25:48""","""N","""N",103582791429521408,2004-03-31 07:58:39,"""N","""N","""N","""N","""N","""N"
26,0,3,"""N","""2008-06-20 15:00:19""","""N","""N",103582791429521408,2004-03-31 10:05:04,"""N","""N","""N","""N","""N","""N"
27,0,3,"""N","""2012-01-22 03:23:52""","""N","""N",103582791429521408,2004-03-31 11:41:28,"""N","""N","""N","""N","""N","""N"
28,0,3,"""N","""2012-11-17 11:23:28""","""N","""N",103582791429521408,2004-03-31 12:19:40,"""N","""N","""N","""N","""N","""N"
29,0,3,"""N","""2007-06-16 08:03:03""","""N","""N",103582791429521408,2004-03-31 09:39:15,"""N","""N","""N","""N","""N","""N"
30,0,3,"""N","""2013-01-19 17:30:59""","""N","""N",103582791429521408,2004-03-31 14:48:45,"""N","""N","""N","""N","""N","""N"
31,0,3,"""N","""2013-02-09 19:02:13""","""N","""N",103582791429521408,2004-04-01 00:18:43,"""N","""N","""N","""N","""N","""N"
32,0,3,"""N","""2009-03-18 10:13:29""","""N","""N",103582791429521408,2004-04-01 00:18:45,"""N","""N","""N","""N","""N","""N"
33,0,3,"""N","""2009-02-27 03:18:49""","""N","""N",103582791429521408,2004-03-31 19:05:09,"""N","""N","""N","""N","""N","""N"
34,0,3,"""N","""2007-07-17 03:29:56""","""N","""N",103582791429521408,2004-04-01 01:55:37,"""N","""N","""N","""N","""N","""N"
35,0,3,"""N","""2007-07-20 00:06:55""","""N","""N",103582791429521408,2004-04-01 02:04:27,"""N","""N","""N","""N","""N","""N"
36,0,3,"""N","""2011-08-13 23:03:43""","""N","""N",103582791429521408,2004-04-01 03:38:24,"""N","""N","""N","""N","""N","""N"
37,0,3,"""N","""2007-06-30 09:58:21""","""N","""N",103582791429521408,2004-04-01 08:50:27,"""N","""N","""N","""N","""N","""N"
38,0,3,"""N","""2008-11-25 18:15:25""","""N","""N",103582791429521408,2004-04-01 14:12:51,"""N","""N","""N","""N","""N","""N"
39,0,3,"""N","""2010-12-09 09:02:06""","""N","""N",103582791429521408,2004-04-01 10:47:42,"""N","""N","""N","""N","""N","""N"
40,0,3,"""N","""2006-10-16 22:19:30""","""N","""N",103582791429521408,2004-04-01 15:21:18,"""N","""N","""N","""N","""N","""N"
41,0,3,"""N","""2009-10-29 04:45:32""","""N","""N",103582791429521408,2004-04-01 11:24:49,"""N","""N","""N","""N","""N","""N"
42,0,3,"""N","""2008-03-07 16:17:34""","""N","""N",103582791429521408,2004-04-01 15:48:56,"""N","""N","""N","""N","""N","""N"
43,0,3,"""N","""2008-03-15 10:24:42""","""N","""N",103582791429521408,2004-04-01 20:22:51,"""N","""N","""N","""N","""N","""N"
44,0,3,"""N","""2007-12-17 13:24:38""","""N","""N",103582791429521408,2004-04-01 20:32:51,"""N","""N","""N","""N","""N","""N"
45,0,3,"""N","""2006-11-02 12:40:15""","""N","""N",103582791429521408,2004-04-02 01:19:43,"""N","""N","""N","""N","""N","""N"
46,0,3,"""N","""2007-12-18 12:21:35""","""N","""N",103582791429521408,2004-04-02 09:38:11,"""N","""N","""N","""N","""N","""N"
47,0,3,"""N","""2006-06-09 16:43:07""","""N","""N",103582791429521408,2004-04-02 16:31:21,"""N","""N","""N","""N","""N","""N"
48,0,3,"""N","""2011-02-08 04:42:02""","""N","""N",103582791429521408,2004-04-02 15:29:02,"""N","""N","""N","""N","""N","""N"
49,0,3,"""N","""2012-02-04 17:24:52""","""N","""N",103582791429521408,2004-04-02 15:30:09,"""N","""N","""N","""N","""N","""N"

In [65]:
ps_t6_1.select('timecreated').distinct().count()

3123387

In [67]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t6_1.select('timecreated').distinct().limit(50).toPandas()

            timecreated
0   2004-06-30 13:10:12
1   2004-07-14 00:22:01
2   2004-12-06 04:22:07
3   2005-01-15 08:54:17
4   2005-01-20 11:37:15
5   2004-12-30 19:43:49
6   2005-01-02 00:41:12
7   2003-09-22 12:28:19
8   2004-09-02 06:01:26
9   2004-09-05 12:51:17
10  2006-10-20 03:25:59
11  2006-10-24 11:18:43
12  2006-11-11 16:54:19
13  2006-11-13 15:12:29
14  2006-11-15 03:27:14
15  2003-09-12 08:58:52
16  2004-11-24 11:09:46
17  2004-04-08 18:41:25
18  2005-04-11 03:12:06
19  2005-04-16 21:39:46
20  2005-05-04 19:42:42
21  2003-09-16 09:09:40
22  2006-05-07 07:54:20
23  2006-05-07 13:04:46
24  2006-05-30 12:29:46
25  2004-10-13 14:38:21
26  2006-06-17 11:26:16
27  2006-06-24 13:49:35
28  2006-06-29 17:02:45
29  2006-07-03 13:16:59
30  2006-07-16 15:40:28
31  2005-03-05 10:35:01
32  2005-03-11 14:02:55
33  2005-10-01 08:25:53
34  2005-10-07 13:50:20
35  2005-10-22 14:34:48
36  2005-10-22 11:55:55
37  2004-01-11 17:13:12
38  2004-01-24 18:18:19
39  2006-09-01 18:41:36
40  2006-09-09 12:17:18
41  2006-09-15 11:29:14
42  2006-09-12 04:54:18
43  2004-07-18 11:12:53
44  2003-11-16 09:27:10
45  2004-11-20 06:58:18
46  2004-11-21 09:25:46
47  2004-05-06 18:32:20
48  2005-12-25 15:51:19
49  2006-01-23 06:40:22

In [68]:
ps_t6_1.select('gameid').distinct().count()

1

In [69]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t6_1.select('gameid').distinct().toPandas()[0:50]

  gameid
0     "N

In [70]:
# Use this code to check if the 'loccountrycode' was parsed correctly.
ps_t6_1.select('loccountrycode').distinct().toPandas()[0:50]

  loccountrycode
0             "N

---
### 5.6.3a Format, rename columns and save Table

In [71]:
ps_t6_1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- nSplit_c1: integer (nullable = false)
 |-- c8_1: string (nullable = true)
 |-- c8_2: string (nullable = true)
 |-- c9_1: string (nullable = true)
 |-- c9_2: string (nullable = true)
 |-- _c9_3: string (nullable = true)
 |-- c12_1: string (nullable = true)
 |-- c12_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- personastate: string (nullable = true)
 |-- communityvisibilitystate: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- c9_3: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [82]:
# Drop unnecssary columns
ps_t6_1 = ps_t6_1.drop('nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','len_c9',\
                    'nSplit_c18','nSplit_c19','c11_1','c11_2','c12_1','c12_2','c13_1','c13_2','_c4','_c5',\
                    'c14_1','c14_2','c15_1','c15_2','c8_1','c8_2','c9_1','c9_2','_c9_3','c9_3','_c3',\
                    '_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16','_c17','_c18','_c19')

In [80]:
from pyspark.sql import functions as sf
ps_t6_1 = ps_t6_1.withColumn('_c2', F.when(~(F.col('_c1').contains('http')), sf.concat(sf.lit('http://steamcommunity.com/profiles/'), sf.col('_c0'))).\
                             otherwise(F.col('_c2')))

In [84]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t6_1 = rename_col(ps_t6_1, newColumns)

In [85]:
ps_t6_1.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [87]:
# Replace " symbols in data
col_list = ['profile_state','community_visibility_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_state','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t6_1 = ps_t6_1.withColumn(i,regexp_replace(i, '"', ""))

In [88]:
ps_t6_1.limit(10).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197960577009,tisboishorty,http://steamcommunity.com/profiles/76561197960...,0,3,N,2006-10-10 17:52:40,N,N,103582791429521408,2003-09-14 02:33:40,N,N,N,N,N,N
1,76561197960578001,smokey_mcp0t42o,http://steamcommunity.com/profiles/76561197960...,0,3,N,2007-08-20 21:33:54,N,N,103582791429521408,2003-09-14 02:48:10,N,N,N,N,N,N
2,76561197960578142,caicai_a07,http://steamcommunity.com/profiles/76561197960...,0,3,N,2009-12-15 01:13:45,N,N,103582791429521408,2003-09-14 03:17:08,N,N,N,N,N,N
3,76561197960578543,popng_2003,http://steamcommunity.com/profiles/76561197960...,0,3,N,2007-07-08 19:00:55,N,N,103582791429521408,2003-09-14 02:55:48,N,N,N,N,N,N
4,76561197960578731,bsQ|Sprutludret,http://steamcommunity.com/profiles/76561197960...,0,3,N,2006-10-25 08:42:55,N,N,103582791429521408,2003-09-14 02:58:14,N,N,N,N,N,N
5,76561197960580301,flashmanrpr,http://steamcommunity.com/profiles/76561197960...,0,3,N,2013-02-14 20:12:26,N,N,103582791429521408,2003-09-14 03:19:23,N,N,N,N,N,N
6,76561197960581169,med1c,http://steamcommunity.com/profiles/76561197960...,0,3,N,2008-04-09 11:58:15,N,N,103582791429521408,2003-09-14 03:29:33,N,N,N,N,N,N
7,76561197960586538,R*( no team ),http://steamcommunity.com/profiles/76561197960...,0,3,N,2011-01-12 16:05:20,N,N,103582791429521408,2003-09-14 04:51:40,N,N,N,N,N,N
8,76561197960586771,lars28787,http://steamcommunity.com/profiles/76561197960...,0,3,N,2009-07-30 07:01:09,N,N,103582791429521408,2003-09-14 04:31:00,N,N,N,N,N,N
9,76561197960590798,der mÃ¤chtige,http://steamcommunity.com/profiles/76561197960...,0,3,N,2007-09-21 13:17:38,N,N,103582791429521408,2003-09-14 05:33:38,N,N,N,N,N,N

In [89]:
# Save TABLE 6_1
ps_t6_1.write.csv('/user/tamng/jwht/CleanData/ps_t6_1.csv', header = True)

---
### TABLE 6_2

nSplit_c1 =1 & nSplit_c16 != -1

Total rows: 108544

#### Ssve this table for later. Might or might not use

In [92]:
ps_t6_2 = ps_t6.filter((F.col('nSplit_c1')==1) & (F.col('nSplit_c16')!=-1))
ps_t6_2.count()

108544

In [93]:
ps_t6_2.limit(20).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197974276104,Â®_SiN_Â©â„¢,http://steamcommunity.com/id/blacksci/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-07-15 02:27:56,1,jeremy,103582791430996385,2005-02-17 22:39:29,"""N,""N","""N,""N",US,WA,4045,2013-02-28 14:38:54
1,76561197974277311,*Hellscar*,http://steamcommunity.com/id/hellscar54/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 16:51:34,1,alex,103582791430075728,2005-02-18 12:14:20,"""N,""N","""N,""N",UM,"""N,""N",2013-02-28 14:29:50,None
2,76561197974288763,MDesh,http://steamcommunity.com/id/MDesh/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-06-16 14:10:20,1,MDesh,103582791429521408,2005-02-18 22:00:41,"""N,""N","""N,""N",RU,48,41460,2013-02-28 14:29:50
3,76561197974342163,Elpotapo,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-14 07:11:39""","""N,""N",103582791429521408,2005-02-20 15:55:46,"""N,""N","""N,""N",PL,"""N,""N",2013-02-28 14:29:51,None,None,None
4,76561197974419239,dtd.RAINBOW WARRIOR,http://steamcommunity.com/id/phillipsinc/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,1,2013-02-18 16:43:52,1,Phillip,103582791431745514,2005-02-23 15:03:18,"""N,""N","""N,""N",US,NV,2373,2013-02-28 14:29:52
5,76561197974517519,Hyanar,http://steamcommunity.com/id/danscottbrown/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-18 15:06:06,2,Dan,103582791433947157,2005-02-27 12:14:01,"""N,""N","""N,""N",GB,G6,16924,2013-02-28 14:29:53
6,76561197974551258,Office Ninja,http://steamcommunity.com/id/mr_meyer/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,4,3,1,2013-02-18 19:15:59,1,John Miller,103582791429586353,2005-02-27 20:10:04,"""N,""N","""N,""N",CA,AB,"""N,""2013-02-28 14:38:58""",None
7,76561197974662531,Heaten,http://steamcommunity.com/id/Heaten/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-18 13:48:52,1,Marek,103582791430649748,2005-03-05 13:09:09,"""N,""N","""N,""N",SK,"""N,""N",2013-02-28 14:29:55,None
8,76561197974686132,Swift,http://steamcommunity.com/id/SwiftRyu/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-06 03:30:26,1,Bobby Mckenna,103582791431692618,2005-03-05 09:35:40,"""N,""N","""N,""N",GB,M3,16796,2013-03-06 14:42:03
9,76561197974710829,T-rav,http://steamcommunity.com/id/TravisC/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-13 17:03:02,1,Travis,103582791429523489,2005-03-07 15:41:19,"""N,""N","""N,""N",US,"""N,""N",2013-02-28 14:29:56,None
10,76561197974724767,PierKiRooL,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-03-06 18:21:27""","""N,""N",103582791429521408,2005-03-08 11:07:43,"""N,""N","""N,""N",FR,B9,"""N,""2013-03-06 19:06:48""",None,None,None
11,76561197974770522,Militant_Subversive,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-18 15:21:20,1,Section10,103582791429796426,2005-03-09 08:38:48,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:01""",None,None
12,76561197974825952,Orv,http://steamcommunity.com/id/orv22/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-18 18:04:13,1,Orv,103582791431000667,2005-03-12 00:44:23,"""N,""N","""N,""N",SE,"""N,""N",2013-02-28 14:39:02,None
13,76561197974846726,Ben,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-13 13:15:33""","""N,""Ben""",103582791429521408,2005-03-12 16:37:34,"""N,""N","""N,""N",AF,"""N,""N",2013-02-28 14:39:02,None,None,None
14,76561197974871359,djdigma,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,"""N,""2013-02-14 06:28:19""","""N,""N",103582791429521408,2005-03-15 11:41:25,207890,"""N,""Football Manager 2013""","""N,""N","""N,""N",2013-02-28 14:29:57,None,None,None
15,76561197974884781,Kashiru,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-03-15 16:05:01""","""N,""Meriau Steve""",103582791429521408,2005-03-16 07:48:01,"""N,""N","""N,""N",FR,"""N,""N",2013-03-06 19:07:49,None,None,None
16,76561197974885456,MIETEK,http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-18 19:30:03,1,Piotr TÅ‚uchowski,103582791429524061,2005-03-14 12:37:23,"""N,""N","""N,""N",PL,"""N,""N",2013-02-28 14:39:03,None
17,76561197984411420,kimDDao,http://steamcommunity.com/id/kimddao/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-02 00:18:01,1,ê¹€ë”°ì˜¤,103582791429716014,2006-08-18 04:51:40,"""N,""N","""N,""N",KR,"""N,""N",2013-03-02 01:21:18,None
18,76561197984432438,Jwood,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-02-14 22:34:13""","""N,""N",103582791429521408,2006-08-19 04:29:27,"""N,""N","""N,""N",AU,VIC,4990,2013-03-02 01:24:20,None,None
19,76561197984433497,Gen. Faglaudius Maximus Jr. III,http://steamcommunity.com/id/Wr3k3nbALl/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-02 00:40:59,1,Joe Moma,103582791429524891,2006-08-22 00:56:33,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:25""",None,None

In [111]:
# Save TABLE 6_2
ps_t6_2.write.csv('/user/tamng/jwht/SteamData/ps_t6_2.csv', header = True)

---
### TABLE 6_3

nSplit_c1 !=1

Total rows: 3420

#### Ssve this table for later. Might or might not use

In [95]:
ps_t6_3 = ps_t6.filter(F.col('nSplit_c1')!=1)
ps_t6_3.count()

3420

In [96]:
ps_t6_3.limit(50).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16
0,76561197985868516,"Binladen (uu,) -DEJO EL CS AMIGOS :(",http://steamcommunity.com/profiles/76561197985...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-08-17 11:26:46""","""N,""N",103582791429521408,2006-10-30 12:58:42,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 05:53:20""",None
1,76561197971188127,"Meddler, Comandante MolÃ³n",http://steamcommunity.com/profiles/76561197971...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2011-06-23 05:27:38""","""N,""N",103582791429521408,2004-11-26 13:40:46,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 18:24:28""",None
2,76561197985486996,"WWW,LION,DE,",http://steamcommunity.com/profiles/76561197985...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 06:15:27""","""N,""N",103582791429521408,2006-10-11 17:02:49,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 04:22:16""",None
3,76561197981849171,"..atopold,jajsz",http://steamcommunity.com/profiles/76561197981...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-09-28 05:50:41""","""N,""N",103582791429521408,2006-04-02 11:36:55,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:28:56""",None
4,76561197984575330,"""[C$K]/\/\**(( [STIFLER] ))**/\/"",""http://stea...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-11-07 13:40:12,"""N,""N",103582791429619983,2006-08-26 09:08:49,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:43:50""",None
5,76561197984772733,"BlacKBeaNZiNhHuU, FeiUnhU mAs XeroZiNhO",http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-31 13:32:05""","""N,""N",103582791429521408,2006-09-07 23:57:47,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:30""",None
6,76561197979846532,"""crb"",""http://steamcommunity.com/profiles/7656...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-05-23 15:35:45,"""N,""NivleK""",103582791429698991,2005-12-20 11:05:48,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 10:30:04""",None
7,76561197981204963,"new id, add: noobesser",http://steamcommunity.com/profiles/76561197981...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-04-12 09:57:57""","""N,""N",103582791429521408,2006-02-26 19:13:22,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:28:47""",None
8,76561197975050736,"oops,headshoot",http://steamcommunity.com/profiles/76561197975...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-08-20 12:42:13""","""N,""N",103582791429521408,2005-03-22 15:43:11,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:06""",None
9,76561197975772641,".,|.,d(-.-)b.,|.,",http://steamcommunity.com/profiles/76561197975...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-11-18 01:57:14""","""N,""N",103582791429521408,2005-05-03 23:40:24,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:30:08""",None
10,76561197976220136,"-,-",http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-02-16 09:59:58""","""N,""N",103582791429521408,2005-05-29 11:36:51,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:21""",None
11,76561197962823870,"""Zb"",""http://steamcommunity.com/profiles/76561...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-05-14 20:58:03,"""N,""N",103582791429521408,2003-11-16 12:36:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:02""",None
12,76561197983456713,"""raynz"",""http://steamcommunity.com/profiles/76...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-08-15 08:39:04,"""N,""N",103582791429521408,2006-07-01 21:57:09,"""N,""N","""N,""N","""N,""N","""N,""2013-03-14 13:16:24""",None
13,76561197978259305,"Butcher,The_Cow",http://steamcommunity.com/profiles/76561197978...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-06 19:09:43,1,Brennen,103582791431977584,2005-09-24 22:17:58,"""N,""N","""N,""N",US
14,76561197979978463,"-,...,-",http://steamcommunity.com/profiles/76561197979...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-19 03:30:30""","""N,""N",103582791429521408,2005-12-27 08:21:58,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:31:52""",None
15,76561197980176649,"$old|3r, new acc: ipc38@hotmail.com",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-05-24 06:22:18""","""N,""N",103582791429521408,2006-01-04 19:08:22,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 20:22:03""",None
16,76561197963397031,"(T_T),',",http://steamcommunity.com/profiles/76561197963...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-04-07 22:16:10""","""N,""N",103582791429521408,2003-12-15 22:37:08,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:53""",None
17,76561197963533190,"""thomaz"",""http://steamcommunity.com/profiles/7...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-11-19 21:36:42,"""N,""N",103582791429699490,2003-12-24 00:34:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:11""",None
18,76561197963633173,"peter north, facial masta",http://steamcommunity.com/profiles/76561197963...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-29 18:55:03""","""N,""N",103582791429521408,2003-12-29 11:55:43,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:14:03""",None
19,76561197974128229,",,",http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2012-09-05 13:35:10""","""N,""N",103582791429521408,2005-02-12 15:17:06,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:37""",None
20,76561197960503968,"""\missing-name"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-03-28 21:30:15,"""N,""N",103582791429521408,2003-09-13 09:17:07,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:09""",None
21,76561197971849543,"- hSn . rox on , seek teamz",http://steamcommunity.com/profiles/76561197971...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-06-12 11:55:13""","""N,""N",103582791429521408,2004-12-14 12:45:29,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:28:14""",None
22,76561197973829119,".,i,. o(Ã².Ã“)o .,i,. NÃ².Ã“by",http://steamcommunity.com/profiles/76561197973...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-12-12 14:16:04""","""N,""N",103582791429521408,2005-02-02 09:23:44,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:29:33""",None
23,76561197967336429,"Very Funny,Peter. looking 4 a clan q.q",http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-08-15 18:28:47""","""N,""N",103582791429521408,2004-07-03 23:50:11,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:24:36""",None
24,76561197967392793,"Laden, Bong",http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-06-22 06:42:43""","""N,""N",103582791429521408,2004-07-07 18:36:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:24:38""",None
25,76561197961728521,",",http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-08-02 20:58:05""","""N,""N",103582791429521408,2003-10-03 16:39:36,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:19:59""",None
26,76561197980955900,"O bba ya <Ms ,ex 3.0>",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-01 06:56:57""","""N,""N",103582791429521408,2006-02-12 04:22:20,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 17:26:24""",None
27,76561197974860160,"Injustice, FUCK YEAH!",http://steamcommunity.com/profiles/76561197974...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-21 15:34:15""","""N,""N",103582791429521408,2005-03-13 07:46:34,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:03""",None
28,76561197963321860,"""fah"",""http://steamcommunity.com/profiles/7656...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-11 17:04:07,"""N,""N",103582791429590858,2003-12-11 20:05:14,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:35:08""",None
29,76561197976103418,"yeah, come on",http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-10-27 01:42:36""","""N,""N",103582791429521408,2005-05-21 16:31:48,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:19""",None
30,76561197976175424,"""gabrielaa :"",""http://steamcommunity.com/profi...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2007-12-31 19:33:13,"""N,""Gabriela""",103582791429533935,2005-05-26 19:46:42,"""N,""N","""N,""N",BR,27,8872
31,76561197976175738,"B13|.,~SoldieR~,..,~MAZzZzZ~,.",http://steamcommunity.com/profiles/76561197976...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 15:48:08""","""N,""N",103582791429521408,2005-05-26 20:34:15,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:39:20""",None
32,76561197963670599,"""matti"",""http://steamcommunity.com/profiles/76...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-15 15:00:01,"""N,""N",103582791429521408,2003-12-31 16:14:35,"""N,""N","""N,""N",FI,"""N,""N",2013-02-28 14:14:05
33,76561197980212068,"Yes, I'll have a Dr. Pepper",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-07-17 11:30:40""","""N,""N",103582791429521408,2006-01-04 14:28:13,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 11:27:57""",None
34,76561197981446022,"oi-zrsvvvvhhh,gcnv::[unknown]",http://steamcommunity.com/profiles/76561197981...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 12:09:36""","""N,""N",103582791429521408,2006-03-10 07:49:15,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 18:36:33""",None
35,76561197977271521,"[S.W.A.T, Team]DABOOM",http://steamcommunity.com/profiles/76561197977...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-08-19 08:09:27""","""N,""N",103582791429521408,2005-07-31 12:16:27,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:30:53""",None
36,76561197963095569,"tja aLa, gudN hEEr! x)",http://steamcommunity.com/profiles/76561197963...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-10-17 08:49:37""","""N,""N",103582791429521408,2003-11-29 10:14:37,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:13:39""",None
37,76561197979543031,"CHORIZO, O RLY?",http://steamcommunity.com/profiles/76561197979...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-11-02 11:50:18""","""N,""N",103582791429521408,2005-12-05 09:46:54,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:31:48""",None
38,76561197978724774,"Lenard (NOT A BOT, JUST A NOOB)",http://steamcommunity.com/profiles/76561197978...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-09-24 03:08:20""","""N,""N",103582791429521408,2005-10-18 10:50:26,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 06:59:36""",None
39,76561197985882223,"""/dein.:.schlimmster.:.alptraum"",""http://steam...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-02-24 11:42:01,"""N,""N",103582791429521408,2006-11-03 11:16:27,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:46""",None
40,76561197964083279,"ScratchFury,DestroyerOfWorlds",http://steamcommunity.com/profiles/76561197964...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2013-02-15 21:58:40""","""N,""N",103582791429521408,2004-01-24 11:21:41,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:14:23""",None
41,76561197971136116,",â€šâ€¢*Âºâ€ Ã kR",http://steamcommunity.com/profiles/76561197971...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2009-10-24 04:00:51""","""N,""N",103582791429521408,2004-11-26 05:57:09,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:46""",None
42,76561197965987866,"""C:"",""http://steamcommunity.com/profiles/76561...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-05 00:49:53,"""N,""John Kowalski""",103582791431924142,2004-04-21 19:11:33,"""N,""N","""N,""N",US,MI,2042
43,76561197980105470,"][_,EnnArt$0n^^",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2006-10-27 09:35:50""","""N,""N",103582791429521408,2005-12-30 12:33:04,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 11:12:21""",None
44,76561197980182154,"""/\/\|_||-|/-\|-|/-"",""http://steamcommunity.co...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-09-10 11:18:34,"""N,""N",103582791429577939,2006-01-03 06:45:41,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 11:23:57""",None
45,76561197980619846,"charly,prince du temp",http://steamcommunity.com/profiles/76561197980...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2010-09-12 10:33:21""","""N,""N",103582791429521408,2006-01-26 04:49:34,"""N,""N","""N,""N","""N,""N","""N,""2013-03-01 16:28:33""",None
46,76561197972818153,"ddx,,",http://steamcommunity.com/profiles/76561197972...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 17:05:26,1,Diogo ;,103582791429674499,2005-01-03 12:19:40,"""N,""N","""N,""N","""N,""N"
47,76561197967388027,"Maxwell, Spezialeinheit",http://steamcommunity.com/profiles/76561197967...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2008-10-07 14:30:43""","""N,""N",103582791429521408,2004-07-07 11:48:51,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:24:38""",None
48,76561197972365844,"""{IMA}Shoot-Y/"",""http://steamcommunity.com/pro...",http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-01-28 17:55:28,"""N,""Matt""",103582791430382804,2004-12-25 18:41:25,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:38:19""",None
49,76561197961485294,"Omg, Was that a double ?",http://steamcommunity.com/profiles/76561197961...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,"""N,""2007-06-23 12:17:01""","""N,""N",103582791429521408,2003-09-27 12:39:17,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:34:22""",None

In [110]:
# Save TABLE 6_1
ps_t6_3.write.csv('/user/tamng/jwht/SteamData/ps_t6_3.csv', header = True)

In [94]:
print('Total rows in TABLE 6:', 3235784 + 3420 + 108544)

Total rows in TABLE 6: 3347748

---
## <font color = 'black'> TABLE 7: nSplit_c11 =1 & nSplit_c10 !=1 <font>
<br> </br>
nSplit_c11 =1 & nSplit_c10 !=1

### 5.7.1 Filter data and check number of Split

In [17]:
ps_t7 = player_summaries_drop.filter((player_summaries_drop.nSplit_c11 == 1) & (player_summaries_drop.nSplit_c10 != 1))
ps_t7.count()

2919054

In [18]:
cols_check = ['_c1','_c7','_c8','_c9', '_c10', '_c11', '_c12', '_c13', '_c14','_c15','_c16','_c17','_c18','_c19']

tagname = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11', 'nSplit_c12', 'nSplit_c13', 'nSplit_c14',
           'nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']

ps_t7 = add_count_split_column(ps_t7, cols_check, tagname)

In [20]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t7.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|       27|      2|
|       12|      1|
|        1|2913529|
|       13|      1|
|        6|      9|
|        3|    635|
|        5|     83|
|       15|      2|
|       43|      1|
|        9|     30|
|        4|     94|
|        8|      5|
|        7|     25|
|       10|      5|
|       25|      1|
|       21|      1|
|       11|      2|
|        2|   4628|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|2919054|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|2919051|
|        2|      3|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|2919020|
|        2|     34|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         3|      3|
|         5|      1|
|         2|2919050|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|2919054|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|        -1|      4|
|         1|2919036|
|         3|     10|
|         2|      4|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|  47475|
|         3|      6|
|         2|2871573|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|        -1|      3|
|         1|  16018|
|         3|      1|
|         2|2903032|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         1|1397044|
|         3|      8|
|         2|1522002|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|      2|
|         1| 903632|
|         3|      3|
|         2|2015417|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|1490296|
|         1|1143567|
|         2| 285191|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|2274017|
|         1| 642618|
|         2|   2419|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|2913810|
|         1|   5159|
|         2|     85|
+----------+-------+

None

Lets see what is the different of those who have nSplit_c9 =1

In [21]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t7.filter(F.col('nSplit_c9')==1).groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|       27|      2|
|       12|      1|
|        1|2913498|
|       13|      1|
|        6|      9|
|        3|    635|
|        5|     83|
|       15|      2|
|       43|      1|
|        9|     30|
|        4|     94|
|        8|      5|
|        7|     25|
|       10|      5|
|       25|      1|
|       21|      1|
|       11|      2|
|        2|   4625|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|2919020|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|2919017|
|        2|      3|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|2919020|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         3|      3|
|         5|      1|
|         2|2919016|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|2919020|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|        -1|      4|
|         1|2919002|
|         3|     10|
|         2|      4|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|  47475|
|         3|      6|
|         2|2871539|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|        -1|      3|
|         1|  16018|
|         3|      1|
|         2|2902998|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         1|1397041|
|         3|      8|
|         2|1521971|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|        -1|      2|
|         1| 903632|
|         3|      3|
|         2|2015383|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|1490265|
|         1|1143564|
|         2| 285191|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|2273983|
|         1| 642618|
|         2|   2419|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|2913776|
|         1|   5159|
|         2|     85|
+----------+-------+

None

---
How about snPlit_c10>2?

In [100]:
ps_t7.filter(F.col('nSplit_c10')>2).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197970520668,Deafblindboy,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,"""N,""2013-02-17 12:18:31""",2,"""N,103582791429521408,""2004-11-16 21:21:06""",730,85.131.163.214:20025,Counter-Strike: Global Offensive,"""N,""N","""N,""N",2013-02-28 14:37:35,None,None,None
1,76561197982120722,nym006900,http://steamcommunity.com/profiles/76561197982...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,"""N,""2013-02-27 07:43:00""",1,"""N,103582791429521408,""2006-04-15 02:23:16""",9900,"""N,""Star Trek Online""","""N,""N","""N,""N",2013-03-01 20:19:34,None,None,None,None
2,76561197964428587,tempus,http://steamcommunity.com/profiles/76561197964...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,4,3,"""N,""2013-02-16 19:19:06""",1,"""N,103582791429521408,""2004-02-11 17:15:15""",12220,"""N,""Grand Theft Auto: Episodes from Liberty City""","""N,""N","""N,""N",2013-02-28 14:22:23,None,None,None,None
3,76561197978589418,Wanderer,http://steamcommunity.com/profiles/76561197978...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-01 05:04:45,"N,""\,/_(>.<)_\,,/",103582791429674099,2005-10-11 05:47:59,"""N,""N","""N,""N",FI,"""N,""N",2013-03-01 06:37:56,None,None

---
How about snPlit_c12==1?

In [108]:
ps_t7.filter(F.col('nSplit_c12')==1).limit(20).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197970399529,CatPhoenix,http://steamcommunity.com/id/CatPhoenix/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,1,2013-02-15 17:22:06,"""N,""CatPhoenix""",103582791431392968,2004-11-16 09:52:27,49520,"""N,""N","""N,""US""",WV,4061,2013-02-28 14:27:12,None
1,76561197970400068,Amunition121,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-03-05 19:37:39,"""N,""N",103582791429521408,2004-11-16 11:21:04,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None
2,76561197970400355,Dr.Feelgood,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-08 15:37:29,"""N,""Juha""",103582791430111969,2004-11-16 09:56:14,"""N,""N","""N,""N",FI,"""N,""N",2013-02-28 14:27:12,None,None
3,76561197970400473,flonge,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-15 17:08:18,"""N,""N",103582791429521408,2004-11-16 09:56:24,"""N,""N","""N,""N",NO,"""N,""N",2013-02-28 14:27:12,None,None
4,76561197970402690,sarge_bozz,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-12 16:06:43,"""N,""N",103582791430751772,2004-11-16 11:29:36,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None
5,76561197970403279,biochip_c,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 14:01:22,"""N,""N",103582791432850448,2004-11-16 10:08:46,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
6,76561197970404599,OutofSkillz,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-06 13:25:54,"""N,""N",103582791430878549,2004-11-16 10:12:16,"""N,""N","""N,""N","""N,""N","""N,""2013-03-06 18:08:23""",None,None,None
7,76561197970405470,kilbane,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-09-02 03:10:18,"""N,""Laurie""",103582791429521408,2004-11-16 11:40:13,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None
8,76561197970406759,beemer (>NUTTER<),http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 15:45:23,"""N,""N",103582791429968690,2004-11-16 10:22:54,"""N,""N","""N,""N",BE,"""N,""N",2013-02-28 14:27:12,None,None
9,76561197970406909,Faxe,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 17:08:44,"""N,""N",103582791429521408,2004-11-16 10:23:11,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
10,76561197970407053,p.hunton1,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-14 17:08:36,"""N,""N",103582791429521408,2004-11-16 10:23:29,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
11,76561197970407068,uliwin,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 20:30:56,"""N,""Ulrich Winkler""",103582791429521408,2004-11-16 11:45:38,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None
12,76561197970407443,SiadamKucam :),http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-12 16:14:51,"""N,""Adrian""",103582791429721281,2004-11-16 10:24:50,"""N,""N","""N,""N",PL,24,"""N,""2013-02-28 14:27:12""",None,None
13,76561197970407491,the308greek,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-07-17 18:39:40,"""N,""N",103582791429521408,2004-11-16 10:25:20,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
14,76561197970410515,richard.svendsen,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 14:35:03,"""N,""Richard Svendsen""",103582791429521408,2004-11-16 10:37:11,"""N,""N","""N,""N",NO,19,30460,2013-02-28 14:27:12,None
15,76561197970410542,Cotten_Runt,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-16 14:57:56,"""N,""N",103582791429521408,2004-11-16 11:57:52,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None
16,76561197970412161,Crivit,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-05-03 22:38:37,"""N,""N",103582791429521408,2004-11-16 10:43:33,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
17,76561197970413375,mutilator,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 15:26:18,"""N,""N",103582791429521408,2004-11-16 10:47:28,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:27:12""",None,None,None
18,76561197970418275,sammobo,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-11-23 18:46:50,"""N,""Sam""",103582791429522291,2004-11-16 11:04:57,"""N,""N","""N,""N",GB,"""N,""N",2013-02-28 14:27:13,None,None
19,76561197970420526,babyharpseal,http://steamcommunity.com/profiles/76561197970...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-17 15:37:46,"""N,""N",103582791429669267,2004-11-16 12:35:16,"""N,""N","""N,""N","""N,""N","""N,""2013-02-28 14:37:33""",None,None,None

---
_Check distribution of nSplit_c1 =1_

In [25]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t7.filter((F.col('nSplit_c1')==1) &(F.col('nSplit_c10')==2)).groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|        1|2913525|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|2913525|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|2913525|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|2913494|
|        2|     31|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         2|2913525|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|2913525|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|        -1|      3|
|         1|2913511|
|         3|      9|
|         2|      2|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|  47329|
|         3|      6|
|         2|2866190|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|        -1|      2|
|         1|  15967|
|         3|      1|
|         2|2897555|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         1|1394172|
|         3|      8|
|         2|1519345|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|         1| 901679|
|         3|      2|
|         2|2011844|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|1487735|
|         1|1141180|
|         2| 284610|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|2269956|
|         1| 641160|
|         2|   2409|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|2908313|
|         1|   5129|
|         2|     83|
+----------+-------+

None

---
Allright, we find the right pattern to split in the condition below

In [36]:
ps_t7_1 = ps_t7.filter((F.col('nSplit_c1')==1) &(F.col('nSplit_c9')!=2) &(F.col('nSplit_c10')==2) &(F.col('nSplit_c12')==1) &(F.col('nSplit_c13')!=3) &(F.col('nSplit_c14')!=3) &(F.col('nSplit_c15')!=3)  &(F.col('nSplit_c16')!=3))
ps_t7_1.count()

2913465

In [37]:
ps_t7_1.filter(~F.col('_c5').contains('http')).count()

0

In [38]:
ps_t7_1.limit(20).toPandas()[['_c0','_c1','_c2','_c3','_c4','_c5','_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13', '_c14','_c15','_c16','_c17','_c18','_c19']]

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10,_c11,_c12,_c13,_c14,_c15,_c16,_c17,_c18,_c19
0,76561197984409743,CAPSGUY,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-05 12:07:53,"""N,""N",103582791429521408,2006-08-20 18:31:51,"""N,""N","""N,""N",CA,QC,4659,2013-03-11 12:30:25,None
1,76561197984409754,-exdkr- Milan Jagdhund,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,1,2013-03-01 16:01:30,"""N,"" Marcel""",103582791429525029,2006-08-18 02:16:02,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:21:06""",None,None,None
2,76561197984410981,the raccoon,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-06-16 13:32:46,"""N,""N",103582791429638306,2006-08-20 20:19:24,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:25""",None,None,None
3,76561197984412618,(`Â´)|buRRo,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-08-30 16:12:51,"""N,""Tommy Karlsson""",103582791430622765,2006-08-18 06:13:11,"""N,""N","""N,""N",SE,"""N,""N",2013-03-02 01:21:27,None,None
4,76561197984412820,H^ xd,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-12-28 12:58:43,"""N,""N",103582791429521408,2006-08-18 06:27:26,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:21:29""",None,None,None
5,76561197984414552,MasterShake,http://steamcommunity.com/id/mastershake193/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-28 23:52:36,"""N,""Aaron""",103582791430921377,2006-08-18 08:09:43,"""N,""N","""N,""N",US,SD,3495,2013-03-02 01:21:43,None
6,76561197984418128,DyÅ‹Ã cÃ²Ñe|áº¶VA,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-06-14 03:16:56,"""N,""N",103582791429521408,2006-08-18 10:50:56,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:22:12""",None,None,None
7,76561197984422985,jkop,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-24 04:04:32,"""N,""N",103582791430084582,2006-08-21 11:20:40,"""N,""N","""N,""N",DE,"""N,""N",2013-03-11 12:30:25,None,None
8,76561197984423499,Chip,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-05-10 13:33:04,"""N,""N",103582791431945232,2006-08-21 11:42:42,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:25""",None,None,None
9,76561197984424003,None,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-02-28 13:39:01,"""N,""N",103582791429639803,2006-08-21 12:05:05,"""N,""N","""N,""N",FR,A1,15628,2013-03-11 12:30:25,None
10,76561197984424387,DOIHECIJoEDZEHnndIP,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-08-15 19:56:22,"""N,""N",103582791429632449,2006-08-21 12:22:51,"""N,""N","""N,""N","""N,""N","""N,""2013-03-11 12:30:25""",None,None,None
11,76561197984427662,battal08,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2008-01-31 18:46:00,"""N,""N",103582791429521408,2006-08-18 20:59:52,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:23:38""",None,None,None
12,76561197984431086,Kugelschreibaer,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-07-27 16:58:31,"""N,""N",103582791429524891,2006-08-19 02:46:14,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:24:10""",None,None,None
13,76561197984432865,St. Draven,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2013-03-01 22:59:31,"""N,""St. Draven""",103582791429685605,2006-08-21 23:22:15,"""N,""N","""N,""N",CA,"""N,""N",2013-03-11 12:30:25,None,None
14,76561197984434262,Jeremy,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,1,3,1,2013-02-28 18:24:14,"""N,""Jeremy Worrell""",103582791429521408,2006-08-19 06:16:52,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:24:35""",None,None,None
15,76561197984437811,::andy::,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2011-12-29 19:14:33,"""N,""Andy""",103582791429578521,2006-08-22 07:02:46,"""N,""N","""N,""N",GB,"""N,""N",2013-03-11 12:30:25,None,None
16,76561197984438285,SwagHxxor,http://steamcommunity.com/id/joompa/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-06-03 15:41:45,"""N,""John""",103582791429521408,2006-08-22 07:28:07,"""N,""N","""N,""N",SE,26,"""N,""2013-03-11 12:30:25""",None,None
17,76561197984438754,eduzin,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2012-12-20 19:25:03,"""N,""N",103582791429699739,2006-08-19 09:59:04,"""N,""N","""N,""N","""N,""N","""N,""2013-03-02 01:25:08""",None,None,None
18,76561197984439153,Mr...Jb,http://steamcommunity.com/id/GATE9ORIGINAL/,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2010-02-28 09:37:15,"""N,""antonis""",103582791429521408,2006-08-22 08:20:47,"""N,""N","""N,""N",CY,"""N,""N",2013-03-11 12:30:25,None,None
19,76561197984439989,LinkerHoden,http://steamcommunity.com/profiles/76561197984...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,http://media.steampowered.com/steamcommunity/p...,0,3,1,2009-12-01 17:21:14,"""N,""N",103582791429521408,2006-08-22 09:04:23,"""N,""N","""N,""N",DE,11,13175,2013-03-11 12:30:25,None

In [53]:
check_list = ['nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9', 'nSplit_c10', 'nSplit_c11','nSplit_c12','nSplit_c13', 'nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17','nSplit_c18','nSplit_c19']


for i in check_list:
    print('Distinct value for each column:\n')
    print(ps_t7_1.groupBy(i).count().show())

Distinct value for each column:

+---------+-------+
|nSplit_c1|  count|
+---------+-------+
|        1|2913465|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c7|  count|
+---------+-------+
|        1|2913465|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c8|  count|
+---------+-------+
|        1|2913465|
+---------+-------+

None
Distinct value for each column:

+---------+-------+
|nSplit_c9|  count|
+---------+-------+
|        1|2913465|
+---------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c10|  count|
+----------+-------+
|         2|2913465|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c11|  count|
+----------+-------+
|         1|2913465|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c12|  count|
+----------+-------+
|         1|2913465|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c13|  count|
+----------+-------+
|         1|  47317|
|         2|2866148|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c14|  count|
+----------+-------+
|         1|  15958|
|         2|2897507|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c15|  count|
+----------+-------+
|         1|1394159|
|         2|1519306|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c16|  count|
+----------+-------+
|         1| 901670|
|         2|2011795|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c17|  count|
+----------+-------+
|        -1|1487702|
|         1|1141164|
|         2| 284599|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c18|  count|
+----------+-------+
|        -1|2269914|
|         1| 641147|
|         2|   2404|
+----------+-------+

None
Distinct value for each column:

+----------+-------+
|nSplit_c19|  count|
+----------+-------+
|        -1|2908260|
|         1|   5123|
|         2|     82|
+----------+-------+

None

In [39]:
# Set new columns need to split for this data

col_c10 = ['_c10']
newcols_c10 = ['c10_1', 'c10_2']

col_c13 = ['_c13']
newcols_c13 = ['c13_1', 'c13_2']

col_c14 = ['_c14']
newcols_c14 = ['c14_1', 'c14_2']

col_c15 = ['_c15']
newcols_c15 = ['c15_1', 'c15_2']

col_c16 = ['_c16']
newcols_c16 = ['c16_1', 'c16_2']

col_c17 = ['_c17']
newcols_c17 = ['c17_1', 'c17_2']

col_c18 = ['_c18']
newcols_c18 = ['c18_1', 'c18_2']

col_c19 = ['_c19']
newcols_c19 = ['c19_1', 'c19_2']

# Apply split function
ps_t7_1 = split_2_column(ps_t7_1, col_c10, newcols_c10)
ps_t7_1 = split_2_column(ps_t7_1, col_c13, newcols_c13)
ps_t7_1 = split_2_column(ps_t7_1, col_c14, newcols_c14)
ps_t7_1 = split_2_column(ps_t7_1, col_c15, newcols_c15)
ps_t7_1 = split_2_column(ps_t7_1, col_c16, newcols_c16)
ps_t7_1 = split_2_column(ps_t7_1, col_c17, newcols_c17)
ps_t7_1 = split_2_column(ps_t7_1, col_c18, newcols_c18)
ps_t7_1 = split_2_column(ps_t7_1, col_c19, newcols_c19)

---
### 5.7.2 Adding columns and condition
From this step, we will start adding column based in n_Split column logic

_Add columns_

In [40]:
ps_t7_1 = ps_t7_1.withColumn('personastate', F.col('_c6'))
ps_t7_1 = ps_t7_1.withColumn('communityvisibilitystate', F.col('_c7'))
ps_t7_1 = ps_t7_1.withColumn('profilestate', F.col('_c8'))
ps_t7_1 = ps_t7_1.withColumn('lastlogoff', F.col('_c9'))
ps_t7_1 = ps_t7_1.withColumn('commentpermission', F.col('c10_1'))
ps_t7_1 = ps_t7_1.withColumn('realname', F.col('c10_2'))
ps_t7_1 = ps_t7_1.withColumn('primaryclanid', F.when((F.col('_c11').contains('103')), F.col('_c11')).\
                             when(~(F.col('_c11').contains('103')), F.col('_c12')))
ps_t7_1 = ps_t7_1.withColumn('timecreated', F.when((F.col('_c11').contains('103')), F.col('_c12')).\
                             when(~(F.col('_c11').contains('103')), F.col('c13_1')))

In [ ]:
ps_t7_1 = ps_t7_1.withColumn('gameid', F.when((F.col('_c11').contains('103')), F.col('c13_1')).\
                             when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1), F.col('c14_1')).\
                             when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2), F.col('c13_2')))

In [61]:
ps_t7_1 = ps_t7_1.withColumn('gameserverip', F.when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)), F.col('c14_1')).\
                             when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==2)), F.col('c13_2')).\
                             when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
                             when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                             when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2), F.col('c14_1')))

In [62]:
ps_t7_1 = ps_t7_1.withColumn('gameextrainfo', F.when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2), F.col('c14_1')).\
when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), F.col('c16_1')).\
when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c15_2')).\
when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2), F.col('c15_1')).\
when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1), F.col('c15_1')).\
when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), F.col('c14_2')))

In [97]:
ps_t7_1 = ps_t7_1.withColumn('cityid', F.when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1)& (F.col('nSplit_c15')==1), F.col('c16_1')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1)& (F.col('nSplit_c15')==2), F.col('c15_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) , F.col('c15_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) , F.col('c15_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), F.col('c14_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) , F.col('c15_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1), F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c15_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), F.col('c15_1')).\
                            otherwise(F.col('c16_1')))

In [95]:
ps_t7_1.count()

2913465

In [96]:
ps_t7_1 = ps_t7_1.filter((F.col('_c11').contains('103')) | (F.col('_c12').contains('103')))
ps_t7_1.count()

2913156

In [100]:
ps_t7_1 = ps_t7_1.filter(F.col('cityid')=='"N')
ps_t7_1.count()

2912970

---
_Add column_
> - loccountrycode

In [ ]:
ps_t7_1 = ps_t7_1.withColumn('loccountrycode', F.when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1)& (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) , F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) , F.col('c15_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) , F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c15_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2), F.col('c15_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) , F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), F.col('c16_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), F.col('c15_2')).\
                            otherwise(F.col('c16_2')))

---
_Add column_
> - locstatecode

In [111]:
ps_t7_1 = ps_t7_1.withColumn('locstatecode', F.when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1)& (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1)& (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c17_1')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c11').contains('103') & (F.col('nSplit_c13')==1)) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) , F.col('c17_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) , F.col('c16_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) , F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) , F.col('c17_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) , F.col('c16_2')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2), F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1), F.col('c16_1')).\
                            when((F.col('_c11').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), F.col('c15_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==1), F.col('c19_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1) & (F.col('nSplit_c18')==2), F.col('c18_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1) , F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==1) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==2) , F.col('c16_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==1), F.col('c18_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1) & (F.col('nSplit_c17')==2), F.col('c17_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==1) & (F.col('nSplit_c15')==2) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==1), F.col('c17_1')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==1) & (F.col('nSplit_c16')==2), F.col('c16_2')).\
                            when((F.col('_c12').contains('103')) & (F.col('nSplit_c13')==2) & (F.col('nSplit_c14')==2) & (F.col('nSplit_c15')==2), F.col('c16_1')).\
                            otherwise(F.col('c17_1')))

_Check missing value across all columns created_

In [112]:
check_missing(ps_t7_1.select('personastate','communityvisibilitystate','profilestate','lastlogoff','commentpermission',
                            'realname','primaryclanid','timecreated','gameid','gameextrainfo','cityid','loccountrycode','locstatecode'))

+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+-------------+------+--------------+------------+
|personastate|communityvisibilitystate|profilestate|lastlogoff|commentpermission|realname|primaryclanid|timecreated|gameid|gameextrainfo|cityid|loccountrycode|locstatecode|
+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+-------------+------+--------------+------------+
|           0|                       0|           0|         0|                0|       0|            0|          0|     0|            0|     0|             0|           0|
+------------+------------------------+------------+----------+-----------------+--------+-------------+-----------+------+-------------+------+--------------+------------+

In [114]:
ps_t7_1.select('timecreated').distinct().count()

2791591

In [115]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('timecreated').distinct().limit(50).toPandas()

            timecreated
0   2006-07-23 14:06:45
1   2006-07-27 06:10:36
2   2006-08-04 09:18:23
3   2006-09-23 21:45:52
4   2005-01-19 02:22:04
5   2005-12-26 19:36:16
6   2006-01-03 22:39:47
7   2006-01-17 10:57:42
8   2006-06-09 02:25:49
9   2006-06-13 09:57:09
10  2006-03-02 10:54:55
11  2006-03-03 06:31:55
12  2006-10-29 17:21:11
13  2006-11-14 13:05:03
14  2003-09-12 08:24:02
15  2003-09-13 08:21:16
16  2006-07-15 10:37:53
17  2003-12-18 18:23:53
18  2003-09-28 21:21:16
19  2003-09-30 10:36:00
20  2005-01-21 20:30:33
21  2005-01-28 18:11:03
22  2005-02-06 07:34:04
23  2005-02-11 19:48:09
24  2005-12-04 16:21:34
25  2005-12-16 13:56:00
26  2006-04-02 20:35:12
27  2006-04-06 06:02:17
28  2006-05-02 07:58:59
29  2005-07-12 10:48:49
30  2005-07-12 15:14:16
31  2005-07-15 07:15:36
32  2004-12-27 09:16:28
33  2004-04-23 17:06:11
34  2004-05-08 05:54:50
35  2005-04-30 12:21:11
36  2005-05-03 12:03:08
37  2005-05-03 14:58:41
38  2005-05-07 12:31:33
39  2004-11-16 13:59:44
40  2004-11-16 16:33:04
41  2004-01-22 01:28:52
42  2004-10-07 04:10:24
43  2004-11-13 05:00:54
44  2005-10-08 14:14:38
45  2005-10-15 22:47:03
46  2005-11-11 06:44:05
47  2004-03-14 14:59:51
48  2004-04-03 14:54:39
49  2003-11-02 19:58:36

In [52]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('gameid').distinct().limit(50).toPandas()

      gameid
0     108800
1     207060
2      45300
3       7650
4     211160
5     207210
6       1280
7      31290
8     212220
9       2700
10     12750
11      6900
12     27020
13     21690
14     33120
15     70120
16     12710
17     10110
18     65800
19    208140
20    212070
21      1500
22     97330
23    218060
24    201210
25     17570
26    207150
27     41210
28     42960
29      2200
30     33280
31     93200
32     15100
33     33220
34     13520
35     42120
36     43190
37     55110
38     96400
39    225580
40  16777434
41    219890
42     15210
43     48120
44    204240
45      6300
46    113420
47      4580
48    222140
49    214170

In [116]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('gameserverip').distinct().limit(50).toPandas()

             gameserverip
0     146.66.154.27:27034
1     146.66.152.96:27025
2      74.91.123.66:27015
3     146.66.153.88:27064
4     109.207.55.26:27015
5    63.210.145.203:27015
6     103.10.125.71:27063
7      27.50.71.209:27015
8    90.189.192.130:27016
9    146.66.153.125:27079
10      192.168.0.5:27015
11   200.98.214.108:27015
12      85.236.100.7:8766
13    83.141.26.116:27015
14   178.124.130.16:27108
15     74.91.118.12:27015
16   146.66.153.127:27093
17    208.78.165.19:27047
18   146.66.153.159:27031
19    176.195.10.54:27015
20    146.66.153.87:27085
21   208.78.164.246:27086
22      212.72.155.72:300
23      209.44.96.58:7707
24    146.66.155.35:27036
25   146.66.152.107:27033
26    68.232.168.181:7787
27    146.66.154.28:27069
28  108.171.102.102:27015
29    60.198.93.168:27016
30    209.197.25.35:27018
31    146.66.154.77:27045
32    103.10.125.75:27048
33     88.190.24.216:7777
34   91.227.221.173:25030
35    208.64.201.88:27046
36   219.140.223.71:27015
37   91.236.239.145:27017
38    66.151.244.63:27015
39   146.66.154.150:27060
40    173.199.68.68:27015
41    146.66.156.58:27079
42   208.78.164.216:27069
43    87.144.111.25:51914
44    146.66.154.98:27071
45    66.55.154.196:27015
46   208.78.164.234:27066
47    209.197.25.55:27055
48    146.66.154.50:27069
49    87.98.135.124:27025

In [65]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('gameextrainfo').distinct().limit(50).toPandas()

                                        gameextrainfo
0                                              Dota 2
1   "Star Wars: The Force Unleashed Ultimate Sith ...
2                                        "Black Mesa"
3                           "Street Fighter X Tekken"
4                        "LEGO Batman: The Videogame"
5                                         "*Craft II"
6                                    "Call of Duty 2"
7                  "Lego Star Wars 3: The Clone Wars"
8                                            "Client"
9                            "PHANTASY STAR ONLINE 2"
10                                    "TeknoR6Vegas2"
11                   "Might and Magic Heroes VI Demo"
12                                Zombie Panic Source
13                                  "Sniper Elite V2"
14                              "EVE Online Launcher"
15                                      "Dungeonland"
16                                   "Gw2 - Shortcut"
17                                    "Droid Assault"
18                                            "DayZ+"
19               "Dark Souls: Prepare to Die Edition"
20                                      Left 4 Dead 2
21                                        "Anno 2070"
22  "Magic: The Gathering - Duels of the Planeswal...
23                                   "Frozen Synapse"
24                 "Steel Storm: Burning Retribution"
25                       "The Elder Scrolls V Skyrim"
26                 "Devil May Cry 3: Special Edition"
27                             "ArcaniA â€“ Gothic 4"
28                          "Tom Clancy's H.A.W.X. 2"
29                        Painkiller Hell & Damnation
30         "Command and Conquer 4: Tiberian Twilight"
31                                     "Still Life 2"
32                                          "Demigod"
33                                          "Closure"
34                                            Synergy
35                        "Tropico 3: Absolute Power"
36                                 "Grand Ages: Rome"
37                                      "Hammerfight"
38                               "World of Warplanes"
39                                    "Left 4 Dead 2"
40                             "Grand Theft Auto III"
41                                        "Deadlight"
42                                              "LoL"
43                 "Maxis and their big pile of cash"
44                                      "Hawken Game"
45                                   "The Witcher 2 "
46                        "Blood Bowl: Chaos Edition"
47                          "iBomber Defense Pacific"
48                              "ÐœÐ¸Ñ€ Ð¢Ð°Ð½ÐºÐ¾Ð²"
49                          "Half-Life 2: Deathmatch"

In [117]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('cityid').distinct().limit(50).toPandas()

  cityid
0     "N

_loccountrycode_

In [119]:
ps_t7_1.select('loccountrycode').distinct().count()

427

In [118]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('loccountrycode').distinct().limit(50).toPandas()

   loccountrycode
0              DZ
1              LT
2            "SG"
3              MM
4            "TJ"
5              CI
6              TC
7              FI
8              AZ
9              SC
10             PM
11           "AD"
12             UA
13           "IR"
14           "BZ"
15             RO
16             KI
17             ZM
18           "ES"
19             SL
20             NL
21             LA
22             SB
23             BS
24           "BY"
25             BW
26             MN
27           "MG"
28           "NL"
29           "JO"
30             PL
31             AM
32             RE
33           "MH"
34           "IL"
35             PF
36             MX
37           "NG"
38           "CN"
39           "BS"
40           "CK"
41           "YE"
42             GL
43             TV
44           "DK"
45           "TD"
46             EE
47           "AS"
48           "VI"
49           "RU"

In [122]:
ps_t7_1.select('locstatecode').distinct().count()

408

In [123]:
# Use this code to check if the 'gameid' was parsed correctly.
ps_t7_1.select('locstatecode').distinct().limit(50).toPandas()

   locstatecode
0            07
1            51
2            C6
3            X9
4            CI
5            AZ
6            SC
7            A9
8            Q7
9            NS
10           15
11           54
12           V7
13           H6
14           D5
15           LA
16           NL
17           U2
18           D7
19           W6
20           R6
21           MN
22           11
23           F2
24           V3
25           29
26           69
27           T6
28           42
29           Z4
30           R8
31           NJ
32           87
33           73
34           A6
35           64
36           K8
37           E9
38           M4
39           30
40           T9
41           34
42           DC
43           59
44           01
45           I5
46           L8
47           B4
48           M7
49           H1

---
### 5.7.2 Format Table

In [124]:
ps_t7_1.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- nSplit_c1: integer (nullable = false)
 |-- nSplit_c7: integer (nullable = false)
 |-- nSplit_c8: integer (nullable = false)
 |-- nSplit_c9: integer (nullable = false)
 |-- nSplit_c10: integer (nullable = false)
 |-- nSplit_c11: integer (nullable = false)
 |-- nSplit_c12: integer (nullable = false)
 |-- nSplit_c13: integer (nullable = false)
 |-- nSplit_c14: integer (nullable = false)
 |-- nSplit_c15: integer (nullable = false)
 |-- nSplit_c16: integer (nullable = false)
 |-- nSplit_c17: integer (nullable = false)
 |-- nSplit_c18: integer (nullable = false)
 |-- nSplit_c19: integer (nullable = false)
 |-- c10_1: string (nullable = true)
 |-- c10_2: string (nullable = true)
 |-- c13_1: string (nullable = true)
 |-- c13_2: string (nullable = true)
 |-- c14_1: string (nullable = true)
 |-- c14_2: string (nullable = true)
 |-- c15_1: string (nullable = true)
 |-- c15_2: string (nullable = true)
 |-- c16_1: string (nullable = true)
 |-- c16_2: string (nullable = true)
 |-- c17_1: string (nullable = true)
 |-- c17_2: string (nullable = true)
 |-- c18_1: string (nullable = true)
 |-- c18_2: string (nullable = true)
 |-- c19_1: string (nullable = true)
 |-- c19_2: string (nullable = true)
 |-- personastate: string (nullable = true)
 |-- communityvisibilitystate: string (nullable = true)
 |-- profilestate: string (nullable = true)
 |-- lastlogoff: string (nullable = true)
 |-- commentpermission: string (nullable = true)
 |-- realname: string (nullable = true)
 |-- primaryclanid: string (nullable = true)
 |-- timecreated: string (nullable = true)
 |-- gameid: string (nullable = true)
 |-- gameserverip: string (nullable = true)
 |-- gameextrainfo: string (nullable = true)
 |-- cityid: string (nullable = true)
 |-- loccountrycode: string (nullable = true)
 |-- locstatecode: string (nullable = true)

In [125]:
# Drop unnecssary columns
ps_t7_1 = ps_t7_1.drop('nSplit_c1','nSplit_c7','nSplit_c8','nSplit_c9','nSplit_c10','nSplit_c11',\
                    'nSplit_c12','nSplit_c13','nSplit_c14','nSplit_c15','nSplit_c16','nSplit_c17',\
                    'nSplit_c18','nSplit_c19',\
                    'c10_1','c10_2', 'c11_3','c13_1','c13_2','c14_1','c14_2','c15_1','c15_2',\
                    'c16_1','c16_2','c17_1','c17_2','c18_1','c18_2','c19_1','c19_2',\
                    '_c6','_c7','_c8','_c9','_c10','_c11','_c12','_c13','_c14','_c15','_c16',\
                    '_c17','_c18','_c19','_c3','_c4','_c5',)

In [127]:
# Rename columns
newColumns = ['steam_id','person_name', 'profile_url','person_state', 'community_visibility_state',\
              'profile_state','last_logoff', 'comment_permission', 'real_name', 'primary_clanid',\
              'time_created', 'game_id', 'gameserver_ip', 'game_extrainfo', 'city_id', 'country_code',\
              'state_code']
ps_t7_1 = rename_col(ps_t7_1, newColumns)

In [128]:
ps_t7_1.printSchema()

root
 |-- steam_id: string (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: string (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [130]:
# Replace " symbols in data
col_list = ['profile_state','community_visibility_state','comment_permission','real_name', 'primary_clanid','time_created', 'game_id', 'gameserver_ip',\
            'last_logoff','profile_state','game_extrainfo', 'city_id', 'country_code','state_code']

for i in col_list:
     ps_t7_1 = ps_t7_1.withColumn(i,regexp_replace(i, '"', ""))

In [131]:
ps_t7_1.limit(20).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197974615739,Warrior_Wax,http://steamcommunity.com/profiles/76561197974...,3,3,1,2013-03-06 18:19:24,N,N,103582791429521408,2005-03-03 20:33:42,N,N,N,N,N,N
1,76561197974616863,Brothaman Â±ihia,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-02-17 23:41:24,N,N,103582791429681794,2005-03-03 22:46:40,N,N,N,N,N,N
2,76561197974618852,TaNk,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-01-01 14:34:48,N,N,103582791429521408,2005-03-02 17:18:55,N,N,N,N,US,CA
3,76561197974624528,fjeppert,http://steamcommunity.com/profiles/76561197974...,0,3,1,2011-11-22 06:04:48,N,N,103582791429521408,2005-03-03 03:19:57,N,N,N,N,NL,07
4,76561197974626969,>EpoXy`,http://steamcommunity.com/profiles/76561197974...,0,3,1,2009-11-26 14:58:47,N,N,103582791429521408,2005-03-04 09:50:08,N,N,N,N,N,N
5,76561197974627729,jamallorock,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-09-09 14:14:37,N,N,103582791431480423,2005-03-04 10:20:32,N,N,N,N,PL,N
6,76561197974629794,NERO 91,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-07-01 07:03:57,N,N,103582791431465541,2005-03-03 09:06:52,N,N,N,N,N,N
7,76561197974631473,RRZ_lovs,http://steamcommunity.com/profiles/76561197974...,1,3,1,2012-10-22 11:30:03,N,N,103582791429639803,2005-03-04 12:48:01,N,N,N,N,N,N
8,76561197974639142,cheese,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-02-11 23:03:34,N,N,103582791429639803,2005-03-03 18:03:07,N,N,N,N,N,N
9,76561197974641428,Sorce,http://steamcommunity.com/profiles/76561197974...,1,3,1,2013-02-18 15:33:26,N,Sorce,103582791429574842,2005-03-03 18:42:10,N,N,N,N,N,N
10,76561197974644929,AMZ.Auyra,http://steamcommunity.com/id/auyra/,0,3,1,2013-02-18 00:55:58,N,Auyra,103582791429522385,2005-03-05 00:32:14,N,N,N,N,CA,BC
11,76561197974649155,Malefikant,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-01-06 15:51:49,N,pepan,103582791429521408,2005-03-05 04:53:00,N,N,N,N,CZ,85
12,76561197974649935,lord_muftak,http://steamcommunity.com/profiles/76561197974...,0,3,1,2010-11-18 11:35:55,N,N,103582791429521408,2005-03-05 05:26:40,N,N,N,N,N,N
13,76561197974651172,lukamatic,http://steamcommunity.com/profiles/76561197974...,0,3,1,2010-01-31 14:26:44,N,N,103582791429668769,2005-03-04 08:34:58,N,N,N,N,N,N
14,76561197974652573,Raw,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-02-18 17:40:27,N,N,103582791429521408,2005-03-05 07:12:36,N,N,N,N,N,N
15,76561197974653782,Nightwish,http://steamcommunity.com/profiles/76561197974...,0,3,1,2013-02-18 15:23:53,N,Rival,103582791429735502,2005-03-04 10:15:58,N,N,N,N,SE,N
16,76561197974653971,penaten,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-10-06 15:00:58,N,N,103582791429521408,2005-03-05 08:05:57,N,N,N,N,N,N
17,76561197974654086,forest gump!,http://steamcommunity.com/profiles/76561197974...,0,3,1,2012-05-13 00:37:11,N,N,103582791429620696,2005-03-04 10:28:23,N,N,N,N,RU,N
18,76561197974654550,Kapten Silver,http://steamcommunity.com/profiles/76561197974...,0,3,1,2008-06-26 00:49:40,N,John,103582791429521408,2005-03-04 10:46:04,N,N,N,N,SE,03
19,76561197974659899,Q U A K â‚¬,http://steamcommunity.com/profiles/76561197974...,0,3,1,2011-06-20 19:54:44,N,N,103582791431278420,2005-03-05 11:33:52,N,N,N,N,N,N

In [132]:
# Save TABLE 7_1
ps_t7_1.write.csv('/user/tamng/jwht/CleanData/ps_t7_1.csv', header = True)

----
## 6. Merge all table together

In [11]:
!hdfs dfs -ls /user/tamng/jwht/CleanData

WARNING: log4j.properties is not found. HADOOP_CONF_DIR may be incomplete.
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=512M; support was removed in 8.0
Found 21 items
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:38 /user/tamng/jwht/CleanData/app_id_info.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 22:38 /user/tamng/jwht/CleanData/app_if_info_PosReview.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 13:42 /user/tamng/jwht/CleanData/friends.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 15:10 /user/tamng/jwht/CleanData/game2_df.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 14:12 /user/tamng/jwht/CleanData/game_dgp.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:41 /user/tamng/jwht/CleanData/games_developer.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:47 /user/tamng/jwht/CleanData/games_genres.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:49 /user/tamng/jwht/CleanData/games_publisher.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:55 /user/tamng/jwht/CleanData/groups.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 16:54 /user/tamng/jwht/CleanData/ps_t1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 19:28 /user/tamng/jwht/CleanData/ps_t2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 22:34 /user/tamng/jwht/CleanData/ps_t3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 00:29 /user/tamng/jwht/CleanData/ps_t4_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 01:26 /user/tamng/jwht/CleanData/ps_t4_1_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 22:27 /user/tamng/jwht/CleanData/ps_t4_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 23:25 /user/tamng/jwht/CleanData/ps_t4_3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 11:36 /user/tamng/jwht/CleanData/ps_t4_4.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 16:18 /user/tamng/jwht/CleanData/ps_t5_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-30 11:33 /user/tamng/jwht/CleanData/ps_t5_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-31 00:17 /user/tamng/jwht/CleanData/ps_t6_1.csv
drwxr-xr-x   - tamng tamng          0 2020-06-01 11:37 /user/tamng/jwht/CleanData/ps_t7_1.csv

In [12]:
ps_t1 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t1.csv',inferSchema = True, header = True)
ps_t2 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t2.csv',inferSchema = True, header = True)
ps_t3 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t3.csv',inferSchema = True, header = True)
ps_t4_1_1 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t4_1_1.csv',inferSchema = True, header = True)
ps_t4_1_2 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t4_1_2.csv',inferSchema = True, header = True)
ps_t4_2 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t4_2.csv',inferSchema = True, header = True)
ps_t4_3 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t4_3.csv',inferSchema = True, header = True)
ps_t4_4 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t4_4.csv',inferSchema = True, header = True)
ps_t5_1_1 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t5_1_1.csv',inferSchema = True, header = True)
ps_t5_2 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t5_2.csv',inferSchema = True, header = True)
ps_t6_1 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t6_1.csv',inferSchema = True, header = True)
ps_t7_1 = spark.read.csv('/user/tamng/jwht/CleanData/ps_t7_1.csv',inferSchema = True, header = True)

In [14]:
ps_t1.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197974936592,Crack Whorez,http://steamcommunity.com/profiles/76561197974...,0,3,1,2009-11-29 01:27:15,1,N,103582791429526766,2005-03-17 10:14:08,N,N,N,N,N,N
1,76561197974941277,Nymann,http://steamcommunity.com/id/b0xr/,0,3,1,2010-02-09 06:47:58,1,N,103582791429915259,2005-03-19 04:48:01,N,N,N,N,DK,01

In [16]:
ps_t2.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197984594581,joe #sQx,http://steamcommunity.com/profiles/76561197984...,0,3,1,2010-05-07 19:09:49,N,Joe Pardim,103582791430266409,2006-08-30 04:55:18,N,N,N,N,BR,16
1,76561197967762191,heiftzurdah,http://steamcommunity.com/id/Zurdah/,0,3,1,2013-02-11 10:19:16,N,Arnar,103582791429550710,2004-07-28 09:00:55,N,N,N,N,N,N

In [19]:
ps_t3.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197960518379,KrumPZ,http://steamcommunity.com/profiles/76561197960...,0,3,1,2011-03-08 02:34:07,1,"Reborn,Cynical,Tumbo,Mero",103582791430065590,2003-09-13 11:41:47,N,N,N,N,N,N
1,76561197973640033,Doble Es,http://steamcommunity.com/id/empresario7/,0,3,1,2013-02-18 14:05:01,2,"A.k.a Ozamu, Bisnesmies, Empresario, Sulttaani...",103582791432035804,2005-01-26 23:18:18,N,N,N,N,FI,13

In [21]:
ps_t4_1_1.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197961037440,Fukano,http://steamcommunity.com/profiles/76561197961...,0,1,1,2013-02-16 03:14:12,2,N,N,N,N,N,N,N,N,N
1,76561197961061498,Demonata,http://steamcommunity.com/profiles/76561197961...,0,1,1,2010-06-03 19:20:51,1,N,N,N,N,N,N,N,N,N

In [23]:
ps_t4_1_2.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197968251326,tpX- NiceDoggy,http://steamcommunity.com/id/Robwsimons/,0,3,1,2013-02-16 22:40:03,1,"Steven, Bentley",103582791431492925,2004-08-16 18:38:24,N,N,N,N,N,N
1,76561197979997346,Clappie -Something Awesome!,http://steamcommunity.com/id/Clappie/,1,3,1,2013-02-28 23:30:52,1,"Ehmm, You proberly allready know it.",103582791431867759,2005-12-26 11:51:35,N,N,N,N,DK,08

In [25]:
ps_t4_2.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197979744990,J |_| T | |_ /-,http://media.steampowered.com/steamcommunity/p...,0,3,N,2011-05-02 03:09:51,N,N,103582791429521408,2005-12-15 06:35:24,N,N,N,N,N,N
1,76561197979765627,None,http://media.steampowered.com/steamcommunity/p...,0,3,N,2006-09-24 12:02:59,N,N,103582791429521408,2005-12-18 11:30:47,N,N,N,N,N,N

In [28]:
ps_t4_3.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197978765238,FN#18499510,http://steamcommunity.com/profiles/76561197978...,0,3,N,2009-05-10 18:59:20,N,N,103582791429521408,N,N,N,N,N,N,N
1,76561197982892481,FN#22626753,http://steamcommunity.com/profiles/76561197982...,0,3,N,2009-03-14 13:54:56,N,N,103582791429521408,N,N,N,N,N,N,N

In [30]:
ps_t4_4.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197963349080,"xiGeroNi c""",http://steamcommunity.com/profiles/76561197963...,0,3,1,2013-02-12 14:15:07,N,Steffen Z,103582791429559556,2003-12-13 10:52:54,N,N,N,N,RU,47
1,76561197985127080,"""""""Don Casimir",http://steamcommunity.com/profiles/76561197985...,0,1,1,2012-06-10 08:49:02,N,N,N,N,N,N,N,N,N,N

In [32]:
ps_t5_1_1.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197965776711,"dIzZu ^,-",http://steamcommunity.com/profiles/76561197965...,0,1,1,2013-02-16 04:32:05,N,N,N,N,N,N,N,N,N,N
1,76561197960888341,"Jodzin | too free, do uslyszenia",http://steamcommunity.com/profiles/76561197960...,0,1,1,2012-02-29 14:49:09,N,N,N,N,N,N,N,N,N,N

In [34]:
ps_t5_2.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197968588415,wafox26,http://steamcommunity.com/profiles/76561197968...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
1,76561197968591946,Lord,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-14 22:22:46,N,N,N,N,N,N,N,N,N,N

In [36]:
ps_t6_1.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197968085891,michaenglam,http://steamcommunity.com/profiles/76561197968...,0,3,N,2006-10-05 22:29:41,N,N,103582791429521408,2004-08-07 20:27:18,N,N,N,N,N,N
1,76561197968088971,a1061004,http://steamcommunity.com/profiles/76561197968...,0,3,N,2007-10-12 20:37:18,N,N,103582791429521408,2004-08-07 23:27:56,N,N,N,N,N,N

In [38]:
ps_t7_1.limit(2).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197972507081,Peanuts Hucko,http://steamcommunity.com/profiles/76561197972...,0,3,1,2013-02-15 19:43:07,N,N,103582791429913068,2004-12-27 12:41:50,N,N,N,N,US,N
1,76561197972507183,IIIIkoolaidIIII,http://steamcommunity.com/id/ikoolaidi/,1,3,1,2013-02-16 01:22:04,N,Ben,103582791430274949,2004-12-27 12:43:37,N,N,N,N,N,N

In [39]:
from functools import reduce
from pyspark.sql import DataFrame

In [40]:
dfs = [ps_t1, ps_t2, ps_t3, ps_t4_1_1, ps_t4_1_2, ps_t4_2, ps_t4_3, ps_t4_4, ps_t5_1_1, ps_t5_2, ps_t6_1, ps_t7_1]

In [41]:
player_summary = reduce(DataFrame.unionAll, dfs)

In [42]:
player_summary.count()

9881300

In [46]:
player_summary.select('country_code').distinct().count()

237

In [47]:
# Save TABLE
player_summary.write.csv('/user/tamng/jwht/CleanData/player_summary_total.csv', header = True)

### END
---