# BigData Final Project | Steam
## <font color = 'blue'> Notebook3 | Feature Engineering </font>
### Team Member: Jim Fang, WooJong Choi, Han Jeon, Tam Nguyen

June 2020
___

### Construct a comprehensive table for players
Join 6 tables together: game2_df, app_id_info, game_genre, friends, groups, player_summary

### <font color ='blue'> CHALLENGE</font>
The game_df data alone has 100k million rows and is the longitudinal data type . If we join that table with app_id_info, game_genre,... we will end up with 7.6 billion rows (~ XXX Gb). As such, we need to find another way to join to keep the size is manageable and speed up the process 

###  <font color ='blue'> SOLUTION</font>

> Using Columnwise approach â€“ increase number of columns, but not rows:
> - Resconstruct tables, i.e one hot econde and aggreate game_genre,total play time, number of active, inactive year... before joining them

---
## I. Import Libraries

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession

from pyspark.sql import functions as F
import pyspark.sql.types as t
from pyspark.sql.functions import broadcast
from pyspark.sql.functions import regexp_replace
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import isnan, when, count, col, size
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import length
from pyspark.sql import functions as sf
from pyspark.sql.functions import collect_set, collect_list, array_contains
from pyspark.sql.functions import substring
from functools import reduce

import pandas as pd
import matplotlib.pyplot as plt
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation


import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
spark = SparkSession.builder.enableHiveSupport().appName('FeatureEngineering').getOrCreate()
sc = spark.sparkContext

In [3]:
!hdfs dfs -ls /user/tamng/jwht/CleanData

WARNING: log4j.properties is not found. HADOOP_CONF_DIR may be incomplete.
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=512M; support was removed in 8.0
Found 22 items
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:38 /user/tamng/jwht/CleanData/app_id_info.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 22:38 /user/tamng/jwht/CleanData/app_if_info_PosReview.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 13:42 /user/tamng/jwht/CleanData/friends.csv
drwxrwxrwx   - tamng tamng          0 2020-05-18 15:10 /user/tamng/jwht/CleanData/game2_df.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 14:12 /user/tamng/jwht/CleanData/game_dgp.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:41 /user/tamng/jwht/CleanData/games_developer.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:47 /user/tamng/jwht/CleanData/games_genres.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:49 /user/tamng/jwht/CleanData/games_publisher.csv
drwxrwxrwx   - tamng tamng          0 2020-05-22 13:55 /user/tamng/jwht/CleanData/groups.csv
drwxrwxrwx   - tamng tamng          0 2020-06-01 12:17 /user/tamng/jwht/CleanData/player_summary_total.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 16:54 /user/tamng/jwht/CleanData/ps_t1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 19:28 /user/tamng/jwht/CleanData/ps_t2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-27 22:34 /user/tamng/jwht/CleanData/ps_t3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 00:29 /user/tamng/jwht/CleanData/ps_t4_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 01:26 /user/tamng/jwht/CleanData/ps_t4_1_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 22:27 /user/tamng/jwht/CleanData/ps_t4_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-28 23:25 /user/tamng/jwht/CleanData/ps_t4_3.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 11:36 /user/tamng/jwht/CleanData/ps_t4_4.csv
drwxrwxrwx   - tamng tamng          0 2020-05-29 16:18 /user/tamng/jwht/CleanData/ps_t5_1_1.csv
drwxrwxrwx   - tamng tamng          0 2020-05-30 11:33 /user/tamng/jwht/CleanData/ps_t5_2.csv
drwxrwxrwx   - tamng tamng          0 2020-05-31 00:17 /user/tamng/jwht/CleanData/ps_t6_1.csv
drwxrwxrwx   - tamng tamng          0 2020-06-01 11:37 /user/tamng/jwht/CleanData/ps_t7_1.csv

---
## II. Create Function

In [4]:
def check_missing(df):
    ''' Check missing value'''
    df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

In [5]:
def rename_col(df, newColumns):
    ''' Rename all columns        
        Note: newColumns is a list of columns name '''
    oldColumns = df.schema.names
    df = reduce(lambda df, idx: df.withColumnRenamed(oldColumns[idx], newColumns[idx]), range(len(oldColumns)), df)
    return df

In [6]:
def basic_info(df):    
    '''
        Print out the basic ddescription for each table, icluding:
        1. total rows/ observation
        2. Check missing value by columns
        3. Print out the first 3 lines
        4. Basic description
    '''   
    print('TOTAL ROWS:', df.count())
    print('\n')
    print('*-------------'*5)
    print('\n')
    print('MISSING VALUE:')
    check_missing(df)
    print('*-------------'*5)
    print('\n')
    print('PRINT OUT THE 1st 3 LINES:')
    df.show(3, truncate = True)
    print('*-------------'*5)
    print('\n')
    print('TABLE BASIC DESCRIPTION:')
    df.describe().show(10,truncate = True)
    print('*-------------'*5)
    distinct_count = []
    column_name = df.columns
    for i in column_name:
        distinct_count.append(df.select(col(i)).distinct().count())

    print('DISTINCT COUNT BY COLUMN:')
    print('\n')
    print(pd.DataFrame(zip(column_name,distinct_count)).\
      rename(columns={0:'column_name', 1:'distinct_count'}))

In [8]:
# Copy tag cols to new cols
def copy_col(df, copy_cols):
    '''
        df: data
        copy_cols: list of columns that need to copy
    '''
    df = reduce(lambda df, idx: df.withColumn(copy_cols[idx], df.genre), range(len(copy_cols)), df)
    return df

In [9]:
# Encode cols to 0 and 1
def encode_col(df, cols):
    '''
        one hot encoding, replace initial value with 0 or 1 based on specific condition: 
        If aluve == True >> 1, otherwise : 0
    '''
    df = reduce(lambda df, idx: df.withColumn(cols[idx], F.when(F.col(cols[idx])== True, F.lit(1.0)).otherwise(F.lit(0.0))), range(len(cols)), df)
    return df

-----

## III. Import data

### 1. game2_df

In [7]:
game2_df = spark.read.csv('/user/tamng/jwht/CleanData/game2_df.csv', inferSchema = True, header = True)

In [8]:
game2_df.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- app_id: integer (nullable = true)
 |-- playtime_2weeks: integer (nullable = true)
 |-- playtime_forever: integer (nullable = true)
 |-- dateretrieved: timestamp (nullable = true)

### 2.app_id_info

In [9]:
app_id_info = spark.read.csv('/user/tamng/jwht/CleanData/app_if_info_PosReview.csv', inferSchema = True, header = True)

In [10]:
app_id_info.printSchema()

root
 |-- app_id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- releaseDate: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- ageRequirement: integer (nullable = true)
 |-- isMultiplayer: integer (nullable = true)
 |-- positiveReviewPercent: integer (nullable = true)

### 3.game_dgp

In [11]:
game_dgp = spark.read.csv('/user/tamng/jwht/CleanData/game_dgp.csv', inferSchema = True, header = True)

In [12]:
game_dgp.printSchema()

root
 |-- app_id: integer (nullable = true)
 |-- gamesDeveloper: string (nullable = true)
 |-- gamesGenre: string (nullable = true)
 |-- gamesPublisher: string (nullable = true)

### 4.groups

In [64]:
groups = spark.read.csv('/user/tamng/jwht/CleanData/groups.csv', inferSchema = True, header = True)

In [65]:
groups.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- group_id: integer (nullable = true)
 |-- dateretrieved: timestamp (nullable = true)

### 5.friends

In [173]:
friends = spark.read.csv('/user/tamng/jwht/CleanData/friends.csv', inferSchema = True, header = True)

In [174]:
friends.printSchema()

root
 |-- steam_id_a: long (nullable = true)
 |-- steam_id_b: long (nullable = true)
 |-- relationship: string (nullable = true)
 |-- friend_since: timestamp (nullable = true)
 |-- dateretrieved: timestamp (nullable = true)

### 6.player_summary

In [91]:
player_summary = spark.read.csv('/user/tamng/jwht/CleanData/player_summary_total.csv',\
                                inferSchema = True, header = True)

In [92]:
player_summary.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: integer (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

---
## IV. Run table description across all the data

In [22]:
# Create the name for each dataframe
game2_df.name = 'game2_df'
app_id_info.name = 'app_id_info'
game_dgp.name = 'game_dgp'
friends.name = 'friends'
groups.name = 'groups'

# Incase we want to print out the basic information of all tables:
tables = [game2_df, app_id_info, game_dgp, friends, groups]
for tab in tables:
    print('TABLE NAME:', tab.name)
    print(basic_info(tab))
    print('\n')

TABLE NAME: game2_df
TOTAL ROWS: 100000000


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+------+---------------+----------------+-------------+
|steam_id|app_id|playtime_2weeks|playtime_forever|dateretrieved|
+--------+------+---------------+----------------+-------------+
|       0|     0|              0|               0|            0|
+--------+------+---------------+----------------+-------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+------+---------------+----------------+-------------------+
|         steam_id|app_id|playtime_2weeks|playtime_forever|      dateretrieved|
+-----------------+------+---------------+----------------+-------------------+
|76561197960265729|    10|              0|               0|2014-08-14 14:04:18|
|76561197960265729|    20|              0|               0|2014-08-14 14:04:18|
|76561197960265729|    30|              0|               0|2014-08-14 14:04:18|
+-----------------+------+---------------+----------------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+-----------------+------------------+-----------------+
|summary|            steam_id|           app_id|   playtime_2weeks| playtime_forever|
+-------+--------------------+-----------------+------------------+-----------------+
|  count|           100000000|        100000000|         100000000|        100000000|
|   mean|7.656119796735603...|   65809.90421624|        8.64317482|     834.75832798|
| stddev|  4391566.6477204645|90306.29735415807|157.70395657876395|6183.450161681177|
|    min|   76561197960265729|               10|                 0|                0|
|    max|   76561197975000941|           319180|             20159|          2434347|
+-------+--------------------+-----------------+------------------+-----------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


        column_name  distinct_count
0          steam_id         3263775
1            app_id            4161
2   playtime_2weeks           11559
3  playtime_forever          148538
4     dateretrieved          205951
None


TABLE NAME: app_id_info
TOTAL ROWS: 17783


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+------+-----+----+-----+-----------+------+--------------+-------------+---------------------+
|app_id|title|type|price|releaseDate|rating|ageRequirement|isMultiplayer|positiveReviewPercent|
+------+-----+----+-----+-----------+------+--------------+-------------+---------------------+
|     0|    0|   0|    0|          0|     0|             0|            0|                    0|
+------+-----+----+-----+-----------+------+--------------+-------------+---------------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|app_id|               title|type|price|   releaseDate|rating|ageRequirement|isMultiplayer|positiveReviewPercent|
+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|    10|      Counter-Strike|game| 9.99|11/1/2000 0:00|    88|             0|            1|                   96|
|    20|Team Fortress Cla...|game| 4.99| 4/1/1999 0:00|    -1|             0|            1|                   82|
|    30|       Day of Defeat|game| 4.99| 5/1/2003 0:00|    79|             0|            1|                   86|
+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+------------------+--------------------+-----+------------------+-------------+-----------------+------------------+-------------------+---------------------+
|summary|            app_id|               title| type|             price|  releaseDate|           rating|    ageRequirement|      isMultiplayer|positiveReviewPercent|
+-------+------------------+--------------------+-----+------------------+-------------+-----------------+------------------+-------------------+---------------------+
|  count|             17783|               17783|17783|             17783|        17783|            17783|             17783|              17783|                17783|
|   mean|296291.91992352245|               994.5| null| 9.222210100100973|         8.99|9.486559442132494|1.3998200528594724|0.31052128437271553|    519.1492998931564|
| stddev|122344.88993405178|  1208.4454890478098| null|14.556621674062393|          NaN|26.04162554543568| 4.629406766362732|0.46272006274514266|     462.703082846128|
|    min|                10|! That Bastard Is...| demo|                 0|1/1/1970 0:00|               -1|                -1|                  0|                    0|
|    max|            469850|theHunter: Wayfar...|video|               dlc|9/9/2015 0:00|               96|                18|                  1|                  999|
+-------+------------------+--------------------+-----+------------------+-------------+-----------------+------------------+-------------------+---------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


             column_name  distinct_count
0                 app_id           17783
1                  title           17596
2                   type               7
3                  price              93
4            releaseDate            1967
5                 rating              73
6         ageRequirement              12
7          isMultiplayer               2
8  positiveReviewPercent             100
None


TABLE NAME: game_dgp
TOTAL ROWS: 46404


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+------+--------------+----------+--------------+
|app_id|gamesDeveloper|gamesGenre|gamesPublisher|
+------+--------------+----------+--------------+
|     0|             0|       580|          6102|
+------+--------------+----------+--------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+------+--------------+----------+--------------+
|app_id|gamesDeveloper|gamesGenre|gamesPublisher|
+------+--------------+----------+--------------+
|    10|         Valve|    Action|         Valve|
|    20|         Valve|    Action|         Valve|
|    30|         Valve|    Action|         Valve|
+------+--------------+----------+--------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+------------------+-----------------+--------------+--------------------+
|summary|            app_id|   gamesDeveloper|    gamesGenre|      gamesPublisher|
+-------+------------------+-----------------+--------------+--------------------+
|  count|             46404|            46404|         45824|               40302|
|   mean| 311866.9380010344|           2760.8|          null|              3909.0|
| stddev|109927.33303035864|2541.485033947235|          null|                 0.0|
|    min|                10|  "Band ""????"""|    Accounting|              (none)|
|    max|            469850|    Ã‰tienne PÃ©rin|Web Publishing|Â© 2016 IGS Publis...|
+-------+------------------+-----------------+--------------+--------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


      column_name  distinct_count
0          app_id           17534
1  gamesDeveloper            6572
2      gamesGenre              23
3  gamesPublisher            4357
None


TABLE NAME: friends
TOTAL ROWS: 11369222


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+----------+----------+------------+------------+-------------+
|steam_id_a|steam_id_b|relationship|friend_since|dateretrieved|
+----------+----------+------------+------------+-------------+
|         0|         0|           0|           0|            0|
+----------+----------+------------+------------+-------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+-----------------+------------+-------------------+-------------------+
|       steam_id_a|       steam_id_b|relationship|       friend_since|      dateretrieved|
+-----------------+-----------------+------------+-------------------+-------------------+
|76561197960265744|76561197960265731|      friend|1969-12-31 17:00:00|2013-05-05 01:52:30|
|76561197960265744|76561197960265733|      friend|1969-12-31 17:00:00|2013-05-06 15:14:15|
|76561197960265744|76561197960265738|      friend|1969-12-31 17:00:00|2013-05-06 15:56:24|
+-----------------+-----------------+------------+-------------------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+-------------------+--------------------+------------+
|summary|         steam_id_a|          steam_id_b|relationship|
+-------+-------------------+--------------------+------------+
|  count|           11369222|            11369222|    11369222|
|   mean|7.65611979669652E16|7.656119799515310...|        null|
| stddev|  4717859.742672075| 3.022976491239601E7|        null|
|    min|  76561197960265744|   76561197960265731|      friend|
|    max|  76561197975000880|   76561198091413919|      friend|
+-------+-------------------+--------------------+------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


     column_name  distinct_count
0     steam_id_a          149395
1     steam_id_b         1779871
2   relationship               1
3   friend_since         1539874
4  dateretrieved          929565
None


TABLE NAME: groups
TOTAL ROWS: 81302317


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+--------+-------------+
|steam_id|group_id|dateretrieved|
+--------+--------+-------------+
|       0|       0|            0|
+--------+--------+-------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+--------+-------------------+
|         steam_id|group_id|      dateretrieved|
+-----------------+--------+-------------------+
|76561197960265730|       4|2013-05-06 02:09:28|
|76561197960265730|       5|2013-05-06 02:09:28|
|76561197960265730|      83|2013-05-06 02:09:28|
+-----------------+--------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+------------------+
|summary|            steam_id|          group_id|
+-------+--------------------+------------------+
|  count|            81302317|          81302317|
|   mean|7.656119802087452...|2366104.8090658104|
| stddev|3.1230503257065687E7|1488160.0271306036|
|    min|   76561197960265730|                 4|
|    max|   76561198086443195|           5248077|
+-------+--------------------+------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


     column_name  distinct_count
0       steam_id        13380609
1       group_id         3082901
2  dateretrieved         8720711
None

In [23]:
basic_info(player_summary)

TOTAL ROWS: 9881300


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+-----------+-----------+------------+--------------------------+-------------+-----------+------------------+---------+--------------+------------+-------+-------------+--------------+-------+------------+----------+
|steam_id|person_name|profile_url|person_state|community_visibility_state|profile_state|last_logoff|comment_permission|real_name|primary_clanid|time_created|game_id|gameserver_ip|game_extrainfo|city_id|country_code|state_code|
+--------+-----------+-----------+------------+--------------------------+-------------+-----------+------------------+---------+--------------+------------+-------+-------------+--------------+-------+------------+----------+
|       0|         50|          0|           0|                         0|            0|          0|                 0|       18|             0|           0|      0|            0|             0|      0|           0|         0|
+--------+-----------+-----------+------------+--------------------------+-------------+-----------+------------------+---------+--------------+------------+-------+-------------+--------------+-------+------------+----------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+-----------+--------------------+------------+--------------------------+-------------+-------------------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+
|         steam_id|person_name|         profile_url|person_state|community_visibility_state|profile_state|        last_logoff|comment_permission|real_name|    primary_clanid|       time_created|game_id|gameserver_ip|game_extrainfo|city_id|country_code|state_code|
+-----------------+-----------+--------------------+------------+--------------------------+-------------+-------------------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+
|76561197968085891|michaenglam|http://steamcommu...|           0|                         3|            N|2006-10-05 22:29:41|                 N|        N|103582791429521408|2004-08-07 20:27:18|      N|            N|             N|      N|           N|         N|
|76561197968088971|   a1061004|http://steamcommu...|           0|                         3|            N|2007-10-12 20:37:18|                 N|        N|103582791429521408|2004-08-07 23:27:56|      N|            N|             N|      N|           N|         N|
|76561197968090197|kasanova320|http://steamcommu...|           0|                         3|            N|2006-09-22 19:39:36|                 N|        N|103582791429521408|2004-08-08 00:48:10|      N|            N|             N|      N|           N|         N|
+-----------------+-----------+--------------------+------------+--------------------------+-------------+-------------------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+-----------+--------------------+--------------------+--------------------------+--------------------+--------------------+-------------------+------------+--------------------+-------------------+------------------+-------------+--------------------+-------+------------+------------------+
|summary|            steam_id|person_name|         profile_url|        person_state|community_visibility_state|       profile_state|         last_logoff| comment_permission|   real_name|      primary_clanid|       time_created|           game_id|gameserver_ip|      game_extrainfo|city_id|country_code|        state_code|
+-------+--------------------+-----------+--------------------+--------------------+--------------------------+--------------------+--------------------+-------------------+------------+--------------------+-------------------+------------------+-------------+--------------------+-------+------------+------------------+
|  count|             9881300|    9881250|             9881300|             9881300|                   9881300|             9881300|             9881300|            9881300|     9881282|             9881300|            9881300|           9881300|      9881300|             9881300|9881300|     9881300|           9881300|
|   mean|7.656119797259036...|        NaN|                null| 0.07698857811485764|         2.256291176262233|  1.0001178274971696|                 1.6|  1.625778969350845|         NaN|1.035827914296875...|               null|1247599.2220847378|         null|                10.0|   null|        null|20.507798267151582|
| stddev|  7693086.4921030365|        NaN|                null| 0.48024030327527495|        0.9666144351714842|0.016301251033662152|  0.5477225575051661|0.48392246080996915|         NaN|    823735.543695468|               null|  6115769.72044302|         null|                 NaN|   null|        null|21.892439949641297|
|    min|   76561197960265730|          !|","http://steamco...|                   0|                         0|                   1|                   1|                  1|           !|  103582791429521408|2003-09-10 05:27:13|                10|    0.0.0.1:1|                   *|      N|          AD|                00|
|    max|   76561197986172711|      Å’yrex|http://steamcommu...|http://media.stea...|                         3|                   N|N,2013-02-28 12:3...|                  N|Ã°Å¸â€˜Â¾joshÃ°Å¸â€˜Â¾|                   N|                  N|                 N|            N|Ã¬ËœÂ¤Ã«Â¦Â¬Ã¬Â§â€ž ÃªÂ°Å“Ã¬Æ’Ë†Ã«...|      N|          ZW|                Z4|
+-------+--------------------+-----------+--------------------+--------------------+--------------------------+--------------------+--------------------+-------------------+------------+--------------------+-------------------+------------------+-------------+--------------------+-------+------------+------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


                   column_name  distinct_count
0                     steam_id         9881300
1                  person_name         7981141
2                  profile_url         9880903
3                 person_state               9
4   community_visibility_state               3
5                profile_state               5
6                  last_logoff         5682802
7           comment_permission               3
8                    real_name          499980
9               primary_clanid          460230
10                time_created         5785705
11                     game_id            1007
12               gameserver_ip           12813
13              game_extrainfo            1411
14                     city_id               1
15                country_code             237
16                  state_code             408

__Quick check type of app_id__

In [25]:
app_id_info.groupBy("type").count().sort("count", ascending = False).show(20)

+--------------+-----+
|          type|count|
+--------------+-----+
|          game| 9085|
|           dlc| 7235|
|          demo| 1066|
|         video|  346|
|           mod|   38|
|      hardware|   12|
|no subtitles)"|    1|
+--------------+-----+

---
## V. Reconstruct table & Feature Engineering

### 1. game_app_info : Combining game2_df and  app_id_info

In [18]:
game_app_info = game2_df.join(broadcast(app_id_info), ["app_id"], how='left')
game_app_info.limit(10).toPandas()

,app_id,steam_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,ageRequirement,isMultiplayer,positiveReviewPercent
0,10,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike,game,9.99,11/1/2000 0:00,88,0,1,96
1,20,76561197960265729,0,0,2014-08-14 14:04:18,Team Fortress Classic,game,4.99,4/1/1999 0:00,-1,0,1,82
2,30,76561197960265729,0,0,2014-08-14 14:04:18,Day of Defeat,game,4.99,5/1/2003 0:00,79,0,1,86
3,40,76561197960265729,0,0,2014-08-14 14:04:18,Deathmatch Classic,game,4.99,6/1/2001 0:00,-1,0,1,79
4,50,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life: Opposing Force,game,4.99,11/1/1999 0:00,-1,0,1,95
5,60,76561197960265729,0,0,2014-08-14 14:04:18,Ricochet,game,4.99,11/1/2000 0:00,-1,0,1,78
6,70,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life,game,9.99,11/8/1998 0:00,96,0,1,96
7,80,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike: Condition Zero,game,9.99,3/1/2004 0:00,65,0,1,89
8,100,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike: Condition Zero,game,9.99,3/1/2004 0:00,65,0,1,999
9,130,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life: Blue Shift,game,4.99,6/1/2001 0:00,71,0,0,90

In [29]:
basic_info(game_app_info)

TOTAL ROWS: 100000000


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+------+--------+---------------+----------------+-------------+-------+-------+-------+-----------+-------+--------------+-------------+---------------------+
|app_id|steam_id|playtime_2weeks|playtime_forever|dateretrieved|  title|   type|  price|releaseDate| rating|ageRequirement|isMultiplayer|positiveReviewPercent|
+------+--------+---------------+----------------+-------------+-------+-------+-------+-----------+-------+--------------+-------------+---------------------+
|     0|       0|              0|               0|            0|6313519|6313519|6313519|    6313519|6313519|       6313519|      6313519|              6313519|
+------+--------+---------------+----------------+-------------+-------+-------+-------+-----------+-------+--------------+-------------+---------------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+------+-----------------+---------------+----------------+-------------------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|app_id|         steam_id|playtime_2weeks|playtime_forever|      dateretrieved|               title|type|price|   releaseDate|rating|ageRequirement|isMultiplayer|positiveReviewPercent|
+------+-----------------+---------------+----------------+-------------------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|    10|76561197960265729|              0|               0|2014-08-14 14:04:18|      Counter-Strike|game| 9.99|11/1/2000 0:00|    88|             0|            1|                   96|
|    20|76561197960265729|              0|               0|2014-08-14 14:04:18|Team Fortress Cla...|game| 4.99| 4/1/1999 0:00|    -1|             0|            1|                   82|
|    30|76561197960265729|              0|               0|2014-08-14 14:04:18|       Day of Defeat|game| 4.99| 5/1/2003 0:00|    79|             0|            1|                   86|
+------+-----------------+---------------+----------------+-------------------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+-----------------+--------------------+------------------+------------------+--------------------+--------+-----------------+-------------+-----------------+-----------------+-------------------+---------------------+
|summary|           app_id|            steam_id|   playtime_2weeks|  playtime_forever|               title|    type|            price|  releaseDate|           rating|   ageRequirement|      isMultiplayer|positiveReviewPercent|
+-------+-----------------+--------------------+------------------+------------------+--------------------+--------+-----------------+-------------+-----------------+-----------------+-------------------+---------------------+
|  count|        100000000|           100000000|         100000000|         100000000|            93686481|93686481|         93686481|     93686481|         93686481|         93686481|           93686481|             93686481|
|   mean|   65809.90421624|7.656119796699972...|        8.64317482|      834.75832798|  282.86508186397987|    null|12.43239075917108|         null|57.70633949843842|3.452034418925394| 0.5563104243396654|    167.7476261489638|
| stddev|90306.29735415787|   4365713.608825403|157.70395657876207|6183.4501616811785|   473.0552011456975|    null|9.884947018674492|         null|37.92663389500151|6.822535635777204|0.49681902011226986|   263.57466019779224|
|    min|               10|   76561197960265729|                 0|                 0|"Spy Fox 2 ""Some...|    demo|                0|1/1/1970 0:00|               -1|                0|                  0|                    0|
|    max|           319180|   76561197975000941|             20159|           2434347|           theHunter|   video|            99.99|9/9/2014 0:00|               96|               18|                  1|                  999|
+-------+-----------------+--------------------+------------------+------------------+--------------------+--------+-----------------+-------------+-----------------+-----------------+-------------------+---------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


              column_name  distinct_count
0                  app_id            4161
1                steam_id         3263775
2         playtime_2weeks           11559
3        playtime_forever          148538
4           dateretrieved          205951
5                   title            3448
6                    type               6
7                   price              44
8             releaseDate            1335
9                  rating              71
10         ageRequirement              10
11          isMultiplayer               3
12  positiveReviewPercent              97

__Do not have info of app_id__

In [32]:
game_app_info.filter(F.col('title').isNull()).groupby('app_id').count().sort('count', ascending = False).show()

+------+------+
|app_id| count|
+------+------+
|223530|516271|
|205790|510435|
| 28050|267712|
|228200|241001|
|219540|200614|
|232210|131199|
|236830|121858|
| 12250|117372|
| 43160|113793|
| 12240|111835|
|212910|100987|
|201280|100239|
| 12230| 98588|
|205930| 95442|
| 50650| 94261|
| 57400| 90934|
|104320| 88390|
|224780| 88387|
|222900| 86639|
| 44320| 80520|
+------+------+
only showing top 20 rows

In [33]:
game_app_info.filter(F.col('title').isNull()).groupby('app_id').count().agg(F.sum('count')).show()

+----------+
|sum(count)|
+----------+
|   6313519|
+----------+

In [35]:
game_app_info.filter(F.col('title').isNull()).select('app_id').distinct().count()

649

__Drop app_id that does not exist in app_id_info table__

In [38]:
game_app_info = game_app_info.filter(~(F.col('title').isNull()))
game_app_info.count()

93686481

In [39]:
game_app_info.limit(5).toPandas()

,app_id,steam_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,ageRequirement,isMultiplayer,positiveReviewPercent
0,10,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike,game,9.99,11/1/2000 0:00,88,0,1,96
1,20,76561197960265729,0,0,2014-08-14 14:04:18,Team Fortress Classic,game,4.99,4/1/1999 0:00,-1,0,1,82
2,30,76561197960265729,0,0,2014-08-14 14:04:18,Day of Defeat,game,4.99,5/1/2003 0:00,79,0,1,86
3,40,76561197960265729,0,0,2014-08-14 14:04:18,Deathmatch Classic,game,4.99,6/1/2001 0:00,-1,0,1,79
4,50,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life: Opposing Force,game,4.99,11/1/1999 0:00,-1,0,1,95

In [19]:
game2_df.show(3,truncate = True)

+-----------------+------+---------------+----------------+-------------------+
|         steam_id|app_id|playtime_2weeks|playtime_forever|      dateretrieved|
+-----------------+------+---------------+----------------+-------------------+
|76561197960265729|    10|              0|               0|2014-08-14 14:04:18|
|76561197960265729|    20|              0|               0|2014-08-14 14:04:18|
|76561197960265729|    30|              0|               0|2014-08-14 14:04:18|
+-----------------+------+---------------+----------------+-------------------+
only showing top 3 rows

In [50]:
app_id_info.show(3,truncate = True)

+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|app_id|               title|type|price|   releaseDate|rating|ageRequirement|isMultiplayer|positiveReviewPercent|
+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
|    10|      Counter-Strike|game| 9.99|11/1/2000 0:00|    88|             0|            1|                   96|
|    20|Team Fortress Cla...|game| 4.99| 4/1/1999 0:00|    -1|             0|            1|                   82|
|    30|       Day of Defeat|game| 4.99| 5/1/2003 0:00|    79|             0|            1|                   86|
+------+--------------------+----+-----+--------------+------+--------------+-------------+---------------------+
only showing top 3 rows

### 2. game_genre

In [109]:
games_genres = spark.read.csv('/user/tamng/jwht/CleanData/games_genres.csv', inferSchema = True, header = True)

In [110]:
games_genres.show(3,truncate = True)

+------+----------+
|app_id|gamesGenre|
+------+----------+
|    10|    Action|
|    20|    Action|
|    30|    Action|
+------+----------+
only showing top 3 rows

In [111]:
games_genres.count()

39669

In [55]:
basic_info(games_genres)

TOTAL ROWS: 39669


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+------+----------+
|app_id|gamesGenre|
+------+----------+
|     0|         0|
+------+----------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+------+----------+
|app_id|gamesGenre|
+------+----------+
|    10|    Action|
|    20|    Action|
|    30|    Action|
+------+----------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+------------------+--------------+
|summary|            app_id|    gamesGenre|
+-------+------------------+--------------+
|  count|             39669|         39669|
|   mean|314814.62552622956|          null|
| stddev|109487.62831029741|          null|
|    min|                10|    Accounting|
|    max|            469850|Web Publishing|
+-------+------------------+--------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


  column_name  distinct_count
0      app_id           17195
1  gamesGenre              22

__a. Get a list of game genre for get dummry columns in the function below__

In [113]:
genre_22 = games_genres.select('gamesGenre').distinct().limit(25).toPandas().gamesGenre.tolist()
genre_22

['Education',
 'Massively Multiplayer',
 'Adventure',
 'Sports',
 'Accounting',
 'Audio Production',
 'Video Production',
 'Animation & Modeling',
 'Racing',
 'Design & Illustration',
 'Software Training',
 'Photo Editing',
 'Web Publishing',
 'Utilities',
 'Early Access',
 'Casual',
 'Action',
 'Strategy',
 'Indie',
 'Free to Play',
 'RPG',
 'Simulation']

__b. Collect game_genre to an array_list. Make sure one row for a unique app_id__

In [114]:
games_genres = games_genres.groupBy('app_id').agg(collect_list('gamesGenre').alias('genre'))
games_genres.show()

+------+--------------------+
|app_id|               genre|
+------+--------------------+
|  4900|     [Casual, Indie]|
|  7340|     [Casual, Indie]|
|  9900|[Free to Play, Ma...|
| 16861|          [Strategy]|
| 18800|[Action, Indie, R...|
| 22521|   [Indie, Strategy]|
| 32460|         [Adventure]|
| 73091|       [Action, RPG]|
|111300|[Action, Racing, ...|
|205270|         [Utilities]|
|205541|[Indie, Simulatio...|
|206144|[Casual, Simulation]|
|212010|[Action, Indie, S...|
|213312|            [Action]|
|215309|            [Action]|
|222543|        [Simulation]|
|222556|        [Simulation]|
|222730|[Indie, Simulatio...|
|225430|        [Simulation]|
|226193|          [Strategy]|
+------+--------------------+
only showing top 20 rows

__c. Create dummy columns for game_genre__

In [115]:
for i in genre_22:
    games_genres = games_genres.withColumn(i, array_contains(col("genre"), i))

In [116]:
games_genres.limit(10).toPandas()

,app_id,genre,Education,Massively Multiplayer,Adventure,Sports,Accounting,Audio Production,Video Production,Animation & Modeling,...,Web Publishing,Utilities,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation
0,4900,"[Casual, Indie]",False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
1,7340,"[Casual, Indie]",False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
2,9900,"[Free to Play, Massively Multiplayer, RPG]",False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
3,16861,[Strategy],False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,18800,"[Action, Indie, Racing, Sports]",False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
5,22521,"[Indie, Strategy]",False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
6,32460,[Adventure],False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,73091,"[Action, RPG]",False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
8,111300,"[Action, Racing, Sports]",False,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9,205270,[Utilities],False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

__d. Turn `True`, `False` value to 1 or 0__

In [118]:
games_genres = encode_col(games_genres, genre_22)
games_genres.limit(5).toPandas()

,app_id,genre,Education,Massively Multiplayer,Adventure,Sports,Accounting,Audio Production,Video Production,Animation & Modeling,...,Web Publishing,Utilities,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation
0,4900,"[Casual, Indie]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,7340,"[Casual, Indie]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,9900,"[Free to Play, Massively Multiplayer, RPG]",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,16861,[Strategy],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,18800,"[Action, Indie, Racing, Sports]",0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

_Double check number of distinct app-id vs. number of rows_

In [119]:
games_genres.count()

17195

In [120]:
games_genres.select('app_id').distinct().count()

17195

In [122]:
# drop genre column
games_genres = games_genres.drop('genre')

---
### 3. Join games_genres with game_app_info

In [125]:
merge_table = game_app_info.join(broadcast(games_genres), ["app_id"], how='left')
merge_table.limit(10).toPandas()

,app_id,steam_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,...,Web Publishing,Utilities,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation
0,10,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike,game,9.99,11/1/2000 0:00,88,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,20,76561197960265729,0,0,2014-08-14 14:04:18,Team Fortress Classic,game,4.99,4/1/1999 0:00,-1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,30,76561197960265729,0,0,2014-08-14 14:04:18,Day of Defeat,game,4.99,5/1/2003 0:00,79,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,40,76561197960265729,0,0,2014-08-14 14:04:18,Deathmatch Classic,game,4.99,6/1/2001 0:00,-1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,50,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life: Opposing Force,game,4.99,11/1/1999 0:00,-1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,60,76561197960265729,0,0,2014-08-14 14:04:18,Ricochet,game,4.99,11/1/2000 0:00,-1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,70,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life,game,9.99,11/8/1998 0:00,96,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,80,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike: Condition Zero,game,9.99,3/1/2004 0:00,65,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,100,76561197960265729,0,0,2014-08-14 14:04:18,Counter-Strike: Condition Zero,game,9.99,3/1/2004 0:00,65,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,130,76561197960265729,0,0,2014-08-14 14:04:18,Half-Life: Blue Shift,game,4.99,6/1/2001 0:00,71,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [127]:
merge_table.filter(F.col('app_id')==4900).limit(10).toPandas()[['steam_id','Education',
 'Massively Multiplayer',
 'Adventure',
 'Sports',
 'Accounting',
 'Audio Production',
 'Video Production',
 'Animation & Modeling',
 'Racing',
 'Design & Illustration',
 'Software Training',
 'Photo Editing',
 'Web Publishing',
 'Utilities',
 'Early Access',
 'Casual',
 'Action',
 'Strategy',
 'Indie',
 'Free to Play',
 'RPG',
 'Simulation']]

,steam_id,Education,Massively Multiplayer,Adventure,Sports,Accounting,Audio Production,Video Production,Animation & Modeling,Racing,...,Web Publishing,Utilities,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation
0,76561197960265854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,76561197960266247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,76561197960267947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,76561197960268251,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,76561197960269465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5,76561197960269594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6,76561197960270028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7,76561197960270280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
8,76561197960270469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
9,76561197960270811,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [132]:
merge_table.filter(F.col('Simulation').isNull()).select('app_id').distinct().count()

19

In [133]:
merge_table.filter(F.col('Simulation').isNull()).groupby('app_id').count().agg(F.sum('count')).show()

+----------+
|sum(count)|
+----------+
|     87706|
+----------+

In [134]:
merge_table = merge_table.filter(~(F.col('Simulation').isNull()))
merge_table.count()

93598775

In [135]:
merge_table.groupby('type').count().show()

+-----+--------+
| type|   count|
+-----+--------+
|  dlc|  360428|
|video|   19107|
| demo|   71834|
| game|92345098|
|  mod|  802308|
+-----+--------+

In [136]:
# Save merge_table
merge_table.write.csv("/user/tamng/jwht/EDA/merge_table.csv",header=True)

---
### 4. construct `player_df1` table (playtime, no.game...)

In [137]:
# Aggregate by player & playtime
player_df1 = merge_table.groupby('steam_id').agg(
                    F.sum('playtime_2weeks').alias('playtime_2weeks'),
                    F.sum('playtime_forever').alias('total_playtime_forever'),
                    F.countDistinct('app_id').alias('total_games_owned'),
                    F.sum('price').alias('total_money_spend'),
                    F.sum('isMultiplayer').alias('total_game_multi_player'))

__Add column `total_game_single_player`__

In [138]:
player_df1 = player_df1.withColumn('total_game_single_player',\
                                   F.lit(F.col('total_games_owned')-F.col('total_game_multi_player')))

In [139]:
player_df1.limit(10).toPandas()

,steam_id,playtime_2weeks,total_playtime_forever,total_games_owned,total_money_spend,total_game_multi_player,total_game_single_player
0,76561197968325134,0,42553,105,1732.95,56,49
1,76561197968372359,0,85124,43,569.64,34,9
2,76561197968399150,34,100518,158,2069.48,65,93
3,76561197968425907,0,904,8,49.92,7,1
4,76561197968448710,1,109868,121,2179.81,45,76
5,76561197968451675,0,17,8,49.92,7,1
6,76561197968453660,0,382,8,49.92,7,1
7,76561197968454919,0,80532,20,159.82,16,4
8,76561197968463838,0,1286,15,112.86,10,5
9,76561197968473274,0,50226,219,3053.89,73,146

In [141]:
basic_info(player_df1)

TOTAL ROWS: 3263723


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+---------------+----------------------+-----------------+-----------------+-----------------------+------------------------+
|steam_id|playtime_2weeks|total_playtime_forever|total_games_owned|total_money_spend|total_game_multi_player|total_game_single_player|
+--------+---------------+----------------------+-----------------+-----------------+-----------------------+------------------------+
|       0|              0|                     0|                0|                0|                      0|                       0|
+--------+---------------+----------------------+-----------------+-----------------+-----------------------+------------------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+---------------+----------------------+-----------------+------------------+-----------------------+------------------------+
|         steam_id|playtime_2weeks|total_playtime_forever|total_games_owned| total_money_spend|total_game_multi_player|total_game_single_player|
+-----------------+---------------+----------------------+-----------------+------------------+-----------------------+------------------------+
|76561197970405260|             63|                 17324|               76|1070.3000000000004|                     45|                      31|
|76561197970407866|            519|                 92171|              309| 4422.579999999989|                    123|                     186|
|76561197970420113|           1186|                101789|               86|1387.2000000000005|                     42|                      44|
+-----------------+---------------+----------------------+-----------------+------------------+-----------------------+------------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+-----------------+----------------------+------------------+------------------+-----------------------+------------------------+
|summary|            steam_id|  playtime_2weeks|total_playtime_forever| total_games_owned| total_money_spend|total_game_multi_player|total_game_single_player|
+-------+--------------------+-----------------+----------------------+------------------+------------------+-----------------------+------------------------+
|  count|             3263723|          3263723|               3263723|           3263723|           3263723|                3263723|                 3263723|
|   mean|7.656119796787809...|256.8820770022456|    24428.698477474958|28.678529090857282|356.61453243730216|     15.965750157105857|      12.712778933751425|
| stddev|   4391646.230466676|984.0930896542217|    53822.867955421774| 62.76473415453404| 835.9997075646733|     24.973103999203026|       39.21136923499066|
|    min|   76561197960265729|                0|                     0|                 1|               0.0|                      0|                       0|
|    max|   76561197975000941|           201100|               5044095|              3396| 39005.28000000002|                   1033|                    2363|
+-------+--------------------+-----------------+----------------------+------------------+------------------+-----------------------+------------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


                column_name  distinct_count
0                  steam_id         3263723
1           playtime_2weeks           12352
2    total_playtime_forever          230747
3         total_games_owned            1659
4         total_money_spend          253446
5   total_game_multi_player             669
6  total_game_single_player            1209

In [143]:
# Save player_df1
player_df1.write.csv("/user/tamng/jwht/EDA/player_df1.csv",header=True)

---

### 5. construct `player_df2` table (genre)

In [142]:
genre_22

['Education',
 'Massively Multiplayer',
 'Adventure',
 'Sports',
 'Accounting',
 'Audio Production',
 'Video Production',
 'Animation & Modeling',
 'Racing',
 'Design & Illustration',
 'Software Training',
 'Photo Editing',
 'Web Publishing',
 'Utilities',
 'Early Access',
 'Casual',
 'Action',
 'Strategy',
 'Indie',
 'Free to Play',
 'RPG',
 'Simulation']

In [147]:
# Aggregate by player & playtime
player_df2 = merge_table.groupby('steam_id').agg(
                    F.sum('Education').alias('gr_education_total'),
                    F.sum('Massively Multiplayer').alias('gr_mutiplayer_total'),
                    F.sum('Adventure').alias('gr_adventure_total'),
                    F.sum('Sports').alias('gr_sports_total'),
                    F.sum('Accounting').alias('gr_accounting_total'),
                    F.sum('Audio Production').alias('gr_audioProduction_total'),
                    F.sum('Video Production').alias('gr_videoProduction_total'),
                    F.sum('Animation & Modeling').alias('gr_animationModeling_total'),
                    F.sum('Racing').alias('gr_racing_total'),
                    F.sum('Design & Illustration').alias('gr_designIllustration_total'),
                    F.sum('Software Training').alias('gr_softwareTraining_total'),
                    F.sum('Photo Editing').alias('gr_photoEditing_total'),
                    F.sum('Web Publishing').alias('gr_webPublishing_total'),
                    F.sum('Utilities').alias('gr_utility_total'),
                    F.sum('Early Access').alias('gr_earlyAccess_total'),
                    F.sum('Casual').alias('gr_casual_total'),
                    F.sum('Action').alias('gr_action_total'),
                    F.sum('Strategy').alias('gr_strategy_total'),
                    F.sum('Indie').alias('gr_indie_total'),
                    F.sum('Free to Play').alias('gr_freeplay_total'),
                    F.sum('RPG').alias('gr_RPG_total'),
                    F.sum('Simulation').alias('gr_simulation_total'))

In [148]:
player_df2.limit(10).toPandas()

,steam_id,gr_education_total,gr_mutiplayer_total,gr_adventure_total,gr_sports_total,gr_accounting_total,gr_audioProduction_total,gr_videoProduction_total,gr_animationModeling_total,gr_racing_total,...,gr_webPublishing_total,gr_utility_total,gr_earlyAccess_total,gr_casual_total,gr_action_total,gr_strategy_total,gr_indie_total,gr_freeplay_total,gr_RPG_total,gr_simulation_total
0,76561197969788367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
1,76561197969788434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
2,76561197969793994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
3,76561197969794603,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
4,76561197969799828,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,24.0,0.0,0.0,2.0,4.0,2.0
5,76561197969800760,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,1.0,1.0,0.0,4.0,0.0
6,76561197969801271,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
7,76561197969802235,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0
8,76561197969806248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0
9,76561197969808689,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,1.0,0.0,0.0

In [149]:
basic_info(player_df2)

TOTAL ROWS: 3263723


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|steam_id|gr_education_total|gr_mutiplayer_total|gr_adventure_total|gr_sports_total|gr_accounting_total|gr_audioProduction_total|gr_videoProduction_total|gr_animationModeling_total|gr_racing_total|gr_designIllustration_total|gr_softwareTraining_total|gr_photoEditing_total|gr_webPublishing_total|gr_utility_total|gr_earlyAccess_total|gr_casual_total|gr_action_total|gr_strategy_total|gr_indie_total|gr_freeplay_total|gr_RPG_total|gr_simulation_total|
+--------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|       0|                 0|                  0|                 0|              0|                  0|                       0|                       0|                         0|              0|                          0|                        0|                    0|                     0|               0|                   0|              0|              0|                0|             0|                0|           0|                  0|
+--------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|         steam_id|gr_education_total|gr_mutiplayer_total|gr_adventure_total|gr_sports_total|gr_accounting_total|gr_audioProduction_total|gr_videoProduction_total|gr_animationModeling_total|gr_racing_total|gr_designIllustration_total|gr_softwareTraining_total|gr_photoEditing_total|gr_webPublishing_total|gr_utility_total|gr_earlyAccess_total|gr_casual_total|gr_action_total|gr_strategy_total|gr_indie_total|gr_freeplay_total|gr_RPG_total|gr_simulation_total|
+-----------------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|76561197970484710|               0.0|                2.0|               0.0|            0.0|                0.0|                     0.0|                     0.0|                       0.0|            0.0|                        0.0|                      0.0|                  0.0|                   0.0|             0.0|                 0.0|            1.0|            7.0|              6.0|           3.0|              3.0|         2.0|                1.0|
|76561197970484925|               0.0|                0.0|               7.0|            2.0|                0.0|                     0.0|                     0.0|                       0.0|            0.0|                        0.0|                      0.0|                  0.0|                   0.0|             0.0|                 0.0|            1.0|           44.0|              9.0|          10.0|              4.0|         7.0|                2.0|
|76561197970485201|               0.0|                0.0|               0.0|            0.0|                0.0|                     0.0|                     0.0|                       0.0|            0.0|                        0.0|                      0.0|                  0.0|                   0.0|             0.0|                 0.0|            0.0|            4.0|              1.0|           0.0|              0.0|         0.0|                0.0|
+-----------------+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+--------------------+-------------------+------------------+-------------------+--------------------+------------------------+------------------------+--------------------------+-----------------+---------------------------+-------------------------+---------------------+----------------------+--------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+
|summary|            steam_id|  gr_education_total|gr_mutiplayer_total|gr_adventure_total|    gr_sports_total| gr_accounting_total|gr_audioProduction_total|gr_videoProduction_total|gr_animationModeling_total|  gr_racing_total|gr_designIllustration_total|gr_softwareTraining_total|gr_photoEditing_total|gr_webPublishing_total|    gr_utility_total|gr_earlyAccess_total|   gr_casual_total|   gr_action_total| gr_strategy_total|   gr_indie_total| gr_freeplay_total|      gr_RPG_total|gr_simulation_total|
+-------+--------------------+--------------------+-------------------+------------------+-------------------+--------------------+------------------------+------------------------+--------------------------+-----------------+---------------------------+-------------------------+---------------------+----------------------+--------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+
|  count|             3263723|             3263723|            3263723|           3263723|            3263723|             3263723|                 3263723|                 3263723|                   3263723|          3263723|                    3263723|                  3263723|              3263723|               3263723|             3263723|             3263723|           3263723|           3263723|           3263723|          3263723|           3263723|           3263723|            3263723|
|   mean|7.656119796787790...|0.006384120220986891| 0.3085408902655035|4.3167618698032895|0.24477169171525892|0.006603501583927312|    0.001675387280109...|     0.00802273967490501|      0.013985561887451845|0.447296538339804|       0.015483544406188883|     0.005916556031256329| 0.001088940452360...|  0.013972386749733357|0.026269079820805872|  0.2667747845022387|1.4942484395887763|21.463680894487677| 4.700241105020249|5.882481141935146|0.9139638995098542|3.6970524152938222| 1.6260102343244203|
| stddev|   4391632.342599472|  0.1058000743450792| 1.2117311056460343|16.301943157559695| 1.2149562413880808| 0.08099319329858179|      0.0544121381275832|     0.09691083853197854|        0.1470404935803961|2.256061838501831|        0.17441078247193215|      0.10070305937481847| 0.034515470973293876|   0.15594980208475256| 0.23898830533624463|  1.0360218897770612| 8.290815033635281| 36.15304310251825|15.980542740813757| 24.4610267735749|2.3485965678473146|12.336491183650034|  6.089499768769664|
|    min|   76561197960265729|                 0.0|                0.0|               0.0|                0.0|                 0.0|                     0.0|                     0.0|                       0.0|              0.0|                        0.0|                      0.0|                  0.0|                   0.0|                 0.0|                 0.0|               0.0|               0.0|               0.0|              0.0|               0.0|               0.0|                0.0|
|    max|   76561197975000941|                12.0|               68.0|             931.0|               95.0|                 1.0|                    12.0|                    10.0|                      13.0|            148.0|                       17.0|                     13.0|                  4.0|                   8.0|                33.0|                81.0|             729.0|            1487.0|             813.0|           1473.0|             131.0|             559.0|              461.0|
+-------+--------------------+--------------------+-------------------+------------------+-------------------+--------------------+------------------------+------------------------+--------------------------+-----------------+---------------------------+-------------------------+---------------------+----------------------+--------------------+--------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


                    column_name  distinct_count
0                      steam_id         3263723
1            gr_education_total              12
2           gr_mutiplayer_total              66
3            gr_adventure_total             583
4               gr_sports_total              76
5           gr_accounting_total               2
6      gr_audioProduction_total              13
7      gr_videoProduction_total              11
8    gr_animationModeling_total              14
9               gr_racing_total             130
10  gr_designIllustration_total              17
11    gr_softwareTraining_total              14
12        gr_photoEditing_total               5
13       gr_webPublishing_total               9
14             gr_utility_total              26
15         gr_earlyAccess_total              55
16              gr_casual_total             423
17              gr_action_total             933
18            gr_strategy_total             530
19               gr_indie_total             861
20            gr_freeplay_total             122
21                 gr_RPG_total             389
22          gr_simulation_total             273

In [150]:
# Save player_df2
player_df2.write.csv("/user/tamng/jwht/EDA/player_df2.csv",header=True)

---
### 6. construct `playornot` table

In [57]:
#Total games not played
game_notplayed = merge_table.filter(F.col('playtime_forever')== 0).groupby('steam_id').agg(F.count('app_id').alias('total_games_not_played'))

#Total games played
game_played = merge_table.filter(F.col('playtime_forever')!=0).groupby('steam_id').agg(F.count('app_id').alias('total_games_played'))

In [58]:
game_notplayed.count()

3243288

In [59]:
game_played.count()

2801590

In [61]:
playornot = game_notplayed.join(broadcast(game_played), ['steam_id'], how='full')
playornot.count()

3263723

In [62]:
check_missing(playornot)

+--------+----------------------+------------------+
|steam_id|total_games_not_played|total_games_played|
+--------+----------------------+------------------+
|       0|                 20435|            462133|
+--------+----------------------+------------------+

In [63]:
playornot.filter(F.col('total_games_played').isNull()).limit(10).toPandas()

            steam_id  total_games_not_played total_games_played
0  76561197960269352                      17               None
1  76561197960269449                      15               None
2  76561197960271611                      12               None
3  76561197960272095                       8               None
4  76561197960272236                      17               None
5  76561197960274540                       8               None
6  76561197960279823                      17               None
7  76561197960280763                      10               None
8  76561197960290794                      12               None
9  76561197960309458                       8               None

In [64]:
playornot.filter(F.col('total_games_not_played').isNull()).limit(10).toPandas()

            steam_id total_games_not_played  total_games_played
0  76561197960746981                   None                  12
1  76561197961648138                   None                   8
2  76561197963284625                   None                  11
3  76561197963320144                   None                  10
4  76561197964625286                   None                   9
5  76561197965940586                   None                   3
6  76561197966030631                   None                   3
7  76561197966067466                   None                   3
8  76561197966224567                   None                   3
9  76561197966267518                   None                   5

In [65]:
# replace null value with 0 for total_games_played
playornot = playornot.withColumn('total_games_played', \
                                 F.when(F.col('total_games_played').isNull(),F.lit(0)).otherwise(F.col('total_games_played')))

In [66]:
# replace null value with 0 for total_games_not_played
playornot = playornot.withColumn('total_games_not_played', \
                                 F.when(F.col('total_games_not_played').isNull(),F.lit(0)).otherwise(F.col('total_games_not_played')))

In [67]:
check_missing(playornot)

+--------+----------------------+------------------+
|steam_id|total_games_not_played|total_games_played|
+--------+----------------------+------------------+
|       0|                     0|                 0|
+--------+----------------------+------------------+

In [68]:
playornot.filter(F.col('total_games_played')==0).count()

462133

In [69]:
playornot.filter(F.col('total_games_not_played')==0).count()

20435

In [70]:
# Save playornot
playornot.write.csv("/user/tamng/jwht/EDA/playornot.csv",header=True)

---
### 7. construct `player_df3` table (friends)

In [11]:
friends_new = spark.read.csv('/user/tamng/jwht/SteamData/steamData_new/Friends_100mil.csv', \
                             inferSchema = True, header = False)

In [12]:
friends_new.printSchema()

root
 |-- _c0: long (nullable = true)
 |-- _c1: long (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: timestamp (nullable = true)
 |-- _c4: timestamp (nullable = true)
 |-- _c5: string (nullable = true)

In [14]:
# Drop col _c5
friends_new = friends_new.drop("_c5")

In [16]:
# Rename the header columns

newColumns = ["steam_id_a", "steam_id_b","relationship","friend_since", "dateretrieved"]
friends = rename_col(friends_new, newColumns)
friends.printSchema()

root
 |-- steam_id_a: long (nullable = true)
 |-- steam_id_b: long (nullable = true)
 |-- relationship: string (nullable = true)
 |-- friend_since: timestamp (nullable = true)
 |-- dateretrieved: timestamp (nullable = true)

In [21]:
basic_info(friends)

TOTAL ROWS: 100000000


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+----------+----------+------------+------------+-------------+
|steam_id_a|steam_id_b|relationship|friend_since|dateretrieved|
+----------+----------+------------+------------+-------------+
|         0|         0|           0|           0|            0|
+----------+----------+------------+------------+-------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+-----------------+------------+-------------------+-------------------+
|       steam_id_a|       steam_id_b|relationship|       friend_since|      dateretrieved|
+-----------------+-----------------+------------+-------------------+-------------------+
|76561197960265729|76561197967144365|      friend|2012-07-12 14:56:57|2013-05-10 16:33:54|
|76561197960265730|76561197960265733|      friend|1969-12-31 17:00:00|2013-05-06 15:14:15|
|76561197960265730|76561197974593417|      friend|2012-09-10 15:45:17|2013-05-06 02:09:27|
+-----------------+-----------------+------------+-------------------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+--------------------+------------+
|summary|          steam_id_a|          steam_id_b|relationship|
+-------+--------------------+--------------------+------------+
|  count|           100000000|           100000000|   100000000|
|   mean|7.656119797857748...|7.656119799753529...|        null|
| stddev|1.0382108036148349E7|2.8910575115022477E7|        null|
|    min|   76561197960265729|   76561197960265729|      friend|
|    max|   76561197994126765|   76561198092999818|      friend|
+-------+--------------------+--------------------+------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


     column_name  distinct_count
0     steam_id_a         6376017
1     steam_id_b        16497444
2   relationship               1
3   friend_since        42831326
4  dateretrieved         7041203

In [24]:
friends.limit(5).toPandas()

,steam_id_a,steam_id_b,relationship,friend_since,dateretrieved
0,76561197960265729,76561197967144365,friend,2012-07-12 14:56:57,2013-05-10 16:33:54
1,76561197960265730,76561197960265733,friend,1969-12-31 17:00:00,2013-05-06 15:14:15
2,76561197960265730,76561197974593417,friend,2012-09-10 15:45:17,2013-05-06 02:09:27
3,76561197960265730,76561197984632295,friend,1969-12-31 17:00:00,2013-05-19 11:51:55
4,76561197960265730,76561197992219796,friend,2009-07-31 16:26:04,2013-05-27 17:06:57

In [28]:
friends.printSchema()

root
 |-- steam_id_a: long (nullable = true)
 |-- steam_id_b: long (nullable = true)
 |-- relationship: string (nullable = true)
 |-- friend_since: timestamp (nullable = true)
 |-- dateretrieved: timestamp (nullable = true)

In [37]:
friends = friends.withColumn('year_friendship', year('friend_since'))
friends.limit(5).toPandas()

,steam_id_a,steam_id_b,relationship,friend_since,dateretrieved,year_friendship
0,76561197960265729,76561197967144365,friend,2012-07-12 14:56:57,2013-05-10 16:33:54,2012
1,76561197960265730,76561197960265733,friend,1969-12-31 17:00:00,2013-05-06 15:14:15,1969
2,76561197960265730,76561197974593417,friend,2012-09-10 15:45:17,2013-05-06 02:09:27,2012
3,76561197960265730,76561197984632295,friend,1969-12-31 17:00:00,2013-05-19 11:51:55,1969
4,76561197960265730,76561197992219796,friend,2009-07-31 16:26:04,2013-05-27 17:06:57,2009

In [42]:
friends = friends.withColumn('number_year_friendship', F.lit(2013 - F.col('year_friendship')+1))
friends.limit(5).toPandas()

,steam_id_a,steam_id_b,relationship,friend_since,dateretrieved,year_friendship,number_year_friendship
0,76561197960265729,76561197967144365,friend,2012-07-12 14:56:57,2013-05-10 16:33:54,2012,2
1,76561197960265730,76561197960265733,friend,1969-12-31 17:00:00,2013-05-06 15:14:15,1969,45
2,76561197960265730,76561197974593417,friend,2012-09-10 15:45:17,2013-05-06 02:09:27,2012,2
3,76561197960265730,76561197984632295,friend,1969-12-31 17:00:00,2013-05-19 11:51:55,1969,45
4,76561197960265730,76561197992219796,friend,2009-07-31 16:26:04,2013-05-27 17:06:57,2009,5

In [45]:
friends = friends.withColumn('number_year_friendship', \
                             F.when((F.col('number_year_friendship')>6),F.lit('6plus')).otherwise(F.col('number_year_friendship')))

friends.limit(5).toPandas()

,steam_id_a,steam_id_b,relationship,friend_since,dateretrieved,year_friendship,number_year_friendship
0,76561197960265729,76561197967144365,friend,2012-07-12 14:56:57,2013-05-10 16:33:54,2012,2
1,76561197960265730,76561197960265733,friend,1969-12-31 17:00:00,2013-05-06 15:14:15,1969,6plus
2,76561197960265730,76561197974593417,friend,2012-09-10 15:45:17,2013-05-06 02:09:27,2012,2
3,76561197960265730,76561197984632295,friend,1969-12-31 17:00:00,2013-05-19 11:51:55,1969,6plus
4,76561197960265730,76561197992219796,friend,2009-07-31 16:26:04,2013-05-27 17:06:57,2009,5

In [46]:
friends_a = friends.groupBy('steam_id_a').agg(F.count('steam_id_b').alias('number_friends_a'))
friends_a.show(5)

+-----------------+----------------+
|       steam_id_a|number_friends_a|
+-----------------+----------------+
|76561197975589446|              37|
|76561197975590416|               1|
|76561197975594325|               3|
|76561197975601708|               1|
|76561197975601838|               5|
+-----------------+----------------+
only showing top 5 rows

In [51]:
friends_a.count()

6376017

In [47]:
friends_b = friends.groupBy('steam_id_b').agg(F.count('steam_id_a').alias('number_friends_b'))
friends_b.show(5)

+-----------------+----------------+
|       steam_id_b|number_friends_b|
+-----------------+----------------+
|76561197995802269|              64|
|76561197960714238|              42|
|76561197991725389|              67|
|76561197993108118|              41|
|76561198039105252|              22|
+-----------------+----------------+
only showing top 5 rows

In [52]:
friends_b.count()

16497444

In [48]:
friends_ab_join = friends_a.join(friends_b,friends_a.steam_id_a == friends_b.steam_id_b, how = 'full')
friends_ab_join.show(5)

+-----------------+----------------+-----------------+----------------+
|       steam_id_a|number_friends_a|       steam_id_b|number_friends_b|
+-----------------+----------------+-----------------+----------------+
|76561197960266870|               2|76561197960266870|               2|
|76561197960266879|              89|76561197960266879|              56|
|76561197960266911|              10|76561197960266911|               8|
|76561197960268400|               2|76561197960268400|               2|
|76561197960269031|              50|76561197960269031|              37|
+-----------------+----------------+-----------------+----------------+
only showing top 5 rows

In [49]:
friends_ab_join.filter(F.col('steam_id_a').isNull()).count()

10655958

In [50]:
friends_ab_join.filter(F.col('steam_id_b').isNull()).count()

534531

In [53]:
friends_ab_join.filter(F.col('steam_id_a').isNull()).limit(10).show()

+----------+----------------+-----------------+----------------+
|steam_id_a|number_friends_a|       steam_id_b|number_friends_b|
+----------+----------------+-----------------+----------------+
|      null|            null|76561197994129141|               5|
|      null|            null|76561197994129531|               2|
|      null|            null|76561197994130121|               1|
|      null|            null|76561197994130320|               7|
|      null|            null|76561197994131114|               8|
|      null|            null|76561197994132539|               5|
|      null|            null|76561197994132840|               1|
|      null|            null|76561197994133728|               1|
|      null|            null|76561197994135234|               1|
|      null|            null|76561197994136678|              15|
+----------+----------------+-----------------+----------------+

In [54]:
friends_ab_join.filter(F.col('steam_id_b').isNull()).limit(10).show()

+-----------------+----------------+----------+----------------+
|       steam_id_a|number_friends_a|steam_id_b|number_friends_b|
+-----------------+----------------+----------+----------------+
|76561197960289560|               2|      null|            null|
|76561197960289888|               1|      null|            null|
|76561197960301981|               2|      null|            null|
|76561197960320483|               2|      null|            null|
|76561197960323068|               1|      null|            null|
|76561197960331566|               1|      null|            null|
|76561197960343345|               4|      null|            null|
|76561197960357328|               1|      null|            null|
|76561197960368041|               3|      null|            null|
|76561197960370695|               9|      null|            null|
+-----------------+----------------+----------+----------------+

In [56]:
friends_ab_join = friends_ab_join.withColumn('steam_id_a', \
                           F.when(F.col('steam_id_a').isNull(),(F.col('steam_id_b'))).otherwise(F.col('steam_id_a')))

In [57]:
friends_ab_join = friends_ab_join.withColumn('number_friends_a', \
                           F.when(F.col('number_friends_a').isNull(),(F.col('number_friends_b'))).otherwise(F.col('number_friends_a')))

In [60]:
player_df3 = friends_ab_join.select('steam_id_a','number_friends_a')
player_df3.count()

17031975

In [61]:
newColumns = ['steam_id', 'number_friends']
player_df3 = rename_col(player_df3, newColumns)
player_df3.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- number_friends: long (nullable = true)

In [62]:
# Save merge_table
friends.write.csv("/user/tamng/jwht/EDA/friends.csv",header=True)

In [63]:
# Save merge_table
player_df3.write.csv("/user/tamng/jwht/EDA/player_df3.csv",header=True)

---

### 8. construct `player_df4` table (groups)

In [66]:
groups.limit(5).toPandas()

            steam_id  group_id       dateretrieved
0  76561197960265730         4 2013-05-06 02:09:28
1  76561197960265730         5 2013-05-06 02:09:28
2  76561197960265730        83 2013-05-06 02:09:28
3  76561197960265730       132 2013-05-06 02:09:28
4  76561197960265730      4741 2013-05-06 02:09:28

In [86]:
basic_info(groups)

TOTAL ROWS: 81302317


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+--------+-------------+
|steam_id|group_id|dateretrieved|
+--------+--------+-------------+
|       0|       0|            0|
+--------+--------+-------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+--------+-------------------+
|         steam_id|group_id|      dateretrieved|
+-----------------+--------+-------------------+
|76561197960265730|       4|2013-05-06 02:09:28|
|76561197960265730|       5|2013-05-06 02:09:28|
|76561197960265730|      83|2013-05-06 02:09:28|
+-----------------+--------+-------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+------------------+
|summary|            steam_id|          group_id|
+-------+--------------------+------------------+
|  count|            81302317|          81302317|
|   mean|7.656119802079832E16|2366104.8090658104|
| stddev|3.1438202512608785E7|1488160.0271306073|
|    min|   76561197960265730|                 4|
|    max|   76561198086443195|           5248077|
+-------+--------------------+------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


     column_name  distinct_count
0       steam_id        13380609
1       group_id         3082901
2  dateretrieved         8720711

In [71]:
groups.groupBy('steam_id').agg(F.countDistinct('group_id').alias('count')).orderBy('count',ascending = True).show(50)

+-----------------+-----+
|         steam_id|count|
+-----------------+-----+
|76561198000459803|    1|
|76561197998070598|    1|
|76561198056082910|    1|
|76561197967931082|    1|
|76561198056149190|    1|
|76561197971715289|    1|
|76561198056149328|    1|
|76561198013290251|    1|
|76561198056658999|    1|
|76561198005131498|    1|
|76561198057713596|    1|
|76561198005657926|    1|
|76561198014087987|    1|
|76561198074044434|    1|
|76561198024011280|    1|
|76561198047762068|    1|
|76561198009303067|    1|
|76561198003635222|    1|
|76561198009834950|    1|
|76561198044433932|    1|
|76561198069610081|    1|
|76561198045001972|    1|
|76561198050605002|    1|
|76561197961544856|    1|
|76561197996438348|    1|
|76561198030952487|    1|
|76561197997521625|    1|
|76561198002152719|    1|
|76561197997550461|    1|
|76561198043405092|    1|
|76561197997899180|    1|
|76561198060637775|    1|
|76561198077874865|    1|
|76561198061031661|    1|
|76561198063337486|    1|
|76561198062325800|    1|
|76561198063628969|    1|
|76561197990306508|    1|
|76561198064528703|    1|
|76561197990535361|    1|
|76561198015186850|    1|
|76561198052948237|    1|
|76561197993519757|    1|
|76561198054965071|    1|
|76561198055644658|    1|
|76561198032249467|    1|
|76561198025947505|    1|
|76561197972267766|    1|
|76561198085589848|    1|
|76561198005591400|    1|
+-----------------+-----+
only showing top 50 rows

In [74]:
player_df4 = groups.groupBy('steam_id').agg(F.countDistinct('group_id').alias('number_groups'))

In [75]:
player_df4.limit(5).toPandas()

            steam_id  number_groups
0  76561198026979612              2
1  76561198027099854             20
2  76561198027108059             28
3  76561198027117572            163
4  76561198027171151              1

In [76]:
# Save player_df4
player_df4.write.csv("/user/tamng/jwht/EDA/player_df4.csv",header=True)

---
### 9. player_summary

In [106]:
player_summary.limit(5).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197968588415,wafox26,http://steamcommunity.com/profiles/76561197968...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
1,76561197968591946,Lord,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-14 22:22:46,N,N,N,N,N,N,N,N,N,N
2,76561197968593186,chillwinston8,http://steamcommunity.com/profiles/76561197968...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
3,76561197968594430,dylan,http://steamcommunity.com/profiles/76561197968...,0,1,N,N,N,N,N,N,N,N,N,N,N,N
4,76561197968594940,Kid Curry,http://steamcommunity.com/profiles/76561197968...,0,1,1,2013-02-17 11:54:58,N,N,N,N,N,N,N,N,N,N

In [93]:
player_summary.count()

9881300

In [94]:
player_summary = player_summary.filter(F.col('community_visibility_state')!=0)
player_summary.count()

9881206

In [95]:
player_summary = player_summary.filter(F.col('person_state')!=88)
player_summary.count()

9881199

In [109]:
player_summary.filter(F.col('community_visibility_state')==3).limit(5).toPandas()

,steam_id,person_name,profile_url,person_state,community_visibility_state,profile_state,last_logoff,comment_permission,real_name,primary_clanid,time_created,game_id,gameserver_ip,game_extrainfo,city_id,country_code,state_code
0,76561197968085891,michaenglam,http://steamcommunity.com/profiles/76561197968...,0,3,N,2006-10-05 22:29:41,N,N,103582791429521408,2004-08-07 20:27:18,N,N,N,N,N,N
1,76561197968088971,a1061004,http://steamcommunity.com/profiles/76561197968...,0,3,N,2007-10-12 20:37:18,N,N,103582791429521408,2004-08-07 23:27:56,N,N,N,N,N,N
2,76561197968090197,kasanova320,http://steamcommunity.com/profiles/76561197968...,0,3,N,2006-09-22 19:39:36,N,N,103582791429521408,2004-08-08 00:48:10,N,N,N,N,N,N
3,76561197968093732,g087221695,http://steamcommunity.com/profiles/76561197968...,0,3,N,2008-11-25 23:14:44,N,N,103582791429521408,2004-08-10 11:49:39,N,N,N,N,N,N
4,76561197968094218,psykokouak2,http://steamcommunity.com/profiles/76561197968...,0,3,N,2006-11-02 09:00:56,N,N,103582791429521408,2004-08-10 12:13:42,N,N,N,N,N,N

In [111]:
# player_summary = player_summary.withColumn('last_logoff', (player_summary.last_logoff).cast('timestamp'))

In [96]:
player_summary.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: integer (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)

In [97]:
player_summary.filter(~(F.col('last_logoff').contains('N')) & ~(F.col('time_created').contains('N'))).count()

6206703

In [98]:
player_summary = player_summary.withColumn('year_created', substring(player_summary['time_created'], 0, 4))

In [99]:
player_summary.groupBy('year_created').count().show()

+------------+-------+
|year_created|  count|
+------------+-------+
|        2012|      1|
|        2005|1593817|
|        2009|     34|
|        2006|1848599|
|        2004|2005566|
|        2011|     19|
|        2008|     36|
|           N|3674321|
|        2007|     73|
|        2010|     12|
|        2003| 758721|
+------------+-------+

In [100]:
player_summary = player_summary.withColumn('year_logoff', substring(player_summary['last_logoff'], 0, 4))

In [101]:
player_summary.groupBy('year_logoff').count().show()

+-----------+-------+
|year_logoff|  count|
+-----------+-------+
|       2012| 996728|
|       2013|2265073|
|       2005|   2316|
|       2009| 510104|
|       2006| 964231|
|       2011| 490341|
|       2008| 613411|
|          N|3018995|
|       2007| 586297|
|          1|      2|
|       2010| 433698|
|          2|      3|
+-----------+-------+

In [102]:
player_summary = player_summary.filter(F.col('year_logoff')!='1')
player_summary.count()

9881197

In [103]:
player_summary = player_summary.filter(F.col('year_logoff')!='2')
player_summary.count()

9881194

In [107]:
player_summary.withColumn('year_active', \
                          F.lit(F.col('year_logoff')-F.col('year_created')+1)).filter((F.col('year_created').contains('20'))&(F.col('year_logoff')=='N')).show()

+-----------------+----------------+--------------------+------------+--------------------------+-------------+-----------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+------------+-----------+-----------+
|         steam_id|     person_name|         profile_url|person_state|community_visibility_state|profile_state|last_logoff|comment_permission|real_name|    primary_clanid|       time_created|game_id|gameserver_ip|game_extrainfo|city_id|country_code|state_code|year_created|year_logoff|year_active|
+-----------------+----------------+--------------------+------------+--------------------------+-------------+-----------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+------------+-----------+-----------+
|76561197981566851|andreaslarsen_89|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2006-03-18 05:50:02|      N|            N|             N|      N|           N|         N|        2006|          N|       null|
|76561197974870288|     FN#14604560|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2005-03-13 15:58:55|      N|            N|             N|      N|           N|         N|        2005|          N|       null|
|76561197980171858|     FN#19906130|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2006-01-02 15:35:34|      N|            N|             N|      N|           N|         N|        2006|          N|       null|
|76561197960408567|       almgren_8|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2003-09-12 13:32:51|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197977479523|     FN#17213795|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2005-08-12 11:44:55|      N|            N|             N|      N|           N|         N|        2005|          N|       null|
|76561197963063672|      FN#2797944|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2003-11-28 06:33:35|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197960292663|    sinamalisius|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2003-09-12 03:34:33|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197960447368|      bob_shokun|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2003-09-12 19:01:05|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197965246374|      FN#4980646|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2004-03-24 08:19:37|      N|            N|             N|      N|           N|         N|        2004|          N|       null|
|76561197962457786|      FN#2192058|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2003-11-01 03:27:02|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197966311947|      FULLGAMERZ|http://steamcommu...|           0|                         3|            1|          N|                 2|        N|103582791429521408|2004-05-05 06:18:58|      N|            N|             N|      N|           N|         N|        2004|          N|       null|
|76561197963065392|       huecobros|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2003-11-28 08:12:49|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197968559930|          monckc|http://steamcommu...|           0|                         3|            1|          N|                 1|        N|103582791429521408|2004-08-29 10:34:53|      N|            N|             N|      N|           N|         N|        2004|          N|       null|
|76561197963260642|      FN#2994914|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2003-12-07 16:17:42|      N|            N|             N|      N|           N|         N|        2003|          N|       null|
|76561197965269285|      FN#5003557|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2004-03-25 08:02:36|      N|            N|             N|      N|           N|         N|        2004|          N|       null|
|76561197976135701|     FN#15869973|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2005-05-26 10:20:46|      N|            N|             N|      N|           N|         N|        2005|          N|       null|
|76561197981517631|     FN#21251903|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2006-03-15 13:17:06|      N|            N|             N|      N|           N|         N|        2006|          N|       null|
|76561197977726887|       gwreiddyn|http://steamcommu...|           0|                         3|            1|          N|                 2|        N|103582791429521408|2005-08-25 20:28:10|      N|            N|             N|      N|           N|         N|        2005|          N|       null|
|76561197968514917|      FN#8249189|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2004-08-25 11:20:32|      N|            N|             N|      N|           N|         N|        2004|          N|       null|
|76561197974383925|     FN#14118197|http://steamcommu...|           0|                         3|            N|          N|                 N|        N|103582791429521408|2005-02-22 11:20:46|      N|            N|             N|      N|           N|         N|        2005|          N|       null|
+-----------------+----------------+--------------------+------------+--------------------------+-------------+-----------+------------------+---------+------------------+-------------------+-------+-------------+--------------+-------+------------+----------+------------+-----------+-----------+
only showing top 20 rows

In [139]:
player_summary = player_summary.withColumn('year_active', F.lit(F.col('year_logoff')-F.col('year_created')+1))

In [140]:
player_summary = player_summary.withColumn('year_inactive', F.lit(2013 - F.col('year_logoff')))

In [141]:
player_summary.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- person_name: string (nullable = true)
 |-- profile_url: string (nullable = true)
 |-- person_state: string (nullable = true)
 |-- community_visibility_state: integer (nullable = true)
 |-- profile_state: string (nullable = true)
 |-- last_logoff: string (nullable = true)
 |-- comment_permission: string (nullable = true)
 |-- real_name: string (nullable = true)
 |-- primary_clanid: string (nullable = true)
 |-- time_created: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- gameserver_ip: string (nullable = true)
 |-- game_extrainfo: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- year_created: string (nullable = true)
 |-- year_logoff: string (nullable = true)
 |-- year_active: double (nullable = true)
 |-- year_inactive: double (nullable = true)

In [143]:
player_summary.filter(F.col('year_active').isNull()).count()

3674491

In [144]:
player_summary.filter(F.col('year_inactive').isNull()).count()

3018995

In [145]:
player_df5 = player_summary.select('steam_id', 'year_active', 'year_inactive', 'year_created', 'country_code')

In [146]:
# Save player_df5
player_df5.write.csv("/user/tamng/jwht/EDA/player_df5.csv",header=True)

---
## VI. Merge data

player_df1, player_df2, player_df3, player_df4, player_df5, playornot

In [10]:
# player_df1
player_df1 = spark.read.csv('/user/tamng/jwht/EDA/player_df1.csv',inferSchema = True, header = True)

In [11]:
# player_df2
player_df2 = spark.read.csv('/user/tamng/jwht/EDA/player_df2.csv',inferSchema = True, header = True)

In [12]:
# player_df3
player_df3 = spark.read.csv('/user/tamng/jwht/EDA/player_df3.csv',inferSchema = True, header = True)

In [13]:
# player_df4
player_df4 = spark.read.csv('/user/tamng/jwht/EDA/player_df4.csv',inferSchema = True, header = True)

In [14]:
# player_df5
player_df5 = spark.read.csv('/user/tamng/jwht/EDA/player_df5.csv',inferSchema = True, header = True)

In [15]:
# playornot
playornot = spark.read.csv('/user/tamng/jwht/EDA/playornot.csv',inferSchema = True, header = True)

In [16]:
player_df1.limit(3).toPandas()

,steam_id,playtime_2weeks,total_playtime_forever,total_games_owned,total_money_spend,total_game_multi_player,total_game_single_player
0,76561197971697148,480,85537,118,1319.95,63,55
1,76561197971697538,1982,242018,163,2382.50,72,91
2,76561197971705974,3118,260412,264,4414.50,143,121

In [17]:
player_df2.limit(3).toPandas()

,steam_id,gr_education_total,gr_mutiplayer_total,gr_adventure_total,gr_sports_total,gr_accounting_total,gr_audioProduction_total,gr_videoProduction_total,gr_animationModeling_total,gr_racing_total,...,gr_webPublishing_total,gr_utility_total,gr_earlyAccess_total,gr_casual_total,gr_action_total,gr_strategy_total,gr_indie_total,gr_freeplay_total,gr_RPG_total,gr_simulation_total
0,76561197960545041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0
1,76561197960545706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
2,76561197960546062,0.0,4.0,56.0,2.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,4.0,13.0,120.0,9.0,57.0,12.0,25.0,6.0

In [18]:
player_df3.limit(3).toPandas()

            steam_id  number_friends
0  76561197960268652               3
1  76561197960269282               3
2  76561197960269470               1

In [19]:
player_df4.limit(3).toPandas()

            steam_id  number_groups
0  76561198055789259              1
1  76561198055833534             48
2  76561198055995390              1

In [20]:
player_df5.limit(3).toPandas()

            steam_id  year_active  year_inactive year_created country_code
0  76561197968085891          3.0            7.0         2004            N
1  76561197968088971          4.0            6.0         2004            N
2  76561197968090197          3.0            7.0         2004            N

In [21]:
playornot.limit(3).toPandas()

            steam_id  total_games_not_played  total_games_played
0  76561197960269356                       9                   6
1  76561197960270928                      16                  40
2  76561197960271038                      67                   6

In [126]:
player_final = player_df1.join(player_df2, ['steam_id'], how='full')
player_final = player_final.join(player_df3, ['steam_id'], how='left')
player_final = player_final.join(player_df4, ['steam_id'], how='left')
player_final = player_final.join(player_df5, ['steam_id'], how='left')
player_final = player_final.join(playornot, ['steam_id'], how='full')

In [129]:
player_final = player_final.withColumnRenamed('playtime_2weeks', 'total_playtime_2weeks')

In [130]:
player_final.printSchema()

root
 |-- steam_id: long (nullable = true)
 |-- total_playtime_2weeks: integer (nullable = true)
 |-- total_playtime_forever: integer (nullable = true)
 |-- total_games_owned: integer (nullable = true)
 |-- total_money_spend: double (nullable = true)
 |-- total_game_multi_player: integer (nullable = true)
 |-- total_game_single_player: integer (nullable = true)
 |-- gr_education_total: double (nullable = true)
 |-- gr_mutiplayer_total: double (nullable = true)
 |-- gr_adventure_total: double (nullable = true)
 |-- gr_sports_total: double (nullable = true)
 |-- gr_accounting_total: double (nullable = true)
 |-- gr_audioProduction_total: double (nullable = true)
 |-- gr_videoProduction_total: double (nullable = true)
 |-- gr_animationModeling_total: double (nullable = true)
 |-- gr_racing_total: double (nullable = true)
 |-- gr_designIllustration_total: double (nullable = true)
 |-- gr_softwareTraining_total: double (nullable = true)
 |-- gr_photoEditing_total: double (nullable = true)
 |-- gr_webPublishing_total: double (nullable = true)
 |-- gr_utility_total: double (nullable = true)
 |-- gr_earlyAccess_total: double (nullable = true)
 |-- gr_casual_total: double (nullable = true)
 |-- gr_action_total: double (nullable = true)
 |-- gr_strategy_total: double (nullable = true)
 |-- gr_indie_total: double (nullable = true)
 |-- gr_freeplay_total: double (nullable = true)
 |-- gr_RPG_total: double (nullable = true)
 |-- gr_simulation_total: double (nullable = true)
 |-- number_friends: integer (nullable = true)
 |-- number_groups: integer (nullable = true)
 |-- year_active: double (nullable = true)
 |-- year_inactive: double (nullable = true)
 |-- year_created: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- total_games_not_played: integer (nullable = true)
 |-- total_games_played: integer (nullable = true)

_Print the columns_

In [131]:
player_final.columns

['steam_id',
 'total_playtime_2weeks',
 'total_playtime_forever',
 'total_games_owned',
 'total_money_spend',
 'total_game_multi_player',
 'total_game_single_player',
 'gr_education_total',
 'gr_mutiplayer_total',
 'gr_adventure_total',
 'gr_sports_total',
 'gr_accounting_total',
 'gr_audioProduction_total',
 'gr_videoProduction_total',
 'gr_animationModeling_total',
 'gr_racing_total',
 'gr_designIllustration_total',
 'gr_softwareTraining_total',
 'gr_photoEditing_total',
 'gr_webPublishing_total',
 'gr_utility_total',
 'gr_earlyAccess_total',
 'gr_casual_total',
 'gr_action_total',
 'gr_strategy_total',
 'gr_indie_total',
 'gr_freeplay_total',
 'gr_RPG_total',
 'gr_simulation_total',
 'number_friends',
 'number_groups',
 'year_active',
 'year_inactive',
 'year_created',
 'country_code',
 'total_games_not_played',
 'total_games_played']

---
_Basic description for total games..._

In [30]:
basic_info(player_final.select('steam_id','total_playtime_2weeks','total_playtime_forever',\
                               'total_games_owned','total_money_spend', 'total_game_multi_player',\
                               'total_game_single_player','total_games_not_played','total_games_played'))

TOTAL ROWS: 3263723


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|steam_id|total_playtime_2weeks|total_playtime_forever|total_games_owned|total_money_spend|total_game_multi_player|total_game_single_player|total_games_not_played|total_games_played|
+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|       0|                    0|                     0|                0|                0|                      0|                       0|                     0|                 0|
+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+---------------------+----------------------+-----------------+------------------+-----------------------+------------------------+----------------------+------------------+
|         steam_id|total_playtime_2weeks|total_playtime_forever|total_games_owned| total_money_spend|total_game_multi_player|total_game_single_player|total_games_not_played|total_games_played|
+-----------------+---------------------+----------------------+-----------------+------------------+-----------------------+------------------------+----------------------+------------------+
|76561197960266870|                    0|                     6|                8| 49.92000000000001|                      7|                       1|                     7|                 1|
|76561197960266911|                    0|                  3266|               15|119.85999999999997|                     11|                       4|                    12|                 3|
|76561197960268400|                    0|                   251|               18|169.83000000000004|                     13|                       5|                    16|                 2|
+-----------------+---------------------+----------------------+-----------------+------------------+-----------------------+------------------------+----------------------+------------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+--------------------+---------------------+----------------------+------------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|summary|            steam_id|total_playtime_2weeks|total_playtime_forever| total_games_owned|total_money_spend|total_game_multi_player|total_game_single_player|total_games_not_played|total_games_played|
+-------+--------------------+---------------------+----------------------+------------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|  count|             3263723|              3263723|               3263723|           3263723|          3263723|                3263723|                 3263723|               3263723|           3263723|
|   mean|7.656119796787803...|    256.8820770022456|    24428.698477474958|28.678529090857282|356.6145324373267|     15.965750157105857|      12.712778933751425|    14.995424856827617|13.683104234029665|
| stddev|   4391497.335917059|    984.0930896542212|    53822.867955421774| 62.76473415453402|835.9997075646726|     24.973103999203037|       39.21136923499068|    37.233047716114015|32.341344575132695|
|    min|   76561197960265729|                    0|                     0|                 1|              0.0|                      0|                       0|                     0|                 0|
|    max|   76561197975000941|               201100|               5044095|              3396|         39005.28|                   1033|                    2363|                  2930|              2041|
+-------+--------------------+---------------------+----------------------+------------------+-----------------+-----------------------+------------------------+----------------------+------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


                column_name  distinct_count
0                  steam_id         3263723
1     total_playtime_2weeks           12352
2    total_playtime_forever          230747
3         total_games_owned            1659
4         total_money_spend          254134
5   total_game_multi_player             669
6  total_game_single_player            1209
7    total_games_not_played            1354
8        total_games_played             789

---
_Basic description for friends, groups..._

In [31]:
basic_info(player_final.select('number_friends','number_groups','year_active','year_inactive','year_created','country_code'))

TOTAL ROWS: 3263723


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------------+-------------+-----------+-------------+------------+------------+
|number_friends|number_groups|year_active|year_inactive|year_created|country_code|
+--------------+-------------+-----------+-------------+------------+------------+
|       1206741|      2315016|     138024|        78612|       61705|       61705|
+--------------+-------------+-----------+-------------+------------+------------+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+--------------+-------------+-----------+-------------+------------+------------+
|number_friends|number_groups|year_active|year_inactive|year_created|country_code|
+--------------+-------------+-----------+-------------+------------+------------+
|             2|         null|        6.0|          5.0|        2003|           N|
|            10|            2|       10.0|          1.0|        2003|          DE|
|             2|         null|       10.0|          1.0|        2003|          GB|
+--------------+-------------+-----------+-------------+------------+------------+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+------------------+------------------+------------------+-----------------+------------------+------------+
|summary|    number_friends|     number_groups|       year_active|    year_inactive|      year_created|country_code|
+-------+------------------+------------------+------------------+-----------------+------------------+------------+
|  count|           2056982|            948707|           3125699|          3185111|           3202018|     3202018|
|   mean|15.771681521763439| 5.855029002632003| 7.527219031647001|2.522998099595273|2003.9040751781463|        null|
| stddev|27.669175989693645|13.106203115787432|2.6317332772833146| 2.53559896879858|0.6055746272997561|        null|
|    min|                 1|                 1|               1.0|              0.0|              2003|          AD|
|    max|              1538|              1258|              11.0|              8.0|                 N|          ZW|
+-------+------------------+------------------+------------------+-----------------+------------------+------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


      column_name  distinct_count
0  number_friends             400
1   number_groups             427
2     year_active              12
3   year_inactive              10
4    year_created              11
5    country_code             238

---
### Filling missing value

#### a. number_groups

Since the Groups table is full, we did not take any subset of that orginial table. Therefore, any steam_id does not include in that table has number of group = 0, which means that they did not join any group.

In [132]:
player_final = player_final.withColumn('number_groups', \
                                           F.when((F.col('number_groups').isNull()), F.lit(0)).otherwise(F.col('number_groups')))

In [133]:
check_missing(player_final.select('number_groups'))

+-------------+
|number_groups|
+-------------+
|            0|
+-------------+

#### b. number_friends

In [134]:
player_final = player_final.withColumn('number_friends', \
                                           F.when((F.col('number_friends').isNull()), F.lit(0)).otherwise(F.col('number_friends')))

In [135]:
check_missing(player_final.select('number_friends'))

+--------------+
|number_friends|
+--------------+
|             0|
+--------------+

#### c. drop na

In [136]:
player_final = player_final.filter((F.col('year_created').contains('20'))).filter(~F.col('year_inactive').isNull()).filter(~F.col('year_active').isNull())

In [137]:
player_final.count()

3125699

In [138]:
player_final.groupby('year_created').count().orderBy('year_created', ascending = False).toPandas()

  year_created    count
0         2011       12
1         2010        2
2         2009        2
3         2008        5
4         2007       25
5         2006       12
6         2005   436956
7         2004  1951691
8         2003   736994

In [143]:
# Since very fwe value from year 2006, we decided to drop year_created from 2006.
player_final = player_final.filter(F.col('year_created')<2006)

In [144]:
player_final.groupby('year_active').count().orderBy('year_active', ascending = False).toPandas()

    year_active   count
0          11.0  246454
1          10.0  786267
2           9.0  484074
3           8.0  265859
4           7.0  227265
5           6.0  252221
6           5.0  272644
7           4.0  285946
8           3.0  249704
9           2.0   54995
10          1.0     212

In [145]:
player_final.groupby('year_inactive').count().orderBy('year_inactive', ascending = False).toPandas()

   year_inactive    count
0            8.0     1606
1            7.0   328642
2            6.0   272248
3            5.0   292093
4            4.0   251869
5            3.0   217293
6            2.0   242283
7            1.0   477531
8            0.0  1042076

In [146]:
player_final.groupby('year_created').count().orderBy('year_created', ascending = False).toPandas()

  year_created    count
0         2005   436956
1         2004  1951691
2         2003   736994

In [147]:
player_final.limit(5).toPandas()

,steam_id,total_playtime_2weeks,total_playtime_forever,total_games_owned,total_money_spend,total_game_multi_player,total_game_single_player,gr_education_total,gr_mutiplayer_total,gr_adventure_total,...,gr_RPG_total,gr_simulation_total,number_friends,number_groups,year_active,year_inactive,year_created,country_code,total_games_not_played,total_games_played
0,76561197960266870,0,6,8,49.92,7,1,0.0,0.0,0.0,...,0.0,0.0,2,0,6.0,5.0,2003,N,7,1
1,76561197960266911,0,3266,15,119.86,11,4,0.0,0.0,0.0,...,0.0,0.0,10,2,10.0,1.0,2003,DE,12,3
2,76561197960268400,0,251,18,169.83,13,5,0.0,0.0,0.0,...,0.0,1.0,2,0,10.0,1.0,2003,GB,16,2
3,76561197960269173,73,23741,33,497.69,23,10,0.0,0.0,5.0,...,2.0,4.0,2,0,11.0,0.0,2003,N,8,25
4,76561197960269352,0,0,17,134.84,13,4,0.0,0.0,0.0,...,0.0,0.0,2,0,4.0,7.0,2003,N,17,0

---
### Check missing value before saving the final data.

In [148]:
check_missing(player_final.select('number_friends','number_groups','year_active','year_inactive','year_created','country_code'))

+--------------+-------------+-----------+-------------+------------+------------+
|number_friends|number_groups|year_active|year_inactive|year_created|country_code|
+--------------+-------------+-----------+-------------+------------+------------+
|             0|            0|          0|            0|           0|           0|
+--------------+-------------+-----------+-------------+------------+------------+

In [149]:
check_missing(player_final.select('steam_id','total_playtime_2weeks','total_playtime_forever',\
                               'total_games_owned','total_money_spend', 'total_game_multi_player',\
                               'total_game_single_player','total_games_not_played','total_games_played'))

+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|steam_id|total_playtime_2weeks|total_playtime_forever|total_games_owned|total_money_spend|total_game_multi_player|total_game_single_player|total_games_not_played|total_games_played|
+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+
|       0|                    0|                     0|                0|                0|                      0|                       0|                     0|                 0|
+--------+---------------------+----------------------+-----------------+-----------------+-----------------------+------------------------+----------------------+------------------+

In [150]:
check_missing(player_final.select('gr_education_total','gr_mutiplayer_total','gr_adventure_total',
 'gr_sports_total','gr_accounting_total','gr_audioProduction_total','gr_videoProduction_total',
 'gr_animationModeling_total','gr_racing_total','gr_designIllustration_total',
 'gr_softwareTraining_total','gr_photoEditing_total','gr_webPublishing_total',
 'gr_utility_total','gr_earlyAccess_total','gr_casual_total','gr_action_total',
 'gr_strategy_total','gr_indie_total','gr_freeplay_total','gr_RPG_total','gr_simulation_total'))

+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|gr_education_total|gr_mutiplayer_total|gr_adventure_total|gr_sports_total|gr_accounting_total|gr_audioProduction_total|gr_videoProduction_total|gr_animationModeling_total|gr_racing_total|gr_designIllustration_total|gr_softwareTraining_total|gr_photoEditing_total|gr_webPublishing_total|gr_utility_total|gr_earlyAccess_total|gr_casual_total|gr_action_total|gr_strategy_total|gr_indie_total|gr_freeplay_total|gr_RPG_total|gr_simulation_total|
+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+
|                 0|                  0|                 0|              0|                  0|                       0|                       0|                         0|              0|                          0|                        0|                    0|                     0|               0|                   0|              0|              0|                0|             0|                0|           0|                  0|
+------------------+-------------------+------------------+---------------+-------------------+------------------------+------------------------+--------------------------+---------------+---------------------------+-------------------------+---------------------+----------------------+----------------+--------------------+---------------+---------------+-----------------+--------------+-----------------+------------+-------------------+

---
### Save data

In [151]:
# Save player_final
player_final.write.csv("/user/tamng/jwht/EDA/player_final.csv",header=True)

---
__Correlation bt time & number of game__

In [27]:
corr_time_game =  agg_game_time.select("total_playtime_forever", "total_games_owned")
corr_time_game.show(2)

+----------------------+-----------------+
|total_playtime_forever|total_games_owned|
+----------------------+-----------------+
|                 78840|              168|
|                 39835|               70|
+----------------------+-----------------+
only showing top 2 rows

In [36]:
vector_col = "corr_features"

# Create a vector of total_playtime_forever & total_games_owned
assembler = VectorAssembler(inputCols=['total_playtime_forever','total_games_owned'], 
                            outputCol=vector_col)

# map the created vector with the corr_time_game table 
corr_time_game_vector = assembler.transform(corr_time_game).select(vector_col)

cols = ['total_playtime_forever','total_games_owned']

# Create the correlation matrix
matrix = Correlation.corr(corr_time_game_vector, vector_col).collect()[0][0]
corrmatrix = matrix.toArray().tolist()
corr_time_game_df = spark.createDataFrame(corrmatrix,cols)
corr_time_game_df.show()

+----------------------+------------------+
|total_playtime_forever| total_games_owned|
+----------------------+------------------+
|                   1.0|0.4640277661095082|
|    0.4640277661095082|               1.0|
+----------------------+------------------+