# BigData Final Project | Steam
## <font color = 'blue'> Notebook5 | Recommendation </font>
### Team Member: Jim Fang, WooJong Choi, Han Jeon, Tam Nguyen

June 2020
___

## Building recommendation engine using two methods:

1. Basket Analysis
2. ALS


### <font> CHALLENGE: </font>

> We dont have the rating for each game by each user, this make it hard to apply ALS model

### <font> SOLUTION: </font>

> We believe if an individual like a games, they would definitely more time play that game as compared to the others. As such, we decided to use total_playtime_forever as the 'rating' feature for our ALS model


<font color ='blue'> Our aim is to compare the difference between basket analysis and ALS on the top 10 recommend games for each cluster. Since we utilize the play_time_forever to each game </font>

---
## I. Import Libraries

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pyspark.sql.types as t
from pyspark.sql.types import LongType
from pyspark.sql.types import StringType
from pyspark.sql.functions import broadcast
from pyspark.sql.functions import regexp_replace
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import isnan, when, count, col, size
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import length
from pyspark.sql import functions as sf
from pyspark.sql.functions import collect_set, collect_list, array_contains
from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql.functions import rank, dense_rank
from pyspark.sql.functions import desc
from functools import reduce
from pyspark.sql.functions import rand 

#Sparkml, spark mllib
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.stat import Correlation
from pyspark.mllib.recommendation import ALS
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.mllib.classification import LogisticRegressionWithLBFGS
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.mllib.util import MLUtils
from pyspark.ml.feature import StandardScaler
from pyspark.sql.functions import mean, stddev, col
import numpy as np
import pandas as pd
import seaborn as sns


from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
spark = SparkSession.builder.enableHiveSupport().appName('Clustering').getOrCreate()

#change configuration settings on Spark 
conf = spark.sparkContext._conf.setAll([('spark.executor.memory', '64g'), ('spark.app.name', 'Spark Updated Conf'), ('spark.executor.cores', '32'), ('spark.cores.max', '32'), ('spark.driver.memory','64g')])

sc = spark.sparkContext

In [3]:
!hdfs dfs -ls /user/tamng/jwht/Cluster

WARNING: log4j.properties is not found. HADOOP_CONF_DIR may be incomplete.
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=512M; support was removed in 8.0
Found 10 items
drwxr-xr-x   - tamng tamng          0 2020-06-05 17:47 /user/tamng/jwht/Cluster/als_df.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 20:05 /user/tamng/jwht/Cluster/basket_100_df.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:04 /user/tamng/jwht/Cluster/cluster_info.csv
drwxr-xr-x   - tamng tamng          0 2020-06-05 08:14 /user/tamng/jwht/Cluster/recommendation_basket
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:01 /user/tamng/jwht/Cluster/top20games_cluster0.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:01 /user/tamng/jwht/Cluster/top20games_cluster1.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:01 /user/tamng/jwht/Cluster/top20games_cluster2.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:01 /user/tamng/jwht/Cluster/top20games_cluster3.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:02 /user/tamng/jwht/Cluster/top20games_cluster4.csv
drwxr-xr-x   - tamng tamng          0 2020-06-04 14:02 /user/tamng/jwht/Cluster/top20games_cluster5.csv

---
## II. Create Function

_Quick check missing value_

In [4]:
def check_missing(df):
    ''' Check missing value'''
    df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

_Basic description of data_

In [5]:
def basic_info(df):    
    '''
        Print out the basic ddescription for each table, icluding:
        1. total rows/ observation
        2. Check missing value by columns
        3. Print out the first 3 lines
        4. Basic description
    '''   
    print('TOTAL ROWS:', df.count())
    print('\n')
    print('*-------------'*5)
    print('\n')
    print('MISSING VALUE:')
    check_missing(df)
    print('*-------------'*5)
    print('\n')
    print('PRINT OUT THE 1st 3 LINES:')
    df.show(3, truncate = True)
    print('*-------------'*5)
    print('\n')
    print('TABLE BASIC DESCRIPTION:')
    df.describe().show(10,truncate = True)
    print('*-------------'*5)
    distinct_count = []
    column_name = df.columns
    for i in column_name:
        distinct_count.append(df.select(col(i)).distinct().count())

    print('DISTINCT COUNT BY COLUMN:')
    print('\n')
    print(pd.DataFrame(zip(column_name,distinct_count)).\
      rename(columns={0:'column_name', 1:'distinct_count'}))

_Rename columns based on predefined list_

In [6]:
def rename_col(df, newColumns):
    ''' Rename all columns        
        Note: newColumns is a list of columns name '''
    oldColumns = df.schema.names
    df = reduce(lambda df, idx: df.withColumnRenamed(oldColumns[idx], newColumns[idx]), range(len(oldColumns)), df)
    return df

_Pipeline to run ALS recommendation model_

In [7]:
def als_model(df, cols, split_ratio = 0.8, maxIter = 10, regParam=0.1, \
              rank=8, nonnegative=True, coldStartStrategy="drop"):
    
    '''
    Pipleline function to select, split data, train model and run prediction:
        df: data
        cols: selected columns for model: steam_id, app_id, title, total_playtime_forever_construct
        split_ration: the ration that model will will to train
    '''
    
    # select columns for modeling
    ratings = df.select(cols)
    columns = ratings.columns

    # train test split
    train_df, test_df = ratings.randomSplit([split_ratio, 1 - split_ratio])

    # ALS recommendation model
    als = ALS(maxIter=maxIter, regParam=regParam, rank=rank, nonnegative=nonnegative,\
                  coldStartStrategy=coldStartStrategy, userCol=columns[0], itemCol=columns[1], ratingCol=columns[-1])

    model = als.fit(train_df)

    # predict on test
    predictions = model.transform(test_df)
    
    return predictions, model

_ALS model evaluation_

In [8]:
def als_evaluation(predictions,predictionCol,labelCol,metricName = 'rmse'):
    '''
    Model evaluation:
        predictionCol:
        labelCol:
        predictions:
    '''
    evaluator = RegressionEvaluator(metricName=metricName, predictionCol=predictionCol, labelCol=labelCol)
    rmse.append(evaluator.evaluate(predictions))
    return rmse

_Recommend top 10 games_

In [9]:
def recommend_top10_game(model):
    '''
    Recommend top 10 games using ALS model
        model: input ALS model
        recommend_game: empty list to append data
    '''
    
    recommend_game = []
    
    userRecs = model.recommendForAllUsers(10)
    
    for i in userRecs.toPandas().recommendations:
        for t in i:
            recommend_game.append(t[0])
            
    games = spark.createDataFrame(recommend_game, \
                                  IntegerType()).groupBy('value').count().orderBy('count', ascending = False)
    
    games = games.withColumnRenamed('value', 'app_id').join(game_title, 'app_id', how = 'left').orderBy('count', ascending = False)
    
    return games

---
## III. Import Data

In [10]:
# Load data
player_app_cluster = spark.read.csv('/user/tamng/jwht/EDA/player_app_cluster.csv', inferSchema = True,header = True)

In [11]:
player_app_cluster.limit(2).toPandas()

,steam_id,app_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,...,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation,cluster,year
0,76561197960266975,10,0,0,2014-08-14 14:04:54,Counter-Strike,game,9.99,11/1/2000 0:00,88,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4,2000
1,76561197960266975,20,0,0,2014-08-14 14:04:54,Team Fortress Classic,game,4.99,4/1/1999 0:00,-1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4,1999

---
## IV. Recommendation

### 1. MarketBasket recommendation

---

### PROBLEM

Memory, coompute capacity does not allow the model can not handle if the number of games in the basket is to big, more than 30 games/ each inidivudal


### SOLUTION
> - Dropping all the steam_id and app_id with play_time_forever = 0
> - Only limitted the maximum number of game per user to 50, orderby the play_time_forever


### APPROACH
1. Sort by steam_id, playtime_forever
2. Create increasing index col for each steam_id
3. filter rows with index less than, or equal to 50

This will make sure the maximum number of game per user never go up to thousand

Question: How to ass increasing index for each steam_id
> - Using Window function
---

In [9]:
# playtime_forever > 0 only
game_recommend_df = player_app_cluster.filter(F.col('playtime_forever')!=0).orderBy('steam_id', 'playtime_forever', ascending = False)
game_recommend_df.count()

39002829

In [10]:
game_recommend_df.orderBy('steam_id', 'playtime_forever', ascending = False).limit(5).toPandas()

,steam_id,app_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,...,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation,cluster,year
0,76561197975000941,440,0,32033,2014-08-16 22:56:04,Team Fortress 2,game,0.00,10/10/2007 0:00,92,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2,2007
1,76561197975000941,730,388,6291,2014-08-16 22:56:04,Counter-Strike: Global Offensive,game,14.99,8/21/2012 0:00,83,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2,2012
2,76561197975000941,211420,0,5575,2014-08-16 22:56:04,DARK SOULS???: Prepare To Die??? Edition,game,19.99,8/23/2012 0:00,85,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2,2012
3,76561197975000941,105600,0,1630,2014-08-16 22:56:04,Terraria,game,9.99,5/16/2011 0:00,83,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2,2011
4,76561197975000941,72850,0,1489,2014-08-16 22:56:04,The Elder Scrolls V: Skyrim,game,19.99,11/10/2011 0:00,94,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2,2011

In [11]:
game_recommend_df.groupby('steam_id').count().orderBy('count', ascending = False).show()

+-----------------+-----+
|         steam_id|count|
+-----------------+-----+
|76561197968838120| 1672|
|76561197969068154| 1363|
|76561197971339745| 1318|
|76561197970644409| 1317|
|76561197967664774| 1288|
|76561197974742349| 1254|
|76561197971697469| 1223|
|76561197970535087| 1129|
|76561197969548941| 1089|
|76561197970575753| 1063|
|76561197966082557| 1059|
|76561197971944809| 1035|
|76561197960462697| 1034|
|76561197970307937| 1016|
|76561197960669982| 1000|
|76561197973925376|  995|
|76561197974783082|  989|
|76561197970717882|  987|
|76561197970663907|  987|
|76561197966750265|  985|
+-----------------+-----+
only showing top 20 rows

__Create a player_game_index column, based on that index, we can select the max top 30 game for each cluster player__

In [12]:
overCategory = Window.partitionBy("steam_id").orderBy(desc("playtime_forever"))
game_recommend_df = game_recommend_df.withColumn("playtime_forever_array", \
                                                 collect_list("playtime_forever").over(overCategory)).withColumn(
  "player_game_index", row_number().over(overCategory)).select('*')

In [13]:
game_recommend_df.limit(5).toPandas()

,steam_id,app_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,...,Action,Strategy,Indie,Free to Play,RPG,Simulation,cluster,year,playtime_forever_array,player_game_index
0,76561197960266870,10,0,6,2014-08-14 14:04:58,Counter-Strike,game,9.99,11/1/2000 0:00,88,...,1.0,0.0,0.0,0.0,0.0,0.0,4,2000,[6],1
1,76561197960266911,730,0,1453,2014-08-14 14:04:54,Counter-Strike: Global Offensive,game,14.99,8/21/2012 0:00,83,...,1.0,0.0,0.0,0.0,0.0,0.0,1,2012,[1453],1
2,76561197960266911,10,0,924,2014-08-14 14:04:54,Counter-Strike,game,9.99,11/1/2000 0:00,88,...,1.0,0.0,0.0,0.0,0.0,0.0,1,2000,"[1453, 924]",2
3,76561197960266911,240,0,889,2014-08-14 14:04:54,Counter-Strike: Source,game,19.99,11/1/2004 0:00,88,...,1.0,0.0,0.0,0.0,0.0,0.0,1,2004,"[1453, 924, 889]",3
4,76561197960268400,227300,0,148,2014-08-14 14:05:17,Euro Truck Simulator 2,game,34.99,1/16/2013 0:00,79,...,0.0,0.0,1.0,0.0,0.0,1.0,1,2013,[148],1

In [14]:
# Only limit to max 100 games per player (order by play_time_forever)
basket = game_recommend_df.filter(F.col('player_game_index')<31)
basket.count()

23039492

In [15]:
# Drop playtime_forever_array
basket = basket.drop('playtime_forever_array')

In [17]:
# Convert app_id to string type
basket = basket.withColumn('app_id', basket['app_id'].cast(StringType()))

In [18]:
# collect list of app, since some app will have the same name, we keep app_id instead of name
basket = basket.groupBy('steam_id').agg(collect_set('app_id').alias('game_id'))
basket.show()

+-----------------+--------------------+
|         steam_id|             game_id|
+-----------------+--------------------+
|76561197960266870|                [10]|
|76561197960266911|      [240, 730, 10]|
|76561197960268400|       [227300, 240]|
|76561197960269173|[245760, 244850, ...|
|76561197960269424|[65800, 63200, 22...|
|76561197960270130|            [80, 10]|
|76561197960271265|[208140, 33930, 1...|
|76561197960271435|[10180, 213670, 2...|
|76561197960272407|[33930, 259060, 3...|
|76561197960272849|  [10180, 10190, 10]|
|76561197960272869|[30, 300, 240, 73...|
|76561197960272973|[65800, 227860, 4...|
|76561197960273326|[8930, 65800, 201...|
|76561197960274486|[220, 63200, 1512...|
|76561197960274794|[238010, 630, 551...|
|76561197960275733|[340, 220, 33460,...|
|76561197960275854|[35140, 8850, 706...|
|76561197960276255|                [10]|
|76561197960276539|[340, 220, 8190, ...|
|76561197960277107|[42690, 240, 2064...|
+-----------------+--------------------+
only showing top 20 rows

In [19]:
basket.count()

2666717

In [20]:
basket.rdd.getNumPartitions()

200

In [21]:
basket.createOrReplaceTempView('basket')
basket.show(truncate=100)

+-----------------+----------------------------------------------------------------------------------------------------+
|         steam_id|                                                                                             game_id|
+-----------------+----------------------------------------------------------------------------------------------------+
|76561197960266870|                                                                                                [10]|
|76561197960266911|                                                                                      [240, 730, 10]|
|76561197960268400|                                                                                       [227300, 240]|
|76561197960269173|[245760, 244850, 340, 420, 200110, 242050, 30, 273620, 380, 10, 12210, 70, 72850, 220, 246090, 24...|
|76561197960269424|[65800, 63200, 22300, 213670, 630, 223850, 200710, 72850, 570, 730, 99300, 50620, 550, 226320, 49...|
|76561197960270130|                                                                                            [80, 10]|
|76561197960271265|[208140, 33930, 10180, 221100, 22330, 35450, 10190, 22350, 8500, 47890, 570, 48700, 240, 200510, ...|
|76561197960271435|[10180, 213670, 220240, 42710, 10190, 17410, 12210, 72850, 12110, 220, 211820, 17700, 12120, 340,...|
|76561197960272407|[33930, 259060, 35450, 236390, 42890, 34330, 24960, 15320, 8930, 550, 20540, 4920, 1200, 25800, 8...|
|76561197960272849|                                                                                  [10180, 10190, 10]|
|76561197960272869|                                                                             [30, 300, 240, 730, 10]|
|76561197960272973|[65800, 227860, 42710, 10190, 7940, 22350, 72850, 248820, 24960, 202990, 204450, 730, 233450, 429...|
|76561197960273326|[8930, 65800, 201810, 630, 440, 223850, 10, 242720, 72850, 250400, 570, 41070, 500, 240, 730, 221...|
|76561197960274486|                                                                [220, 63200, 15120, 240, 15100, 440]|
|76561197960274794|[238010, 630, 55100, 15100, 4500, 8100, 240, 42910, 550, 340, 420, 4920, 27920, 8980, 42120, 4150...|
|76561197960275733|                                 [340, 220, 33460, 203770, 4920, 242920, 240, 400, 440, 380, 10, 70]|
|76561197960275854|[35140, 8850, 70650, 49520, 47810, 234000, 202170, 43110, 7670, 17410, 203140, 72850, 70620, 2002...|
|76561197960276255|                                                                                                [10]|
|76561197960276539|                        [340, 220, 8190, 219640, 48190, 34870, 221380, 13520, 8980, 440, 10, 203140]|
|76561197960277107|                                                                [42690, 240, 206480, 42680, 730, 10]|
+-----------------+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [22]:
from pyspark.ml.fpm import FPGrowth

#set the minimum thresholds for support and confidence
fpGrowth = FPGrowth(itemsCol="game_id", minSupport=0.001, minConfidence=0)

model = fpGrowth.fit(basket)

In [23]:
#Calculate frequent itemsets
mostPopularItemInABasket = model.freqItemsets
mostPopularItemInABasket.createOrReplaceTempView("mostPopularItemInABasket")

# Display frequent itemsets.
model.freqItemsets.orderBy('freq', ascending = False).show(50,truncate =False)

+--------------+-------+
|items         |freq   |
+--------------+-------+
|[10]          |1234146|
|[240]         |1128126|
|[220]         |668700 |
|[440]         |585954 |
|[550]         |415647 |
|[240, 10]     |399089 |
|[730]         |376945 |
|[220, 240]    |376830 |
|[440, 240]    |343830 |
|[400]         |339022 |
|[72850]       |330802 |
|[570]         |314755 |
|[620]         |296338 |
|[70]          |283170 |
|[500]         |275736 |
|[730, 240]    |268173 |
|[8930]        |252661 |
|[30]          |250331 |
|[550, 440]    |238967 |
|[49520]       |234728 |
|[550, 240]    |230777 |
|[10180]       |229134 |
|[320]         |224518 |
|[10190]       |223644 |
|[440, 10]     |218829 |
|[730, 10]     |211987 |
|[300]         |205609 |
|[440, 220]    |202009 |
|[70, 10]      |199812 |
|[420]         |196124 |
|[380]         |194558 |
|[730, 440]    |194342 |
|[80]          |193454 |
|[10190, 10180]|193428 |
|[340]         |187940 |
|[30, 10]      |187210 |
|[630]         |181342 |
|[400, 240]    |181129 |
|[500, 550]    |179312 |
|[400, 440]    |178256 |
|[570, 240]    |177774 |
|[400, 220]    |174610 |
|[570, 440]    |171849 |
|[320, 240]    |167800 |
|[620, 440]    |164614 |
|[570, 10]     |160000 |
|[220, 10]     |158720 |
|[8870]        |157977 |
|[22380]       |157190 |
|[500, 440]    |157065 |
+--------------+-------+
only showing top 50 rows

In [24]:
model.associationRules.show(50, truncate=False)

+-------------------------------+----------+-------------------+------------------+
|antecedent                     |consequent|confidence         |lift              |
+-------------------------------+----------+-------------------+------------------+
|[33930, 221100, 570, 550]      |[730]     |0.736241610738255  |5.208579552621966 |
|[33930, 221100, 570, 550]      |[240]     |0.7046979865771812 |1.6657980586132586|
|[33930, 221100, 570, 550]      |[440]     |0.7110738255033557 |3.2361459410206814|
|[33930, 221100, 570, 550]      |[10]      |0.48204697986577183|1.041597084953248 |
|[34330, 205100, 200510, 72850] |[8930]    |0.6855189558732132 |7.235327389068148 |
|[130, 50, 440, 220, 10]        |[20]      |0.4911169473196354 |11.887610282246472|
|[130, 50, 440, 220, 10]        |[380]     |0.5189247644059941 |7.112663015463046 |
|[130, 50, 440, 220, 10]        |[30]      |0.5413255059477831 |5.76661272173464  |
|[130, 50, 440, 220, 10]        |[340]     |0.542870384674803  |7.7028928573419   |
|[130, 50, 440, 220, 10]        |[320]     |0.5447242391472269 |6.469972959165749 |
|[130, 50, 440, 220, 10]        |[70]      |0.8765641897111077 |8.25493034676638  |
|[130, 50, 440, 220, 10]        |[420]     |0.48570987177506564|6.604244111533457 |
|[130, 50, 440, 220, 10]        |[240]     |0.8237293372470261 |1.9471699322906997|
|[130, 50, 440, 220, 10]        |[400]     |0.5456511663834389 |4.292043706498531 |
|[380, 420, 30, 440]            |[340]     |0.4910313901345291 |6.967339340243595 |
|[380, 420, 30, 440]            |[550]     |0.4428251121076233 |2.8410869186697   |
|[380, 420, 30, 440]            |[70]      |0.6623959000640615 |6.238028065936129 |
|[380, 420, 30, 440]            |[220]     |0.883888532991672  |3.5248700120142855|
|[380, 420, 30, 440]            |[240]     |0.7242152466367713 |1.7119338707426925|
|[380, 420, 30, 440]            |[10]      |0.7197309417040358 |1.5551796446029573|
|[380, 420, 30, 440]            |[400]     |0.7325432415118514 |5.762120202744245 |
|[380, 420, 30, 440]            |[320]     |0.4319346572709801 |5.130312462402553 |
|[107410, 24960, 730, 240]      |[550]     |0.5943877551020408 |3.81348579713663  |
|[107410, 24960, 730, 240]      |[440]     |0.6764455782312925 |3.0785504033494395|
|[41500, 55230, 500, 440]       |[550]     |0.7867546029128881 |5.047677174179167 |
|[218620, 730, 440, 220, 10]    |[240]     |0.8415362731152205 |1.9892628001065498|
|[42690, 42700, 10180, 400, 240]|[10190]   |0.977147879586904  |11.651449902560987|
|[42690, 42700, 10180, 400, 240]|[440]     |0.6418369589101296 |2.921044193834233 |
|[42690, 42700, 10180, 400, 240]|[42680]   |0.897604921995166  |23.350941436455525|
|[42690, 42700, 10180, 400, 240]|[42710]   |0.9378158646451329 |17.287573336274917|
|[42680, 42710, 72850, 550]     |[10190]   |0.7776809067131648 |9.273018254491113 |
|[42680, 42710, 72850, 550]     |[42700]   |0.8936355710549259 |15.7844503042661  |
|[42680, 42710, 72850, 550]     |[10180]   |0.7787707061900611 |9.063522136824046 |
|[42680, 42710, 72850, 550]     |[42690]   |0.7846556233653008 |22.372253418446096|
|[7670, 420, 500, 620]          |[220]     |0.7366617719040627 |2.9377425906784604|
|[7670, 420, 500, 620]          |[550]     |0.7601566324033284 |4.877029340504579 |
|[7670, 420, 500, 620]          |[400]     |0.7684777288301518 |6.044777694641515 |
|[4000, 105600, 500, 72850]     |[550]     |0.791292001893043  |5.076788316557583 |
|[4000, 105600, 500, 72850]     |[440]     |0.8211074301940369 |3.736916452357611 |
|[1250, 500, 550, 440, 220, 240]|[730]     |0.5571746956968969 |3.9417613524114707|
|[1250, 500, 550, 440, 220, 240]|[620]     |0.48397051260072005|4.3552038329578195|
|[1250, 500, 550, 440, 220, 240]|[400]     |0.46356934681981826|3.6463953898074615|
|[214950, 207610]               |[34330]   |0.643546070182639  |20.971176352606943|
|[214950, 207610]               |[72850]   |0.7073671249743485 |5.702347438679995 |
|[214950, 207610]               |[10500]   |0.5786989534167863 |16.208317617093982|
|[214950, 207610]               |[8930]    |0.5910116971065053 |6.237848104269232 |
|[252490, 8930, 550]            |[49520]   |0.4621379208939862 |5.250294170242358 |
|[252490, 8930, 550]            |[570]     |0.44596382884869873|3.7783651531378863|
|[252490, 8930, 550]            |[500]     |0.4190560211733569 |4.052803462788141 |
|[252490, 8930, 550]            |[730]     |0.529333921482135  |3.744800347777725 |
+-------------------------------+----------+-------------------+------------------+
only showing top 50 rows

In [25]:
#sort by confidence
model.associationRules.orderBy("confidence", ascending=False).show(50, truncate=False)

+------------------------------------------------------+----------+------------------+------------------+
|antecedent                                            |consequent|confidence        |lift              |
+------------------------------------------------------+----------+------------------+------------------+
|[35420, 630]                                          |[1250]    |0.996044588277598 |28.702618691367842|
|[42710, 630, 10180, 440, 240, 10]                     |[10190]   |0.9954782608695653|11.87002021691306 |
|[35420, 10]                                           |[1250]    |0.9954167860211973|28.684527564734434|
|[42690, 42710, 10180, 570, 730, 10]                   |[10190]   |0.9952675646159447|11.867507888027124|
|[42710, 42700, 630, 10180, 440, 240, 10]              |[10190]   |0.9951708766716196|11.866354987055818|
|[42690, 42710, 630, 10180, 240]                       |[10190]   |0.9950779327317474|11.865246729358297|
|[100, 340, 80, 320, 220, 240]                         |[10]      |0.9950592885375494|2.1501034081470003|
|[42690, 42710, 42700, 630, 10180, 240]                |[10190]   |0.9947445255474453|11.861271203047282|
|[42690, 42680, 42710, 630, 10180, 240]                |[10190]   |0.9947281713344316|11.861076196439168|
|[42710, 630, 10180, 570, 730]                         |[10190]   |0.9945894334818587|11.859421895004747|
|[42690, 42680, 42710, 42700, 630, 10180, 240]         |[10190]   |0.9945596735804149|11.859067039810338|
|[42710, 630, 10180, 570, 440, 240]                    |[10190]   |0.9945434703528556|11.858873833543292|
|[42680, 42700, 340, 10190, 220]                       |[10180]   |0.9944732297063903|11.573920359714997|
|[42710, 630, 10180, 570, 240]                         |[10190]   |0.9944659656889873|11.857949672802485|
|[42710, 630, 10180, 240, 10]                          |[10190]   |0.9944484672942312|11.857741023043186|
|[100, 340, 80, 320, 220]                              |[10]      |0.9943820224719101|2.148639985723103 |
|[42690, 42710, 10180, 570, 10]                        |[10190]   |0.9943788645306352|11.856911084064592|
|[42710, 630, 10180, 440, 10]                          |[10190]   |0.994365441373759 |11.856751027185645|
|[42710, 42700, 630, 10180, 570, 730]                  |[10190]   |0.9942959001782531|11.855921822341088|
|[42710, 42700, 630, 10180, 440, 10]                   |[10190]   |0.9942479148691401|11.855349648531096|
|[42710, 42700, 630, 10180, 570, 240]                  |[10190]   |0.9942476536481986|11.855346533749007|
|[42710, 630, 10180, 10]                               |[10190]   |0.99414997340897  |11.854181800715638|
|[209160, 202970, 42710, 10180, 220]                   |[42700]   |0.9941002949852508|17.558977296670882|
|[42710, 42700, 630, 10180, 240, 10]                   |[10190]   |0.9940858832604783|11.85341759381308 |
|[42710, 630, 10180, 730, 10]                          |[10190]   |0.9940119760479041|11.852536328855408|
|[100, 20, 80, 30]                                     |[10]      |0.993968253968254 |2.147745923348988 |
|[42710, 630, 10180, 730, 440, 240]                    |[10190]   |0.9939521430449645|11.851822883888852|
|[42710, 42700, 630, 10180, 10]                        |[10190]   |0.9939370973853733|11.851643480389503|
|[42690, 42710, 42700, 10180, 570, 10]                 |[10190]   |0.9938347718865598|11.850423357572797|
|[42710, 42700, 630, 10180, 730, 10]                   |[10190]   |0.9938176197836167|11.850218836975312|
|[42680, 42700, 340, 10190]                            |[10180]   |0.9938164729161514|11.566276865090037|
|[42710, 630, 10180, 550, 10]                          |[10190]   |0.9937480462644577|11.849389246705549|
|[100, 60, 80]                                         |[10]      |0.9936363636363637|2.147028781624923 |
|[42710, 42700, 630, 10180, 550, 10]                   |[10190]   |0.9935983827493261|11.847604668357453|
|[100, 130, 80, 30]                                    |[10]      |0.9933920704845814|2.146500918065149 |
|[42710, 42700, 630, 10180, 570, 550]                  |[10190]   |0.9933628318584071|11.844795974338483|
|[42710, 42700, 630, 10180, 730, 440, 240]             |[10190]   |0.9933352651405389|11.844467270527188|
|[100, 80, 570, 730]                                   |[10]      |0.9933308632826973|2.146368662816753 |
|[42680, 42710, 340, 10180]                            |[42700]   |0.9932650862068966|17.54422484960786 |
|[42680, 42710, 42700, 340, 10190]                     |[10180]   |0.9932650073206443|11.55985877489629 |
|[209160, 202970, 42680, 42710, 220]                   |[42700]   |0.9932263814616756|17.543541200537405|
|[35420, 550, 440]                                     |[1250]    |0.993218040013564 |28.62116718006993 |
|[42690, 42680, 42710, 10180, 570, 10]                 |[10190]   |0.9931948424068768|11.842792878676553|
|[202970, 202990, 42690, 42710, 42700, 10180, 440, 240]|[10190]   |0.9931740614334471|11.84254508765546 |
|[202990, 42690, 42710, 42700, 10180, 240, 10]         |[10190]   |0.9931099279674287|11.841780364237437|
|[42680, 42710, 340, 220]                              |[42700]   |0.9930930930930931|17.54118690344117 |
|[100, 80, 30, 70]                                     |[10]      |0.9930739458138114|2.145813520895234 |
|[42690, 42680, 42700, 340, 10190]                     |[10180]   |0.9930681133212779|11.557567274833845|
|[202970, 42710, 340]                                  |[42700]   |0.9930209371884346|17.539912400357213|
|[202970, 202990, 42690, 42710, 10180, 440, 240]       |[10190]   |0.9930116472545757|11.84060847119431 |
+------------------------------------------------------+----------+------------------+------------------+
only showing top 50 rows

In [26]:
#sort by lift
model.associationRules.orderBy("lift", ascending=False).show(50, truncate=False)

+-----------------------------------+----------+-------------------+------------------+
|antecedent                         |consequent|confidence         |lift              |
+-----------------------------------+----------+-------------------+------------------+
|[31190]                            |[31200]   |0.8228034087569791 |662.4951201057322 |
|[31200]                            |[31190]   |0.8454106280193237 |662.4951201057322 |
|[31190, 31170]                     |[31180]   |0.92850114791735   |594.9182594115117 |
|[31180, 31170]                     |[31190]   |0.7489417989417989 |586.8985681012863 |
|[31190]                            |[31180]   |0.8865706729356451 |568.0521588704768 |
|[31180]                            |[31190]   |0.7248918789043729 |568.0521588704768 |
|[31180]                            |[31200]   |0.6588178760211437 |530.4591877685617 |
|[31200]                            |[31180]   |0.8278985507246377 |530.4591877685616 |
|[65720, 33930]                     |[65700]   |0.7526673132880698 |480.7546633987118 |
|[65700, 33930]                     |[65720]   |0.764343757695149  |480.61506543021324|
|[65700]                            |[65720]   |0.7523353293413174 |473.06423307123083|
|[65720]                            |[65700]   |0.7406272105635463 |473.0642330712308 |
|[31190, 31180]                     |[31170]   |0.9383493536625788 |362.28640123802097|
|[31180]                            |[31170]   |0.9082172032676598 |350.6527082157701 |
|[31170]                            |[31180]   |0.5472708846098161 |350.65270821577   |
|[31170]                            |[31190]   |0.4414362241204575 |345.9257958500835 |
|[31190]                            |[31170]   |0.8959741404642962 |345.9257958500835 |
|[31170]                            |[31200]   |0.40538584045171566|326.40377786590517|
|[31200]                            |[31170]   |0.8454106280193237 |326.4037778659051 |
|[21110]                            |[21090]   |0.8439759036144578 |199.11925062010405|
|[21090]                            |[21110]   |0.24789878793240733|199.11925062010405|
|[9070]                             |[9050]    |0.7786238781615448 |194.0169624835844 |
|[9050]                             |[9070]    |0.2675200897028593 |194.0169624835844 |
|[4570]                             |[9310]    |0.3274497869750457 |175.16868878088925|
|[9310]                             |[4570]    |0.7554663991975927 |175.16868878088923|
|[9310]                             |[4580]    |0.60160481444333   |168.1666442303851 |
|[4580]                             |[9310]    |0.31436058700209646|168.1666442303851 |
|[8660]                             |[8600]    |0.9195318215069496 |155.71063884007796|
|[8600]                             |[8660]    |0.23945897891795784|155.71063884007796|
|[222750]                           |[251060]  |0.27446936495660396|146.24018411767833|
|[251060]                           |[222750]  |0.6381618381618381 |146.2401841176783 |
|[47790, 42710, 240]                |[47830]   |0.7665456576375315 |138.42759778548015|
|[1280, 1200]                       |[1230]    |0.28036264112213477|138.3252213219789 |
|[12140]                            |[12150]   |0.4310871335504886 |138.25464672523853|
|[12150]                            |[12140]   |0.5093205051112447 |138.2546467252385 |
|[47790, 42710, 10190, 10180]       |[47830]   |0.7444649446494465 |134.44012485953397|
|[47790, 42710, 10190]              |[47830]   |0.7433995199650884 |134.24772382222122|
|[47790, 42710, 42700, 10190, 10180]|[47830]   |0.7423357664233576 |134.05562457027136|
|[47790, 42710, 42700, 10190]       |[47830]   |0.7422056770590972 |134.03213222116915|
|[47790, 42710, 10180]              |[47830]   |0.7209200438116101 |130.18823975575037|
|[47790, 42710, 42700, 10180]       |[47830]   |0.7203703703703703 |130.08897629599534|
|[47790, 42710, 42700]              |[47830]   |0.7190850607576841 |129.85686706633365|
|[47790, 42710]                     |[47830]   |0.7174887892376681 |129.56860239517212|
|[47790, 24960, 10190]              |[47830]   |0.7070552147239264 |127.68444240827148|
|[47790, 42700, 240]                |[47830]   |0.6936018353301046 |125.25494721378686|
|[47790, 10190, 10180, 240]         |[47830]   |0.6929170549860205 |125.13128530650476|
|[47790, 10190, 240]                |[47830]   |0.6925104326817483 |125.05785491364352|
|[1230, 1200]                       |[1280]    |0.7369604316546763 |123.87424591370082|
|[48190, 208480, 33230]             |[201870]  |0.719786873334948  |123.73286221228341|
|[12110, 12120]                     |[12100]   |0.4241657441088091 |123.32424777939501|
+-----------------------------------+----------+-------------------+------------------+
only showing top 50 rows

In [27]:
# transform examines the input items against all the association rules and summarize the
# consequents as prediction
recommendation_basket = model.transform(basket)

In [29]:
recommendation_basket.limit(50).toPandas()

,steam_id,game_id,prediction
0,76561197960266870,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
1,76561197960266911,"[240, 730, 10]","[17460, 22330, 280, 35140, 340, 238960, 207610..."
2,76561197960268400,"[227300, 240]","[24800, 47810, 30, 223670, 234650, 12100, 60, ..."
3,76561197960269173,"[245760, 244850, 340, 420, 200110, 242050, 30,...","[440, 630, 570, 10190, 500, 24960, 49520, 320,..."
4,76561197960269424,"[65800, 63200, 22300, 213670, 630, 223850, 200...","[240, 24960, 105600, 55230, 91310, 220240, 125..."
5,76561197960270130,"[80, 10]","[20, 42680, 130, 218620, 42710, 7940, 42690, 2..."
6,76561197960271265,"[208140, 33930, 10180, 221100, 22330, 35450, 1...","[107410, 630, 500, 220, 730, 49520, 550, 72850..."
7,76561197960271435,"[10180, 213670, 220240, 42710, 10190, 17410, 1...","[240, 550, 42680, 22380, 500, 49520, 70, 730, ..."
8,76561197960272407,"[33930, 259060, 35450, 236390, 42890, 34330, 2...","[17450, 240, 72850, 620, 49520, 8870, 17460, 5..."
9,76561197960272849,"[10180, 10190, 10]","[22380, 420, 200710, 50, 60, 55230, 42710, 130..."
10,76561197960272869,"[30, 300, 240, 730, 10]","[7940, 204100, 24200, 4560, 35450, 221380, 202..."
11,76561197960272973,"[65800, 227860, 42710, 10190, 7940, 22350, 728...","[8980, 55230, 218620, 91310, 220240, 1250, 570..."
12,76561197960273326,"[8930, 65800, 201810, 630, 440, 223850, 10, 24...","[49520, 221100, 4920, 8980, 42700, 12210, 2496..."
13,76561197960274486,"[220, 63200, 15120, 240, 15100, 440]","[570, 500, 24960, 730, 49520, 33230, 550, 7285..."
14,76561197960274794,"[238010, 630, 55100, 15100, 4500, 8100, 240, 4...","[500, 220, 570, 24960, 730, 49520, 33230, 7285..."
15,76561197960275733,"[340, 220, 33460, 203770, 4920, 242920, 240, 4...","[80, 280, 50, 630, 20, 130, 10190, 500, 30, 32..."
16,76561197960275854,"[35140, 8850, 70650, 49520, 47810, 234000, 202...","[39150, 80, 20500, 304930, 4550, 249990, 22110..."
17,76561197960276255,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
18,76561197960276539,"[340, 220, 8190, 219640, 48190, 34870, 221380,...","[730, 550, 240, 202170, 43110, 9200, 10190, 57..."
19,76561197960277107,"[42690, 240, 206480, 42680, 730, 10]","[202990, 202970, 209170, 209160, 630, 105600, ..."
20,76561197960277137,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
21,76561197960278203,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
22,76561197960278210,"[65800, 91310, 226320, 40300, 570, 4920, 43110...","[550, 22330, 221380, 20900, 47810, 241600, 209..."
23,76561197960278212,[240],"[24800, 47810, 30, 227300, 223670, 234650, 121..."
24,76561197960278729,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
25,76561197960278890,"[220, 20900, 420, 21000, 32360, 24960, 240, 32...","[50, 8870, 630, 130, 340, 570, 10190, 500, 550..."
26,76561197960279356,[240],"[24800, 47810, 30, 227300, 223670, 234650, 121..."
27,76561197960279540,"[240, 10]","[48700, 221380, 224600, 17500, 17330, 340, 238..."
28,76561197960279691,"[23490, 110800, 21690, 17460, 102500, 241540, ...","[49520, 200510, 220240, 200710, 8980, 212680, ..."
29,76561197960280172,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
30,76561197960280276,"[32360, 240, 206440, 620, 108500, 400, 20820, ...","[22380, 420, 8980, 380, 24960, 8870, 500, 570,..."
31,76561197960280334,"[12210, 12220, 10180, 730, 10190, 400, 10, 70,...","[630, 570, 500, 24960, 380, 49520, 320, 72850,..."
32,76561197960280413,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
33,76561197960281481,"[40, 30, 10, 70]","[20, 50, 570, 220, 730, 550, 240, 440, 340, 32..."
34,76561197960281537,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
35,76561197960281909,"[10680, 203160, 240, 730, 620, 400, 440, 10, 7...","[80, 221100, 8980, 42700, 12210, 24960, 500, 5..."
36,76561197960282249,"[209870, 20, 42690, 40, 30, 42680, 440, 10, 70...","[221100, 209160, 202990, 7940, 1250, 209170, 2..."
37,76561197960282572,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
38,76561197960283619,"[240, 10]","[48700, 221380, 224600, 17500, 17330, 340, 238..."
39,76561197960283737,"[440, 10, 50, 70]","[30, 24200, 42700, 17510, 91310, 42680, 43110,..."
40,76561197960283891,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
41,76561197960284268,"[730, 620, 10, 215530, 550]","[420, 10180, 220, 240, 440, 17700, 202990, 400..."
42,76561197960284670,"[65800, 237630, 10180, 630, 236090, 10190, 174...","[570, 240, 105600, 500, 550, 200710, 72850, 62..."
43,76561197960285491,"[30, 240]","[41500, 65800, 4000, 200710, 203160, 130, 8980..."
44,76561197960285876,"[73010, 16810, 24400, 8800, 7520, 205610, 4781...","[49520, 22380, 10500, 550, 240, 440, 620, 2005..."
45,76561197960286498,"[91310, 39120, 108710, 220240, 115320, 55100, ...","[570, 220, 730, 550, 240, 8930, 440, 400, 2031..."
46,76561197960286529,"[24780, 49470, 203770, 34330, 4760, 240, 300, ...","[630, 43110, 105600, 10190, 570, 42700, 500, 2..."
47,76561197960287002,"[209870, 220, 570, 240, 440, 10]","[280, 301520, 2100, 205100, 420, 105450, 24160..."
48,76561197960287404,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."
49,76561197960287772,[10],"[72850, 230410, 63380, 41700, 200260, 320, 503..."

In [42]:
recommendation_basket.groupby('game_id', 'prediction').count().orderBy('count',ascending = False).show()

+---------------+--------------------+------+
|        game_id|          prediction| count|
+---------------+--------------------+------+
|           [10]|[72850, 230410, 6...|430137|
|          [240]|[24800, 47810, 30...|184050|
|          [220]|[35720, 9930, 420...| 70774|
|      [240, 10]|[48700, 221380, 2...| 47841|
|     [220, 240]|[12210, 216250, 2...| 37528|
|       [80, 10]|[20, 42680, 130, ...| 35257|
|       [30, 10]|[630, 17500, 3545...| 30477|
|       [10, 70]|[48700, 221380, 1...| 25502|
|           [80]|[20, 42680, 130, ...| 23100|
|           [30]|[41500, 65800, 40...| 19402|
|          [300]|[200510, 236390, ...|  8090|
|          [380]|[630, 219740, 209...|  7808|
|     [240, 320]|[17460, 202990, 2...|  7675|
|           [70]|[48700, 221380, 1...|  7653|
|[220, 240, 320]|[12210, 216250, 2...|  7645|
|      [570, 10]|[72850, 230410, 6...|  7565|
|          [320]|[17460, 202990, 2...|  7299|
|   [30, 10, 70]|[48700, 221380, 1...|  7171|
|  [100, 80, 10]|[20, 42680, 130, ...|  7068|
|          [440]|[570, 97330, 1773...|  6944|
+---------------+--------------------+------+
only showing top 20 rows

#### Save predicton as pickle file

In [35]:
recommendation_basket.rdd.saveAsPickleFile('/user/tamng/jwht/Cluster/recommendation_basket')

#### Load pickle file

In [ ]:
# pickleRdd = sc.pickleFile('/user/tamng/jwht/Cluster/recommendation_basket').collect()
# df2 = spark.createDataFrame(pickleRdd)

---
## 2. ALS

Here, we dont have the rating for games by each player; however, our assumption is if an individual likes a game they would defintely spend more time on that game. As such, we will utilize and reconstruct total_playtime_foerever for the game as the variable for ALS recommendation model

### a. Basic description about the data

In [12]:
player_app_cluster.limit(2).toPandas()

,steam_id,app_id,playtime_2weeks,playtime_forever,dateretrieved,title,type,price,releaseDate,rating,...,Early Access,Casual,Action,Strategy,Indie,Free to Play,RPG,Simulation,cluster,year
0,76561197960266975,10,0,0,2014-08-14 14:04:54,Counter-Strike,game,9.99,11/1/2000 0:00,88,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4,2000
1,76561197960266975,20,0,0,2014-08-14 14:04:54,Team Fortress Classic,game,4.99,4/1/1999 0:00,-1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4,1999

In [14]:
als_df = player_app_cluster.select('steam_id', 'app_id', 'playtime_forever', 'title', 'cluster', 'year')

In [68]:
basic_info(als_df)

TOTAL ROWS: 82975759


*-------------*-------------*-------------*-------------*-------------


MISSING VALUE:
+--------+------+----------------+-----+-------+----+
|steam_id|app_id|playtime_forever|title|cluster|year|
+--------+------+----------------+-----+-------+----+
|       0|     0|               0|    0|      0|   0|
+--------+------+----------------+-----+-------+----+

*-------------*-------------*-------------*-------------*-------------


PRINT OUT THE 1st 3 LINES:
+-----------------+------+----------------+--------------------+-------+----+
|         steam_id|app_id|playtime_forever|               title|cluster|year|
+-----------------+------+----------------+--------------------+-------+----+
|76561197960266870|    10|               6|      Counter-Strike|      4|2000|
|76561197960266870|    20|               0|Team Fortress Cla...|      4|1999|
|76561197960266870|    30|               0|       Day of Defeat|      4|2003|
+-----------------+------+----------------+--------------------+-------+----+
only showing top 3 rows

*-------------*-------------*-------------*-------------*-------------


TABLE BASIC DESCRIPTION:
+-------+-------------------+-----------------+-----------------+--------------------+------------------+------------------+
|summary|           steam_id|           app_id| playtime_forever|               title|           cluster|              year|
+-------+-------------------+-----------------+-----------------+--------------------+------------------+------------------+
|  count|           82975759|         82975759|         82975759|            82975759|          82975759|          82975759|
|   mean|7.65611979677264E16|59263.81146545463|828.4499806744763|  281.65157329240213|1.6915138311660398|2007.3667505951948|
| stddev|  4683596.119267811|87310.43667277253|6012.995246925679|  471.23240132828226|1.2525055877707736|  5.51592176265226|
|    min|  76561197960265730|               10|                0|"Spy Fox 2 ""Some...|                 0|              1970|
|    max|  76561197975000941|           319180|          2434347|           theHunter|                 5|              2016|
+-------+-------------------+-----------------+-----------------+--------------------+------------------+------------------+

*-------------*-------------*-------------*-------------*-------------
DISTINCT COUNT BY COLUMN:


        column_name  distinct_count
0          steam_id         3125641
1            app_id            3493
2  playtime_forever          135684
3             title            3430
4           cluster               6
5              year              20

---
### b. Construct data

Need to reIndex steamID and

In [17]:
# create dataframe only include steam_id
steam_id_reindex = als_df.select('steam_id')
steam_id_reindex.show(5)

+-----------------+
|         steam_id|
+-----------------+
|76561197960266975|
|76561197960266975|
|76561197960266975|
|76561197960266975|
|76561197960266975|
+-----------------+
only showing top 5 rows

In [18]:
# get steam_id, drop duplicate
steam_id_reindex = steam_id_reindex.select('steam_id').dropDuplicates()

# reset steam_id index
steam_id_reindex = steam_id_reindex.withColumn('steam_index', \
                                        row_number().over(Window.orderBy(monotonically_increasing_id())))
# total observations
steam_id_reindex.count()

3125641

In [19]:
steam_id_reindex.show(10)

+-----------------+-----------+
|         steam_id|steam_index|
+-----------------+-----------+
|76561197960266870|          1|
|76561197960266911|          2|
|76561197960268400|          3|
|76561197960269173|          4|
|76561197960269352|          5|
|76561197960269424|          6|
|76561197960269449|          7|
|76561197960270130|          8|
|76561197960271265|          9|
|76561197960271435|         10|
+-----------------+-----------+
only showing top 10 rows

In [15]:
cols = ['steam_index', 'app_id', 'playtime_forever']
predictionCol = 'prediction'
labelCol = 'playtime_forever'

In [21]:
# Convert to double
als_df = als_df.withColumn('playtime_forever',als_df.playtime_forever.cast('double'))

In [22]:
# Join index and convert play_time to hour
als_df = als_df.join(steam_id_reindex, 'steam_id')
als_df = als_df.withColumn('playtime_forever', F.col('playtime_forever')/60)

In [20]:
als_df.limit(10).toPandas()

,steam_id,app_id,playtime_forever,title,cluster,year,steam_index
0,76561197960266870,10,0.1,Counter-Strike,4,2000,1
1,76561197960266870,20,0.0,Team Fortress Classic,4,1999,1
2,76561197960266870,30,0.0,Day of Defeat,4,2003,1
3,76561197960266870,40,0.0,Deathmatch Classic,4,2001,1
4,76561197960266870,50,0.0,Half-Life: Opposing Force,4,1999,1
5,76561197960266870,60,0.0,Ricochet,4,2000,1
6,76561197960266870,70,0.0,Half-Life,4,1998,1
7,76561197960266870,130,0.0,Half-Life: Blue Shift,4,2001,1
8,76561197960266911,10,15.4,Counter-Strike,1,2000,2
9,76561197960266911,20,0.0,Team Fortress Classic,1,1999,2

In [23]:
# Filter app_id with playtime_forever > 0.0
als_df = als_df.filter(F.col('playtime_forever')!= 0.0).orderBy('steam_index', 'playtime_forever', ascending = False)
als_df.limit(10).toPandas()

,steam_id,app_id,playtime_forever,title,cluster,year,steam_index
0,76561197974999624,220,1.900000,Half-Life 2,4,2004,3125640
1,76561197974999624,240,1.066667,Counter-Strike: Source,4,2004,3125640
2,76561197974999624,320,0.300000,Half-Life 2: Deathmatch,4,2004,3125640
3,76561197974999470,10,145.566667,Counter-Strike,1,2000,3125639
4,76561197974999470,30,46.466667,Day of Defeat,1,2003,3125639
5,76561197974999470,70,0.133333,Half-Life,1,1998,3125639
6,76561197974999275,22380,59.716667,Fallout: New Vegas,1,2010,3125638
7,76561197974999275,10190,59.516667,Call of Duty??: Modern Warfare?? 2,1,2009,3125638
8,76561197974999275,40100,33.300000,Supreme Commander 2,1,2010,3125638
9,76561197974999275,240,28.350000,Counter-Strike: Source,1,2004,3125638

In [24]:
als_df.count()

39002829

In [25]:
# Number of unique steam id per cluster
als_df.select('steam_id','cluster').dropDuplicates().groupby('cluster').count().show()

+-------+-------+
|cluster|  count|
+-------+-------+
|      1|1466360|
|      3|  90659|
|      5|   1295|
|      4| 870647|
|      2| 203396|
|      0|  34360|
+-------+-------+

In [26]:
# Number of rows per cluster ( combine of user + games)
als_df.groupby('cluster').count().show()

+-------+--------+
|cluster|   count|
+-------+--------+
|      1|14091393|
|      3| 1994660|
|      5|  434120|
|      4| 1364921|
|      2|15192457|
|      0| 5925278|
+-------+--------+

In [27]:
# Save the data
als_df.write.csv('/user/tamng/jwht/Cluster/als_df.csv', header = True)

In [10]:
# Reload the data
als_df = spark.read.csv('/user/tamng/jwht/Cluster/als_df.csv', inferSchema = True, header = True)

---
### c. Run model

Based on the summary table above, we decided to run the model on smaller cluster first, then, depend on the capacity of RCC - memory, runtime, we will decide how much data we keep to run on a bigger cluster

When we run the for loop, the memory run out many times, therfore, we decided to run model by model and reset the kernel 2-3 times to overcome this challenge

In [47]:
# Cluster 0
predictions_0, model_0 = als_model(als_df.filter(als_df.cluster ==0), cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

In [46]:
# Cluster 3
predictions_3, model_3 = als_model(als_df.filter(als_df.cluster ==3), cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

In [56]:
# Cluster 5
predictions_5, model_5 = als_model(als_df.filter(als_df.cluster ==5), cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

In [155]:
# Cluster 4
predictions_4, model_4 = als_model(als_df.filter(als_df.cluster ==4), cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

---

__Cluster 2: Random split, take 50% of data for modeling__

Since since cluster has more than 15 mil rows, we decided to randomize and take 50% of the data to run the model.

In [22]:
als_df_cluster_2, als_df_cluster_2_remove = als_df.filter(F.col('cluster')==2).randomSplit([0.5, 0.5])
als_df_cluster_2.count()

7592019

In [23]:
predictions_2, model_2 = als_model(als_df_cluster_2, cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

---
__Cluster 1: Random split, take 40% of data for modeling__

Since since cluster has more than 14 mil rows, we decided to randomize and take 40% of the data to run the model.

In [11]:
als_df_cluster_1, als_df_cluster_1_remove = als_df.filter(F.col('cluster')==1).randomSplit([0.4, 0.6])
als_df_cluster_1.count()

5638523

In [16]:
predictions_1, model_1 = als_model(als_df.filter(als_df.cluster ==1), cols, split_ratio = 0.8, maxIter = 10, \
                        regParam=0.1,rank=8, nonnegative=True, coldStartStrategy="drop")

---

### d. Construct RMSE

In [35]:
# Run als_evaluation
rmse_list = []

rmse_list = als_evaluation(predictions_0,predictionCol,labelCol,metricName = 'rmse')
rmse_list = als_evaluation(predictions_3,predictionCol,labelCol,metricName = 'rmse')
rmse_list = als_evaluation(predictions_5,predictionCol,labelCol,metricName = 'rmse')
rmse_list = als_evaluation(predictions_4,predictionCol,labelCol,metricName = 'rmse')
rmse_list = als_evaluation(predictions_2,predictionCol,labelCol,metricName = 'rmse')
rmse_list = als_evaluation(predictions_1,predictionCol,labelCol,metricName = 'rmse')

In [34]:
rmse_list

[80.45918321924412,
 505.6112931975578,
 98.36938727241011,
 100.76209073056927,
 97.83191069836455,
 137.55398863226412]

In [35]:
# Return RMSE dataframe
cluster = ['cluster_0','cluster_3','cluster_5','cluster_4','cluster_2','cluster_1']
rmse_df = pd.DataFrame(zip(cluster, rmse_list)).rename(columns={0:'Cluster', 1:'RMSE'})
rmse_df

     Cluster        RMSE
0  cluster_0   80.459183
1  cluster_3  505.611293
2  cluster_5   98.369387
3  cluster_4  100.762091
4  cluster_2   97.831911
5  cluster_1  137.553989

### e. Show prediction

In [50]:
predictions_0.show(5)

+-----------+------+------------------+----------+
|steam_index|app_id|  playtime_forever|prediction|
+-----------+------+------------------+----------+
|     737997|  4900| 4.266666666666667|       0.0|
|    2964256|  4900|18.316666666666666| 11.176373|
|    2246385|  4900|1.5166666666666666| 6.2655296|
|     518761|  4900|24.983333333333334|       0.0|
|    2123889|  4900|              0.85|  2.247658|
+-----------+------+------------------+----------+
only showing top 5 rows

In [55]:
predictions_3.show(10)

+-----------+------+------------------+----------+
|steam_index|app_id|  playtime_forever|prediction|
+-----------+------+------------------+----------+
|     811324|  4900| 4.416666666666667|  3314.707|
|    2120068|  4900| 3.466666666666667| 2171.2124|
|    2148378|  4900|              27.0| 4592.3887|
|     335917|  4900|100.28333333333333| 5.5308027|
|    2375591|  4900|            1025.8|126.540184|
|    2143574|  4900|0.4666666666666667|  2755.672|
|     206781|  4900| 8.233333333333333| 814.20135|
|    2024246|  4900|               0.1|       0.0|
|    2746450|  4900|21.666666666666668| 1825.4503|
|     722988|  4900|1.0833333333333333|  11152.96|
+-----------+------+------------------+----------+
only showing top 10 rows

In [59]:
predictions_5.show(10)

+-----------+------+------------------+----------+
|steam_index|app_id|  playtime_forever|prediction|
+-----------+------+------------------+----------+
|    1339828|  4900| 7.266666666666667| 0.3008237|
|     812123|  4900|               0.6|  1.081293|
|    1949141|  4900|0.5166666666666667|  5.919717|
|      58991|  4900|0.3333333333333333|   6.27068|
|     356349|  4900|               1.7| 1.1037369|
|    2282249|  4900|1.4666666666666666| 1.1649313|
|    3122548|  4900|1.1666666666666667| 2.6306977|
|    1136188|  4900|0.6666666666666666| 0.8951329|
|    1231473|  4900|               5.3| 5.5917764|
|    1048586|  9900|20.216666666666665|  8.696039|
+-----------+------+------------------+----------+
only showing top 10 rows

In [159]:
predictions_4.show(10)

+-----------+------+--------------------+----------+
|steam_index|app_id|    playtime_forever|prediction|
+-----------+------+--------------------+----------+
|    2032309|  9900|   5.316666666666666|  158.2825|
|     856368|  9900|  117.78333333333333|  7.161015|
|    2623779|  9900|                0.15| 29.764618|
|     488689|  9900|                31.6|  64.76349|
|    1929938|  9900|               12.55| 27.684433|
|    3075929|  9900|  17.133333333333333|       0.0|
|    1526727|  9900|   7.016666666666667| 16.368141|
|    1793926|  9900|0.016666666666666666|  7.973361|
|    1917644|  9900|               194.1| 51.470474|
|    1288484|  9900|   67.73333333333333| 1.6231619|
+-----------+------+--------------------+----------+
only showing top 10 rows

In [51]:
predictions_2.show(10)

+-----------+------+-------------------+----------+
|steam_index|app_id|   playtime_forever|prediction|
+-----------+------+-------------------+----------+
|     562738|  4900|  3.033333333333333|  67.27994|
|    2091640|  4900|                5.1| 226.08443|
|    1652511|  4900|               0.95| 28.370527|
|    1912107|  4900|0.08333333333333333| 79.703156|
|    2831656|  4900|0.08333333333333333| 53.089333|
|     888100|  4900|               12.5| 242.00189|
|    2835976|  4900|  48.71666666666667| 1.5052088|
|    1352421|  4900| 0.5333333333333333| 0.7748907|
|    1572885|  4900|               1.65| 60.898346|
|     119194|  4900| 0.5333333333333333| 2956.1743|
+-----------+------+-------------------+----------+
only showing top 10 rows

In [52]:
predictions_1.show(10)

+-----------+------+-------------------+-----------+
|steam_index|app_id|   playtime_forever| prediction|
+-----------+------+-------------------+-----------+
|    2044692|  4900| 107.41666666666667|  27.471344|
|     551670|  4900|0.16666666666666666|   105.5918|
|    1994918|  4900|               0.15|0.033719238|
|     456250|  4900|                0.2|   79.89779|
|     538543|  4900|               0.35|  53.241707|
|    3106598|  4900|               3.55|   67.99861|
|    1138296|  4900|              354.1|  11.132031|
|    2078330|  4900|0.16666666666666666|  13.484777|
|    2444637|  4900|0.36666666666666664|        0.0|
|    3030788|  4900|  5.283333333333333|  47.547173|
+-----------+------+-------------------+-----------+
only showing top 10 rows

---

### e. Recommend top 10 games for each cluster

In [17]:
# Game: app_id + title + year
game_title = als_df.select('app_id', 'title', 'year').dropDuplicates()
game_title.count()

3466

In [18]:
game_title.show(2)

+------+--------------------+----+
|app_id|               title|year|
+------+--------------------+----+
| 15520|AaAaAA!!! - A Rec...|2009|
|  9200|                RAGE|2011|
+------+--------------------+----+
only showing top 2 rows

In [19]:
recommend_game = []

def recommend_top10_game(model):
    userRecs = model.recommendForAllUsers(10)
    
    for i in userRecs.toPandas().recommendations:
        for t in i:
            recommend_game.append(t[0])
            
    games = spark.createDataFrame(recommend_game, \
                                  IntegerType()).groupBy('value').count().orderBy('count', ascending = False)
    
    games = games.withColumnRenamed('value', 'app_id').join(game_title, 'app_id', how = 'left').orderBy('count', ascending = False)
    
    return games

__Cluster 0__

In [133]:
games_0 = recommend_top10_game(model_0)

In [134]:
games_0.limit(15).toPandas()

    app_id  count                                    title  year
0    47410  91822                      Stronghold Kingdoms  2012
1    36620  75588                           Forsaken World  2011
2   227400  63631                     Darkfall Unholy Wars  2013
3    46770  49917  Making History II: The War of the World  2010
4   212200  47844                                 Mabinogi  2012
5     8500  45498                               EVE Online  2010
6     4900  39649                            Zen of Sudoku  2006
7   209710  38734                     War of the Immortals  2012
8   212160  34961                                Vindictus  2012
9   243580  29117                  Maya LT (with Stingray)  2014
10  113400  26604                             APB Reloaded  2011
11  212500  25980             The Lord of the Rings Online  2012
12   34460  25960        Civilization IV: Beyond the Sword  2007
13   27020  23348                            The Graveyard  2009
14  113420  22905                   Fallen Earth Free2Play  2012

__Cluster 1__

In [20]:
games_1 = recommend_top10_game(model_1)

In [21]:
games_1.limit(15).toPandas()

    app_id   count                           title  year
0       30  814381                   Day of Defeat  2003
1       40  814381              Deathmatch Classic  2001
2       20  814381           Team Fortress Classic  1999
3       10  814376                  Counter-Strike  2000
4       50  649566       Half-Life: Opposing Force  1999
5       60  565005                        Ricochet  2000
6   227400  475006            Darkfall Unholy Wars  2013
7       70  449038                       Half-Life  1998
8     1313  424343         SiN Episodes: Emergence  2006
9     3483  424343                  Peggle Extreme  2007
10    2545  418349                RIP - Trilogy???  2007
11    2525  418349    Gumboy - Crazy Adventures???  2006
12    1309  408900         SiN Episodes: Emergence  2006
13    1002  408441                Rag Doll Kung Fu  2005
14      80  337492  Counter-Strike: Condition Zero  2004

__Cluster 2__

In [57]:
games_2 = recommend_top10_game(model_2)
games_2.limit(15).toPandas()

    app_id   count                                    title  year
0    47410  173069                      Stronghold Kingdoms  2012
1   257650  168503                                  Mosaico  2013
2   212200  146413                                 Mabinogi  2012
3    38020  107726                 Mahjong Quest Collection  2009
4    60340  100746                       Luxor: 5th Passage  2011
5    46770   96939  Making History II: The War of the World  2010
6   212240   92533                         Atlantica Online  2012
7    36620   82707                           Forsaken World  2011
8   243580   75849                  Maya LT (with Stingray)  2014
9   113400   62684                             APB Reloaded  2011
10    4900   61158                            Zen of Sudoku  2006
11  205710   56900                             Everquest ??  2012
12   34640   53343     Massive Assault: Phantom Renaissance  2009
13  235340   49356                              Prime World  2014
14   99910   43956                           Puzzle Pirates  2011

In [25]:
games_2 = recommend_top10_game(model_2)
games_2.limit(15).toPandas()

    app_id   count                           title  year
0       20  814733           Team Fortress Classic  1999
1       30  814733                   Day of Defeat  2003
2       10  814728                  Counter-Strike  2000
3       40  814703              Deathmatch Classic  2001
4       50  649835       Half-Life: Opposing Force  1999
5       60  565271                        Ricochet  2000
6   227400  532520            Darkfall Unholy Wars  2013
7       70  449276                       Half-Life  1998
8     3483  424460                  Peggle Extreme  2007
9     1313  424460         SiN Episodes: Emergence  2006
10    2525  418453    Gumboy - Crazy Adventures???  2006
11    2545  418453                RIP - Trilogy???  2007
12    1309  408968         SiN Episodes: Emergence  2006
13    1002  408553                Rag Doll Kung Fu  2005
14      80  337709  Counter-Strike: Condition Zero  2004

__Cluster3__

In [132]:
games_3 = recommend_top10_game(model_3)
games_3.limit(15).toPandas()

    app_id  count                                    title  year
0    36620  66308                           Forsaken World  2011
1   227400  60904                     Darkfall Unholy Wars  2013
2    47410  59022                      Stronghold Kingdoms  2012
3    46770  49917  Making History II: The War of the World  2010
4     8500  41169                               EVE Online  2010
5     4900  39649                            Zen of Sudoku  2006
6   209710  37523                     War of the Immortals  2012
7   212200  36005                                 Mabinogi  2012
8   212160  34961                                Vindictus  2012
9    34460  25960        Civilization IV: Beyond the Sword  2007
10   32200  22614                              Metal Drift  2009
11  212240  22326                         Atlantica Online  2012
12  200130  20074                          Puzzler World 2  2011
13      10  19231                           Counter-Strike  2000
14      20  19231                    Team Fortress Classic  1999

__Cluster4__

In [161]:
games_4 = recommend_top10_game(model_4)
games_4.limit(15).toPandas()

    app_id   count                           title  year
0       20  564493           Team Fortress Classic  1999
1       30  564492                   Day of Defeat  2003
2       40  564492              Deathmatch Classic  2001
3       10  564485                  Counter-Strike  2000
4       50  446848       Half-Life: Opposing Force  1999
5       60  403343                        Ricochet  2000
6       70  309773                       Half-Life  1998
7     1313  281034         SiN Episodes: Emergence  2006
8     3483  281034                  Peggle Extreme  2007
9     2545  280336                RIP - Trilogy???  2007
10    2525  280336    Gumboy - Crazy Adventures???  2006
11    1002  279953                Rag Doll Kung Fu  2005
12    1309  278798         SiN Episodes: Emergence  2006
13      80  252563  Counter-Strike: Condition Zero  2004
14   47410  203589             Stronghold Kingdoms  2012

__Cluster 5__

In [128]:
games_5 = recommend_top10_game(model_5)
games_5.limit(15).toPandas()

    app_id  count                                   title  year
0   257650   1053                                 Mosaico  2013
1    22490    713                      Fallout: New Vegas  2010
2    39120    569                                    RIFT  2011
3   113400    523                            APB Reloaded  2011
4   227320    511                     You Need a Budget 4  2012
5      570    509                                  Dota 2  2013
6   109600    487                             Neverwinter  2013
7    39210    469  FINAL FANTASY?? XIV: A Realm Reborn???  2014
8      440    431                         Team Fortress 2  2007
9    10190    415      Call of Duty??: Modern Warfare?? 2  2009
10  248170    395                    Clickteam Fusion 2.5  2013
11  230410    353                                Warframe  2013
12    9900    350                        Star Trek Online  2012
13   15120    344      Tom Clancy's Rainbow Six?? Vegas 2  2008
14    8500    333                              EVE Online  2010

----

### Scraping data

Leave it there for now

In [78]:
# scraping data
scraping = spark.read.csv('/user/tamng/jwht/SteamData/Steam_Scraping.csv',inferSchema = True, header = True)

In [73]:
scraping = scraping.withColumn('release_date', \
                              (scraping.release_date).cast('timestamp'))

In [75]:
# Change format to timestamp
scraping = scraping.withColumn('YearReleased', \
                               year(F.col('release_date')))

In [76]:
scraping.printSchema()

root
 |-- game_url: string (nullable = true)
 |-- img_url: string (nullable = true)
 |-- app_id: integer (nullable = true)
 |-- game_name: string (nullable = true)
 |-- release_date: timestamp (nullable = true)
 |-- platforms: string (nullable = true)
 |-- reviews_summary: string (nullable = true)
 |-- original_price: string (nullable = true)
 |-- discount_rate: string (nullable = true)
 |-- discounted_price: string (nullable = true)
 |-- YearReleased: integer (nullable = true)

In [79]:
scraping.limit(5).toPandas()

,game_url,img_url,app_id,game_name,release_date,platforms,reviews_summary,original_price,discount_rate,discounted_price
0,https://store.steampowered.com/app/730/Counter...,https://steamcdn-a.akamaihd.net/steam/apps/730...,730,Counter-Strike: Global Offensive,21-Aug-12,"['Windows', 'Mac os', 'Linux']","Very Positive87% of the 4,285,604 user reviews...",Free to Play,None,None
1,https://store.steampowered.com/app/397540/Bord...,https://steamcdn-a.akamaihd.net/steam/apps/397...,397540,Borderlands 3,13-Mar-20,['Windows'],"Very Positive81% of the 26,362 user reviews fo...",$59.99,50%,$29.99
2,https://store.steampowered.com/app/582010/MONS...,https://steamcdn-a.akamaihd.net/steam/apps/582...,582010,MONSTER HUNTER: WORLD,9-Aug-18,['Windows'],"Very Positive82% of the 144,277 user reviews f...",$29.99,34%,$19.79
3,https://store.steampowered.com/app/306130/The_...,https://steamcdn-a.akamaihd.net/steam/apps/306...,306130,The Elder Scrolls® Online,22-May-17,"['Windows', 'Mac os']","Very Positive81% of the 58,008 user reviews fo...",$19.99,None,None
4,https://store.steampowered.com/app/359550/Tom_...,https://steamcdn-a.akamaihd.net/steam/apps/359...,359550,Tom Clancy's Rainbow Six® Siege,1-Dec-15,['Windows'],"Very Positive88% of the 552,650 user reviews f...",$19.99,None,None